{
  "host": "apigateway.serpro.gov.br",
  "security": [
    {
      "Bearer": []
    }
  ],
  "securityDefinitions": {
    "Bearer": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "swagger": "2.0",
  "info": {
    "version": "1",
    "title": "API Consulta Cidadão",
    "description": "A API `Consulta Cidadão` é disponibilizada através de serviço `HTTP REST`, e tem o objetivo de apresentar as informações básicas de um cidadão brasileiro.\n<br>\n## Campos Retornados \n| Nome | Tipo | Conteúdo | \n| ---------------------- | ---------------------- | :------------------------------------------------------------- |\n| nome | string | Nome do cidadão  |\n| email | string | Email do cidadão |\n| telefone | string | Telefone do cidadão |\n\n --------------------------\n\n## CPFs para Degustação\n| CPF | Retorno | Observações |\n| ---------------------- | ---------------------- | :------------------------------------------------------------- |\n| 00000017167 | true |                 |\n| 00000023728 | true |                 |\n| 00031731198 | true |                 |\n| 88323471800 | true |                 |"
  },
  "basePath": "/api/consulta/brasilcidadao/",
  "paths": {
    "/consulta/brasilcidadao/{cpf}": {
      "get": {
        "tags": [
          "Consultar Cidaão"
        ],
        "summary": "Consulta Cidadão",
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited",
        "description": "Apresenta os dados básicos dados de um cidadão brasileiro.\n## CPFs para Degustação\n| Cpf  | Retorno | Observações |\n| ---------------------- | ---------------------- | :------------------------------------------------------------- |\n\n | 00000017167 | true |                    |\n\n | 00000023728 | true |                    |\n\n | 00031731198 | true |                    |\n\n | 88323471800 | true |                    |\n\n--------------------------        \n  \n## Exemplo\n\n  #### Chamada\n  \n    https://apimock.estaleiro.serpro.gov.br/api/consulta/brasilcidadao/00000017167 \n    \n  #### Retorno\n  \n    {\n      \"nome\": \"João da Silva\",\n      \"email\": \"joao.silva@serpro.gov.br\",\n      \"telefone\": \"(61) 93210-4567\",\n    }     \n    ",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "cpf",
            "in": "path",
            "description": "(CPF)",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Retorna os dados do Cidadão"
          },
          "404": {
            "description": "CPF não encontrado"
          },
          "500": {
            "description": "Erros do backend e/ou dos servidores de dados"
          }
        }
      }
    }
  },
  "consumes": [
    "application/json"
  ],
  "schemes": [
    "https"
  ],
  "definitions": {
    "BrasilCidadao": {
      "type": "object",
      "properties": {
        "nit": {
          "type": "number",
          "description": "CPF"
        },
        "beneficios": {
          "type": "object",
          "properties": {
            "nomeTitular": {
              "type": "string",
              "description": "Nome do cidadão"
            },
            "dataNascimento": {
              "type": "string",
              "description": "Email do cidadão"
            }
          }
        }
      }
    }
  }
}