{
    "swagger": "2.0",
    "info": {
        "description": "O Vio Decodificar permite agilizar e automatizar o processo de autenticação de documentos compatíveis.",
        "version": "1.0",
        "title": "Vio Decodificar"
    },
    "security": [{
        "Bearer": []
    }],
    "securityDefinitions": {
        "Bearer": {
            "type": "apiKey",
            "name": "Authorization",
            "in": "header"
        }
    },
    "host": "apigateway.serpro.gov.br/viodec-trial",
    "tags": [{
            "name": "1 Introdução"
        },
        {
            "name": "2 Integrando o Vio Decodificar"
        },
        {
            "name": "3 Referência da API"
        }
    ],
    "basePath": "/v1",
    "paths": {
        "O que é o Vio": {
            "head": {
                "tags": [
                    "1 Introdução"
                ],
                "summary": "O que é o Vio",
                "description": "O Vio é um sistema de certificação de autenticidade de documentos de identificação. Documentos compatíveis portam o QR Code Vio, um QR Code que replica os dados contidos no documento utilizando encriptação forte para garantir a autenticidade dos dados. Além disso QR Codes Vio são encriptados na fonte a partir de informações fornecidas pela própria entidade emissora do documento, garantindo o não-repúdio.\n\nO sistema Vio é composto por 3 partes:\n\n* API REST para criação de QR Codes Vio: API utilizada por entidades emissoras para solicitar a encriptação dos dados fornecidos e geração do QR Code Vio\n* API REST para decodificação de QR Codes Vio: Integrada a qualquer entidade que deseje decodificar e validar QR Codes Vio de forma automatizada\n* Aplicativos Vio para Android e iOS: Disponíveis gratuitamente nas respectivas lojas online, esses aplicativos são capazes de decodificar e validar QR Codes Vio offline em situações onde a automação não seja necessária",
                "responses": {}
            }
        },
        "O que é o serviço de decodificação": {
            "head": {
                "tags": [
                    "1 Introdução"
                ],
                "summary": "O que é o serviço de decodificação",
                "description": "O serviço de decodificação Vio Decodificador é uma API REST robusta e altamente disponível, que pode ser integrada a qualquer sistema com acesso à Internet para decodificar QR Codes Vio.\n\nPara mera verificação da autenticidade do documento e apresentação dos dados do documento na tela para conferência pode-se utilizar o aplicativo Vio, que funciona de forma offline e está disponível gratuitamente nas lojas Android e iOS. Porém, se além de conferir autenticidade do documento sua necessidade é integrar a leitura do QR Code Vio com os seus sistemas automatizados em balcões de atendimento, quiosques ou recepções utilizando pistolas convencionais para leitura de códigos de barras bidimensionais, esta API REST foi feita para você. Além disso, através do Vio Decodificador é possível verificar online o status do documento e obter a foto contida no QR Code Vio com maior qualidade direto da entidade emissora do documento, caso esta entidade tenha autorizado e disponibilizado tais serviços.",
                "responses": {}
            }
        },
        "Integrando com pistolas de leitura": {
            "head": {
                "tags": [
                    "2 Integrando o Vio Decodificador"
                ],
                "summary": "Integrando com pistolas de leitura",
                "description": "A API de Decodificador precisa dos dados extraídos de QR Codes Vio sem nenhuma modificação, isso significa que pistolas que lêem códigos de barra diretamente em campos de texto ou que interpretam os dados do QR Code como texto não são compatíveis. Isso acontece porque o QR Code Vio armazena as informações em formato binário e tentar ler esses dados como texto pode resultar na leitura de diversos caracteres inválidos.\n\nEntão para integrar a API de decodificação com pistolas de leitura é necessário utilizar o driver fornecido pelo fabricante para se comunicar com a pistola e obter os dados binários, sem modificação, lidos do QR Code Vio. Também é necessário remover qualquer metadado presente no QR Code (a especificação do QR Code usa esses metadados para conter informações de tamanho do QR Code e nível de recuperação de dados corrompidos) obtendo assim apenas os dados binários relativos ao documento protegido pelo QR Code.\n\nDe posse desses dados basta então chamar a API de decodificação informando esses dados como corpo da mensagem.",
                "responses": {}
            }
        },
        "/decode": {
            "post": {
                "tags": [
                    "3 Referência da API"
                ],
                "summary": "Decodificar dados do QR Code Vio",
                "description": "Decodifica uma sequência de bytes que foi extraída de um QR Code Vio e, caso a entidade emissora do documento tenha autorizado e disponibilizado esse serviço, verifica online o status do documento. Se não for possível realizar essa consulta online, o resultado da decodificação é retornado normalmente.",
                "operationId": "decode",
                "consumes": [
                    "application/octet-stream"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "qrCodeContent",
                        "description": "Dados lidos do QR Code Vio, expressos como uma sequência crua de bytes",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "byte"
                        }
                    },
                    {
                        "in": "query",
                        "name": "online_image",
                        "description": "Indica que além da decodificação dos bytes e verificação do status do documento, o serviço deve retornar também a foto contida no QR Code Vio com maior qualidade, obtida diretamente da entidade emissora do documento. A disponibilização dessa funcionalidade depende da autorização e disponibilização do serviço pela entidade emissora do documento. Se não for possível obter essa foto, a decodificação não será realizada e um código de erro será retornado. Caso queira utilizar esse recurso é importante atentar esse é o único queryparam aceito pelo serviço, e seu valor deverá ser true.",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Sucesso. Retorna informações do documento com status, se disponível, e foto de maior qualidade, se solicitado na requisição",
                        "schema": {
                            "$ref": "#/definitions/Documento"
                        }
                    },
                    "400": {
                        "description": "Requisição com erro, com queryparam diferente de 'online_image=true', por exemplo",
                        "schema": {
                            "$ref": "#/definitions/Documento"
                        }
                    },
                    "403": {
                        "description": "Tentativa de obter foto de maior qualidade (passou queryparam 'online_image=true' na requisição) de um documento cuja entidade emisora não autorizou tal consulta",
                        "schema": {
                            "$ref": "#/definitions/Documento"
                        }
                    },
                    "422": {
                        "description": "Dados do QR Code não puderam ser processados, corpo de retorno contém o motivo",
                        "schema": {
                            "$ref": "#/definitions/Documento"
                        }
                    },
                    "502":{
                        "description": "Erro na conexão com a entidade emissora do documento ou na pesquisa pela foto de maior qualidade. Note que esse erro só poderá ocorrer caso seja solicitada a imagem de maior qualidade na requisição (queryparam 'online_image=true')",
                        "schema": {
                            "$ref": "#/definitions/Documento"
                      }
                    }
                }
            }
        }
    },
    "definitions": {
        "Documento": {
            "type": "object",
            "properties": {
                "template": {
                    "$ref": "#/definitions/Modelo"
                },
                "data": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                },
                "image": {
                    "$ref": "#/definitions/Imagem"
                },
                "created_at": {
                    "type": "string",
                    "format": "date-time"
                },
                "status": {
                    "type": "string"
                }
            }
        },
        "Modelo": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "integer"
                },
                "name": {
                    "type": "string"
                },
                "fields": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Campo"
                    }
                }
            }
        },
        "Imagem": {
            "type": "object",
            "properties": {
                "type": {
                    "type": "string"
                },
                "base64": {
                    "type": "string"
                }
            }
        },
        "Campo": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string"
                },
                "label": {
                    "type": "string"
                },
                "hidden": {
                    "type": "boolean"
                }
            }
        }
    }
}
