{
  "host": "apimock.estaleiro.serpro.gov.br",
  "security": [
    {
      "Bearer": []
    }
  ],
  "securityDefinitions": {
    "Bearer": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "swagger": "2.0",
  "info": {
    "version": "1",
    "title": "API Empenho SIASG",
    "description": "A API `Emepenho SIASG` é disponibilizada através de serviço `HTTP REST`, e tem o objetivo de apresentar as informações básicas de ...\n<br>\n## Campos de Entrada \n| Nome | Tipo | Conteúdo | \n| ---------------------- | ---------------------- | :------------------------------------------------------------- |\n| nonce | string | Número arbitrário que só pode ser utilizado uma vez  |\n| especieEmpenho | string | Espécie de Empenho  |\n| cpf | string | CPF do cidadão |\n| uasgUsuario | string | Uasg do Usuário |\n| uasgLicitacao | string | Uasg da Licitação |\n| modalidadeLicitacao | string | Modalidade da Licitação |\n| numeroLicitacao | string | Número da Licitação |\n| anoLicitacao | string | Ano da Licitação |\n| classificacaoContabel | string | Classificação Contábel |\n| estrutura* | lista de campos | Estrutura* |\n| ugEminente | string | UG do Emitente |\n| anoMinuta | string | Ano da Minuta |\n| numeroMinuta | string | Número da Minuta |\n| servicoMaterial | string | Serviço Material |\n| dataEmissao | string | Data de Emissão |\n| niFavorecido | string | Ni do Favorecido |\n| ugFavorecido | string | UG do Favorecido |\n| gestaoFavorecido | string | Gestão do Favorecido |\n| finaObs | string | Fina Obs |\n| esfera | string | Esfera |\n| modalidadeEmpenho | string | Modalidade Empenho |\n| valorEmpenho | string | Valor Empenho |\n| amparoLegal | string | Amparo Legal |\n| inciso | string | Inciso |\n| taxaCambio | string | Taxa de Câmbio |\n| inscricaoGenerica | string | Inscrição Genérica |\n| itens** | string | Itens** |\n| cronogramas*** | string | Cronogramas*** |\n| plurianual | string | Plurianual |\n| passivoAnterior | string | Passivo Anterior |\n| contaPassivo | string | Conta Passivo |\n| grContaCorrentes | string | GR Conta Correntes |\n| contaCorrenteF | string | Conta Corrente F |\n\n## *Estrutura\n| Nome | Tipo | Conteúdo |\n| ---------------------- | ---------------------- | :------------------------------------------------------------- |\n| ugPagamento | String | UG do Pagamento   |\n| fonte | string | Fonte do Pagamento   |\n| gestao | string | Gestão do Pagamento   |\n| ptres | string | Ptrês   |\n| pi | string | Pi   |\n| ugResponsavel | string | UG do Responsável  |\n| valor | Number | Valor  |\n\n\n## **Itens\n| Nome | Tipo | Conteúdo |\n| ---------------------- | ---------------------- | :------------------------------------------------------------- |\n| item | String | Item |\n| itensEmpenhar | string | Itens a empenhar   |\n| valorUnitario | number | Valor Unitário   |\n\n --------------------------\n\n## ***Cronogramas\n| Nome | Tipo | Conteúdo |\n| ---------------------- | ---------------------- | :------------------------------------------------------------- |\n| dataLiquidacao | date | Data da Liquidação |\n| dataVencimento | date | Data do vencimento  |\n| valorCompromisso | number | Valor do Compromisso |\n\n --------------------------"
  },
  "basePath": "/api",
  "paths": {
    "/siasg/empenho/": {
      "post": {
        "tags": [
          "Empenho SIASG"
        ],
        "summary": "Empenho SIASG",
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited",
        "description": "\n## Exemplo\n\n  #### Chamada\n  \n    https://apimock.estaleiro.serpro.gov.br/api/siasg/empenho\n    \n    {\n    nonce: '2019000001'  \n    especieEmpenho: '01'\n    cpfUsuario: '26551071104'\n    uasgUsuario: '806030'\n    uasgLicitacao: '803080'\n    modalidadeLicitacao: '01'\n    numeroLicitacao: '00001'\n    anoLicitacao: '2019'\n    classificacaoContabil: '33903001'\n    estrutura:\n      ugPagamento: '806030'\n      fonte: 0109017205\n      gestao: '17205'\n      ptres: '7740'\n      pi: SE6320\n      ugResponsavel: '808119'\n      valor: 100\n    ugEmitente: '806030'\n    gestaoEmitente: '17205'\n    anoMinuta: '2019'\n    numeroMinuta: '000000'\n    dataEmissao: '20190424'\n    niFavorecido: 00000000000191\n    ugFavorecido: ''\n    gestaoFavorecido: ''\n    finaObs: TESTE DA API VIA WEB SERVICE\n    esfera: '4'\n    modalidadeEmpenho: '3'\n    valorEmpenho: 1\n    amparoLegal: ''\n    inciso: '01'\n    taxaCambio: 374\n    origemMaterial: '1'\n    inscricaoGenerica: ''\n    itens:\n      - item: 1\n        itensEmpenhar: 1\n        valorUnitario: 100\n    cronogramas:\n      - dataLiquidacao: '20191001'\n        dataVencimento: '20191002'\n        valorCompromisso: 100\n    plurianual: S\n    passivoAnterior: 'N'\n    contaPassivo: ''\n    grContaCorrentes: ''\n    contaCorrenteF: ''\n    }\n    \n  #### Retorno\n  \n  {\n    \"retorno(200):\",\n    \"mensagem\": \"FOI GERADO O EMPENHO 800186 NO SIAFI\"\n  }\n\n  {\"retorno(400)\",\n  \"codigoErro\":\"5652\",\"mensagem\":\"ESPECIE DE EMPENHO INVALIDA INFORME 01, 02 OU 03.\"}\n  ",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Empenho"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "FOI GERADO O EMPENHO \"XYZ\" NO SIAFI"
          },
          "404": {
            "description": "codigoErro:5652,mensagem:\"ESPECIE DE EMPENHO INVALIDA INFORME 01, 02 OU 03."
          },
          "500": {
            "description": "Erros do backend e/ou dos servidores de dados"
          }
        }
      }
    }
  },
  "consumes": [
    "application/json"
  ],
  "schemes": [
    "https"
  ],
  "definitions": {
    "Empenho": {
      "type": "object",
      "properties": {
        "nonce": {
          "type": "string",
          "example": "2019000001"
        },
        "especieEmpenho": {
          "type": "string",
          "example": "01"
        },
        "cpfUsuario": {
          "type": "string",
          "example": "26551071104"
        },
        "uasgUsuario": {
          "example": "806030",
          "type": "string"
        },
        "uasgLicitacao": {
          "type": "string",
          "example": "803080"
        },
        "modalidadeLicitacao": {
          "type": "string",
          "example": "01"
        },
        "numeroLicitacao": {
          "type": "string",
          "example": "00001"
        },
        "anoLicitacao": {
          "type": "string",
          "example": "2019"
        },
        "classificacaoContabil": {
          "type": "string",
          "example": "33903001"
        },
        "estrutura": {
          "type": "object",
          "properties": {
            "ugPagamento": {
              "type": "string",
              "example": "806030"
            },
            "fonte": {
              "type": "string",
              "example": "0109017205"
            },
            "gestao": {
              "type": "string",
              "example": "17205"
            },
            "ptres": {
              "type": "string",
              "example": "7740"
            },
            "pi": {
              "type": "string",
              "example": "SE6320"
            },
            "ugResponsavel": {
              "type": "string",
              "example": "808119"
            },
            "valor": {
              "type": "number",
              "example": 100
            }
          }
        }
      }
    }
  }
}