openapi: 3.0.2
info:
  title: Integra Loja Franca
  description: "<br>\n## Códigos de Retorno não Tarifados \n|  Código de retorno |\
    \  Resumido |  Explicação |\n| ------------- |--------------------|-----------------------------------------------------------------------------\
    \ |\n| &nbsp           | &nbsp    | &nbsp  | \n |400           | Requisição invá\
    lida    | O parâmetro de entrada informado não é válido.       |\n| &nbsp    \
    \       | &nbsp    | &nbsp  |\n| 404           | Not found    | O parâmetro de\
    \ entrada informado não foi encontrado.  |\n| &nbsp           | &nbsp    | &nbsp\
    \  |\n| 500           | Erro no Servidor | Ocorreu algum erro no servidor.   \
    \   |\n## Endereço de Produção \nhttps://apigateway.serpro.gov.br/api-loja-franca/api/\n\
    \    \n## Endereço de Degustação\nhttps://apigateway.serpro.gov.br/loja-franca-hom/api/"
  version: "1"
servers:
  - url: https://apigateway.serpro.gov.br/api-loja-franca-trial/api
    description: Trial
  - url: https://apigateway.serpro.gov.br/api-loja-franca/api
    description: Produção
security:
  - APIKEY: []
    OAuth2: []
    Authorization: []
externalDocs:
  description: "Detalhamento da API Loja Franca de Fronteiras"
  url: https://github.com/devserpro/apis/raw/master/portal-desenvolvedor/apis/documentos/Informacoes-LojaFranca.pdf
paths:
  Descrição:
    head:
      tags:
      - 1 Introdução
      summary: API Integra Loja Franca de Fronteira
      description: "## API ##\n<br> A `API INTEGRA LOJA FRANCA` é disponibilizada\
        \ através de serviço `HTTP REST`, oferencendo operações para o processo de\
        \ vendas das Lojas Francas de Fronteira.\n<br><br> Consolidamos aqui as informaç\
        ões técnicas para a integração dos sistemas próprios das lojas francas com\
        \ os serviços da Receita Federal do Brasil para as Lojas Francas de Fronteira.\n\
        <br><br> Todos os serviços seguem o mesmo protocolo de acesso, baseado nas\
        \ instruções de uso e contratação do serviço API Serpro. A API do Loja Franca\
        \ de Fronteira foi desenvolvida baseada na arquitetura `HTTP REST`. Ela trabalha\
        \ exclusivamente com o formato JSON.\n<br><br> A API usa o formato `UTF-8`.\
        \ \n<br><br> Destacamos que o sistema foi implementado recentemente para as\
        \ lojas francas prepararem as adaptações necessárias aos seus sistemas pró\
        prios, podendo ainda ocorrer instabilidades pontuais. Caso haja dúvidas relacionadas\
        \ à API do Loja Franca de Fronteira ou para problemas relacionados à TI, entre\
        \ em contato com a Central Serpro de Atendimento.\n<br><br>  Esperamos que\
        \ a API do Loja Franca de Fronteira melhore o ambiente de negócios das lojas\
        \ francas, viabilizando a operação das lojas, aumentando a competitividade\
        \ e diminuindo os custos acessórios envolvidos.\n<br>\n----------------\n\
        ## Autenticação ##\n<br> Para testar o ambiente de degustação da API, não\
        \ é necessário realizar contratação prévia. O arquivo com as credenciais de\
        \ acesso, informações de fluxo e exemplos podem ser solicitadas através do\
        \ formulário de atendimento no link abaixo:\n<br>\n<br>https://atendimento.serpro.gov.br/integralojafranca/credenciais\n\
        <br>\n<br> No ambiente produtivo, para garantir a identificação e a seguranç\
        a da origem da informação, toda requisição à API deve seguir três processos:\n\
        <br><br> 1) Assinar a requisição com o seu conteúdo anexado mediante a utilizaç\
        ão do certificado digital e-CNPJ (cadeia ICP Brasil) da contratante;\n<br><br>\
        \ 2) Submeter a mensagem assinada mediante a apresentação da chave de acesso\
        \ da API gateway válida (gerada a partir das credencias disponibilizadas no\
        \ portal do cliente para cada CNPJ) e\n<br><br> 3) Verificar a assinatura\
        \ da requisição, checando se o certificado é válido e não revogado.\n<br><br>\
        \ Assim, a cada requisição realizada, haverá Validação de Origem que realizará\
        \ o batimento entre o CNPJ Comercial (CNPJ vinculado as credencias do portal\
        \ do cliente), CNPJ de Autenticidade (CNPJ assinante da requisição) garantido\
        \ a irretratabilidade (não repúdio) no nível em cada requisição.\n<br><br>http://devserpro.github.io/apis/\
        \ \n<br>\n----------------\n## Contratação ##\n<br> Para consumir a API é\
        \ necessário utilizar as credenciais de acesso `CONSUMER KEY` e `CONSUMER\
        \ SECRET` disponibilizados no portal do cliente https://cliente.serpro.gov.br\n\
        <br><br> Exemplo de código:\n<br><br> `Consumer Key: djaR21PGoYp1iyK2n2ACOH9REdUb`\n\
        <br><br>`Consumer Secret: ObRsAJWOL4fv2Tp27D1vd8fB3Ote`\n<br>\n----------------\n\
        ## Token de Acesso (Bearer) ##\n<br> Para consultar a API, é necessário obter\
        \ um token de acesso temporário (Bearer). Esse token possui um tempo de validade\
        \ e sempre que expirado, este passo de requisição de um novo token de acesso\
        \ deve ser repetido.\n<br><br> Para solicitar o token temporário, é necessá\
        rio realizar uma requisição HTTP POST para o endpoint Token (https://apigateway.serpro.gov.br/token),\
        \ informando as credenciais de acesso no formato consumerKey:consumerSecret\
        \ no HTTP Header Authorization, no formato base64, formato este que é utilizado\
        \ para criptografar as credenciais de acesso e com isso garantir sigilo no\
        \ tráfego de rede.\n<br><br> Após isso feito, será gerada uma chave hash (Bearer\
        \ token) que deverá ser passada no header das requisições que serão efetuadas.\
        \ Este header segue o seguinte formato:\n<br><br>\n`Authorization: Bearer\
        \ <hash>`\n<br>\n---------------\n## Payload ##\n<br> Todo o conteúdo a ser\
        \ enviado para a API do Loja Franca deverá ser assinado.\n<br><br>Porém, antes\
        \ de enviar o conteúdo assinado, o mesmo deve seguir o Formato de mensagem\
        \ JSON padrão.\n<br><br>\n<strong> Formato de mensagem JSON padrão </strong>\n\
        <br>\nA indicação de qual serviço será disparado se dará através do repasse\
        \ do endpoint que representa cada serviço. \n<br>\n### Exemplo\n    {\n  \
        \    \"servico\": \"// endpoint do serviço a ser chamado\",\n      \"dados\"\
        : {\n        \"// JSON de entrada de cada serviço\"\n      }\n    }\n<br>\n\
        <strong> Exemplo de entrada a assinar para a operação Processa venda viajante\
        \ </strong>\n<br>\nO JSON segue o formato documentado por operação e o mesmo\
        \ fica encapsulado dentro da propriedade \"dados\".\n### Exemplo\n    {\n\
        \      \"servico\": \"/venda\",\n      \"dados\" : {\n        \"valorTotalItensImportados\"\
        : 10,\n        \"valorTotalItensNacionais\": 0,\n        \"valorCotacaoLoja\"\
        : 3.24,\n        \"viajanteParametro\": {\n          \"cpf\": \"00000000191\"\
        ,\n          \"documento\": {\n            \"codigoPaisOrigem\": 105,\n  \
        \          \"codigoTipo\": 1,\n            \"numero\": \"12345\"\n       \
        \   }\n        }\n      }\n    }\n<br>\n<strong> Exemplo de entrada assinada\
        \ para a operação Processa venda viajante </strong>\n<br>\nO JSON foi assinado\
        \ e criptografado em base64.\n### Exemplo\n    POST /api/\n    HEADER\n  \
        \  Authorization: Bearer 953bae789a1726734005d238e939c978\n\n    BODY/PAYLOAD\n\
        \    \n    MIAGCSqGSIb3DQEHAqCAMIACAQExDzANBglghkgBZQMEAgMFADCABgkqhkiG9w0BBwEAAKCAMIIG6jCCBNKgAwIBAgIDApVmMA0GCSqGSIb3DQEBCwUAMIGVMQswCQYDVQQGEwJCUjETMBEGA1UECgwKSUNQLUJyYXNpbDE7MDkGA1UECwwyU2VydmljbyBGZWRlcmFsIGRlIFByb2Nlc3NhbWVudG8gZGUgRGFkb3MgLSBTRVJQUk8xNDAyBgNVBAMMK0F1dG9yaWRhZGUgQ2VydGlmaWNhZG9yYSBkbyBTRVJQUk8gRmluYWwgdjUwHhcNMTcwODAyMTI0OTA2WhcNMjAwODAxMTI0OTA2WjCBoTELMAkGA1UEBhMCQlIxEzARBgNVBAoMCklDUC1CcmFzaWwxGTAXBgNVBAsMEFBlc3NvYSBGaXNpY2EgQTMxETAPBgNVBAsMCEFSU0VSUFJPMSswKQYDVQQLDCJBdXRvcmlkYWRlIENlcnRpZmljYWRvcmEgU0VSUFJPQUNGMSIwIAYDVQQDDBlMVUlaIENBUkxPUyBTSUxWRUlSQSBIT1BGMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAi8YM8VcBZq7DImG6dov33SR"
  Formatos e Tipos:
    head:
      tags:
      - 2 Padrões
      summary: Formatos e Tipos de Dados
      description: |2-

        Os seguintes tipos de dados são utilizados pela API Integra Loja Franca:

        | Tipos | Descrição | Formato
        | ---------------------- | :------------------------------------------------------------- | ------------------ |
        | string        | Cadeia de caracteres |
        | string - data     | String com formato de data  | yyyy-MM-dd
        | string - data/hora | String com formato de data e hora | yyyy-MM-ddTHH:mm:ss
        | integer | Número inteiro que representa códigos e identificadores |
        | number | Número inteiro em situações que pode passar do valor 2^31-1 |
        | decimal | Número fracionado, sempre com duas casas após o decimal, separado por "." | Ex: 123456789012.22 (Exceto cotação do dólar, que pode ter até 3 casas após o decimal).
  Tratamento de Erros:
    head:
      tags:
      - 2 Padrões
      summary: Formatos e Tipos de Erros
      description: "**Erros de negócio**\n<br><br> São erros disparados pela API Integra\
        \ Loja Franca de Fronteira quando há uma discordância entre os parâmetros\
        \ enviados e as regras de negócio estabelecidas para as lojas francas. A resposta\
        \ HTTP será:\n\n| Status Code | Descrição\n| --------------------------- |\
        \ ---------------------------------------------- \n| 422       | Erro de Negó\
        cio da Loja Franca \n----------------\n<br>\n**Atributos da resposta - Status\
        \ code 422** <br/>\n\n| Nome     | Descrição                    | Tipo\n|\
        \ -------- | ---------------------------- | -------\n| codigo   | Código que\
        \ identifica o erro | integer\n| mensagem | Mensagem de Erro             |\
        \ string\n----------------\n<br>\n**Erros de formatação**\n<br><br> São erros\
        \ disparados pela API Integra Loja Franca de Fronteira quando há uma discordâ\
        ncia na formatação/tipo de dados sugeridos pelos parâmetros enviados. A resposta\
        \ será:\n\n| Status Code | Descrição\n| --------------------------- | ----------------------------------------------\
        \ \n| 400       | Erro de fomatação dos parâmetros enviados \n----------------\n\
        <br>\n**Atributos da resposta - Status code 422** <br/>\n\n| Nome     | Descriç\
        ão                    | Tipo\n| -------- | ---------------------------- |\
        \ -------\n| codigo   | Código que identifica o erro | integer\n| mensagem\
        \ | Mensagem de Erro             | string\n----------------\n<br> Independentemente\
        \ do tipo de erro, as mensagens de erro podem conter uma TAG que visa facilitar\
        \ o tratamento do erro caso a aplicação que esteja utilizando a API queira\
        \ fazer algum tratamento específico, como por exemplo, uma extração de parâ\
        metros a partir de uma mensagem de erro.\n\n<br/> Veja `TABELA DE ERROS` mais\
        \ abaixo."
  Tabela de produtos:
    head:
      tags:
      - 3 Tabelas
      summary: Tabela Formato/Tipo Produtos
      description: "\n| Código | Descrição \n| ----------- | ---------\n| 1      \
        \   | Bebida alcoólica\n| 2         | Cigarro\n| 3         | Fumo"
  Tabela de tipos de documento:
    head:
      tags:
      - 3 Tabelas
      summary: Tabela Formato/Tipo Documentos
      description: "\n| Código | Descrição | Código do País | País \n| ------ | ---------\
        \ | -------------- | ----\n| 1         | Passaporte | TODOS OS PAÍSES | \n\
        | 2         | Registro de Identidade Civil | 105 | Brasil\n| 3         | Cé\
        dula de Identidade AC | 105 | Brasil\n| 4         | Cédula de Identidade AL\
        \ | 105 | Brasil\n| 5         | Cédula de Identidade AM | 105 | Brasil\n|\
        \ 6         | Cédula de Identidade AP | 105 | Brasil\n| 7         | Cédula\
        \ de Identidade BA | 105 | Brasil\n| 8         | Cédula de Identidade CE |\
        \ 105 | Brasil\n| 9         | Cédula de Identidade DF | 105 | Brasil\n| 10\
        \        | Cédula de Identidade ES | 105 | Brasil\n| 11        | Cédula de\
        \ Identidade GO | 105 | Brasil\n| 12        | Cédula de Identidade MA | 105\
        \ | Brasil\n| 13        | Cédula de Identidade MG | 105 | Brasil\n| 14   \
        \     | Cédula de Identidade MS | 105 | Brasil\n| 15        | Cédula de Identidade\
        \ MT | 105 | Brasil\n| 16        | Cédula de Identidade PA | 105 | Brasil\
        \ \n| 17        | Cédula de Identidade PB | 105 | Brasil\n| 18        | Cé\
        dula de Identidade PE | 105 | Brasil\n| 19        | Cédula de Identidade PI\
        \ | 105 | Brasil\n| 20        | Cédula de Identidade PR | 105 | Brasil\n|\
        \ 21        | Cédula de Identidade RJ | 105 | Brasil\n| 22        | Cédula\
        \ de Identidade RN | 105 | Brasil\n| 23        | Cédula de Identidade RO |\
        \ 105 | Brasil\n| 24        | Cédula de Identidade RR | 105 | Brasil\n| 25\
        \        | Cédula de Identidade RS | 105 | Brasil\n| 26        | Cédula de\
        \ Identidade SC | 105 | Brasil\n| 27        | Cédula de Identidade SE | 105\
        \ | Brasil\n| 28        | Cédula de Identidade SP | 105 | Brasil\n| 29   \
        \     | Cédula de Identidade TO | 105 | Brasil\n| 30        | Cédula de Identidade\
        \ para estrangeiro | 105 | Brasil\n| 31        | Documento Nacional de Identidad\
        \ | 63 | Argentina \n| 32        | Cédula de Identidad | 586 | Paraguai\n\
        | 33        | Cédula de Identidad | 845 | Uruguai\n| 34        | Cédula de\
        \ Identidad | 845 | Venezuela\n| 35        | Cédula de Identidad para Nacionales\
        \ | 97 | Bolívia\n| 36        | Cédula de Identidad para Extranjeros | 97\
        \ | Bolívia\n| 37        | Cédula de Identidad | 158 | Chile\n| 38       \
        \ | Cédula de Ciudadanía | 169 | Colômbia\n| 39        | Tarjeta de Identidad\
        \ | 169 | Colômbia\n| 40        | Cédula de Extranjería | 169 | Colômbia\n\
        | 41        | Cédula de Ciudadanía | 239 | Equador\n| 42        | Cédula de\
        \ Identidad para extranjeros | 239 | Equador\n| 43        | Documento Nacional\
        \ de Identidad | 589 | Peru\n| 44        | Carné de Extranjería | 589 | Peru"
  Tabela de países:
    head:
      tags:
      - 3 Tabelas
      summary: Tabela de Países
      description: Ver [tabela de países da Receita Federal do Brasil](http://normas.receita.fazenda.gov.br/sijut2consulta/anexoOutros.action?idArquivoBinario=22672
        "Tabela de países da Receita Federal do Brasil")
  Tabela de erros:
    head:
      tags:
      - 3 Tabelas
      summary: Tabela de Erros
      description: "\n| Código | Mensagem\n| ------ | --------\n| 1   | Estrutura\
        \ do JSON de entrada diferente da definição do serviço.\n| 2   | Chave obrigató\
        ria {0} sem conteúdo.\n| 3   | {0} com tamanho ou formato diferente da definiç\
        ão do serviço.\n| 4   | Certificado não foi informado, não é de Equipamento\
        \ e/ou não é válido.\n| 9   | cnpjLoja {0} não existe como Loja.\n| 10  |\
        \ cnpjLoja diferente do Certificado de Autenticação.\n| 11  | cnpjLoja {0}\
        \ Suspenso.\n| 12  | cnpjLoja {0} Cancelado.\n| 13  | paisOrigem não localizado\
        \ na Tabela de Países.\n| 14  | tipoDocumento inválido.\n| 15  | CPF invá\
        lido.\n| 16  | Viajante não localizado.\n| 17  | CPF obrigatório para brasileiros\
        \ (paisOrigem = Brasil).\n| 18  | CPF diferente do CPF vinculado ao documento\
        \ {0} através de venda no dia {1} .\n| 19  | CPF diferente do CPF vinculado\
        \ ao documento {0} pela RFB.\n| 20  | dataNascimento e nomeNoDocumento obrigató\
        rios para estrangeiro com CPF não informado.\n| 21  | Documento não pode ser\
        \ vinculado ao CPF {0} pois desvinculado desse CPF pela RFB.\n| 22  | valorTotalItensImportados\
        \ ou valorTotalItensNacionais deve ser maior que zero.\n| 23  | valorTotalItensNacionais\
        \ não pode ser maior que saldo de cota: {0}\n| 24  | valorCotacaoLoja deve\
        \ ser maior que zero.\n| 25  | produtoControleQuantitativo.codigoProduto {0}\
        \ não localizado na Tabela de Produtos.\n| 26  | produtoControleQuantitativo.codigoProduto\
        \ {0} já informado na venda.\n| 27  | produtoControleQuantitativo.quantidade\
        \ deve ser maior que zero e não superior ao limite de {0} {1} .\n| 28  | produtoControleQuantitativo.valorTotalProdutos\
        \ deve ser maior que zero.\n| 29  | Venda gera imposto inferior ao limite\
        \ mínimo (R$ {0} ) para geração de DARF.\n| 30  | Somatório dos produtoControleQuantitativo.valorTotal\
        \ maior que valorTotalItensImportados + valorTotalItensNacionais.\n| 31  |\
        \ idVenda não localizado.\n| 32  | {0} DV inválido.\n| 33  | {0} emitida por\
        \ CNPJ diferente da loja.\n| 34  | {0} já informada em outras operações.\n\
        | 35  | {0} DV inválido.\n| 36  | {0} emitida por CNPJ diferente da loja.\n\
        | 37  | {0} já informada em outras operações.\n| 38  | Venda foi entregue\
        \ anteriormente.\n| 39  | Venda foi cancelada anteriormente.\n| 40  | Venda\
        \ foi totalmente devolvida anteriormente.\n| 41  | Venda não foi entregue\
        \ anteriormente.\n| 42  | produtoControleQuantitativo.codigoProduto {0} nã\
        o informado na venda.\n| 43  | produtoControleQuantitativo.codigoProduto {0}\
        \ já informado na devolução.\n| 44  | produtoControleQuantitativo.quantidade\
        \ deve ser maior que zero e não superior ao saldo da venda.\n| 45  | produtoControleQuantitativo.valorTotal\
        \ deve ser maior que zero e não superior ao saldo da venda.\n| 46  | valorTotalItensImportados\
        \ + valorTotalItensNacionais maior que saldo da venda.\n | 47 | valorTotalItensNacionais\
        \ maior que saldo da venda da produtos Nacionais.\n |48 | valorTotalItensImportados\
        \ maior que saldo da venda de produtos Importados.\n | 52  | Data de nascimento\
        \ diferente do {0}.\n| 54  | Venda desvinculada do Viajante.\n| 55  | CPF\
        \ não localizado.\n| 56  | Data sem cotação do dólar.\n| 57  | Situação do\
        \ CPF inválida.\n| 58  | notaFiscalSaida igual a notaFiscalEntrada\n| 59 |\
        \ notaFiscalSaida não deve ser Informada.\n | 60 | Saldo da quantidade do\
        \ produtoControleQuantitativo.codigoProduto {0} zerado sem zerar o valor total\
        \ da venda deste produto.\n | 61 | Valor total do produtoControleQuantitativo.codigoProduto\
        \ {0} zerado sem zerar a quantidade total vendida deste produto.\n | 62 |\
        \ Ao zerar os valores totais para produtos Nacionais e Importados, é preciso\
        \ zerar os produtos controlados da venda.\n | 63 | Saldo Final de Produtos\
        \ Controlados Maior que Saldo Final Total da Venda.\n | 70 | Conteúdo do Payload\
        \ é Invalido.\n | 99  | Erro no ambiente {0} . {1} .\n| -99  | Erro na comunicaç\
        ão com algum outro sistema externo que a API do Loja Franca de Fronteira se\
        \ integra.\n<strong> Orientações: </strong> \n<br>\n</p> Todas  as mensagens\
        \ retornam `HTTP Status 422`, com exceção das mensagens `1` e `3`, que retornam\
        \ `HTTP Status 400`. \n<br> <br> Todas as mensagens são encapsuladas conforme\
        \ demonstrado no item `2 Padrões - Tratamento de erros`.\n <br> <br> As mensagens\
        \ aqui propostas são sugestões e não necessariamente precisam ser exibidas\
        \ exatamente da forma como estão no sistema da loja franca que está consumindo\
        \ a API do Loja Franca de Fronteira, ou seja, elas podem ser customizadas\
        \ conforme a necessidade. \n <br> <br> As mensagens de erro `1, 2, 3, 4, 9,\
        \ 10, 11, 12, 70` poderão ser disparadas independentemente da operação, pois\
        \ são mensagens de validação de CNPJ e certificado digital da Loja e mensagens\
        \ de erros gerais."
  Orientações para assinatura do payload na linguagem C Sharp:
    head:
      tags:
      - 4 Payload C Sharp
      summary: Payload C#
      description: "# Orientações para assinatura do payload na linguagem C# <br>\
        \ \n  Faça download do arquivo [assinador-exemplo-serpro-csharp.zip](https://gitcorporativo.serpro/centro-api-11002/demandas/uploads/a3588a9f2cc8c70385d68ac8077f2dff/assinador-exemplo-serpro-csharp.zip)\
        \ \n <br><br>  O exemplo deste arquivo em C# para assinatura segui o padrã\
        o ADRB 2.2. <br><br> \n # Observações: \n 1- Este exemplo é uma aplicação\
        \ standalone que utiliza a biblioteca BouncyCastle 1.8.3 (http://www.bouncycastle.org/csharp/).\
        \ <br><br> \n  2- A variável entradaArray contém os dados de entrada simulado\
        \ através de um arquivo neste exemplo. <br> <br>\n 3- O dado de saída que\
        \ deverá ser utilizado na API Loja Franca é obtido da seguinte instrução no\
        \ código de exemplo: Convert.ToBase64String(dadosAssinado.GetEncoded()"
  /:
    post:
      tags:
      - 5 Métodos da API
      summary: Realiza as operações da API
      description: "<br>\n## Consulta de Cota ##\nRetorna a cota disponível para um\
        \ determinado viajante. Para viajante brasileiro é obrigatória a identificaç\
        ão pelo número de documento CPF. \n<br>\n### Serviço\nviajante/cota\n<br>\n\
        ### Parâmetros de entrada para viajante (brasileiro ou estrangeiro) com CPF\n\
        |Nome|Descrição|Tipo|Local|Detalhes\n|----|---------|----|-----|--------\n\
        |cpf|CPF do Viajante|string|body|Obrigatório\n|dataNascimento|Data de nascimento\
        \ do Viajante|string|body|Obrigatório\n<br>\n### Parâmetros de entrada para\
        \ vajante estrangeiro \n|Nome|Descrição|Tipo|Local|Detalhes\n|----|---------|----|-----|--------\n\
        |documento|Documento apresentado pelo viajante|documento|body|Obrigatório\n\
        |codigoPaisOrigem|Código do pais de origem do Viajante|integer|body|Obrigató\
        rio. Ver tabela de países\n|codigoTipo|Código do tipo do documento do Viajante|integer|body|Obrigató\
        rio. Ver tabela de tipos de documentos\n|numero|Número do documento do Viajante|string|body|Obrigató\
        rio\n|dataNascimento|Data de nascimento do Viajante|stringr|body|Obrigató\
        rio\n|nomeNoDocumento|Nome do Viajante no documento apresentado|string|body|Obrigató\
        rio\n<br>\n### Atributos de resposta - Status code 200 - Ok\n|Nome|Descriç\
        ão|Tipo|Detalhes\n|----|---------|----|--------\n|nomeViajante|Nome do viajante\
        \ cadastrado no Loja Franca|string|\n|dataUltimaVenda|Data da última venda|string|yyyy-MM-ddTHH:mm:ss\n\
        |valorSaldoCota|Valor restante do saldo de cota|decimal|\n|saldoCotaProduto|Saldo\
        \ de cota de cada produto|saldoCotaProduto|\n|codigoProduto|Código do produto|integer|Ver\
        \ tabela de produtos\n|quantidade|Quantidade de produtos restantes na cota|integer|\
        \  \n<br>\n### Exemplo de entrada - Viajante brasileiro ou estrangeiro com\
        \ CPF\n    {\n      \"servico\": \"viajante/cota\",\n      \"dados\": {\n\
        \        \"cpf\": \"00000000191\",\n        \"dataNascimento\": \"1980-01-01\"\
        \n      }\n    }\n### Viajante brasileiro ou estrangeiro com CPF criptografado\
        \ em base64\n    Body/Payload\n\n    ewogICJzZXJ2aWNvIjogInZpYWphbnRlL2NvdGEiLAogICJkYWRvcyI6IHsKICAgICJjcGYiOiAiMDAwMDAwMDAxOTEiLAogICAgImRhdGFOYXNjaW1lbnRvIjogIjE5ODAtMDEtMDEiCiAgfQp9\n\
        ### Exemplo de entrada - Viajante estrangeiro\n    {\n      \"servico\": \"\
        viajante/cota\",\n      \"dados\": {\n        \"documento\": {\n         \
        \ \"codigoPaisOrigem\": 1,\n          \"codigoTipo\": 1,\n          \"numero\"\
        : \"12345\",\n          \"dataNascimento\": \"1980-01-01\",\n          \"\
        nomeNoDocumento\": \"FULANO DE TAL\"\n        }\n      }\n    }\n### Exemplo\
        \ de resposta\n    {\n      \"nomeViajante\": \"FULANO DE TAL\",\n      \"\
        dataUltimaVenda\": \"2017-12-08T17:13:55\",\n      \"valorSaldoCota\": 300.0,\n\
        \      \"saldoCotaProduto\": [\n        {\n          \"codigoProduto\": 1,\n\
        \          \"quantidade\": 10\n        }\n      ]\n    }\n<br>\n### Código\
        \ de erros possíveis\n    13, 14, 15, 16, 52, 55, 57, 99, -99\n----------------------------------------------------------------------------\n\
        <br>  \n## Consulta de Viajante ##\nRetorna o nome, data de nascimento e a\
        \ data da última venda de um determinado viajante.\n<br>\n### Serviço\nviajante/consulta\n\
        <br>\n### Parâmetros de entrada para viajante (brasileiro ou estrangeiro)\
        \ com CPF\n|Nome|Descrição|Tipo|Local|Detalhes\n|----|---------|----|-----|--------\n\
        |cpf|CPF do Viajante|string|body|Obrigatório\n<br>\n### Parâmetros de entrada\
        \ para vajante estrangeiro \n|Nome|Descrição|Tipo|Local|Detalhes\n|----|---------|----|-----|--------\n\
        |documento|Documento apresentado pelo viajante|documento|body|Obrigatório\n\
        |codigoPaisOrigem|Código do pais de origem do Viajante|integer|body|Obrigató\
        rio. Ver tabela de países\n|codigoTipo|Código do tipo do documento do Viajante|integer|body|Obrigató\
        rio. Ver tabela de tipos de documentos\n|numero|Número do documento do Viajante|string|body|Obrigató\
        rio\n<br>\n### Atributos de resposta - Status code 200 - Ok\n|Nome|Descriç\
        ão|Tipo|Detalhes\n|----|---------|----|--------\n|nomeViajante|Nome do viajante\
        \ cadastrado no Loja Franca|string|\n|dataNascimento|Data de nascimento do\
        \ viajante|string|yyyy-MM-ddTHH\n|dataUltimaVenda|Data da última venda|string|yyyy-MM-ddTHH:mm:ss\
        \  \n<br>\n### Exemplo de entrada - Viajante brasileiro ou estrangeiro com\
        \ CPF\n    { \n      \"servico\": \"viajante/consulta\",\n      \"dados\"\
        : {\n        \"cpf\": \"00000000191\"  \n      }\n    }\n### Viajante brasileiro\
        \ ou estrangeiro com CPF criptografado em base64\n    Body/Payload\n  \n \
        \   eyAKICAic2VydmljbyI6ICJ2aWFqYW50ZS9jb25zdWx0YSIsCiAgImRhZG9zIjogewogICAgImNwZiI6ICIwMDAwMDAwMDE5MSIgCiAgfQp9\n\
        ### Exemplo de entrada - Viajante estrangeiro\n    {\n      \"servico\": \"\
        viajante/consulta\",\n      \"dados\": {\n        \"documento\": {\n     \
        \     \"codigoPaisOrigem\": 1,\n          \"codigoTipo\": 1,\n        } \"\
        numero\": \"12345\"\n      }\n    }\n### Exemplo de resposta\n    {\n    \
        \  \"nomeViajante\": \"FULANO DE TAL\",\n      \"dataUltimaVenda\": \"2017-12-08T17:13:55.765Z\"\
        ,\n      \"dataNascimento\": \"1970-01-01\"\n    }\n<br>\n### Códigos de erros\
        \ possíveis\n    15, 16, 55, 57 , 99 \n----------------------------------------------------------------------------\
        \ \n<br>\n## Consulta cotação do dólar ##\nRetorna a cotação do dolar de uma\
        \ determinada data.\n<br>\n### Serviço\n/cotacaoDolar?dataCotacao=2017-12-01\n\
        <br>\n### Parâmetros de entrada para viajante (brasileiro ou estrangeiro)\
        \ com CPF\n|Nome|Descrição|Tipo|Local|Detalhes\n|----|---------|----|-----|--------\n\
        |dataCotacao|Data da cotação a pesquisar|string|query|Obrigatório - formato\
        \ yyyy-MM-dd\n<br>\n### Atributos de resposta - Status code 200 - Ok\n|Nome|Descriç\
        ão|Tipo|Detalhes\n|----|---------|----|--------\n|data|Data da cotação retornada|string|yyyy-MM-dd\n\
        |valorOficial|Valor da cotação do dólar na data retornada|decimal|  \n<br><br>\n\
        ### Exemplo de entrada - Consulta cotação do dolar\n    {\n      \"servico\"\
        : \"cotacaoDolar?dataCotacao=2017-12-01\"\n    }\n### Cotação do dólar criptografado\
        \ em base64\n    Body/Payload\n  \n    ewogICJzZXJ2aWNvIjogImNvdGFjYW9Eb2xhcj9kYXRhQ290YWNhbz0yMDE3LTEyLTAxIgp9\n\
        ### Exemplo de resposta\n    {\n      \"data\": \"2017-12-01\",\n      \"\
        valorOficial\": 3.1241\n    }\n<br>\n### Códigos de erros possíveis\n    56\
        \ \n----------------------------------------------------------------------------\n\
        <br>  \n## Processa venda de viajante ##\nEfetua uma operação de processamento\
        \ de venda. Para viajante brasileiro, a identificação pelo número de documento\
        \ de CPF é sempre obrigatória. A identificação por documento é sempre obrigató\
        ria idependentemente se o viajante for brasileiro ou estrangeiro.\n<br>\n\
        ### Serviço\nvenda\n<br>\n### Parâmetros de entrada para viajante (brasileiro\
        \ ou estrangeiro) com CPF\n|Nome|Descrição|Tipo|Local|Detalhes\n|----|---------|----|-----|--------\n\
        |valorTotalItensImportados|Valor total (em US$) de itens importados na Venda\
        \ para o Viajante|decimal|body|Obrigatório quando valorTotalItensNacionais\
        \ não for informado ou for igual a 0\n|valorTotalItensNacionais|Valor total\
        \ (em US$) de itens nacionais na Venda para o Viajante|decimal|body|Obrigató\
        rio quando valorTotalItensImportados não for informado ou for igual a 0\n\
        |valorCotacaoLoja|Valor da cotação do dólar oferecido pela loja franca|decimal|body|Obrigató\
        rio\n|viajanteParametro|Identificação do viajante|viajante|body|Obrigatório.\
        \ Formato segue os parametros da Consulta de viajante. Documento é obrigató\
        rio para brasileiros na venda. Atributos: codigoPais, codigoTipo, numero\n\
        |produtosControleQuantitativo|Representa a quantidade de produtos controlados\
        \ presentes na Venda do Viajante|produtos|body|Obrigatório quando é registrada\
        \ uma venda com produtos controlados\n|codigoProduto|Código do produto|integer|body|\
        \ Obrigatório quando é registrada uma venda com produtos controlados\n|quantidade|Quantidade\
        \ de produtos controlados na venda|integer|body|Obrigatorio quando é registrada\
        \ uma venda com produtos controlados\n|valorTotal|Valor total destes produtos\
        \ na venda|decimal|body|Obrigatório quando é registrada uma venda com produtos\
        \ controlados\n<br>\n### Atributos de resposta - Status code 200 - Ok\n|Nome|Descriç\
        ão|Tipo|Detalhes\n|----|---------|----|--------\n|idVenda|Identificação do\
        \ número da venda gerado pelo sistema Loja Franca de Fronteira|string||\n\
        |dataHoraVenda|Data do registro de venda|string|formato yyyy-MM-ddTHH:mm:ss\n\
        |darf|Dar gerado para pagamento do viajante caso a venda exceda a cota|darf|\n\
        |numero|Número do Darf gerado|number|\n|valor|Valor do Darf a ser pago pelo\
        \ viajante|decimal|\n|dataVencimento|Data de vencimento do Darf|string|formato\
        \ yyyy-MM-dd\n|codigoReceita|Código da receita recolhida|integer|\n|pdf|PDF\
        \ do boleto do Darf gerado|byte|String encoded em base-64\n<br>\n### Exemplo\
        \ de entrada - Venda para viajante brasileiro sem produtos controlados\n \
        \   { \n      \"servico\": \"venda\",\n      \"dados\": {\n        \"valorTotalItensImportados\"\
        : 10,\n        \"valorTotalItensNacionais\": 0,\n        \"valorCotacaoLoja\"\
        : 3.24,\n        \"viajanteParametro\": {\n          \"cpf\": \"00000000191\"\
        ,\n          \"documento\": {\n            \"codigoPaisOrigem\": 105,\n  \
        \          \"codigoTipo\": 1,\n            \"numero\": \"12345\"\n       \
        \   }\n        }  \n      }\n    }\n### Exemplo de entrada - Venda para viajante\
        \ estrangeiro sem produtos controlados e sem DARF\n    {\n      \"servico\"\
        : \"venda\",\n      \"dados\": {\n       \"valorTotalItensImportados\": 10,\n\
        \       \"valorTotalItensNacionais\": 50,\n       \"valorCotacaoLoja\": 3.24,\n\
        \       \"viajanteParametro\": {\n          \"documento\": {\n           \
        \  \"codigoPaisOrigem\": 1,\n             \"codigoTipo\": 1,\n           \
        \  \"numero\": \"12345\",\n             \"dataNascimento\": \"1980-01-01\"\
        ,\n             \"nomeNoDocumento\": \"FULANO DE TAL\"\n          }\n    \
        \    }\n      }\n    }\n  \n### Exemplo de entrada - Venda para viajante brasileiro\
        \ com produtos controlados e com DARF\n    { \n      \"servico\": \"venda\"\
        ,\n      \"dados\": {\n        \"valorTotalItensImportados\": 10,\n      \
        \  \"valorTotalItensNacionais\": 0,\n        \"valorCotacaoLoja\": 3.24,\n\
        \        \"viajanteParametro\": {\n          \"cpf\": \"00000000191\",\n \
        \         \"documento\": {\n            \"codigoPaisOrigem\": 105,\n     \
        \       \"codigoTipo\": 1,\n            \"numero\": \"12345\"\n          }\n\
        \        },\n        \"produtosControleQuantitativo\": [{\n          \"codigoProduto\"\
        : 10,\n          \"quantidade\": 2,\n          \"valorTotal\": 5.3\n     \
        \   },{\n          \"codigoProduto\": 1,\n          \"quantidade\": 1,\n \
        \         \"valorTotal\": 4.7\n        }]\n      }\n    }            \n###\
        \ Exemplo de entrada - Venda viajante com produtos controlados com DARF criptografado\
        \ em base64\n    Body/Payload\n    \n    ICAgICAgICAgICAgeyAKICAgICAgICAgICAgICAic2VydmljbyI6ICJ2ZW5kYSIsCiAgICAgICAgICAgICAgImRhZG9zIjogewogICAgICAgICAgICAgICAgInZhbG9yVG90YWxJdGVuc0ltcG9ydGFkb3MiOiAxMCwKICAgICAgICAgICAgICAgICJ2YWxvclRvdGFsSXRlbnNOYWNpb25haXMiOiAwLAogICAgICAgICAgICAgICAgInZhbG9yQ290YWNhb0xvamEiOiAzLjI0LAogICAgICAgICAgICAgICAgInZpYWphbnRlUGFyYW1ldHJvIjogewogICAgICAgICAgICAgICAgICAiY3BmIjogIjAwMDAwMDAwMTkxIiwKICAgICAgICAgICAgICAgICAgImRvY3VtZW50byI6IHsKICAgICAgICAgICAgICAgICAgICAiY29kaWdvUGFpc09yaWdlbSI6IDEwNSwKICAgICAgICAgICAgICAgICAgICAiY29kaWdvVGlwbyI6IDEsCiAgICAgICAgICAgICAgICAgICAgIm51bWVybyI6ICIxMjM0NSIKICAgICAgICAgICAgICAgICAgfQogICAgICAgICAgICAgICAgfSwKICAgICAgICAgICAgICAgICJwcm9kdXRvc0NvbnRyb2xlUXVhbnRpdGF0aXZvIjogW3sKICAgICAgICAgICAgICAgICAgImNvZGlnb1Byb2R1dG8iOiAxMCwKICAgICAgICAgICAgICAgICAgInF1YW50aWRhZGUiOiAyLAogICAgICAgICAgICAgICAgICAidmFsb3JUb3RhbCI6IDUuMwogICAgICAgICAgICAgICAgfSx7CiAgICAgICAgICAgICAgICAgICJjb2RpZ29Qcm9kdXRvIjogMSwKICAgICAgICAgICAgICAgICAgInF1YW50aWRhZGUiOiAxLAogICAgICAgICAgICAgICAgICAidmFsb3JUb3RhbCI6IDQuNwogICAgICAgICAgICAgICAgfV0KICAgICAgICAgICAgICB9CiAgICAgICAgICAgIH0g\n\
        ### Exemplo de entrada - Venda viajante com produtos controlados sem DARF\
        \ criptografado em base64\n    Body/Payload\n    \n    ewogICAic2VydmljbyI6ICJ2ZW5kYSIsCiAgICJkYWRvcyI6IHsKICAgICAgICAgInZhbG9yVG90YWxJdGVuc0ltcG9ydGFkb3MiOiAxMCwKICAgICAgICAgInZhbG9yVG90YWxJdGVuc05hY2lvbmFpcyI6IDUwLAogICAgICAgICAidmFsb3JDb3RhY2FvTG9qYSI6IDMuMjQsCiAgICAgICAgICJ2aWFqYW50ZVBhcmFtZXRybyI6IHsKICAgICAgICAgICAgICAiZG9jdW1lbnRvIjogewogICAgICAgICAgICAgICAgICAgImNvZGlnb1BhaXNPcmlnZW0iOiAxLAogICAgICAgICAgICAgICAgICAgImNvZGlnb1RpcG8iOiAxLAogICAgICAgICAgICAgICAgICAgIm51bWVybyI6ICIxMjM0NSIsCiAgICAgICAgICAgICAgICAgICAiZGF0YU5hc2NpbWVudG8iOiAiMTk4MC0wMS0wMSIsCiAgICAgICAgICAgICAgICAgICAibm9tZU5vRG9jdW1lbnRvIjogIkZVTEFOTyBERSBUQUwiCiAgICAgICAgICAgICAgfQogICAgICAgICAgfQogICAgIH0KfQ==\
        \  \n### Exemplo de resposta de venda sem DARF\n    {\n      \"idVenda\":\
        \ \"2017000000020992652\",\n      \"dataHoraVenda\": \"2017-12-11T17:27:41\"\
        \n    }\n<br>\n### Exemplo de resposta de venda com DARF\n    {\n      \"\
        idVenda\": \"2017000000020992653\",\n      \"dataHoraVenda\": \"2017-12-11T17:27:41\"\
        ,\n      \"darf\": {\n        \"valor\": 31.24,\n        \"codigoReceita\"\
        : 1258,\n        \"numero\": 7011734500514907,\n        \"dataVencimento\"\
        : \"2017-12-12\",\n        \"pdf\": \"Base64EncodedString\"\n      }\n   \
        \ }\n  ### Códigos de erros possíveis\n    13, 14, 15, 17, 18, 19, 20, 21,\
        \ 22, 23, 24, 25, 26, 27, 28, 29, 55, 56, 57\n----------------------------------------------------------------------------\n\
        <br>  \n## Entrega venda para viajante ##\nEfetua a operação de entrega de\
        \ venda.\n<br>\n### Serviço\nvenda/entrega?idVenda=2017000000020992652&notaFiscalSaida=35160400073132000143550012017000006572827920\n\
        <br>\n### Parâmetros de entrega venda para viajante\n|Nome|Descrição|Tipo|Local|Detalhes\n\
        |----|---------|----|-----|--------\n|idVenda|Identificação do número da venda\
        \ gerado pelo sistema Loja Franca de Fronteira na operação processa venda\
        \ viajante|string|query|Obrigatório\n|notaFiscalSaida|Número da Nota Fiscal\
        \ de saída gerado pelo sistema gerador de nota fiscal|string|query|Obrigató\
        rio\n<br>\n### Atributos de resposta - Status code 200 - Ok\n|Nome|Descriç\
        ão|Tipo|Detalhes\n|----|---------|----|--------\n|dataHoraEntrega|Data e hora\
        \ da entrega da venda para o Viajante |sting|formato yyyy-MM-ddTHH:mm:ss\n\
        <br><br>\nObs.: Não tem parâmetros JSON de entrada, apenas por query. \n###\
        \ Exemplo de entrada - Entrega venda para viajante\n    { \n      \"servico\"\
        : \"venda/entrega?idVenda=2017000000020992652&notaFiscalSaida=35160400073132000143550012017000006572827920\"\
        \n    }  \n### Exemplo de entrada de entrega de venda criptografado em base64\n\
        \    Body/Payload\n    \n    eyAKICAic2VydmljbyI6ICJ2ZW5kYS9lbnRyZWdhP2lkVmVuZGE9MjAxNzAwMDAwMDAyMDk5MjY1MiZub3RhRmlzY2FsU2FpZGE9MzUxNjA0MDAwNzMxMzIwMDAxNDM1NTAwMTIwMTcwMDAwMDY1NzI4Mjc5MjAiCn0g\n\
        ### Exemplo de resposta da entrega da venda\n    {\n      \"dataHoraEntrega\"\
        : \"2017-12-01T16:32:17\"\n    }\n<br>\n### Códigos de erros possíveis\n \
        \   31, 32, 33, 34, 39, 41, 54 \n----------------------------------------------------------------------------\n\
        <br>  \n## Cancela venda de viajante ##\nEfetua uma operação de cancelamento\
        \ de venda.\n<br>\n### Serviço\nvenda/cancelamento?idVenda=2017000000020992652\n\
        <br>\n### Parâmetros de entrega venda para viajante\n|Nome|Descrição|Tipo|Local|Detalhes\n\
        |----|---------|----|-----|--------\n|idVenda|Identificação do número da venda\
        \ gerado pelo sistema Loja Franca de Fronteira|string|query|Obrigatório\n\
        <br>\n### Atributos de resposta - Status code 200 - Ok\n|Nome|Descrição|Tipo|Detalhes\n\
        |----|---------|----|--------\n|dataHoraCancelamento|Data e hora do cancelamento\
        \ da venda do viajante |sting|formato yyyy-MM-ddTHH:mm:ss\n<br><br>\nObs.:\
        \ Não tem parâmetros JSON de entrada, apenas por query. \n### Exemplo de entrada\
        \ - Entrega venda para viajante\n    { \n      \"servico\": \"venda/cancelamento?idVenda=2017000000020992652\"\
        \n    }  \n### Exemplo de entrada de entrega de venda criptografado em base64\n\
        \    Body/Payload\n    \n    eyAKICAic2VydmljbyI6ICJ2ZW5kYS9jYW5jZWxhbWVudG8/aWRWZW5kYT0yMDE3MDAwMDAwMDIwOTkyNjUyIgp9IA==\n\
        ### Exemplo de resposta da entrega da venda\n    {\n      \"dataHoraCancelamento\"\
        : \"2017-12-01T16:32:17\"\n    }\n<br>\n### Códigos de erros possíveis\n \
        \   31, 38, 39, 54 \n----------------------------------------------------------------------------\n\
        <br>  \n## Devolução parcial de venda ##\nEfetua uma operação de devoluçã\
        o parcial de venda.\n<br>\n### Serviço\nvenda/devolucaoParcial\n<br>\n###\
        \ Parâmetros de entrada para devolução parcial de venda\n|Nome|Descrição|Tipo|Local|Detalhes\n\
        |----|---------|----|--------|------\n|valorTotalItensImportados|Valor total\
        \ (em US$) de itens importados a devolver|decimal|body|Obrigatório quando\
        \ valorTotalItensNacionais não for informado ou for igual a 0.\n|valorTotalItensNacionais|\
        \   Valor total (em US$) de itens nacionais a devolver|decimal|body|   Obrigató\
        rio quando valorTotalItensImportados não for informado ou for igual a 0.\n\
        |produtosControleQuantitativo|Representa a quantidade de produtos controlados\
        \ a devolver|produtos|body|Formato segue os parâmetros do processa venda de\
        \ viajante\n|codigoProduto|Código do produto|integer|body|Obrigatório quando\
        \ é registrada uma venda com produtos controlados. \n|quantidade|Quantidade\
        \ de produtos controlados presente na Venda|integer|bodyObrigatório quando\
        \ é registrada uma venda com produtos controlados\n|valorTotal|Valor total\
        \ destes produtos na Venda|decimal|body|Obrigatório quando é registrada uma\
        \ venda com produtos controlados.\n|venda|Representa a Venda a ser devolvida|venda|body|Obrigatorio\n\
        |id|Identificação do número da venda gerado pelo sistema Loja Franca de Fronteira|string|body|obrigatorio\n\
        |notaFiscalEntrada|Número da Nota Fiscal de entrada gerado pelo sistema gerador\
        \ de nota fiscal|string|body|Obrigatório\n<br>\n### Atributos de resposta\
        \ - Status code 200 - Ok\n|Nome|Descrição|Tipo|Detalhes\n|----|---------|----|--------\n\
        |dataHoraDevolucaoParcial|Data e hora da devolução|string|formato yyyy-MM-ddTHH:mm:ss\n\
        <br>\n### Exemplo de entrada - Devolução parcial de venda sem produtos controlados\n\
        \    { \n      \"servico\": \"venda/devolucaoParcial\",\n      \"dados\":\
        \ {\n        \"valorTotalItensImportados\": 9.95,\n        \"valorTotalItensNacionais\"\
        : 0,\n        \"venda\": {\n          \"id\": \"2017000000020992652\",\n \
        \         \"numeroNotaFiscalEntrada\": \"42100484684182000157550010000000020108042108\"\
        \  \n        }\n      }\n    }\n### Exemplo de entrada - Devolução parcial\
        \ de venda com produtos controlados\n    { \n      \"servico\": \"venda/devolucaoParcial\"\
        ,\n      \"dados\": {\n        \"valorTotalItensImportados\": 5.65,\n    \
        \    \"valorTotalItensNacionais\": 0,\n        \"produtosControleQuantitativo\"\
        : [{\n          \"codigoProduto\": 10,\n          \"quantidade\": 1,\n   \
        \       \"valorTotal\": 2.65\n        }],\n        \"venda\": {\n        \
        \  \"id\": \"2017000000020992652\",\n          \"numeroNotaFiscalEntrada\"\
        : \"42100484684182000157550010000000020108042108\"\n        }\n      }   \
        \                 \n    }                 \n### Exemplo de entrada de devoluç\
        ão parcial de venda com produtos controlados criptografado em base64\n   \
        \ Body/Payload\n    \n    eyAKICAic2VydmljbyI6ICJ2ZW5kYS9kZXZvbHVjYW9QYXJjaWFsIiwKICAiZGFkb3MiOiB7CiAgICAidmFsb3JUb3RhbEl0ZW5zSW1wb3J0YWRvcyI6IDUuNjUsCiAgICAidmFsb3JUb3RhbEl0ZW5zTmFjaW9uYWlzIjogMCwKICAgICJwcm9kdXRvc0NvbnRyb2xlUXVhbnRpdGF0aXZvIjogW3sKICAgICAgImNvZGlnb1Byb2R1dG8iOiAxMCwKICAgICAgInF1YW50aWRhZGUiOiAxLAogICAgICAidmFsb3JUb3RhbCI6IDIuNjUKICAgIH1dLAogICAgInZlbmRhIjogewogICAgICAiaWQiOiAiMjAxNzAwMDAwMDAyMDk5MjY1MiIsCiAgICAgICJudW1lcm9Ob3RhRmlzY2FsRW50cmFkYSI6ICI0MjEwMDQ4NDY4NDE4MjAwMDE1NzU1MDAxMDAwMDAwMDAyMDEwODA0MjEwOCIKICAgIH0KICB9ICAgICAgICAgICAgICAgICAgIAp9\n\
        ### Exemplo de resposta da devolução parcial de venda\n    {\n      \"dataHoraDevolucaoParcial\"\
        : \"2017-12-11T17:27:41\"\n    }\n<br>\n### Códigos de erros possíveis\n \
        \   31, 32, 33, 34, 39, 40, 41, 42, 43, 44, 45, 46, 54, 58, 60, 61, 62, 63\n\
        ----------------------------------------------------------------------------\n\
        <br>  \n## Devolução total de venda ##\nEfetua uma operação de devolução total\
        \ de venda.\n<br>\n### Serviço\nvenda/devolucao?idVenda=2017000000020992652&notaFiscalEntrada=42100484684182000157550010000000020108042108\n\
        <br>\n### Parâmetros de entrada para devolução total de venda\n|Nome|Descriç\
        ão|Tipo|Local|Detalhes\n|----|---------|----|--------|------\n|id|Identificaç\
        ão do número da venda gerado pelo sistema Loja Franca de Fronteira|string|query|obrigatorio\n\
        |notaFiscalEntrada|Número da Nota Fiscal de entrada gerado pelo sistema gerador\
        \ de nota fiscal|string|query|Obrigatório\n<br>\n### Atributos de resposta\
        \ - Status code 200 - Ok\n|Nome|Descrição|Tipo|Detalhes\n|----|---------|----|--------\n\
        |dataHoraDevolucaoTotal|Data e hora da devolução|string|formato yyyy-MM-ddTHH:mm:ss\n\
        <br><br>\nObs.: Não tem parâmetros JSON de entrada, apenas por query. \n###\
        \ Exemplo de entrada - Devolução total de venda \n    { \n      \"servico\"\
        : \"venda/devolucao?idVenda=2017000000020992652&notaFiscalEntrada=42100484684182000157550010000000020108042108\"\
        \n    }\n### Exemplo de entrada devolução total de venda criptografados em\
        \ base64\n    Body/Payload\n    \n    eyAKICAic2VydmljbyI6ICJ2ZW5kYS9kZXZvbHVjYW8/aWRWZW5kYT0yMDE3MDAwMDAwMDIwOTkyNjUyJm5vdGFGaXNjYWxFbnRyYWRhPTQyMTAwNDg0Njg0MTgyMDAwMTU3NTUwMDEwMDAwMDAwMDIwMTA4MDQyMTA4Igp9\n\
        \                     \n\n### Exemplo de resposta da devolução total de venda\n\
        \    {\n      \"dataHoraDevolucaoTotal\": \"2017-12-01T16:32:17\"\n    }\n\
        <br>\n### Códigos de erros possíveis\n    31, 32, 33, 34, 39, 40, 41, 54,\
        \ 58\n----------------------------------------------------------------------------\n\
        <br> \n## Troca item idêntico de venda ##\nEfetua uma operação de troca de\
        \ item idêntico de venda.\n<br>\n### Serviço\nvenda/trocaItemIdentico\n<br>\n\
        ### Parâmetros de entrada para troca de item idêntico de venda\n|Nome|Descriç\
        ão|Tipo|Local|Detalhes\n|----|---------|----|--------|------\n|valorTotalItensImportados|Valor\
        \ total (em US$) de itens importados a devolver|decimal|body|Obrigatório quando\
        \ valorTotalItensNacionais não for informado ou for igual a 0.\n|valorTotalItensNacionais|\
        \   Valor total (em US$) de itens nacionais a devolver|decimal|body|   Obrigató\
        rio quando valorTotalItensImportados não for informado ou for igual a 0.\n\
        |produtosControleQuantitativo|Representa a quantidade de produtos controlados\
        \ a devolver|produtos|body|Formato segue os parâmetros do processa venda de\
        \ viajante\n|codigoProduto|Código do produto|integer|body|Obrigatório quando\
        \ é registrada uma venda com produtos controlados. \n|quantidade|Quantidade\
        \ de produtos controlados presente na Venda|integer|bodyObrigatório quando\
        \ é registrada uma venda com produtos controlados\n|valorTotal|Valor total\
        \ destes produtos na Venda|decimal|body|Obrigatório quando é registrada uma\
        \ venda com produtos controlados.\n|venda|Representa a Venda a ser devolvida|venda|body|Obrigatorio\n\
        |id|Identificação do número da venda gerado pelo sistema Loja Franca de Fronteira|string|body|obrigatorio\n\
        |notaFiscalEntrada|Número da Nota Fiscal de entrada gerado pelo sistema gerador\
        \ de nota fiscal|string|body|Obrigatório\n<br>\n### Atributos de resposta\
        \ - Status code 200 - Ok\n|Nome|Descrição|Tipo|Detalhes\n|----|---------|----|--------\n\
        |dataHoraTrocaItemIdentico|Data e hora da troca|string|formato yyyy-MM-ddTHH:mm:ss\n\
        <br>\n### Exemplo de entrada - Troca item idêntico de venda sem produtos controlados\n\
        \    { \n      \"servico\": \"venda/trocaItemIdentico\",\n      \"dados\"\
        : {\n        \"valorTotalItensImportados\": 10,\n        \"valorTotalItensNacionais\"\
        : 0,\n        \"venda\": {\n          \"id\": \"2017000000020992652\",\n \
        \         \"numeroNotaFiscalEntrada\": \"42100484684182000157550010000000020108042108\"\
        ,\n          \"numeroNotaFiscalSaida\": \"35160400073132000143550012017000006572827920\"\
        \n        }\n      }\n    }\n### Exemplo de entrada - Troca item idêntico\
        \ de venda com produtos controlados\n    { \n      \"servico\": \"venda/trocaItemIdentico\"\
        ,\n      \"dados\": {\n        \"valorTotalItensImportados\": 10,\n      \
        \  \"valorTotalItensNacionais\": 0,\n        \"produtosControleQuantitativo\"\
        : [{\n          \"codigoProduto\": 10,\n          \"quantidade\": 2,\n   \
        \       \"valorTotal\": 5.3\n        }],\n        \"venda\": {\n         \
        \ \"id\": \"2017000000020992652\",\n          \"numeroNotaFiscalEntrada\"\
        : \"42100484684182000157550010000000020108042108\",\n          \"numeroNotaFiscalSaida\"\
        : \"35160400073132000143550012017000006572827920\"\n        }\n      }   \
        \                 \n    }   \n### Exemplo de entrada de troca de item idê\
        ntico de venda sem produtos controlados criptografado em base64\n    Body/Payload\n\
        \    \n    eyAKICAgInNlcnZpY28iOiAidmVuZGEvdHJvY2FJdGVtSWRlbnRpY28iLAogICAiZGFkb3MiOiB7CiAgICAgICAgICJ2YWxvclRvdGFsSXRlbnNJbXBvcnRhZG9zIjogMTAsCiAgICAgICAgICJ2YWxvclRvdGFsSXRlbnNOYWNpb25haXMiOiAwLAogICAgICAgICAidmVuZGEiOiB7CiAgICAgICAgICAgICAgICJpZCI6ICIyMDE3MDAwMDAwMDIwOTkyNjUyIiwKICAgICAgICAgICAgICAgIm51bWVyb05vdGFGaXNjYWxFbnRyYWRhIjogIjQyMTAwNDg0Njg0MTgyMDAwMTU3NTUwMDEwMDAwMDAwMDIwMTA4MDQyMTA4IiwKICAgICAgICAgICAgICAgIm51bWVyb05vdGFGaXNjYWxTYWlkYSI6ICIzNTE2MDQwMDA3MzEzMjAwMDE0MzU1MDAxMjAxNzAwMDAwNjU3MjgyNzkyMCIKICAgICAgICAgfQogICAgfQp9\n\
        ### Exemplo de resposta da troca de itens idêntico de venda\n    {\n     \
        \ \"dataHoraTrocaItemIdentico\": \"2017-12-11T17:27:41\"\n    }\n<br>\n###\
        \ Códigos de erros possíveis\n    28, 30, 31, 32, 33, 34, 35, 36, 37, 39,\
        \ 40, 41, 42, 43, 44, 45, 46, 54, 58, 60, 61, 62, 63"
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/EntradaCota'
            example: Informe o Payload em base 64 de acordo com o método desejado.
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SaidaCota'
        422:
          description: |-
            <strong>Códigos dos erros de negócio:</strong>
            13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 52, 54, 55, 56, 57, 58, 99, -99
          content: {}
components:
  schemas:
    EntradaCota:
      type: object
      example: Informe aqui o payload da transação
    SaidaCota:
      type: object
      properties:
        nomeViajante:
          type: string
          description: Nome do Viajante
          example: FULANO DE TAL
        dataUltimaVenda:
          type: string
          description: Data da última venda para o viajante
          example: 2017-12-08T17:13:55
        valorSaldoCota:
          type: number
          description: Saldo da cota do viajante
          example: 300.0
        saldoCotaProduto:
          type: array
          items:
            type: object
            properties:
              codigoProduto:
                type: integer
                example: 1
              quantidade:
                type: integer
                example: 15
  securitySchemes:
      APIKEY:
        type: apiKey
        name: x-jwt-assertion
        in: header
      OAuth2:
        type: oauth2
        flows:
          clientCredentials:
            tokenUrl: 'https://apigateway.serpro.gov.br/token'
      Authorization:
        type: http
        description: Autenticação para ambiente trial
        scheme: bearer
