openapi: 3.0.1
info:
  title: Consulta Dívida Ativa
  version: api
  description: Teste Divida Ativa
servers:
  - url: https://apigateway.serpro.gov.br/consulta-divida-ativa-trial/api
    description: Trial
  - url: https://apigateway.serpro.gov.br/consulta-divida-ativa/api
    description: Produção
security:
  - APIKEY: []
    OAuth2: []
    Authorization: []
externalDocs:
  description: "Detalhamento da API Loja Franca de Fronteiras"
  url: https://github.com/devserpro/apis/raw/master/portal-desenvolvedor/apis/documentos/Informacoes-DividaAtiva.pdf
paths:
  '/v1/inscricao/{numeroInscricao}':
    get:
      tags:
        - Dívida Ativa
      summary: Consulta dados de inscrição 
      description: Teste do Divida Ativa
      parameters:
        - name: numeroInscricao
          in: path
          description: Número de inscrição
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Retorna o objeto json com o resultado da consulta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/numeroInscricao'      
        "400":
          description: Número de Inscrição inválido.
        "404":
          description: Inscrição não encontrada.
        "500":
          description: Erro interno do servidor
      operationId: https://apigateway.serpro.gov.br/api-divida-ativa-trial/api/{numeroInscricao}
      externalDocs:
        description: "Payloads para degustação"
        url: https://github.com/devserpro/apis/raw/master/portal-desenvolvedor/apis/documentos/DividaAtiva-Degustacao.pdf
  '/status':
    get:
      tags:
        - Status
      summary: Verifica status da API
      responses:
        "200":
          description: Serviço disponível
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
              example:
                lastUpdateAt: "2019-02-18T11:27:06-03:00"
        "500":
          description: Serviço indisponível
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
              example:
                lastUpdateAt: "2019-02-18T11:27:06-03:00" 
components:
  schemas:
    numeroInscricao:
      type: object
      properties:
        inscricao:
          type: string
        processoAdministrativo:
          type: string
        situacao:
          type: string
        dataInscricao:
          type: string
        numeroPFNResponsavel:
          type: string
        nomePFNResponsavel:
          type: string
        numeroPFNInscricao:
          type: string
        nomePFNInscricao:
          type: string
        numeroProcessoJudicial:
          type: string
        numeroProcessoJudicialNovo:
          type: string
        orgaoOrigem:
          type: string
        codigoNaturezaReceita:
          type: string
        nomeNaturezaReceita:
          type: string
        codigoReceitaPrincipal:
          type: string
        nomeReceita:
          type: string
        codigoSerie:
          type: string
        nomeSerie:
          type: string
        codigoOrgaoJustica:
          type: string
        nomeOrgaoJustica:
          type: string
        numeroJuizo:
          type: string
        descricaoJuizo:
          type: string
        dataProtocoloJudExecucao:
          type: string
        dataDistribuicaoJudicial:
          type: string
        indicadorMoedaTotalInscrito:
          type: string
        valorTotalInscritoMoeda:
          type: string
        valorTotalInscritoIndex:
          type: string
        indicadorMoedaTotalConsolidado:
          type: string
        valorTotalConsolidadoMoeda:
          type: string
        indicadorMoedaTotalRemanescente:
          type: string
        valorRemanescenteMoeda:
          type: string
        valorRemanescenteIndex:
          type: string
        dataDevolucaoProcesso:
          type: string
        numeroAutoInfracao:
          type: string
        indicadorPrescricaoSV8:
          type: string
        dataDecretacaoFalencia:
          type: string
        dataFimProcurador:
          type: string
        numeroImovelITR:
          type: string
        dataExtincaoInscricao:
          type: string
        motivoSuspensaoExigilidade:
          type: string
        numeroRipSpu:
          type: string
        indicadorAnaliseOrgaoOrigem:
          type: string
        motivoExtincaoInscricao:
          type: string
        indicadorProtImpedAjuiz:
          type: string
        numeroAgrupamento:
          type: string
        numeroInscricaoOriginal:
          type: string
        numeroInscricaoDerivada1:
          type: string
        numeroInscricaoDerivada2:
          type: string
        numeroInscricaoDerivada3:
          type: string
        numeroInscricaoDerivada4:
          type: string
        numeroInscricaoDerivada5:
          type: string
        numeroInscricaoDerivada6:
          type: string
        numeroInscricaoDerivada7:
          type: string
        dcomp:
          type: string
        descricaoNaoCalculado:
          type: string
        codigoMunicipioSPU:
          type: string
        codigoSistemaOrigem:
          type: string
        descricaoSistemaOrigem:
          type: string      
    Status:
      type: object
      properties:
        lastUpdateAt:
          type: string
          format: date-time   
  securitySchemes:
    APIKEY:
      type: apiKey
      name: x-jwt-assertion
      in: header
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: 'https://apigateway.serpro.gov.br/token'
    Authorization:
      type: http
      description: Autenticação para ambiente trial
      scheme: bearer
