openapi: 3.0.2
info:
  title: Loja Franca
  version: v1
  description: |-
    Para informações de como se autenticar antes de consumir as API, por favor, consulte a documentação em [Autenticação](https://servicos.serpro.gov.br/api-serpro/biblioteca/arquivos/como-autenticar-documentacao-api.pdf). 
    O serviço &nbsp; *Consulta Massiva CPF* &nbsp; é disponibilizado através do &nbsp; *HTTP REST* &nbsp; oferencendo operação de consulta às informações cadastrais de Pessoas Físicas no Brasil.
    ### Códigos de Retorno não Bilhetados 
    | Código de retorno | Resumido | Explicação |
    | ------------- |:--------------------|:-----------------------------------------------------------------------------|
    | 400           | Requisição inválida | O Número de Inscrição do CPF informado não é válido. |
    | 500           | Erro no servidor    | Ocorreu algum erro interno.      |     
    ### Solicitando assinatura com Carimbo de Tempo
      Caso deseje que sua solicitação venha com uma assinatura de Carimbo de Tempo, basta incluir, no cabeçalho de sua requisição, a informação: &nbsp; *x-signature:1*. &nbsp; A assinatura será retornada no cabeçalho da resposta, com o nome: &nbsp; *stamp* .
    ### Verificando assinatura com Carimbo de Tempo
      Para verificar assinatura de carimbo de tempo, siga as instruções da documentação abaixo:     
    [Documentação - Verificação de Carimbo de Tempo](https://rawgit.com/devserpro/apis/master/_layouts/swagger-ui-master/dist/index.html?bearer=4e1a1858bdd584fdc077fb7d80f39283&url=https://rawgit.com/devserpro/apis/master/_layouts/swaggers/carimbo-tempo/swagger-timestampcheck-trial-bsa.json#!/default/post_check)
servers:
  - url: 'https://apigateway.serpro.gov.br/api-loja-franca-trial/api'
    description: Trial
  - url: 'https://apigateway.serpro.gov.br/api-loja-franca/api'
    description: Produção
security:
  - APIKEY: []
    OAuth2: []
    Authorization: []   
externalDocs:
  description: "Detalhamento da Situação Cadastral do CPF"
  url: https://github.com/devserpro/apis/raw/master/portal-desenvolvedor/apis/documentos/Informacoes-LojaFranca.pdf
paths:
  '/':
    post:
      tags:
        - 5 Métodos da API
      summary: Realiza as operações da API
   
      description: |-
        <br>
        ## Consulta de Cota ##
        Retorna a cota disponível para um determinado viajante. Para viajante brasileiro é obrigatória a identificação pelo número de documento CPF. 
        <br>
        ### Serviço
        viajante/cota
        <br>
        ### Parâmetros de entrada para viajante (brasileiro ou estrangeiro) com CPF
        |Nome|Descrição|Tipo|Local|Detalhes
        |----|---------|----|-----|--------
        |cpf|CPF do Viajante|string|body|Obrigatório
        |dataNascimento|Data de nascimento do Viajante|string|body|Obrigatório
        <br>
        ### Parâmetros de entrada para vajante estrangeiro 
        |Nome|Descrição|Tipo|Local|Detalhes
        |----|---------|----|-----|--------
        |documento|Documento apresentado pelo viajante|documento|body|Obrigatório
        |codigoPaisOrigem|Código do pais de origem do Viajante|integer|body|Obrigatório. Ver tabela de países
        |codigoTipo|Código do tipo do documento do Viajante|integer|body|Obrigatório. Ver tabela de tipos de documentos
        |numero|Número do documento do Viajante|string|body|Obrigatório
        |dataNascimento|Data de nascimento do Viajante|stringr|body|Obrigatório
        |nomeNoDocumento|Nome do Viajante no documento apresentado|string|body|Obrigatório
        <br>
        ### Atributos de resposta - Status code 200 - Ok
        |Nome|Descrição|Tipo|Detalhes
        |----|---------|----|--------
        |nomeViajante|Nome do viajante cadastrado no Loja Franca|string|
        |dataUltimaVenda|Data da última venda|string|yyyy-MM-ddTHH:mm:ss
        |valorSaldoCota|Valor restante do saldo de cota|decimal|
        |saldoCotaProduto|Saldo de cota de cada produto|saldoCotaProduto|
        |codigoProduto|Código do produto|integer|Ver tabela de produtos
        |quantidade|Quantidade de produtos restantes na cota|integer|  
        <br>
        ### Exemplo de entrada - Viajante brasileiro ou estrangeiro com CPF
            {
              "servico": "viajante/cota",
              "dados": {
                "cpf": "00000000191",
                "dataNascimento": "1980-01-01"
              }
            }
        ### Viajante brasileiro ou estrangeiro com CPF criptografado em base64
            Body/Payload

            ewogICJzZXJ2aWNvIjogInZpYWphbnRlL2NvdGEiLAogICJkYWRvcyI6IHsKICAgICJjcGYiOiAiMDAwMDAwMDAxOTEiLAogICAgImRhdGFOYXNjaW1lbnRvIjogIjE5ODAtMDEtMDEiCiAgfQp9
        ### Exemplo de entrada - Viajante estrangeiro
            {
              "servico": "viajante/cota",
              "dados": {
                "documento": {
                  "codigoPaisOrigem": 1,
                  "codigoTipo": 1,
                  "numero": "12345",
                  "dataNascimento": "1980-01-01",
                  "nomeNoDocumento": "FULANO DE TAL"
                }
              }
            }
        ### Exemplo de resposta
            {
              "nomeViajante": "FULANO DE TAL",
              "dataUltimaVenda": "2017-12-08T17:13:55",
              "valorSaldoCota": 300.0,
              "saldoCotaProduto": [
                {
                  "codigoProduto": 1,
                  "quantidade": 10
                }
              ]
            }
        <br>
        ### Código de erros possíveis
            13, 14, 15, 16, 52, 55, 57, 99, -99
        ----------------------------------------------------------------------------
        <br>  
        ## Consulta de Viajante ##
        Retorna o nome, data de nascimento e a data da última venda de um determinado viajante.
        <br>
        ### Serviço
        viajante/consulta
        <br>
        ### Parâmetros de entrada para viajante (brasileiro ou estrangeiro) com CPF
        |Nome|Descrição|Tipo|Local|Detalhes
        |----|---------|----|-----|--------
        |cpf|CPF do Viajante|string|body|Obrigatório
        <br>
        ### Parâmetros de entrada para vajante estrangeiro 
        |Nome|Descrição|Tipo|Local|Detalhes
        |----|---------|----|-----|--------
        |documento|Documento apresentado pelo viajante|documento|body|Obrigatório
        |codigoPaisOrigem|Código do pais de origem do Viajante|integer|body|Obrigatório. Ver tabela de países
        |codigoTipo|Código do tipo do documento do Viajante|integer|body|Obrigatório. Ver tabela de tipos de documentos
        |numero|Número do documento do Viajante|string|body|Obrigatório
        <br>
        ### Atributos de resposta - Status code 200 - Ok
        |Nome|Descrição|Tipo|Detalhes
        |----|---------|----|--------
        |nomeViajante|Nome do viajante cadastrado no Loja Franca|string|
        |dataNascimento|Data de nascimento do viajante|string|yyyy-MM-ddTHH
        |dataUltimaVenda|Data da última venda|string|yyyy-MM-ddTHH:mm:ss  
        <br>
        ### Exemplo de entrada - Viajante brasileiro ou estrangeiro com CPF
            { 
              "servico": "viajante/consulta",
              "dados": {
                "cpf": "00000000191"  
              }
            }
        ### Viajante brasileiro ou estrangeiro com CPF criptografado em base64
            Body/Payload
          
            eyAKICAic2VydmljbyI6ICJ2aWFqYW50ZS9jb25zdWx0YSIsCiAgImRhZG9zIjogewogICAgImNwZiI6ICIwMDAwMDAwMDE5MSIgCiAgfQp9

        ### Exemplo de entrada - Viajante estrangeiro
            {
              "servico": "viajante/consulta",
              "dados": {
                "documento": {
                  "codigoPaisOrigem": 1,
                  "codigoTipo": 1,
                } "numero": "12345"
              }
            }
        ### Exemplo de resposta
            {
              "nomeViajante": "FULANO DE TAL",
              "dataUltimaVenda": "2017-12-08T17:13:55.765Z",
              "dataNascimento": "1970-01-01"
            }
        <br>
        ### Códigos de erros possíveis
            15, 16, 55, 57 , 99 
        ---------------------------------------------------------------------------- 
        <br>
        ## Consulta cotação do dólar ##
        Retorna a cotação do dolar de uma determinada data.
        <br>
        ### Serviço
        /cotacaoDolar?dataCotacao=2017-12-01
        <br>
        ### Parâmetros de entrada para viajante (brasileiro ou estrangeiro) com CPF
        |Nome|Descrição|Tipo|Local|Detalhes
        |----|---------|----|-----|--------
        |dataCotacao|Data da cotação a pesquisar|string|query|Obrigatório - formato yyyy-MM-dd
        <br>
        ### Atributos de resposta - Status code 200 - Ok
        |Nome|Descrição|Tipo|Detalhes
        |----|---------|----|--------
        |data|Data da cotação retornada|string|yyyy-MM-dd
        |valorOficial|Valor da cotação do dólar na data retornada|decimal|  
        <br><br>
        ### Exemplo de entrada - Consulta cotação do dolar
            {
              "servico": "cotacaoDolar?dataCotacao=2017-12-01"
            }
        ### Cotação do dólar criptografado em base64
            Body/Payload
            
            ewogICJzZXJ2aWNvIjogImNvdGFjYW9Eb2xhcj9kYXRhQ290YWNhbz0yMDE3LTEyLTAxIgp9
          
        ### Exemplo de resposta
            {
              "data": "2017-12-01",
              "valorOficial": 3.1241
            }
        <br>
        ### Códigos de erros possíveis
            56 
        ----------------------------------------------------------------------------
        <br>  
        ## Processa venda de viajante ##
        Efetua uma operação de processamento de venda. Para viajante brasileiro, a identificação pelo número de documento de CPF é sempre obrigatória. A identificação por documento é sempre obrigatória idependentemente se o viajante for brasileiro ou estrangeiro.
        <br>
        ### Serviço
        venda
        <br>
        ### Parâmetros de entrada para viajante (brasileiro ou estrangeiro) com CPF
        |Nome|Descrição|Tipo|Local|Detalhes
        |----|---------|----|-----|--------
        |valorTotalItensImportados|Valor total (em US$) de itens importados na Venda para o Viajante|decimal|body|Obrigatório quando valorTotalItensNacionais não for informado ou for igual a 0
        |valorTotalItensNacionais|Valor total (em US$) de itens nacionais na Venda para o Viajante|decimal|body|Obrigatório quando valorTotalItensImportados não for informado ou for igual a 0
        |valorCotacaoLoja|Valor da cotação do dólar oferecido pela loja franca|decimal|body|Obrigatório
        |viajanteParametro|Identificação do viajante|viajante|body|Obrigatório. Formato segue os parametros da Consulta de viajante. Documento é obrigatório para brasileiros na venda. Atributos: codigoPais, codigoTipo, numero
        |produtosControleQuantitativo|Representa a quantidade de produtos controlados presentes na Venda do Viajante|produtos|body|Obrigatório quando é registrada uma venda com produtos controlados
        |codigoProduto|Código do produto|integer|body| Obrigatório quando é registrada uma venda com produtos controlados
        |quantidade|Quantidade de produtos controlados na venda|integer|body|Obrigatorio quando é registrada uma venda com produtos controlados
        |valorTotal|Valor total destes produtos na venda|decimal|body|Obrigatório quando é registrada uma venda com produtos controlados
        <br>
        ### Atributos de resposta - Status code 200 - Ok
        |Nome|Descrição|Tipo|Detalhes
        |----|---------|----|--------
        |idVenda|Identificação do número da venda gerado pelo sistema Loja Franca de Fronteira|string||
        |dataHoraVenda|Data do registro de venda|string|formato yyyy-MM-ddTHH:mm:ss
        |darf|Dar gerado para pagamento do viajante caso a venda exceda a cota|darf|
        |numero|Número do Darf gerado|number|
        |valor|Valor do Darf a ser pago pelo viajante|decimal|
        |dataVencimento|Data de vencimento do Darf|string|formato yyyy-MM-dd
        |codigoReceita|Código da receita recolhida|integer|
        |pdf|PDF do boleto do Darf gerado|byte|String encoded em base-64
        <br>
        ### Exemplo de entrada - Venda para viajante brasileiro sem produtos controlados
            { 
              "servico": "venda",
              "dados": {
                "valorTotalItensImportados": 10,
                "valorTotalItensNacionais": 0,
                "valorCotacaoLoja": 3.24,
                "viajanteParametro": {
                  "cpf": "00000000191",
                  "documento": {
                    "codigoPaisOrigem": 105,
                    "codigoTipo": 1,
                    "numero": "12345"
                  }
                }  
              }
            }
        ### Exemplo de entrada - Venda para viajante estrangeiro sem produtos controlados e sem DARF
            {
              "servico": "venda",
              "dados": {
               "valorTotalItensImportados": 10,
               "valorTotalItensNacionais": 50,
               "valorCotacaoLoja": 3.24,
               "viajanteParametro": {
                  "documento": {
                     "codigoPaisOrigem": 1,
                     "codigoTipo": 1,
                     "numero": "12345",
                     "dataNascimento": "1980-01-01",
                     "nomeNoDocumento": "FULANO DE TAL"
                  }
                }
              }
            }
          
        ### Exemplo de entrada - Venda para viajante brasileiro com produtos controlados e com DARF
            { 
              "servico": "venda",
              "dados": {
                "valorTotalItensImportados": 10,
                "valorTotalItensNacionais": 0,
                "valorCotacaoLoja": 3.24,
                "viajanteParametro": {
                  "cpf": "00000000191",
                  "documento": {
                    "codigoPaisOrigem": 105,
                    "codigoTipo": 1,
                    "numero": "12345"
                  }
                },
                "produtosControleQuantitativo": [{
                  "codigoProduto": 10,
                  "quantidade": 2,
                  "valorTotal": 5.3
                },{
                  "codigoProduto": 1,
                  "quantidade": 1,
                  "valorTotal": 4.7
                }]
              }
            }            
        ### Exemplo de entrada - Venda viajante com produtos controlados com DARF criptografado em base64
            Body/Payload
            
            ICAgICAgICAgICAgeyAKICAgICAgICAgICAgICAic2VydmljbyI6ICJ2ZW5kYSIsCiAgICAgICAgICAgICAgImRhZG9zIjogewogICAgICAgICAgICAgICAgInZhbG9yVG90YWxJdGVuc0ltcG9ydGFkb3MiOiAxMCwKICAgICAgICAgICAgICAgICJ2YWxvclRvdGFsSXRlbnNOYWNpb25haXMiOiAwLAogICAgICAgICAgICAgICAgInZhbG9yQ290YWNhb0xvamEiOiAzLjI0LAogICAgICAgICAgICAgICAgInZpYWphbnRlUGFyYW1ldHJvIjogewogICAgICAgICAgICAgICAgICAiY3BmIjogIjAwMDAwMDAwMTkxIiwKICAgICAgICAgICAgICAgICAgImRvY3VtZW50byI6IHsKICAgICAgICAgICAgICAgICAgICAiY29kaWdvUGFpc09yaWdlbSI6IDEwNSwKICAgICAgICAgICAgICAgICAgICAiY29kaWdvVGlwbyI6IDEsCiAgICAgICAgICAgICAgICAgICAgIm51bWVybyI6ICIxMjM0NSIKICAgICAgICAgICAgICAgICAgfQogICAgICAgICAgICAgICAgfSwKICAgICAgICAgICAgICAgICJwcm9kdXRvc0NvbnRyb2xlUXVhbnRpdGF0aXZvIjogW3sKICAgICAgICAgICAgICAgICAgImNvZGlnb1Byb2R1dG8iOiAxMCwKICAgICAgICAgICAgICAgICAgInF1YW50aWRhZGUiOiAyLAogICAgICAgICAgICAgICAgICAidmFsb3JUb3RhbCI6IDUuMwogICAgICAgICAgICAgICAgfSx7CiAgICAgICAgICAgICAgICAgICJjb2RpZ29Qcm9kdXRvIjogMSwKICAgICAgICAgICAgICAgICAgInF1YW50aWRhZGUiOiAxLAogICAgICAgICAgICAgICAgICAidmFsb3JUb3RhbCI6IDQuNwogICAgICAgICAgICAgICAgfV0KICAgICAgICAgICAgICB9CiAgICAgICAgICAgIH0g
            
        ### Exemplo de entrada - Venda viajante com produtos controlados sem DARF criptografado em base64
            Body/Payload
            
            ewogICAic2VydmljbyI6ICJ2ZW5kYSIsCiAgICJkYWRvcyI6IHsKICAgICAgICAgInZhbG9yVG90YWxJdGVuc0ltcG9ydGFkb3MiOiAxMCwKICAgICAgICAgInZhbG9yVG90YWxJdGVuc05hY2lvbmFpcyI6IDUwLAogICAgICAgICAidmFsb3JDb3RhY2FvTG9qYSI6IDMuMjQsCiAgICAgICAgICJ2aWFqYW50ZVBhcmFtZXRybyI6IHsKICAgICAgICAgICAgICAiZG9jdW1lbnRvIjogewogICAgICAgICAgICAgICAgICAgImNvZGlnb1BhaXNPcmlnZW0iOiAxLAogICAgICAgICAgICAgICAgICAgImNvZGlnb1RpcG8iOiAxLAogICAgICAgICAgICAgICAgICAgIm51bWVybyI6ICIxMjM0NSIsCiAgICAgICAgICAgICAgICAgICAiZGF0YU5hc2NpbWVudG8iOiAiMTk4MC0wMS0wMSIsCiAgICAgICAgICAgICAgICAgICAibm9tZU5vRG9jdW1lbnRvIjogIkZVTEFOTyBERSBUQUwiCiAgICAgICAgICAgICAgfQogICAgICAgICAgfQogICAgIH0KfQ==  
            
        ### Exemplo de resposta de venda sem DARF
            {
              "idVenda": "2017000000020992652",
              "dataHoraVenda": "2017-12-11T17:27:41"
            }
        <br>
        ### Exemplo de resposta de venda com DARF
            {
              "idVenda": "2017000000020992653",
              "dataHoraVenda": "2017-12-11T17:27:41",
              "darf": {
                "valor": 31.24,
                "codigoReceita": 1258,
                "numero": 7011734500514907,
                "dataVencimento": "2017-12-12",
                "pdf": "Base64EncodedString"
              }
            }
          ### Códigos de erros possíveis
            13, 14, 15, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 55, 56, 57
        ----------------------------------------------------------------------------
        <br>  
        ## Entrega venda para viajante ##
        Efetua a operação de entrega de venda.
        <br>
        ### Serviço
        venda/entrega?idVenda=2017000000020992652&notaFiscalSaida=35160400073132000143550012017000006572827920
        <br>
        ### Parâmetros de entrega venda para viajante
        |Nome|Descrição|Tipo|Local|Detalhes
        |----|---------|----|-----|--------
        |idVenda|Identificação do número da venda gerado pelo sistema Loja Franca de Fronteira na operação processa venda viajante|string|query|Obrigatório
        |notaFiscalSaida|Número da Nota Fiscal de saída gerado pelo sistema gerador de nota fiscal|string|query|Obrigatório
        <br>
        ### Atributos de resposta - Status code 200 - Ok
        |Nome|Descrição|Tipo|Detalhes
        |----|---------|----|--------
        |dataHoraEntrega|Data e hora da entrega da venda para o Viajante |sting|formato yyyy-MM-ddTHH:mm:ss
        <br><br>
        Obs.: Não tem parâmetros JSON de entrada, apenas por query. 
        ### Exemplo de entrada - Entrega venda para viajante
            { 
              "servico": "venda/entrega?idVenda=2017000000020992652&notaFiscalSaida=35160400073132000143550012017000006572827920"
            }  
        ### Exemplo de entrada de entrega de venda criptografado em base64
            Body/Payload
            
            eyAKICAic2VydmljbyI6ICJ2ZW5kYS9lbnRyZWdhP2lkVmVuZGE9MjAxNzAwMDAwMDAyMDk5MjY1MiZub3RhRmlzY2FsU2FpZGE9MzUxNjA0MDAwNzMxMzIwMDAxNDM1NTAwMTIwMTcwMDAwMDY1NzI4Mjc5MjAiCn0g
        ### Exemplo de resposta da entrega da venda
            {
              "dataHoraEntrega": "2017-12-01T16:32:17"
            }
        <br>
        ### Códigos de erros possíveis
            31, 32, 33, 34, 39, 41, 54 
        ----------------------------------------------------------------------------
        <br>  
        ## Cancela venda de viajante ##
        Efetua uma operação de cancelamento de venda.
        <br>
        ### Serviço
        venda/cancelamento?idVenda=2017000000020992652
        <br>
        ### Parâmetros de entrega venda para viajante
        |Nome|Descrição|Tipo|Local|Detalhes
        |----|---------|----|-----|--------
        |idVenda|Identificação do número da venda gerado pelo sistema Loja Franca de Fronteira|string|query|Obrigatório
        <br>
        ### Atributos de resposta - Status code 200 - Ok
        |Nome|Descrição|Tipo|Detalhes
        |----|---------|----|--------
        |dataHoraCancelamento|Data e hora do cancelamento da venda do viajante |sting|formato yyyy-MM-ddTHH:mm:ss
        <br><br>
        Obs.: Não tem parâmetros JSON de entrada, apenas por query. 
        ### Exemplo de entrada - Entrega venda para viajante
            { 
              "servico": "venda/cancelamento?idVenda=2017000000020992652"
            }  
        ### Exemplo de entrada de entrega de venda criptografado em base64
            Body/Payload
            
            eyAKICAic2VydmljbyI6ICJ2ZW5kYS9jYW5jZWxhbWVudG8/aWRWZW5kYT0yMDE3MDAwMDAwMDIwOTkyNjUyIgp9IA==
        ### Exemplo de resposta da entrega da venda
            {
              "dataHoraCancelamento": "2017-12-01T16:32:17"
            }
        <br>
        ### Códigos de erros possíveis
            31, 38, 39, 54 
        ----------------------------------------------------------------------------
        <br>  
        ## Devolução parcial de venda ##
        Efetua uma operação de devolução parcial de venda.
        <br>
        ### Serviço
        venda/devolucaoParcial
        <br>
        ### Parâmetros de entrada para devolução parcial de venda
        |Nome|Descrição|Tipo|Local|Detalhes
        |----|---------|----|--------|------
        |valorTotalItensImportados|Valor total (em US$) de itens importados a devolver|decimal|body|Obrigatório quando valorTotalItensNacionais não for informado ou for igual a 0.
        |valorTotalItensNacionais|   Valor total (em US$) de itens nacionais a devolver|decimal|body|   Obrigatório quando valorTotalItensImportados não for informado ou for igual a 0.
        |produtosControleQuantitativo|Representa a quantidade de produtos controlados a devolver|produtos|body|Formato segue os parâmetros do processa venda de viajante
        |codigoProduto|Código do produto|integer|body|Obrigatório quando é registrada uma venda com produtos controlados. 
        |quantidade|Quantidade de produtos controlados presente na Venda|integer|bodyObrigatório quando é registrada uma venda com produtos controlados
        |valorTotal|Valor total destes produtos na Venda|decimal|body|Obrigatório quando é registrada uma venda com produtos controlados.
        |venda|Representa a Venda a ser devolvida|venda|body|Obrigatorio
        |id|Identificação do número da venda gerado pelo sistema Loja Franca de Fronteira|string|body|obrigatorio
        |notaFiscalEntrada|Número da Nota Fiscal de entrada gerado pelo sistema gerador de nota fiscal|string|body|Obrigatório
        <br>
        ### Atributos de resposta - Status code 200 - Ok
        |Nome|Descrição|Tipo|Detalhes
        |----|---------|----|--------
        |dataHoraDevolucaoParcial|Data e hora da devolução|string|formato yyyy-MM-ddTHH:mm:ss
        <br>
        ### Exemplo de entrada - Devolução parcial de venda sem produtos controlados
            { 
              "servico": "venda/devolucaoParcial",
              "dados": {
                "valorTotalItensImportados": 9.95,
                "valorTotalItensNacionais": 0,
                "venda": {
                  "id": "2017000000020992652",
                  "numeroNotaFiscalEntrada": "42100484684182000157550010000000020108042108"  
                }
              }
            }
        ### Exemplo de entrada - Devolução parcial de venda com produtos controlados
            { 
              "servico": "venda/devolucaoParcial",
              "dados": {
                "valorTotalItensImportados": 5.65,
                "valorTotalItensNacionais": 0,
                "produtosControleQuantitativo": [{
                  "codigoProduto": 10,
                  "quantidade": 1,
                  "valorTotal": 2.65
                }],
                "venda": {
                  "id": "2017000000020992652",
                  "numeroNotaFiscalEntrada": "42100484684182000157550010000000020108042108"
                }
              }                    
            }                 
        ### Exemplo de entrada de devolução parcial de venda com produtos controlados criptografado em base64
            Body/Payload
            
            eyAKICAic2VydmljbyI6ICJ2ZW5kYS9kZXZvbHVjYW9QYXJjaWFsIiwKICAiZGFkb3MiOiB7CiAgICAidmFsb3JUb3RhbEl0ZW5zSW1wb3J0YWRvcyI6IDUuNjUsCiAgICAidmFsb3JUb3RhbEl0ZW5zTmFjaW9uYWlzIjogMCwKICAgICJwcm9kdXRvc0NvbnRyb2xlUXVhbnRpdGF0aXZvIjogW3sKICAgICAgImNvZGlnb1Byb2R1dG8iOiAxMCwKICAgICAgInF1YW50aWRhZGUiOiAxLAogICAgICAidmFsb3JUb3RhbCI6IDIuNjUKICAgIH1dLAogICAgInZlbmRhIjogewogICAgICAiaWQiOiAiMjAxNzAwMDAwMDAyMDk5MjY1MiIsCiAgICAgICJudW1lcm9Ob3RhRmlzY2FsRW50cmFkYSI6ICI0MjEwMDQ4NDY4NDE4MjAwMDE1NzU1MDAxMDAwMDAwMDAyMDEwODA0MjEwOCIKICAgIH0KICB9ICAgICAgICAgICAgICAgICAgIAp9
        ### Exemplo de resposta da devolução parcial de venda
            {
              "dataHoraDevolucaoParcial": "2017-12-11T17:27:41"
            }
        <br>
        ### Códigos de erros possíveis
            31, 32, 33, 34, 39, 40, 41, 42, 43, 44, 45, 46, 54, 58, 60, 61, 62, 63
        ----------------------------------------------------------------------------
        <br>  
        ## Devolução total de venda ##
        Efetua uma operação de devolução total de venda.
        <br>
        ### Serviço
        venda/devolucao?idVenda=2017000000020992652&notaFiscalEntrada=42100484684182000157550010000000020108042108
        <br>
        ### Parâmetros de entrada para devolução total de venda
        |Nome|Descrição|Tipo|Local|Detalhes
        |----|---------|----|--------|------
        |id|Identificação do número da venda gerado pelo sistema Loja Franca de Fronteira|string|query|obrigatorio
        |notaFiscalEntrada|Número da Nota Fiscal de entrada gerado pelo sistema gerador de nota fiscal|string|query|Obrigatório
        <br>
        ### Atributos de resposta - Status code 200 - Ok
        |Nome|Descrição|Tipo|Detalhes
        |----|---------|----|--------
        |dataHoraDevolucaoTotal|Data e hora da devolução|string|formato yyyy-MM-ddTHH:mm:ss
        <br><br>
        Obs.: Não tem parâmetros JSON de entrada, apenas por query. 
        ### Exemplo de entrada - Devolução total de venda 
            { 
              "servico": "venda/devolucao?idVenda=2017000000020992652&notaFiscalEntrada=42100484684182000157550010000000020108042108"
            }
        ### Exemplo de entrada devolução total de venda criptografados em base64
            Body/Payload
            
            eyAKICAic2VydmljbyI6ICJ2ZW5kYS9kZXZvbHVjYW8/aWRWZW5kYT0yMDE3MDAwMDAwMDIwOTkyNjUyJm5vdGFGaXNjYWxFbnRyYWRhPTQyMTAwNDg0Njg0MTgyMDAwMTU3NTUwMDEwMDAwMDAwMDIwMTA4MDQyMTA4Igp9
                             

        ### Exemplo de resposta da devolução total de venda
            {
              "dataHoraDevolucaoTotal": "2017-12-01T16:32:17"
            }
        <br>
        ### Códigos de erros possíveis
            31, 32, 33, 34, 39, 40, 41, 54, 58
        ----------------------------------------------------------------------------
        <br> 
        ## Troca item idêntico de venda ##
        Efetua uma operação de troca de item idêntico de venda.
        <br>
        ### Serviço
        venda/trocaItemIdentico
        <br>
        ### Parâmetros de entrada para troca de item idêntico de venda
        |Nome|Descrição|Tipo|Local|Detalhes
        |----|---------|----|--------|------
        |valorTotalItensImportados|Valor total (em US$) de itens importados a devolver|decimal|body|Obrigatório quando valorTotalItensNacionais não for informado ou for igual a 0.
        |valorTotalItensNacionais|   Valor total (em US$) de itens nacionais a devolver|decimal|body|   Obrigatório quando valorTotalItensImportados não for informado ou for igual a 0.
        |produtosControleQuantitativo|Representa a quantidade de produtos controlados a devolver|produtos|body|Formato segue os parâmetros do processa venda de viajante
        |codigoProduto|Código do produto|integer|body|Obrigatório quando é registrada uma venda com produtos controlados. 
        |quantidade|Quantidade de produtos controlados presente na Venda|integer|bodyObrigatório quando é registrada uma venda com produtos controlados
        |valorTotal|Valor total destes produtos na Venda|decimal|body|Obrigatório quando é registrada uma venda com produtos controlados.
        |venda|Representa a Venda a ser devolvida|venda|body|Obrigatorio
        |id|Identificação do número da venda gerado pelo sistema Loja Franca de Fronteira|string|body|obrigatorio
        |notaFiscalEntrada|Número da Nota Fiscal de entrada gerado pelo sistema gerador de nota fiscal|string|body|Obrigatório
        <br>
        ### Atributos de resposta - Status code 200 - Ok
        |Nome|Descrição|Tipo|Detalhes
        |----|---------|----|--------
        |dataHoraTrocaItemIdentico|Data e hora da troca|string|formato yyyy-MM-ddTHH:mm:ss
        <br>
        ### Exemplo de entrada - Troca item idêntico de venda sem produtos controlados
            { 
              "servico": "venda/trocaItemIdentico",
              "dados": {
                "valorTotalItensImportados": 10,
                "valorTotalItensNacionais": 0,
                "venda": {
                  "id": "2017000000020992652",
                  "numeroNotaFiscalEntrada": "42100484684182000157550010000000020108042108",
                  "numeroNotaFiscalSaida": "35160400073132000143550012017000006572827920"
                }
              }
            }
        ### Exemplo de entrada - Troca item idêntico de venda com produtos controlados
            { 
              "servico": "venda/trocaItemIdentico",
              "dados": {
                "valorTotalItensImportados": 10,
                "valorTotalItensNacionais": 0,
                "produtosControleQuantitativo": [{
                  "codigoProduto": 10,
                  "quantidade": 2,
                  "valorTotal": 5.3
                }],
                "venda": {
                  "id": "2017000000020992652",
                  "numeroNotaFiscalEntrada": "42100484684182000157550010000000020108042108",
                  "numeroNotaFiscalSaida": "35160400073132000143550012017000006572827920"
                }
              }                    
            }   
        ### Exemplo de entrada de troca de item idêntico de venda sem produtos controlados criptografado em base64
            Body/Payload
            
            eyAKICAgInNlcnZpY28iOiAidmVuZGEvdHJvY2FJdGVtSWRlbnRpY28iLAogICAiZGFkb3MiOiB7CiAgICAgICAgICJ2YWxvclRvdGFsSXRlbnNJbXBvcnRhZG9zIjogMTAsCiAgICAgICAgICJ2YWxvclRvdGFsSXRlbnNOYWNpb25haXMiOiAwLAogICAgICAgICAidmVuZGEiOiB7CiAgICAgICAgICAgICAgICJpZCI6ICIyMDE3MDAwMDAwMDIwOTkyNjUyIiwKICAgICAgICAgICAgICAgIm51bWVyb05vdGFGaXNjYWxFbnRyYWRhIjogIjQyMTAwNDg0Njg0MTgyMDAwMTU3NTUwMDEwMDAwMDAwMDIwMTA4MDQyMTA4IiwKICAgICAgICAgICAgICAgIm51bWVyb05vdGFGaXNjYWxTYWlkYSI6ICIzNTE2MDQwMDA3MzEzMjAwMDE0MzU1MDAxMjAxNzAwMDAwNjU3MjgyNzkyMCIKICAgICAgICAgfQogICAgfQp9
        ### Exemplo de resposta da troca de itens idêntico de venda
            {
              "dataHoraTrocaItemIdentico": "2017-12-11T17:27:41"
            }
        <br>
        ### Códigos de erros possíveis
            28, 30, 31, 32, 33, 34, 35, 36, 37, 39, 40, 41, 42, 43, 44, 45, 46, 54, 58, 60, 61, 62, 63
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/EntradaCota'
            example: Informe o Payload em base 64 de acordo com o método desejado.
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SaidaCota'
        '422':
          description: |-
            <strong>Códigos dos erros de negócio:</strong>
            13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 52, 54, 55, 56, 57, 58, 99, -99
components:
  schemas:
    EntradaCota: 
      type: string
      properties:
        payload:
          type: string
          description: payload em base 64
    SaidaCota:
      type: string 
      example: 'Json de saída referente ao método consultado.'
  securitySchemes:
    APIKEY:
      type: apiKey
      name: x-jwt-assertion
      in: header
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: 'https://apigateway.serpro.gov.br/token'
    Authorization:
      type: http
      description: Autenticação para ambiente trial
      scheme: bearer
