openapi: 3.0.2
info:
  title: Loja Franca
  version: v1
  description: |- 
    O serviço &nbsp; *Integra Loja Franca* &nbsp; é disponibilizado através do &nbsp; *HTTP REST* &nbsp; oferencendo operações para o processo de vendas das Lojas Francas de Fronteira.
    ### Métodos da API Loja Franca    
    | Tipo | Nome | Descrição |
    | -----|:-----|:----------|
    | Post | Consulta de Cota | Retorna a cota disponível para um determinado viajante. |
    | Post | Consulta de Viajante | Retorna o nome, data de nascimento e a data da última venda de um viajante. |
    | Post | Consulta Cotação do Dólar | Retorna a cotação do dólar de uma determinada data. |
    | Post | Processa Venda de Viajante | Efetua uma operação de processamento de venda. |
    | Post | Entrega Venda para Viajante | Efetua uma operação de entrega de venda. |
    | Post | Cancela Venda de Viajante | Efetua uma operação de cancelamento de venda. | 
    | Post | Devolução Parcial de Venda | Efetua uma operação de devolução parcial de venda. |
    | Post | Devolução Total de Venda | Efetua uma operação de devolução total de venda. |
    | Post | Troca Item Idêntico de Venda | Efetua uma operação de troca de item idêntico de venda. |
    ### Códigos de Retorno não Bilhetados 
    | Código de retorno | Resumido | Descrição |
    | ------------- |:--------------------|:-----------------------------------------------------------------------------|
    | 400           | Requisição inválida | O parâmetro de entrada informado não é válido. |
    | 404           | Not found           | O parâmetro de entrada informado não foi encontrado.
    | 500           | Erro no servidor    | Ocorreu algum erro interno.      |     
    ### Solicitando assinatura com Carimbo de Tempo
      Caso deseje que sua solicitação venha com uma assinatura de Carimbo de Tempo, basta incluir, no cabeçalho de sua requisição, a informação: &nbsp; *x-signature:1*. &nbsp; A assinatura será retornada no cabeçalho da resposta, com o nome: &nbsp; *stamp* .
    ### Verificando assinatura com Carimbo de Tempo
      Para verificar assinatura de carimbo de tempo, siga as instruções da documentação abaixo:     
    [Documentação - Verificação de Carimbo de Tempo](https://rawgit.com/devserpro/apis/master/_layouts/swagger-ui-master/dist/index.html?bearer=4e1a1858bdd584fdc077fb7d80f39283&url=https://rawgit.com/devserpro/apis/master/_layouts/swaggers/carimbo-tempo/swagger-timestampcheck-trial-bsa.json#!/default/post_check)
servers:
  - url: 'https://apigateway.serpro.gov.br/api-loja-franca-trial/api'
    description: Trial
  - url: 'https://apigateway.serpro.gov.br/api-loja-franca/api'
    description: Produção
security:
  - APIKEY: []
    OAuth2: []
    Authorization: []   
externalDocs:
  description: "Detalhamento da API Loja Franca de Fronteiras"
  url: https://github.com/devserpro/apis/raw/master/portal-desenvolvedor/apis/documentos/Informacoes-LojaFranca.pdf
paths:
  /:
    post:
      tags:
      - 5 Métodos da API
      summary: Realiza as operações da API
      description: "<br>\n## Consulta de Cota ##\nRetorna a cota disponível para um\
        \ determinado viajante. Para viajante brasileiro é obrigatória a identificaç\
        ão pelo número de documento CPF. \n<br>\n### Serviço\nviajante/cota\n<br>\n\
        ### Parâmetros de entrada para viajante (brasileiro ou estrangeiro) com CPF\n\
        |Nome|Descrição|Tipo|Local|Detalhes\n|----|---------|----|-----|--------\n\
        |cpf|CPF do Viajante|string|body|Obrigatório\n|dataNascimento|Data de nascimento\
        \ do Viajante|string|body|Obrigatório\n<br>\n### Parâmetros de entrada para\
        \ vajante estrangeiro \n|Nome|Descrição|Tipo|Local|Detalhes\n|----|---------|----|-----|--------\n\
        |documento|Documento apresentado pelo viajante|documento|body|Obrigatório\n\
        |codigoPaisOrigem|Código do pais de origem do Viajante|integer|body|Obrigató\
        rio. Ver tabela de países\n|codigoTipo|Código do tipo do documento do Viajante|integer|body|Obrigató\
        rio. Ver tabela de tipos de documentos\n|numero|Número do documento do Viajante|string|body|Obrigató\
        rio\n|dataNascimento|Data de nascimento do Viajante|stringr|body|Obrigató\
        rio\n|nomeNoDocumento|Nome do Viajante no documento apresentado|string|body|Obrigató\
        rio\n<br>\n### Atributos de resposta - Status code 200 - Ok\n|Nome|Descriç\
        ão|Tipo|Detalhes\n|----|---------|----|--------\n|nomeViajante|Nome do viajante\
        \ cadastrado no Loja Franca|string|\n|dataUltimaVenda|Data da última venda|string|yyyy-MM-ddTHH:mm:ss\n\
        |valorSaldoCota|Valor restante do saldo de cota|decimal|\n|saldoCotaProduto|Saldo\
        \ de cota de cada produto|saldoCotaProduto|\n|codigoProduto|Código do produto|integer|Ver\
        \ tabela de produtos\n|quantidade|Quantidade de produtos restantes na cota|integer|\
        \  \n<br>\n### Exemplo de entrada - Viajante brasileiro ou estrangeiro com\
        \ CPF\n    {\n      \"servico\": \"viajante/cota\",\n      \"dados\": {\n\
        \        \"cpf\": \"00000000191\",\n        \"dataNascimento\": \"1980-01-01\"\
        \n      }\n    }\n### Viajante brasileiro ou estrangeiro com CPF criptografado\
        \ em base64\n    Body/Payload\n\n    ewogICJzZXJ2aWNvIjogInZpYWphbnRlL2NvdGEiLAogICJkYWRvcyI6IHsKICAgICJjcGYiOiAiMDAwMDAwMDAxOTEiLAogICAgImRhdGFOYXNjaW1lbnRvIjogIjE5ODAtMDEtMDEiCiAgfQp9\n\
        ### Exemplo de entrada - Viajante estrangeiro\n    {\n      \"servico\": \"\
        viajante/cota\",\n      \"dados\": {\n        \"documento\": {\n         \
        \ \"codigoPaisOrigem\": 1,\n          \"codigoTipo\": 1,\n          \"numero\"\
        : \"12345\",\n          \"dataNascimento\": \"1980-01-01\",\n          \"\
        nomeNoDocumento\": \"FULANO DE TAL\"\n        }\n      }\n    }\n### Exemplo\
        \ de resposta\n    {\n      \"nomeViajante\": \"FULANO DE TAL\",\n      \"\
        dataUltimaVenda\": \"2017-12-08T17:13:55\",\n      \"valorSaldoCota\": 300.0,\n\
        \      \"saldoCotaProduto\": [\n        {\n          \"codigoProduto\": 1,\n\
        \          \"quantidade\": 10\n        }\n      ]\n    }\n<br>\n### Código\
        \ de erros possíveis\n    13, 14, 15, 16, 52, 55, 57, 99, -99\n----------------------------------------------------------------------------\n\
        <br>  \n## Consulta de Viajante ##\nRetorna o nome, data de nascimento e a\
        \ data da última venda de um determinado viajante.\n<br>\n### Serviço\nviajante/consulta\n\
        <br>\n### Parâmetros de entrada para viajante (brasileiro ou estrangeiro)\
        \ com CPF\n|Nome|Descrição|Tipo|Local|Detalhes\n|----|---------|----|-----|--------\n\
        |cpf|CPF do Viajante|string|body|Obrigatório\n<br>\n### Parâmetros de entrada\
        \ para vajante estrangeiro \n|Nome|Descrição|Tipo|Local|Detalhes\n|----|---------|----|-----|--------\n\
        |documento|Documento apresentado pelo viajante|documento|body|Obrigatório\n\
        |codigoPaisOrigem|Código do pais de origem do Viajante|integer|body|Obrigató\
        rio. Ver tabela de países\n|codigoTipo|Código do tipo do documento do Viajante|integer|body|Obrigató\
        rio. Ver tabela de tipos de documentos\n|numero|Número do documento do Viajante|string|body|Obrigató\
        rio\n<br>\n### Atributos de resposta - Status code 200 - Ok\n|Nome|Descriç\
        ão|Tipo|Detalhes\n|----|---------|----|--------\n|nomeViajante|Nome do viajante\
        \ cadastrado no Loja Franca|string|\n|dataNascimento|Data de nascimento do\
        \ viajante|string|yyyy-MM-ddTHH\n|dataUltimaVenda|Data da última venda|string|yyyy-MM-ddTHH:mm:ss\
        \  \n<br>\n### Exemplo de entrada - Viajante brasileiro ou estrangeiro com\
        \ CPF\n    { \n      \"servico\": \"viajante/consulta\",\n      \"dados\"\
        : {\n        \"cpf\": \"00000000191\"  \n      }\n    }\n### Viajante brasileiro\
        \ ou estrangeiro com CPF criptografado em base64\n    Body/Payload\n  \n \
        \   eyAKICAic2VydmljbyI6ICJ2aWFqYW50ZS9jb25zdWx0YSIsCiAgImRhZG9zIjogewogICAgImNwZiI6ICIwMDAwMDAwMDE5MSIgCiAgfQp9\n\
        ### Exemplo de entrada - Viajante estrangeiro\n    {\n      \"servico\": \"\
        viajante/consulta\",\n      \"dados\": {\n        \"documento\": {\n     \
        \     \"codigoPaisOrigem\": 1,\n          \"codigoTipo\": 1,\n        } \"\
        numero\": \"12345\"\n      }\n    }\n### Exemplo de resposta\n    {\n    \
        \  \"nomeViajante\": \"FULANO DE TAL\",\n      \"dataUltimaVenda\": \"2017-12-08T17:13:55.765Z\"\
        ,\n      \"dataNascimento\": \"1970-01-01\"\n    }\n<br>\n### Códigos de erros\
        \ possíveis\n    15, 16, 55, 57 , 99 \n----------------------------------------------------------------------------\
        \ \n<br>\n## Consulta cotação do dólar ##\nRetorna a cotação do dolar de uma\
        \ determinada data.\n<br>\n### Serviço\n/cotacaoDolar?dataCotacao=2017-12-01\n\
        <br>\n### Parâmetros de entrada para viajante (brasileiro ou estrangeiro)\
        \ com CPF\n|Nome|Descrição|Tipo|Local|Detalhes\n|----|---------|----|-----|--------\n\
        |dataCotacao|Data da cotação a pesquisar|string|query|Obrigatório - formato\
        \ yyyy-MM-dd\n<br>\n### Atributos de resposta - Status code 200 - Ok\n|Nome|Descriç\
        ão|Tipo|Detalhes\n|----|---------|----|--------\n|data|Data da cotação retornada|string|yyyy-MM-dd\n\
        |valorOficial|Valor da cotação do dólar na data retornada|decimal|  \n<br><br>\n\
        ### Exemplo de entrada - Consulta cotação do dolar\n    {\n      \"servico\"\
        : \"cotacaoDolar?dataCotacao=2017-12-01\"\n    }\n### Cotação do dólar criptografado\
        \ em base64\n    Body/Payload\n  \n    ewogICJzZXJ2aWNvIjogImNvdGFjYW9Eb2xhcj9kYXRhQ290YWNhbz0yMDE3LTEyLTAxIgp9\n\
        ### Exemplo de resposta\n    {\n      \"data\": \"2017-12-01\",\n      \"\
        valorOficial\": 3.1241\n    }\n<br>\n### Códigos de erros possíveis\n    56\
        \ \n----------------------------------------------------------------------------\n\
        <br>  \n## Processa venda de viajante ##\nEfetua uma operação de processamento\
        \ de venda. Para viajante brasileiro, a identificação pelo número de documento\
        \ de CPF é sempre obrigatória. A identificação por documento é sempre obrigató\
        ria idependentemente se o viajante for brasileiro ou estrangeiro.\n<br>\n\
        ### Serviço\nvenda\n<br>\n### Parâmetros de entrada para viajante (brasileiro\
        \ ou estrangeiro) com CPF\n|Nome|Descrição|Tipo|Local|Detalhes\n|----|---------|----|-----|--------\n\
        |valorTotalItensImportados|Valor total (em US$) de itens importados na Venda\
        \ para o Viajante|decimal|body|Obrigatório quando valorTotalItensNacionais\
        \ não for informado ou for igual a 0\n|valorTotalItensNacionais|Valor total\
        \ (em US$) de itens nacionais na Venda para o Viajante|decimal|body|Obrigató\
        rio quando valorTotalItensImportados não for informado ou for igual a 0\n\
        |valorCotacaoLoja|Valor da cotação do dólar oferecido pela loja franca|decimal|body|Obrigató\
        rio\n|viajanteParametro|Identificação do viajante|viajante|body|Obrigatório.\
        \ Formato segue os parametros da Consulta de viajante. Documento é obrigató\
        rio para brasileiros na venda. Atributos: codigoPais, codigoTipo, numero\n\
        |produtosControleQuantitativo|Representa a quantidade de produtos controlados\
        \ presentes na Venda do Viajante|produtos|body|Obrigatório quando é registrada\
        \ uma venda com produtos controlados\n|codigoProduto|Código do produto|integer|body|\
        \ Obrigatório quando é registrada uma venda com produtos controlados\n|quantidade|Quantidade\
        \ de produtos controlados na venda|integer|body|Obrigatorio quando é registrada\
        \ uma venda com produtos controlados\n|valorTotal|Valor total destes produtos\
        \ na venda|decimal|body|Obrigatório quando é registrada uma venda com produtos\
        \ controlados\n<br>\n### Atributos de resposta - Status code 200 - Ok\n|Nome|Descriç\
        ão|Tipo|Detalhes\n|----|---------|----|--------\n|idVenda|Identificação do\
        \ número da venda gerado pelo sistema Loja Franca de Fronteira|string||\n\
        |dataHoraVenda|Data do registro de venda|string|formato yyyy-MM-ddTHH:mm:ss\n\
        |darf|Dar gerado para pagamento do viajante caso a venda exceda a cota|darf|\n\
        |numero|Número do Darf gerado|number|\n|valor|Valor do Darf a ser pago pelo\
        \ viajante|decimal|\n|dataVencimento|Data de vencimento do Darf|string|formato\
        \ yyyy-MM-dd\n|codigoReceita|Código da receita recolhida|integer|\n|pdf|PDF\
        \ do boleto do Darf gerado|byte|String encoded em base-64\n<br>\n### Exemplo\
        \ de entrada - Venda para viajante brasileiro sem produtos controlados\n \
        \   { \n      \"servico\": \"venda\",\n      \"dados\": {\n        \"valorTotalItensImportados\"\
        : 10,\n        \"valorTotalItensNacionais\": 0,\n        \"valorCotacaoLoja\"\
        : 3.24,\n        \"viajanteParametro\": {\n          \"cpf\": \"00000000191\"\
        ,\n          \"documento\": {\n            \"codigoPaisOrigem\": 105,\n  \
        \          \"codigoTipo\": 1,\n            \"numero\": \"12345\"\n       \
        \   }\n        }  \n      }\n    }\n### Exemplo de entrada - Venda para viajante\
        \ estrangeiro sem produtos controlados e sem DARF\n    {\n      \"servico\"\
        : \"venda\",\n      \"dados\": {\n       \"valorTotalItensImportados\": 10,\n\
        \       \"valorTotalItensNacionais\": 50,\n       \"valorCotacaoLoja\": 3.24,\n\
        \       \"viajanteParametro\": {\n          \"documento\": {\n           \
        \  \"codigoPaisOrigem\": 1,\n             \"codigoTipo\": 1,\n           \
        \  \"numero\": \"12345\",\n             \"dataNascimento\": \"1980-01-01\"\
        ,\n             \"nomeNoDocumento\": \"FULANO DE TAL\"\n          }\n    \
        \    }\n      }\n    }\n  \n### Exemplo de entrada - Venda para viajante brasileiro\
        \ com produtos controlados e com DARF\n    { \n      \"servico\": \"venda\"\
        ,\n      \"dados\": {\n        \"valorTotalItensImportados\": 10,\n      \
        \  \"valorTotalItensNacionais\": 0,\n        \"valorCotacaoLoja\": 3.24,\n\
        \        \"viajanteParametro\": {\n          \"cpf\": \"00000000191\",\n \
        \         \"documento\": {\n            \"codigoPaisOrigem\": 105,\n     \
        \       \"codigoTipo\": 1,\n            \"numero\": \"12345\"\n          }\n\
        \        },\n        \"produtosControleQuantitativo\": [{\n          \"codigoProduto\"\
        : 10,\n          \"quantidade\": 2,\n          \"valorTotal\": 5.3\n     \
        \   },{\n          \"codigoProduto\": 1,\n          \"quantidade\": 1,\n \
        \         \"valorTotal\": 4.7\n        }]\n      }\n    }            \n###\
        \ Exemplo de entrada - Venda viajante com produtos controlados com DARF criptografado\
        \ em base64\n    Body/Payload\n    \n    ICAgICAgICAgICAgeyAKICAgICAgICAgICAgICAic2VydmljbyI6ICJ2ZW5kYSIsCiAgICAgICAgICAgICAgImRhZG9zIjogewogICAgICAgICAgICAgICAgInZhbG9yVG90YWxJdGVuc0ltcG9ydGFkb3MiOiAxMCwKICAgICAgICAgICAgICAgICJ2YWxvclRvdGFsSXRlbnNOYWNpb25haXMiOiAwLAogICAgICAgICAgICAgICAgInZhbG9yQ290YWNhb0xvamEiOiAzLjI0LAogICAgICAgICAgICAgICAgInZpYWphbnRlUGFyYW1ldHJvIjogewogICAgICAgICAgICAgICAgICAiY3BmIjogIjAwMDAwMDAwMTkxIiwKICAgICAgICAgICAgICAgICAgImRvY3VtZW50byI6IHsKICAgICAgICAgICAgICAgICAgICAiY29kaWdvUGFpc09yaWdlbSI6IDEwNSwKICAgICAgICAgICAgICAgICAgICAiY29kaWdvVGlwbyI6IDEsCiAgICAgICAgICAgICAgICAgICAgIm51bWVybyI6ICIxMjM0NSIKICAgICAgICAgICAgICAgICAgfQogICAgICAgICAgICAgICAgfSwKICAgICAgICAgICAgICAgICJwcm9kdXRvc0NvbnRyb2xlUXVhbnRpdGF0aXZvIjogW3sKICAgICAgICAgICAgICAgICAgImNvZGlnb1Byb2R1dG8iOiAxMCwKICAgICAgICAgICAgICAgICAgInF1YW50aWRhZGUiOiAyLAogICAgICAgICAgICAgICAgICAidmFsb3JUb3RhbCI6IDUuMwogICAgICAgICAgICAgICAgfSx7CiAgICAgICAgICAgICAgICAgICJjb2RpZ29Qcm9kdXRvIjogMSwKICAgICAgICAgICAgICAgICAgInF1YW50aWRhZGUiOiAxLAogICAgICAgICAgICAgICAgICAidmFsb3JUb3RhbCI6IDQuNwogICAgICAgICAgICAgICAgfV0KICAgICAgICAgICAgICB9CiAgICAgICAgICAgIH0g\n\
        ### Exemplo de entrada - Venda viajante com produtos controlados sem DARF\
        \ criptografado em base64\n    Body/Payload\n    \n    ewogICAic2VydmljbyI6ICJ2ZW5kYSIsCiAgICJkYWRvcyI6IHsKICAgICAgICAgInZhbG9yVG90YWxJdGVuc0ltcG9ydGFkb3MiOiAxMCwKICAgICAgICAgInZhbG9yVG90YWxJdGVuc05hY2lvbmFpcyI6IDUwLAogICAgICAgICAidmFsb3JDb3RhY2FvTG9qYSI6IDMuMjQsCiAgICAgICAgICJ2aWFqYW50ZVBhcmFtZXRybyI6IHsKICAgICAgICAgICAgICAiZG9jdW1lbnRvIjogewogICAgICAgICAgICAgICAgICAgImNvZGlnb1BhaXNPcmlnZW0iOiAxLAogICAgICAgICAgICAgICAgICAgImNvZGlnb1RpcG8iOiAxLAogICAgICAgICAgICAgICAgICAgIm51bWVybyI6ICIxMjM0NSIsCiAgICAgICAgICAgICAgICAgICAiZGF0YU5hc2NpbWVudG8iOiAiMTk4MC0wMS0wMSIsCiAgICAgICAgICAgICAgICAgICAibm9tZU5vRG9jdW1lbnRvIjogIkZVTEFOTyBERSBUQUwiCiAgICAgICAgICAgICAgfQogICAgICAgICAgfQogICAgIH0KfQ==\
        \  \n### Exemplo de resposta de venda sem DARF\n    {\n      \"idVenda\":\
        \ \"2017000000020992652\",\n      \"dataHoraVenda\": \"2017-12-11T17:27:41\"\
        \n    }\n<br>\n### Exemplo de resposta de venda com DARF\n    {\n      \"\
        idVenda\": \"2017000000020992653\",\n      \"dataHoraVenda\": \"2017-12-11T17:27:41\"\
        ,\n      \"darf\": {\n        \"valor\": 31.24,\n        \"codigoReceita\"\
        : 1258,\n        \"numero\": 7011734500514907,\n        \"dataVencimento\"\
        : \"2017-12-12\",\n        \"pdf\": \"Base64EncodedString\"\n      }\n   \
        \ }\n  ### Códigos de erros possíveis\n    13, 14, 15, 17, 18, 19, 20, 21,\
        \ 22, 23, 24, 25, 26, 27, 28, 29, 55, 56, 57\n----------------------------------------------------------------------------\n\
        <br>  \n## Entrega venda para viajante ##\nEfetua a operação de entrega de\
        \ venda.\n<br>\n### Serviço\nvenda/entrega?idVenda=2017000000020992652&notaFiscalSaida=35160400073132000143550012017000006572827920\n\
        <br>\n### Parâmetros de entrega venda para viajante\n|Nome|Descrição|Tipo|Local|Detalhes\n\
        |----|---------|----|-----|--------\n|idVenda|Identificação do número da venda\
        \ gerado pelo sistema Loja Franca de Fronteira na operação processa venda\
        \ viajante|string|query|Obrigatório\n|notaFiscalSaida|Número da Nota Fiscal\
        \ de saída gerado pelo sistema gerador de nota fiscal|string|query|Obrigató\
        rio\n<br>\n### Atributos de resposta - Status code 200 - Ok\n|Nome|Descriç\
        ão|Tipo|Detalhes\n|----|---------|----|--------\n|dataHoraEntrega|Data e hora\
        \ da entrega da venda para o Viajante |sting|formato yyyy-MM-ddTHH:mm:ss\n\
        <br><br>\nObs.: Não tem parâmetros JSON de entrada, apenas por query. \n###\
        \ Exemplo de entrada - Entrega venda para viajante\n    { \n      \"servico\"\
        : \"venda/entrega?idVenda=2017000000020992652&notaFiscalSaida=35160400073132000143550012017000006572827920\"\
        \n    }  \n### Exemplo de entrada de entrega de venda criptografado em base64\n\
        \    Body/Payload\n    \n    eyAKICAic2VydmljbyI6ICJ2ZW5kYS9lbnRyZWdhP2lkVmVuZGE9MjAxNzAwMDAwMDAyMDk5MjY1MiZub3RhRmlzY2FsU2FpZGE9MzUxNjA0MDAwNzMxMzIwMDAxNDM1NTAwMTIwMTcwMDAwMDY1NzI4Mjc5MjAiCn0g\n\
        ### Exemplo de resposta da entrega da venda\n    {\n      \"dataHoraEntrega\"\
        : \"2017-12-01T16:32:17\"\n    }\n<br>\n### Códigos de erros possíveis\n \
        \   31, 32, 33, 34, 39, 41, 54 \n----------------------------------------------------------------------------\n\
        <br>  \n## Cancela venda de viajante ##\nEfetua uma operação de cancelamento\
        \ de venda.\n<br>\n### Serviço\nvenda/cancelamento?idVenda=2017000000020992652\n\
        <br>\n### Parâmetros de entrega venda para viajante\n|Nome|Descrição|Tipo|Local|Detalhes\n\
        |----|---------|----|-----|--------\n|idVenda|Identificação do número da venda\
        \ gerado pelo sistema Loja Franca de Fronteira|string|query|Obrigatório\n\
        <br>\n### Atributos de resposta - Status code 200 - Ok\n|Nome|Descrição|Tipo|Detalhes\n\
        |----|---------|----|--------\n|dataHoraCancelamento|Data e hora do cancelamento\
        \ da venda do viajante |sting|formato yyyy-MM-ddTHH:mm:ss\n<br><br>\nObs.:\
        \ Não tem parâmetros JSON de entrada, apenas por query. \n### Exemplo de entrada\
        \ - Entrega venda para viajante\n    { \n      \"servico\": \"venda/cancelamento?idVenda=2017000000020992652\"\
        \n    }  \n### Exemplo de entrada de entrega de venda criptografado em base64\n\
        \    Body/Payload\n    \n    eyAKICAic2VydmljbyI6ICJ2ZW5kYS9jYW5jZWxhbWVudG8/aWRWZW5kYT0yMDE3MDAwMDAwMDIwOTkyNjUyIgp9IA==\n\
        ### Exemplo de resposta da entrega da venda\n    {\n      \"dataHoraCancelamento\"\
        : \"2017-12-01T16:32:17\"\n    }\n<br>\n### Códigos de erros possíveis\n \
        \   31, 38, 39, 54 \n----------------------------------------------------------------------------\n\
        <br>  \n## Devolução parcial de venda ##\nEfetua uma operação de devoluçã\
        o parcial de venda.\n<br>\n### Serviço\nvenda/devolucaoParcial\n<br>\n###\
        \ Parâmetros de entrada para devolução parcial de venda\n|Nome|Descrição|Tipo|Local|Detalhes\n\
        |----|---------|----|--------|------\n|valorTotalItensImportados|Valor total\
        \ (em US$) de itens importados a devolver|decimal|body|Obrigatório quando\
        \ valorTotalItensNacionais não for informado ou for igual a 0.\n|valorTotalItensNacionais|\
        \   Valor total (em US$) de itens nacionais a devolver|decimal|body|   Obrigató\
        rio quando valorTotalItensImportados não for informado ou for igual a 0.\n\
        |produtosControleQuantitativo|Representa a quantidade de produtos controlados\
        \ a devolver|produtos|body|Formato segue os parâmetros do processa venda de\
        \ viajante\n|codigoProduto|Código do produto|integer|body|Obrigatório quando\
        \ é registrada uma venda com produtos controlados. \n|quantidade|Quantidade\
        \ de produtos controlados presente na Venda|integer|bodyObrigatório quando\
        \ é registrada uma venda com produtos controlados\n|valorTotal|Valor total\
        \ destes produtos na Venda|decimal|body|Obrigatório quando é registrada uma\
        \ venda com produtos controlados.\n|venda|Representa a Venda a ser devolvida|venda|body|Obrigatorio\n\
        |id|Identificação do número da venda gerado pelo sistema Loja Franca de Fronteira|string|body|obrigatorio\n\
        |notaFiscalEntrada|Número da Nota Fiscal de entrada gerado pelo sistema gerador\
        \ de nota fiscal|string|body|Obrigatório\n<br>\n### Atributos de resposta\
        \ - Status code 200 - Ok\n|Nome|Descrição|Tipo|Detalhes\n|----|---------|----|--------\n\
        |dataHoraDevolucaoParcial|Data e hora da devolução|string|formato yyyy-MM-ddTHH:mm:ss\n\
        <br>\n### Exemplo de entrada - Devolução parcial de venda sem produtos controlados\n\
        \    { \n      \"servico\": \"venda/devolucaoParcial\",\n      \"dados\":\
        \ {\n        \"valorTotalItensImportados\": 9.95,\n        \"valorTotalItensNacionais\"\
        : 0,\n        \"venda\": {\n          \"id\": \"2017000000020992652\",\n \
        \         \"numeroNotaFiscalEntrada\": \"42100484684182000157550010000000020108042108\"\
        \  \n        }\n      }\n    }\n### Exemplo de entrada - Devolução parcial\
        \ de venda com produtos controlados\n    { \n      \"servico\": \"venda/devolucaoParcial\"\
        ,\n      \"dados\": {\n        \"valorTotalItensImportados\": 5.65,\n    \
        \    \"valorTotalItensNacionais\": 0,\n        \"produtosControleQuantitativo\"\
        : [{\n          \"codigoProduto\": 10,\n          \"quantidade\": 1,\n   \
        \       \"valorTotal\": 2.65\n        }],\n        \"venda\": {\n        \
        \  \"id\": \"2017000000020992652\",\n          \"numeroNotaFiscalEntrada\"\
        : \"42100484684182000157550010000000020108042108\"\n        }\n      }   \
        \                 \n    }                 \n### Exemplo de entrada de devoluç\
        ão parcial de venda com produtos controlados criptografado em base64\n   \
        \ Body/Payload\n    \n    eyAKICAic2VydmljbyI6ICJ2ZW5kYS9kZXZvbHVjYW9QYXJjaWFsIiwKICAiZGFkb3MiOiB7CiAgICAidmFsb3JUb3RhbEl0ZW5zSW1wb3J0YWRvcyI6IDUuNjUsCiAgICAidmFsb3JUb3RhbEl0ZW5zTmFjaW9uYWlzIjogMCwKICAgICJwcm9kdXRvc0NvbnRyb2xlUXVhbnRpdGF0aXZvIjogW3sKICAgICAgImNvZGlnb1Byb2R1dG8iOiAxMCwKICAgICAgInF1YW50aWRhZGUiOiAxLAogICAgICAidmFsb3JUb3RhbCI6IDIuNjUKICAgIH1dLAogICAgInZlbmRhIjogewogICAgICAiaWQiOiAiMjAxNzAwMDAwMDAyMDk5MjY1MiIsCiAgICAgICJudW1lcm9Ob3RhRmlzY2FsRW50cmFkYSI6ICI0MjEwMDQ4NDY4NDE4MjAwMDE1NzU1MDAxMDAwMDAwMDAyMDEwODA0MjEwOCIKICAgIH0KICB9ICAgICAgICAgICAgICAgICAgIAp9\n\
        ### Exemplo de resposta da devolução parcial de venda\n    {\n      \"dataHoraDevolucaoParcial\"\
        : \"2017-12-11T17:27:41\"\n    }\n<br>\n### Códigos de erros possíveis\n \
        \   31, 32, 33, 34, 39, 40, 41, 42, 43, 44, 45, 46, 54, 58, 60, 61, 62, 63\n\
        ----------------------------------------------------------------------------\n\
        <br>  \n## Devolução total de venda ##\nEfetua uma operação de devolução total\
        \ de venda.\n<br>\n### Serviço\nvenda/devolucao?idVenda=2017000000020992652&notaFiscalEntrada=42100484684182000157550010000000020108042108\n\
        <br>\n### Parâmetros de entrada para devolução total de venda\n|Nome|Descriç\
        ão|Tipo|Local|Detalhes\n|----|---------|----|--------|------\n|id|Identificaç\
        ão do número da venda gerado pelo sistema Loja Franca de Fronteira|string|query|obrigatorio\n\
        |notaFiscalEntrada|Número da Nota Fiscal de entrada gerado pelo sistema gerador\
        \ de nota fiscal|string|query|Obrigatório\n<br>\n### Atributos de resposta\
        \ - Status code 200 - Ok\n|Nome|Descrição|Tipo|Detalhes\n|----|---------|----|--------\n\
        |dataHoraDevolucaoTotal|Data e hora da devolução|string|formato yyyy-MM-ddTHH:mm:ss\n\
        <br><br>\nObs.: Não tem parâmetros JSON de entrada, apenas por query. \n###\
        \ Exemplo de entrada - Devolução total de venda \n    { \n      \"servico\"\
        : \"venda/devolucao?idVenda=2017000000020992652&notaFiscalEntrada=42100484684182000157550010000000020108042108\"\
        \n    }\n### Exemplo de entrada devolução total de venda criptografados em\
        \ base64\n    Body/Payload\n    \n    eyAKICAic2VydmljbyI6ICJ2ZW5kYS9kZXZvbHVjYW8/aWRWZW5kYT0yMDE3MDAwMDAwMDIwOTkyNjUyJm5vdGFGaXNjYWxFbnRyYWRhPTQyMTAwNDg0Njg0MTgyMDAwMTU3NTUwMDEwMDAwMDAwMDIwMTA4MDQyMTA4Igp9\n\
        \                     \n\n### Exemplo de resposta da devolução total de venda\n\
        \    {\n      \"dataHoraDevolucaoTotal\": \"2017-12-01T16:32:17\"\n    }\n\
        <br>\n### Códigos de erros possíveis\n    31, 32, 33, 34, 39, 40, 41, 54,\
        \ 58\n----------------------------------------------------------------------------\n\
        <br> \n## Troca item idêntico de venda ##\nEfetua uma operação de troca de\
        \ item idêntico de venda.\n<br>\n### Serviço\nvenda/trocaItemIdentico\n<br>\n\
        ### Parâmetros de entrada para troca de item idêntico de venda\n|Nome|Descriç\
        ão|Tipo|Local|Detalhes\n|----|---------|----|--------|------\n|valorTotalItensImportados|Valor\
        \ total (em US$) de itens importados a devolver|decimal|body|Obrigatório quando\
        \ valorTotalItensNacionais não for informado ou for igual a 0.\n|valorTotalItensNacionais|\
        \   Valor total (em US$) de itens nacionais a devolver|decimal|body|   Obrigató\
        rio quando valorTotalItensImportados não for informado ou for igual a 0.\n\
        |produtosControleQuantitativo|Representa a quantidade de produtos controlados\
        \ a devolver|produtos|body|Formato segue os parâmetros do processa venda de\
        \ viajante\n|codigoProduto|Código do produto|integer|body|Obrigatório quando\
        \ é registrada uma venda com produtos controlados. \n|quantidade|Quantidade\
        \ de produtos controlados presente na Venda|integer|bodyObrigatório quando\
        \ é registrada uma venda com produtos controlados\n|valorTotal|Valor total\
        \ destes produtos na Venda|decimal|body|Obrigatório quando é registrada uma\
        \ venda com produtos controlados.\n|venda|Representa a Venda a ser devolvida|venda|body|Obrigatorio\n\
        |id|Identificação do número da venda gerado pelo sistema Loja Franca de Fronteira|string|body|obrigatorio\n\
        |notaFiscalEntrada|Número da Nota Fiscal de entrada gerado pelo sistema gerador\
        \ de nota fiscal|string|body|Obrigatório\n<br>\n### Atributos de resposta\
        \ - Status code 200 - Ok\n|Nome|Descrição|Tipo|Detalhes\n|----|---------|----|--------\n\
        |dataHoraTrocaItemIdentico|Data e hora da troca|string|formato yyyy-MM-ddTHH:mm:ss\n\
        <br>\n### Exemplo de entrada - Troca item idêntico de venda sem produtos controlados\n\
        \    { \n      \"servico\": \"venda/trocaItemIdentico\",\n      \"dados\"\
        : {\n        \"valorTotalItensImportados\": 10,\n        \"valorTotalItensNacionais\"\
        : 0,\n        \"venda\": {\n          \"id\": \"2017000000020992652\",\n \
        \         \"numeroNotaFiscalEntrada\": \"42100484684182000157550010000000020108042108\"\
        ,\n          \"numeroNotaFiscalSaida\": \"35160400073132000143550012017000006572827920\"\
        \n        }\n      }\n    }\n### Exemplo de entrada - Troca item idêntico\
        \ de venda com produtos controlados\n    { \n      \"servico\": \"venda/trocaItemIdentico\"\
        ,\n      \"dados\": {\n        \"valorTotalItensImportados\": 10,\n      \
        \  \"valorTotalItensNacionais\": 0,\n        \"produtosControleQuantitativo\"\
        : [{\n          \"codigoProduto\": 10,\n          \"quantidade\": 2,\n   \
        \       \"valorTotal\": 5.3\n        }],\n        \"venda\": {\n         \
        \ \"id\": \"2017000000020992652\",\n          \"numeroNotaFiscalEntrada\"\
        : \"42100484684182000157550010000000020108042108\",\n          \"numeroNotaFiscalSaida\"\
        : \"35160400073132000143550012017000006572827920\"\n        }\n      }   \
        \                 \n    }   \n### Exemplo de entrada de troca de item idê\
        ntico de venda sem produtos controlados criptografado em base64\n    Body/Payload\n\
        \    \n    eyAKICAgInNlcnZpY28iOiAidmVuZGEvdHJvY2FJdGVtSWRlbnRpY28iLAogICAiZGFkb3MiOiB7CiAgICAgICAgICJ2YWxvclRvdGFsSXRlbnNJbXBvcnRhZG9zIjogMTAsCiAgICAgICAgICJ2YWxvclRvdGFsSXRlbnNOYWNpb25haXMiOiAwLAogICAgICAgICAidmVuZGEiOiB7CiAgICAgICAgICAgICAgICJpZCI6ICIyMDE3MDAwMDAwMDIwOTkyNjUyIiwKICAgICAgICAgICAgICAgIm51bWVyb05vdGFGaXNjYWxFbnRyYWRhIjogIjQyMTAwNDg0Njg0MTgyMDAwMTU3NTUwMDEwMDAwMDAwMDIwMTA4MDQyMTA4IiwKICAgICAgICAgICAgICAgIm51bWVyb05vdGFGaXNjYWxTYWlkYSI6ICIzNTE2MDQwMDA3MzEzMjAwMDE0MzU1MDAxMjAxNzAwMDAwNjU3MjgyNzkyMCIKICAgICAgICAgfQogICAgfQp9\n\
        ### Exemplo de resposta da troca de itens idêntico de venda\n    {\n     \
        \ \"dataHoraTrocaItemIdentico\": \"2017-12-11T17:27:41\"\n    }\n<br>\n###\
        \ Códigos de erros possíveis\n    28, 30, 31, 32, 33, 34, 35, 36, 37, 39,\
        \ 40, 41, 42, 43, 44, 45, 46, 54, 58, 60, 61, 62, 63"
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/EntradaCota'
        required: false
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SaidaCota'
        422:
          description: |-
            <strong>Códigos dos erros de negócio:</strong>
            13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 52, 54, 55, 56, 57, 58, 99, -99
          content: {}
      operationId: https://apigateway.serpro.gov.br/consulta-lojafranca/TESTE
components:
  schemas:
    EntradaCota:
      type: object
      example: Informe aqui o payload da transação
    SaidaCota:
      type: object
      properties:
        nomeViajante:
          type: string
          description: Nome do Viajante
          example: FULANO DE TAL
        dataUltimaVenda:
          type: string
          description: Data da última venda para o viajante
          example: 2017-12-08T17:13:55
        valorSaldoCota:
          type: number
          description: Saldo da cota do viajante
          example: 300.0
        saldoCotaProduto:
          type: array
          items:
            type: object
            properties:
              codigoProduto:
                type: integer
                example: 1
              quantidade:
                type: integer
                example: 15
  securitySchemes:
    APIKEY:
      type: apiKey
      name: x-jwt-assertion
      in: header
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: 'https://apigateway.serpro.gov.br/token'
    Authorization:
      type: http
      description: Autenticação para ambiente trial
      scheme: bearer
