openapi: 3.0.2
info: 
  title: 'Consulta Massiva CPF'
  version: 'api'
servers:
  - url: 'http://apigateway.serpro.gov.br/consulta-cpf-trial/api'
    description: Trial
  - url: 'http://apigateway.serpro.gov.br/consulta-cpf/api'
    description: Produção
security:
  - APIKEY: []
    OAuth2: []
    Authorization: []
paths:
  /v1/cpf/{ni}:
    get:
      summary: 'Consulta o CPF pelo Número de Inscrição'
      description: 'Retorna os dados do Cadastro de Pessoa Física (CPF)'
      parameters:
        - name: ni
          in: path
          description: 'Número de Inscrição do CPF'
          required: true
          schema:
            type: number      
        - name: x-signature
          in: header
          required: false
          description: 'Solicitação de assinatura de carimbo de tempo. Informe 1 para assinar, ou deixe em branco para não assinar.'
          schema:
            type: integer
      responses:
        '200':
          description: 'Retorna os dados da Pessoa Física'  
          headers:
            stamp:
              description: 'Carimbo de Tempo. Só aparecerá se o cabeçalho x-signature for igual a 1'
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CPF'
        '206':
          description: 'Partial content, as informações foram retornadas, mas não completamente. Algum campo não pôde ser retornado'
          headers:
            stamp:
              description: 'Carimbo de Tempo. Só aparecerá se o cabeçalho x-signature for igual a 1'
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CPF'          
        '400':
          description: O número de CPF informado não é válido.
        '404':
          description: Não existe CPF com o número de inscrição informado.
        '500':
          description: Erro interno do servidor                
components:
  schemas:
    CPF:
      type: object
      properties:
        ni:
          type: string
          example: '40442820135'
        nome:
          type: string
          example: 'Nome do CPF 404.428.201-35'
        situacao:
          type: object
          properties:
            codigo:
              type: string
              enum:
                - '0'
                - '2'
                - '3'
                - '4'
                - '5'
                - '8'
                - '9'
            descricao:
              type: string
              enum:
                - 'Regular'
                - 'Suspensa'
                - 'Titular Falecido'
                - 'Pendente de Regularização'
                - 'Cancelada por Multiplicidade'
                - 'Nula'
                - 'Cancelada de Ofício'
  securitySchemes:
    APIKEY:
      type: apiKey
      name: x-jwt-assertion
      in: header
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: 'https://apigateway.serpro.gov.br/token'
    Authorization:
      type: http
      description: Autenticação para ambiente trial
      scheme: bearer