openapi: 3.0.1
info:
  title: Integração SIAFI (api-siafi)
  version: 'v1 - v2'
  description: |-   

    Para informações de como se autenticar antes de consumir a API, por favor, consulte a documentação em [Autenticação](http://devserpro.github.io/apis/)    
    
    O serviço &nbsp; *Integração SIAFI* &nbsp; é disponibilizado através do &nbsp; *HTTP REST* &nbsp; oferencendo operações de lançamento ao SIAFI.
    ### Códigos de  Retorno não Tarifados 
    | Código de retorno | Resumido | Explicação |
    | ------|------|------|
    | 500 | Erro no Servidor | Ocorreu algum erro no servidor.| 
    ### Solicitando assinatura com Carimbo de Tempo
    Caso deseje que sua solicitação venha com uma assinatura de Carimbo de Tempo, basta incluir, no cabeçalho de sua requisição, a informação: &nbsp; *x-signature:1*. &nbsp; A assinatura será retornada no cabeçalho da resposta, com o nome: &nbsp; *stamp*        
    ### Verificando assinatura com Carimbo de Tempo - Y
    Para verificar assinatura de carimbo de tempo, siga as instruções da documentação abaixo:     
    [Documentação - Verificação de Carimbo de Tempo](https://rawgit.com/devserpro/apis/master/_layouts/swagger-ui-master/dist/index.html?bearer=4e1a1858bdd584fdc077fb7d80f39283&url=https://rawgit.com/devserpro/apis/master/_layouts/swaggers/carimbo-tempo/swagger-timestampcheck-trial-bsa.json#!/default/post_check)
servers:
  - url: 'https://apigateway.serpro.gov.br/integra-siafi-trial/api'
    description: Trial
  - url: 'https://apigateway.serpro.gov.br/integra-siafi/api'
    description: Produção
security:
  - APIKEY: []
    OAuth2: []
    Authorization: []
externalDocs:
  description: "Detalhamento da API SIAFI"
  url: https://github.com/devserpro/apis/raw/master/portal-desenvolvedor/apis/documentos/Informacoes-SIAFI.pdf
paths:
  /v1/ne/alterar:
    post:
      tags:
      - Nota de Empenho v1
      summary: Altera Nota de Empenho
      description: |- 
        "\n## Exemplo\n#### Chamada\n      [POST] https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v1/ne/alterar\n\
        #### Conteúdo do corpo\n    {\n      \"dataEmissao\": \"31DEZ17\",\n     \
        \ \"numeroDocumento\": \"\",               \n      \"ugEmitente\": \"010001\"\
        ,\n      \"gestaoEmitente\": \"00001\",\n      \"numeroLista\": \"\",\n  \
        \    \"taxaCambio\": \"\",\n      \"observacao\": \"Cancelamento de NE\",\n\
        \      \"valorTotalEmpenho\": \"555555\",\n      \"numeroProcesso\": \"0100\"\
        ,\n      \"numeroOriginalConvenio\": \"0010\",\n      \"passivoAnterior\"\
        : \"N\",\n      \"contaPassivo\": \"\",\n      \"contaValor\": [\n      {\n\
        \        \"conta\": \"\",\n        \"valor\": \"\"\n      }\n    ],\n    \
        \  \"contaPassivoFinanceiro\": \"string\",\n      \"especie\": \"02\",\n \
        \     \"ugReferencia\": \"010001\",\n      \"gestaoReferencia\": \"00001\"\
        ,\n      \"numeroEmpenhoReferencia\": \"2017NE800051\",\n      \"numeroListaReferencia\"\
        : \"2017LI800097\",\n      \"listaItens\": [\n      {\n        \"subItemNd\"\
        : \"01\",\n        \"quantidade\": \"000000000000001\",\n        \"valorUnitario\"\
        : \"00000000000555555\",\n        \"valorTotal\": \"00000000000555555\",\n\
        \        \"descricao\": \"Teste alteração\"\n      }\n    ],\n      \"numeroTransacaoCliente\"\
        : \"2017TR000049\",\n      \"credencial\": {\n      \"cpf\": \"60165570644\"\
        ,\n      \"ug\": \"010001\",\n      \"sistema\": \"SIAFI2017HM\"\n       \
        \ }\n      }\n#### Retorno\n    { \n      \"codigo\": 0,\n      \"mensagem\"\
        : \"010001000012017NE800059 010001000012017LI800105\",\n      \"erros\": [],\n\
        \      \"status\": 200\n    }"
      requestBody:
        description: Dados da Nota de Empenho a ser alterada
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlteraNE'
            example: Json de entrada  
        required: true
      responses:
        200:
          description: Retorna os dados da Nota de Empenho Alterada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NE'
        400:
          description: Algum campo enviado é inválido
          content: {}
        403:
          description: Usuário não tem permissão para realizar esta operação
          content: {}
        500:
          description: Erro interno do servidor
          content: {}
      operationId: https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v1/ne/alterar      
      externalDocs:
        description: "NE para Degustação"
        url: https://github.com/devserpro/apis/raw/master/portal-desenvolvedor/apis/documentos/SIAFI-Degustacao.pdf       
  /v1/ne/anular:
    post:
      tags:
      - Nota de Empenho v1
      summary: Anula Nota de Empenho
      description: |-
        "\n## Exemplo\n#### Chamada\n      [POST] https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v1/ne/anular\n\
        #### Conteúdo do corpo\n    {\n        \"dataEmissao\": \"31DEZ17\",\n   \
        \     \"numeroDocumento\": \"\",               \n        \"ugEmitente\": \"\
        010001\",\n        \"gestaoEmitente\": \"00001\",\n        \"numeroLista\"\
        : \"\",\n        \"taxaCambio\": \"\",\n        \"observacao\": \"Anulaçã\
        o de NE\",\n        \"valorTotalEmpenho\": \"555555\",\n        \"numeroProcesso\"\
        : \"0100\",\n        \"numeroOriginalConvenio\": \"0010\",\n        \"passivoAnterior\"\
        : \"N\",\n        \"contaPassivo\": \"\",\n        \"contaValor\": [\n   \
        \     {\n          \"conta\": \"\",\n          \"valor\": \"\"\n        }\n\
        \      ],\n        \"contaPassivoFinanceiro\": \"string\",\n        \"especie\"\
        : \"03\",\n        \"ugReferencia\": \"010001\",\n        \"gestaoReferencia\"\
        : \"00001\",\n        \"numeroEmpenhoReferencia\": \"2017NE800049\",\n   \
        \     \"numeroListaReferencia\": \"2017LI800095\",\n        \"listaItens\"\
        : [\n       {\n          \"subItemNd\": \"01\",\n          \"quantidade\"\
        : \"000000000000001\",\n          \"valorUnitario\": \"00000000000555555\"\
        ,\n          \"valorTotal\": \"00000000000555555\",\n          \"descricao\"\
        : \"Teste Anulação\"\n        }\n      ],\n        \"numeroTransacaoCliente\"\
        : \"2017TR000043\",\n        \"credencial\": {\n          \"cpf\": \"60165570644\"\
        ,\n          \"ug\": \"010001\",\n          \"sistema\": \"SIAFI2017HM\"\n\
        \      }\n    }\n#### Retorno\n    { \n      \"codigo\": 0,\n      \"mensagem\"\
        : \"010001000012017NE800059 010001000012017LI800105\",\n      \"erros\": [],\n\
        \      \"status\": 200\n    }"
      requestBody:
        description: Dados da Nota de Empenho a ser anulada
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnulaNE'
            example: Json de entrada  
        required: true
      responses:
        200:
          description: Retorna os dados da Nota de Empenho Anulada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NE'
        400:
          description: Algum campo enviado é inválido
          content: {}
        403:
          description: Usuário não tem permissão para realizar esta operação
          content: {}
        500:
          description: Erro interno do servidor
          content: {}
      operationId: https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v1/ne/anular      
      externalDocs:
        description: "NE para Degustação"
        url: https://github.com/devserpro/apis/raw/master/portal-desenvolvedor/apis/documentos/SIAFI-Degustacao.pdf        
  /v1/ne/consultaTransacao:
    post:
      tags:
      - Nota de Empenho v1
      summary: Consulta Número da Transação
      description:  |- 
        "\n## Exemplo\n#### Chamada\n      [POST] https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v1/ne/consultaTransacao\n\
        #### Conteúdo do corpo\n    {\n      \"numeroTransacaoCliente\": \"2017TR000045\"\
        ,\n      \"credencial\": {\n        \"cpf\": \"60165570644\",\n        \"\
        ug\": \"010001\",\n        \"sistema\": \"SIAFI2017HM\"\n      }\n    }\n\
        #### Retorno\n    { \n      \"codigo\": 0,\n      \"mensagem\": \"010001000012017NE800058\
        \ 010001000012017LI800104\",\n      \"erros\": [],\n      \"status\": 200\n\
        \    }"
      requestBody:
        description: Dados da Transação a ser Consultada
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConsultaTransacao'
            example: Json de entrada  
        required: true
      responses:
        200:
          description: Retorna os dados referentes ao número da Transação informado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NE'
        400:
          description: Algum campo enviado é inválido
          content: {}
        403:
          description: Usuário não tem permissão para realizar esta operação
          content: {}
        500:
          description: Erro interno do servidor
          content: {}
      operationId: https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v1/ne/consultaTransacao      
      externalDocs:
        description: "NE para Degustação"
        url: https://github.com/devserpro/apis/raw/master/portal-desenvolvedor/apis/documentos/SIAFI-Degustacao.pdf        
  /v1/ne/consultar:
    post:
      tags:
      - Nota de Empenho v1
      summary: Consulta Nota de Empenho
      description:  |- 
        "\n## Exemplo\n#### Chamada\n    [POST] https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v1/ne/consultar\n\
        #### Conteúdo do corpo \n\n    {\n      \"ano\": \"2018\",\n      \"ug\":\
        \ \"010001\",\n      \"gestao\": \"00001\",\n      \"numero\": \"800017\"\n\
        \    }\n#### Retorno \n    {\n    codigo: 0\n    mensagem:\n      dataEmissao:\
        \ 14Jun18\n      saldoPagar: ''\n      numeroNota: 2018NE800017\n      ugEmitente:\
        \ '010001'\n      nomeUgEmitente: CAMARA DOS DEPUTADOS\n      gestaoEmitente:\
        \ '00001'\n      nomeGestaoEmitente: TESOURO NACIONAL\n      nomeFavorecido:\
        \ CAMARA DOS DEPUTADOS\n      tipoFavorecido: '4'\n      codigoFavorecido:\
        \ '01000100001'\n      sicaf: ''\n      operacaoCambial: '0000000000'\n  \
        \    observacao: TESTE NE-01\n      evento: '401091'\n      esfera: '1'\n\
        \      ptres: '000001'\n      fonte: '0100000000'\n      codigoND: '339030'\n\
        \      ugResponsavel: 010019\n      planoInterno: AAA\n      valorEmpenho:\
        \ '00000000000000001'\n      tipoEmpenho: ORDINARIO\n      sistemaOrigem:\
        \ APISIAFI\n      docReferenciaOriginal: ''\n      numDocReferencia: ''\n\
        \      passivoAnterior: NAO\n      contaPassivo: ''\n      nomeModalidade:\
        \ NAO SE APLICA\n      nomeAmparo: ''\n      inciso: ''\n      numeroProcesso:\
        \ 103.504/1999\n      indicadorPagPrecatorio: ''\n      siglaUF: DF\n    \
        \  codigoMunicipioBeneficiado: '9701'\n      origemMaterial: NACIONAL\n  \
        \    referenciaDispensa: ''\n      numeroOriginal: ''\n      informacoesLancamentos:\
        \ 'LANCADO POR : 60165570644 - ANDERSON          UG : 010001   14Jun18   14:33'\n\
        \      contaCorrenteFinanceiro: F0100000000\n      contasPermanentes: []\n\
        \      numeroLista: 2018LI800043\n      subItens:\n        - numero: '00'\n\
        \          valor: '01'\n          seq: '000'\n          qtd: ''\n        \
        \  valorTotal: '00000000000000001'\n          descricao: LISTA NE-01\n   \
        \     - numero: '1'\n          valor: ''\n          seq: '000'\n         \
        \ qtd: ''\n          valorTotal: ''\n          descricao: ''\n      subItensSaldo:\n\
        \        - numero: '01'\n          valor: '00000000000000001'\n      nsaldo:\
        \ ''\n    erros: []\n    status: 200\n    }      "
      requestBody:
        description: Dados da Nota de Empenho a ser consultada
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConsultaNE'
            example: Json de entrada  
        required: true
      responses:
        200:
          description: Retorna os dados da Nota de Empenho
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DadosNE'
        400:
          description: Algum campo enviado é inválido
          content: {}
        403:
          description: Usuário não tem permissão para realizar esta operação
          content: {}
        500:
          description: Erro interno do servidor
          content: {}
      operationId: https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v1/ne/consultar      
      externalDocs:
        description: "NE para Degustação"
        url: https://github.com/devserpro/apis/raw/master/portal-desenvolvedor/apis/documentos/SIAFI-Degustacao.pdf        
  /v1/ne/realizar:
    post:
      tags:
      - Nota de Empenho v1
      summary: Adiciona Nota de Empenho
      description:  |- 
        "\n## Exemplo\n#### Chamada\n      [POST] https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v1/ne/realizar\n\
        #### Conteúdo do corpo\n    {\n        \"dataEmissao\": \"31DEZ17\",\n   \
        \     \"numeroDocumento\": \"\",               \n        \"ugEmitente\": \"\
        010001\",\n        \"gestaoEmitente\": \"00001\",\n        \"numeroLista\"\
        : \"\",\n        \"taxaCambio\": \"\",\n        \"observacao\": \"Inclusao\
        \ de NE\",\n        \"valorTotalEmpenho\": \"555555\",\n        \"numeroProcesso\"\
        : \"0100\",\n        \"numeroOriginalConvenio\": \"0010\",\n        \"passivoAnterior\"\
        : \"N\",\n        \"contaPassivo\": \"\",\n        \"contaValor\": [\n   \
        \      {\n          \"conta\": \"\",\n          \"valor\": \"\"\n        \
        \  }\n        ],\n        \"contaPassivoFinanceiro\": \"string\",\n      \
        \  \"favorecido\": \"75793032720\",\n        \"gestaoFavorecido\": \"\",\n\
        \        \"esferaOrcamentaria\": \"3\",\n        \"codigoUO\": \"\",\n   \
        \     \"codigoProgramaTrabalho\": \"000001\",\n        \"fonteRecursos\":\
        \ \"0100000000\",\n        \"naturezaDespesa\": \"339030\",\n        \"unidadeGestoraResponsavel\"\
        : \"\",\n        \"planoInterno\": \"\",\n        \"indicadorResultado\":\
        \ \"\",\n        \"indicadorTipoCredito\": \"\",\n        \"planoOrcamentario\"\
        : \"\",\n        \"codigoAutorEmenda\": \"\",\n        \"tipoEmpenho\": \"\
        1\",                        \n        \"modalidadeLicitacao\": \"08\",\n \
        \       \"amparoLegal\": \"\",\n        \"inciso\": \"\",\n        \"origemMaterial\"\
        : \"1\",\n        \"municipioBeneficiado\": \"9701\",\n        \"ufBeneficiada\"\
        : \"DF\",\n        \"dataVencimento\": [\n          \"31DEZ17\"\n        ],\n\
        \        \"dataRecebimento\": [\n          \"31DEZ17\"\n        ],\n     \
        \   \"valorCompromisso\": [\n          \"555555\"\n        ],\n        \"\
        listaItens\": [\n          {\n            \"subItemNd\": \"01\",\n       \
        \     \"quantidade\": \"1\",\n            \"valorUnitario\": \"555555\",\n\
        \            \"valorTotal\": \"555555\",\n            \"descricao\": \"Testando\
        \ inclusao de NE\"\n          }\n        ],\n        \"numeroTransacaoCliente\"\
        : \"2017TR000033\",\n        \"credencial\": {\n            \"cpf\": \"60165570644\"\
        ,\n            \"ug\": \"010001\",\n            \"sistema\": \"SIAFI2017HM\"\
        \n        }\n    }\n#### Retorno\n    { \n      \"codigo\": 0,\n      \"mensagem\"\
        : \"010001000012017NE800054 010001000012017LI800101\",\n      \"erros\": [],\n\
        \      \"status\": 200\n      }\n    }"
      requestBody:
        description: Dados da Nota de Empenho a ser adicionada
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RealizaNE'
            example: Json de entrada  
        required: true
      responses:
        200:
          description: Retorna os dados da Nota de Empenho Adicionada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NE'
        400:
          description: Algum campo enviado é inválido
          content: {}
        403:
          description: Usuário não tem permissão para realizar esta operação
          content: {}
        500:
          description: Erro interno do servidor
          content: {}
      operationId: https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v1/ne/realizar      
      externalDocs:
        description: "NE para Degustação"
        url: https://github.com/devserpro/apis/raw/master/portal-desenvolvedor/apis/documentos/SIAFI-Degustacao.pdf        
  /v1/ne/reforcar:
    post:
      tags:
      - Nota de Empenho v1
      summary: Reforça Nota de Empenho
      description:  |- 
        "\n## Exemplo\n#### Chamada\n      [POST] https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v1/ne/reforcar\n\
        #### Conteúdo do corpo\n    {\n      \"dataEmissao\": \"31DEZ17\",\n     \
        \ \"numeroDocumento\": \"\",               \n      \"ugEmitente\": \"010001\"\
        ,\n      \"gestaoEmitente\": \"00001\",\n      \"numeroLista\": \"\",\n  \
        \    \"taxaCambio\": \"\",\n      \"observacao\": \"Reforço de NE\",\n   \
        \   \"valorTotalEmpenho\": \"555555\",\n      \"numeroProcesso\": \"0100\"\
        ,\n      \"numeroOriginalConvenio\": \"0010\",\n      \"passivoAnterior\"\
        : \"N\",\n      \"contaPassivo\": \"\",\n      \"contaValor\": [\n      {\n\
        \        \"conta\": \"\",\n        \"valor\": \"\"\n      }\n    ],\n    \
        \  \"contaPassivoFinanceiro\": \"string\",\n      \"especie\": \"02\",\n \
        \     \"ugReferencia\": \"010001\",\n      \"gestaoReferencia\": \"00001\"\
        ,\n      \"numeroEmpenhoReferencia\": \"2017NE800050\",\n      \"numeroListaReferencia\"\
        : \"2017LI800096\",\n      \"listaItens\": [\n      {\n        \"subItemNd\"\
        : \"01\",\n        \"quantidade\": \"000000000000001\",\n        \"valorUnitario\"\
        : \"00000000000555555\",\n        \"valorTotal\": \"00000000000555555\",\n\
        \        \"descricao\": \"Teste Anulação\"\n      }\n    ],\n      \"numeroTransacaoCliente\"\
        : \"2017TR000046\",\n      \"credencial\": {\n        \"cpf\": \"60165570644\"\
        ,\n        \"ug\": \"010001\",\n        \"sistema\": \"SIAFI2017HM\"\n   \
        \   }\n    }\n#### Retorno\n    { \n      \"codigo\": 0,\n      \"mensagem\"\
        : \"010001000012017NE800059 010001000012017LI800105\",\n      \"erros\": [],\n\
        \      \"status\": 200\n      }\n    }"
      requestBody:
        description: Dados da Nota de Empenho a ser reforçada
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReforcaNE'
        required: true
      responses:
        200:
          description: Retorna os dados da Nota de Empenho Reforçada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NE'
              example: Json de entrada  
        400:
          description: Algum campo enviado é inválido
          content: {}
        403:
          description: Usuário não tem permissão para realizar esta operação
          content: {}
        500:
          description: Erro interno do servidor
          content: {}
      operationId: https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v1/ne/reforcar      
      externalDocs:
        description: "NE para Degustação"
        url: https://github.com/devserpro/apis/raw/master/portal-desenvolvedor/apis/documentos/SIAFI-Degustacao.pdf        
  /v2/nota-empenho/{ug}/{gestao}/{ano}/{numero}:
    get:
      tags:
      - Nota de Empenho v2
      summary: Consulta Nota de Empenho
      description:  |- 
        "Consulta uma Nota de Empenho existente\n\n## Exemplo\n#### Chamada\n\
        \n    https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v2/nota-empenho/010001/00001/2018/800017\n\
        \    \n    No header:\n      x-credencial: NjAxNjU1NzA2NDQuMDEwMDAxLlNJQUZJMjAxOEhN\n\
        \      (valor referente às credenciais 60165570644.010001.SIAFI2018HM convertido\
        \ em Base64. Mais informações na descrição do parâmetro x-credencial, abaixo)\n\
        \      \n#### Retorno \n    {\n    codigo: 0\n    mensagem:\n      dataEmissao:\
        \ 14Jun18\n      saldoPagar: ''\n      numeroNota: 2018NE800017\n      ugEmitente:\
        \ '010001'\n      nomeUgEmitente: CAMARA DOS DEPUTADOS\n      gestaoEmitente:\
        \ '00001'\n      nomeGestaoEmitente: TESOURO NACIONAL\n      nomeFavorecido:\
        \ CAMARA DOS DEPUTADOS\n      tipoFavorecido: '4'\n      codigoFavorecido:\
        \ '01000100001'\n      sicaf: ''\n      operacaoCambial: '0000000000'\n  \
        \    observacao: TESTE NE-01\n      evento: '401091'\n      esfera: '1'\n\
        \      ptres: '000001'\n      fonte: '0100000000'\n      codigoND: '339030'\n\
        \      ugResponsavel: 010019\n      planoInterno: AAA\n      valorEmpenho:\
        \ '00000000000000001'\n      tipoEmpenho: ORDINARIO\n      sistemaOrigem:\
        \ APISIAFI\n      docReferenciaOriginal: ''\n      numDocReferencia: ''\n\
        \      passivoAnterior: NAO\n      contaPassivo: ''\n      nomeModalidade:\
        \ NAO SE APLICA\n      nomeAmparo: ''\n      inciso: ''\n      numeroProcesso:\
        \ 103.504/1999\n      indicadorPagPrecatorio: ''\n      siglaUF: DF\n    \
        \  codigoMunicipioBeneficiado: '9701'\n      origemMaterial: NACIONAL\n  \
        \    referenciaDispensa: ''\n      numeroOriginal: ''\n      informacoesLancamentos:\
        \ 'LANCADO POR : 60165570644 - ANDERSON          UG : 010001   14Jun18   14:33'\n\
        \      contaCorrenteFinanceiro: F0100000000\n      contasPermanentes: []\n\
        \      numeroLista: 2018LI800043\n      subItens:\n        - numero: '00'\n\
        \          valor: '01'\n          seq: '000'\n          qtd: ''\n        \
        \  valorTotal: '00000000000000001'\n          descricao: LISTA NE-01\n   \
        \     - numero: '1'\n          valor: ''\n          seq: '000'\n         \
        \ qtd: ''\n          valorTotal: ''\n          descricao: ''\n      subItensSaldo:\n\
        \        - numero: '01'\n          valor: '00000000000000001'\n      nsaldo:\
        \ ''\n    erros: []\n    status: 200\n    }      "
      parameters:
        - name: ug
          in: path
          description: Código da UG emitente
          required: true
          schema:
            type: string
        - name: gestao
          in: path
          description: Código da Gestão
          required: true
          schema:
            type: string
        - name: ano
          in: path
          description: Ano da Nota de Crédito
          required: true
          schema:
            type: string
        - name: numero
          in: path
          description: Número da Nota de Crédito
          required: true
          schema:
            type: string
        - name: x-credencial
          in: header
          description: Credenciais de acesso ao SIAFI, no formato [CPF].[UG].[SISTEMA],
            convertido em Base64.
          required: true
          schema:
            type: string
      responses:
        200:
          description: Retorna os dados da Nota de Empenho
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DadosNE'
        400:
          description: Algum campo enviado é inválido
        403:
          description: Credencial informada não possui permissão para consultar a
            Nota de Crédito
        404:
          description: Nota de Empenho inexistente
        500:
          description: Erro interno do servidor
      operationId: https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v2/nota-empenho/"ug"/"gestao"/"ano"/"numero"      
      externalDocs:
        description: "NE para Degustação"
        url: https://github.com/devserpro/apis/raw/master/portal-desenvolvedor/apis/documentos/SIAFI-Degustacao.pdf  
  /v2/nota-empenho:
    put:
      tags:
      - Nota de Empenho v2
      summary: Atualiza uma Nota de Empenho.
      description: "O tipo de atualização depende do campo ' especie '\n<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Alteraç\
        ão: &nbsp;&nbsp;&nbsp;&nbsp;especie = 01\n<br>\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Reforç\
        o:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; especie = 02\n<br>\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Anulaç\
        ão: &nbsp;&nbsp;&nbsp;&nbsp;especie = 03\n\n## Exemplo\n#### Chamada\n\n \
        \   https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v2/nota-empenho\n\
        \    \n    No header:\n      x-credencial: NjAxNjU1NzA2NDQuMDEwMDAxLlNJQUZJMjAxOEhN\n\
        \      (valor referente às credenciais 60165570644.010001.SIAFI2018HM convertido\
        \ em Base64. Mais informações na descrição do parâmetro x-credencial, abaixo)\n\
        \      \n####  Conteúdo do corpo\n    {\n        \"dataEmissao\": \"14JUN18\"\
        ,\n        \"numeroDocumento\": \"800017\",               \n        \"ugEmitente\"\
        : \"010001\",\n        \"gestaoEmitente\": \"00001\",\n        \"numeroLista\"\
        : \"\",\n        \"taxaCambio\": \"\",\n        \"observacao\": \"Teste NE\
        \ de reforço\",\n        \"valorTotalEmpenho\": \"002\",\n        \"numeroProcesso\"\
        : \"103.504/1999\",\n        \"numeroOriginalConvenio\": \" \",\n        \"\
        passivoAnterior\": \"N\",\n        \"contaPassivo\": \"\",\n        \"contaValor\"\
        : [\n         {\n          \"conta\": \"\",\n          \"valor\": \"\"\n \
        \         }\n        ],\n        \"contaPassivoFinanceiro\": \" \",\n    \
        \    \"especie\": \"02\",\n        \"ugReferencia\": \"010001\",\n       \
        \ \"gestaoReferencia\": \"00001\",\n        \"numeroEmpenhoReferencia\": \"\
        2018NE800032\",\n        \"numeroListaReferencia\": \"2018LI800091\",\n  \
        \      \"listaItens\": [\n          {\n            \"subItemNd\": \"01\",\n\
        \            \"quantidade\": \"1\",\n            \"valorUnitario\": \"001\"\
        ,\n            \"valorTotal\": \"001\",\n            \"descricao\": \"Lista\
        \ NE-01\"\n          }\n        ]\n    }\n \n#### Retorno\n    { \n      \"\
        codigo\": 0,\n      \"mensagem\": \"010001000012018NE800017 010001000012018LI800105\"\
        ,\n      \"erros\": [],\n      \"status\": 200\n      }\n    }"
      parameters:
        - name: x-credencial
          in: header
          description: Credenciais de acesso ao SIAFI, no formato [CPF].[UG].[SISTEMA],
            convertido em Base64.
          required: true
          schema:
            type: string
      requestBody:
        description: Dados da Nota de Empenho a ser atualizada
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AtualizaNE'
        required: true
      responses:
        200:
          description: Retorna os dados da Nota de Empenho Atualizada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NE'
        400:
          description: Algum campo enviado é inválido
          content: {}
        403:
          description: Usuário não tem permissão para realizar esta operação
          content: {}
        500:
          description: Erro interno do servidor
          content: {}
      operationId: (put) https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v2/nota-empenho      
      externalDocs:
        description: "NE para Degustação"
        url: https://github.com/devserpro/apis/raw/master/portal-desenvolvedor/apis/documentos/SIAFI-Degustacao.pdf  
    post:
      tags:
      - Nota de Empenho v2
      summary: Realiza uma Nota de Empenho
      description: "Gera uma Nota de Empenho \n\n## Exemplo\n#### Chamada\n\n    https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v2/nota-empenho\n\
        \    \n    No header:\n      x-credencial: NjAxNjU1NzA2NDQuMDEwMDAxLlNJQUZJMjAxOEhN\n\
        \      (valor referente às credenciais 60165570644.010001.SIAFI2018HM convertido\
        \ em Base64. Mais informações na descrição do parâmetro x-credencial, abaixo)\n\
        \      \n####  Conteúdo do corpo\n    {\n        \"dataEmissao\": \"14JUN18\"\
        ,\n        \"numeroDocumento\": \"800017\",\n        \"ugEmitente\": \"010001\"\
        ,\n        \"gestaoEmitente\": \"00001\",\n        \"numeroLista\": \"\",\n\
        \        \"taxaCambio\": \"\",\n        \"observacao\": \"Teste NE-01\",\n\
        \        \"valorTotalEmpenho\": \"001\",\n        \"numeroProcesso\": \"103.504/1999\"\
        ,\n        \"numeroOriginalConvenio\": \" \",\n        \"passivoAnterior\"\
        : \"N\",\n        \"contaPassivo\": \"\",\n        \"contaValor\": [\n   \
        \      {\n          \"conta\": \"\",\n          \"valor\": \"\"\n        \
        \  }\n        ],\n        \"contaPassivoFinanceiro\": \" \",\n        \"favorecido\"\
        : \"010001\",\n        \"gestaoFavorecido\": \"00001\",\n        \"esferaOrcamentaria\"\
        : \"1\",\n        \"ptres\": \"000001\",\n        \"fonteRecursos\": \"0100000000\"\
        ,\n        \"naturezaDespesa\": \"339030\",\n        \"unidadeGestoraResponsavel\"\
        : \"010019\",\n        \"planoInterno\": \"aaa\",\n        \"tipoEmpenho\"\
        : \"1\",                        \n        \"modalidadeLicitacao\": \"08\"\
        ,\n        \"amparoLegal\": \"\",\n        \"inciso\": \"\",\n        \"origemMaterial\"\
        : \"1\",\n        \"municipioBeneficiado\": \"9701\",\n        \"ufBeneficiada\"\
        : \"DF\",\n        \"dataVencimento\": [\n          \"26JUN2018\"\n      \
        \  ],\n        \"dataRecebimento\": [\n          \"26JUN2018\"\n        ],\n\
        \        \"valorCompromisso\": [\n          \"001\"\n        ],\n        \"\
        listaItens\": [\n          {\n            \"subItemNd\": \"01\",\n       \
        \     \"quantidade\": \"1\",\n            \"valorUnitario\": \"001\",\n  \
        \          \"valorTotal\": \"001\",\n            \"descricao\": \"Lista NE-01\"\
        \n          }\n        ]\n    }\n  \n#### Retorno\n    { \n      \"codigo\"\
        : 0,\n      \"mensagem\": \"010001000012018NE800017 010001000012018LI800105\"\
        ,\n      \"erros\": [],\n      \"status\": 200\n      }\n    }"
      parameters:
        - name: x-credencial
          in: header
          description: Credenciais de acesso ao SIAFI, no formato [CPF].[UG].[SISTEMA],
            convertido em Base64.
          required: true
          schema:
            type: string
      requestBody:
        description: Dados da Nota de Empenho a ser Gerada
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RealizaNE'
        required: true
      responses:
        200:
          description: Retorna os dados da Nota de Empenho Gerada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NE'
        400:
          description: Algum campo enviado é inválido
          content: {}
        403:
          description: Usuário não tem permissão para realizar esta operação
          content: {}
        500:
          description: Erro interno do servidor
          content: {}
      operationId: (post) https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v2/nota-empenho      
      externalDocs:
        description: "NE para Degustação"
        url: https://github.com/devserpro/apis/raw/master/portal-desenvolvedor/apis/documentos/SIAFI-Degustacao.pdf 
    get:
      tags:
      - Nota de Crédito
      summary: Consulta Nota de Crédito
      description: "Consulta uma Nota de Crédito existente\n\n## Exemplo\n#### Chamada\n\
        \n    https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v2/nota-credito/010001/00001/2018/800001\n\
        \    \n    No header:\n      x-credencial: MTExMTExMTExMTEuMDEwMDAxLlNJQUZJMjAxOA==\n\
        \      (valor referente às credenciais 11111111111.010001.SIAFI2018 convertido\
        \ em Base64. Mais informações na descrição do parâmetro x-credencial, abaixo)\n\
        \      \n#### Retorno\n    {\n      \"dataEmissao\": \"23Fev18\",\n      \"\
        ugFavorecida\": \"010001\",\n      \"gestaoFavorecida\": \"00001\",\n    \
        \  \"opCambial\": \"2\",\n      \"txObservacao\": \"10001 1    0        0\
        \                  TESTE\",\n      \"mesLancamento\": \"\",\n      \"qtdLancamento\"\
        : \"\",\n      \"numOriginal\": \"\",\n      \"sistemaOrigem\": \"\",\n  \
        \    \"numTransferencia\": \"\",\n      \"listaEventos\": [\n        {\n \
        \         \"evento\": \"30006\",\n          \"esferaOrcamentaria\": \"2\"\
        ,\n          \"unidadeOrcamentaria\": null,\n          \"programaTrabalho\"\
        : \"11\",\n          \"resultado\": null,\n          \"tipoCredito\": null,\n\
        \          \"planoOrcamentario\": null,\n          \"autorEmenda\": null,\n\
        \          \"fonteRecurso\": \"\",\n          \"naturezaDespesa\": \"\",\n\
        \          \"contaPassivo\": \"null\",\n          \"subitem\": \"\",\n   \
        \       \"ugResponsavel\": \"01000\",\n          \"planoInterno\": \"00000339039\"\
        ,\n          \"valorTransacao\": \"10001\"\n        }\n      ]\n    }"
      parameters:
        - name: ug
          in: path
          description: Código da UG emitente
          required: true
          schema:
            type: string
        - name: gestao
          in: path
          description: Código da Gestão
          required: true
          schema:
            type: string
        - name: ano
          in: path
          description: Ano da Nota de Crédito
          required: true
          schema:
            type: string
        - name: numero
          in: path
          description: Número da Nota de Crédito
          required: true
          schema:
            type: string
        - name: x-credencial
          in: header
          description: Credenciais de acesso ao SIAFI, no formato [CPF].[UG].[SISTEMA],
            convertido em Base64.
          required: true
          schema:
            type: string
      responses:
        200:
          description: Nota de Crédito encontrada e retornada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotaCredito'
        400:
          description: Algum campo possui informações inválidas
          content: {}
        403:
          description: Credencial informada não possui permissão para consultar a
            Nota de Crédito
          content: {}
        404:
          description: Nota de Crédito inexistente
          content: {}
        500:
          description: Erro interno do servidor
          content: {}
      operationId: https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v2/nota-credito/"ug"/"gestao"/"ano"/"numero"      
      externalDocs:
        description: "NC para Degustação"
        url: https://github.com/devserpro/apis/raw/master/portal-desenvolvedor/apis/documentos/SIAFI-Degustacao.pdf 
  /v2/nota-credito:
    post:
      tags:
      - Nota de Crédito
      summary: Gera Nota de Crédito
      description: "Gera uma Nota de Crédito com as informações passadas no JSON de\
        \ entrada\n\n## Exemplo\n#### Chamada\n\n    https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v2/nota-credito\n\
        \    \n    No header:\n      x-credencial: MTExMTExMTExMTEuMDEwMDAxLlNJQUZJMjAxOA==\n\
        \      (valor referente às credenciais 11111111111.010001.SIAFI2018 convertido\
        \ em Base64. Mais informações na descrição do parâmetro x-credencial, abaixo)\
        \ \n\n#### Conteúdo do corpo\n\n    {\n      \"dataEmissao\": \"14MAI18\"\
        ,\n      \"numero\": \"2018NC\",\n      \"ugEmitente\": \"010001\",\n    \
        \  \"gestaoEmitente\": \"00001\",\n      \"ugFavorecida\": \"010001\",\n \
        \     \"gestaoFavorecida\": \"00001\",\n      \"taxaCambio\": \"\",\n    \
        \  \"numeroTransferencia\": \"\",\n      \"observacao\": \"TESTE INCLUSAO\
        \ NC\",\n      \"listaEventos\": [\n        {\n          \"evento\": \"300062\"\
        ,\n          \"esferaOrcamentaria\": \"1\",\n          \"ptres\": \"1\",\n\
        \          \"fonteRecurso\": \"0100000000\",\n          \"naturezaDespesa\"\
        : \"339039\",\n          \"subitem\": \"\",\n          \"ugResponsavel\":\
        \ \"010001\",\n          \"planoInterno\": \"\",   \n          \"valor\":\
        \ \"00000000000100000\"\n        }\n      ]\n    }\n    \n#### Retorno\n\n\
        \    {\n      \"ug\": \"010001\",\n      \"gestao\": \"00001\",\n      \"\
        ano\": \"2018\",\n      \"tipoDoc\": \"NC\",\n      \"sequencialDoc\": \"\
        800017\"\n    }"
      parameters:
        - name: x-credencial
          in: header
          description: Credenciais de acesso ao SIAFI, no formato [CPF].[UG].[SISTEMA],
            convertido em Base64.
          required: true
          schema:
            type: string
      requestBody:
        description: Dados da Nota de Crédito a ser gerada
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GeraNC'
        required: true
      responses:
        201:
          description: Nota de Crédito gerada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NCGerada'
        400:
          description: Algum campo possui informações inválidas
          content: {}
        403:
          description: Credencial informada não possui permissão para gerar a Nota
            de Cŕedito
          content: {}
        500:
          description: Erro interno do servidor
          content: {}
      operationId: https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v2/nota-credito      
      externalDocs:
        description: "NC para Degustação"
        url: https://github.com/devserpro/apis/raw/master/portal-desenvolvedor/apis/documentos/SIAFI-Degustacao.pdf           
  /v2/nota-lancamento/{ug}/{gestao}/{ano}/{numero}:
    get:
      tags:
      - Nota de Lançamento
      summary: Consulta Nota de Lançamento
      description: "Consulta uma Nota de Lançamento a partir dos parâmetros UG, Gestã\
        o, Ano e Número da NL\n\n## Exemplo\n#### Chamada\n\n    https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v2/nota-lancamento/010001/00001/2018/800001\n\
        \    \n    No header:\n      x-credencial: NjAxNjU1NzA2NDQuMDEwMDAxLlNJQUZJMjAxOEhN\n\
        \      (valor referente às credenciais 60165570644.010001.SIAFI2018HM convertido\
        \ em Base64. Mais informações na descrição do parâmetro x-credencial, abaixo)\
        \ \n\n#### Retorno\n    {\n      \"dataEmissao\": \"20Fev18\",\n      \"ugEmitente\"\
        : \"170999\",\n      \"nomeUGEmitente\": \"\",\n      \"gestaoEmitente\":\
        \ \"00001\",\n      \"nomeGestaoEmitente\": \"\",\n      \"favorecido\": \"\
        \",\n      \"nomeFavorecido\": \"\",\n      \"gestaoFavorecido\": \"\",\n\
        \      \"nomeGestaoFavorecido\": \"\",\n      \"numero\": \"\",\n      \"\
        dataValorizacao\": \"20Fev18\",\n      \"taxaCambio\": \"2\",\n      \"tituloCredito\"\
        : \"\",\n      \"dataVencimento\": \"\",\n      \"sistemaOrigem\": \" \",\
        \ \n      \"observacao\": \"TESTE\", \n      \"listaEventos\": [\n       \
        \ {\n          \"evento\": \"510669\",\n          \"inscricao1\": \"0114000000\"\
        ,\n          \"inscricao2\": \"\",\n          \"classificacao1\": \"\",\n\
        \          \"classificacao2\": \"\",\n          \"classOrcamentaria1\": \"\
        \",\n          \"classOrcamentaria2\": \"\", \n          \"valor\": \"\",\
        \  \n          \"numeroReferencia\": \"10001\"  \n        } \n      ] \n \
        \   }"
      parameters:
        - name: ug
          in: path
          description: Código da UG emitente
          required: true
          schema:
            type: string
        - name: gestao
          in: path
          description: Código da Gestão
          required: true
          schema:
            type: string
        - name: ano
          in: path
          description: Ano da Nota de Lançamento
          required: true
          schema:
            type: string
        - name: numero
          in: path
          description: Número da Nota de Lançamento
          required: true
          schema:
            type: string
        - name: x-credencial
          in: header
          description: Credenciais de acesso ao SIAFI, no formato [CPF].[UG].[SISTEMA],
            convertido em Base64.
          required: true
          schema:
            type: string
      responses:
        201:
          description: Nota de Lançamento encontrada e retornada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotaLancamento'
        400:
          description: Algum campo possui informações inválidas
          content: {}
        403:
          description: Credencial informada não possui permissão para consulta a Nota
            de Lançamento
          content: {}
        404:
          description: Nota de Lançamento inexistente
          content: {}
        500:
          description: Erro interno do servidor
          content: {}
      operationId: https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v2/nota-lancamento/"ug"/"gestao"/"ano"/"numero"      
      externalDocs:
        description: "NL para Degustação"
        url: https://github.com/devserpro/apis/raw/master/portal-desenvolvedor/apis/documentos/SIAFI-Degustacao.pdf 
  /v2/nota-lancamento:
    post:
      tags:
      - Nota de Lançamento
      summary: Gera Nota de Lançamento
      description: "Gera uma Nota de Lançamento a partir de um Json de Entrada\n\n\
        ## Exemplo\n#### Chamada\n\n    https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v2/nota-lancamento\n\
        \    \n    No header:\n      x-credencial: NjAxNjU1NzA2NDQuMDEwMDAxLlNJQUZJMjAxOEhN\n\
        \      (valor referente às credenciais 60165570644.010001.SIAFI2018HM convertido\
        \ em Base64. Mais informações na descrição do parâmetro x-credencial, abaixo)\
        \ \n\n#### Conteúdo do corpo\n\n    {\n      \"dataEmissao\": \"14MAI18\"\
        ,\n      \"ugEmitente\": \"010001\",\n      \"gestaoEmitente\": \"00001\"\
        ,\n      \"favorecido\": \"010001\",\n      \"gestaoFavorecido\": \"00001\"\
        ,\n      \"numero\": \"2018NL800017\",\n      \"dataValorizacao\": \"14mai18\"\
        ,\n      \"taxaCambio\": \"\",\n      \"tituloCredito\": \"\",\n      \"dataVencimento\"\
        : \"14MAI18\",\n      \"observacao\": \"INCLUSAO NL\", \n      \"listaEventos\"\
        : [\n        {\n          \"evento\": \"300062\",\n          \"inscricao1\"\
        : \"22025711000153\",\n          \"inscricao2\": \"null\",\n          \"classificacao1\"\
        : \"111111111\",\n          \"classificacao2\": \"null\",\n          \"classOrcamentaria1\"\
        : \"111111111\",\n          \"classOrcamentaria2\": \"null\", \n         \
        \ \"valorEvento\": \"55555555\"  \n        } \n      ],\n      \"listaReferencias\"\
        : [ \n          \"00001\" \n      ] \n    }\n #### Retorno\n\n    {\n    \
        \  \"ug\": \"010001\",\n      \"gestao\": \"00001\",\n      \"ano\": \"2018\"\
        ,\n      \"tipoDoc\": \"NL\",\n      \"sequencialDoc\": \"800017\"\n    }"
      parameters:
        - name: x-credencial
          in: header
          description: Credenciais de acesso ao SIAFI, no formato [CPF].[UG].[SISTEMA],
            convertido em Base64.
          required: true
          schema:
            type: string
      requestBody:
        description: Dados da Nota de Lançamento a ser gerada
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GeraNL'
        required: true
      responses:
        201:
          description: Nota de Lançamento gerada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NLGerada'
        400:
          description: Algum campo possui informações inválidas
          content: {}
        403:
          description: Credencial informada não possui permissão para gerar a Nota
            de Lançamento
          content: {}
        500:
          description: Erro interno do servidor
          content: {}
      operationId: https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v2/nota-lancamento      
      externalDocs:
        description: "NL para Degustação"
        url: https://github.com/devserpro/apis/raw/master/portal-desenvolvedor/apis/documentos/SIAFI-Degustacao.pdf           
  /v2/nota-dotacao/{ug}/{gestao}/{ano}/{numero}:
    get:
      tags:
      - Nota de Dotação
      summary: Consulta Nota de Dotação
      description: "Consulta uma Nota de Dotação a partir dos parâmetros UG, Gestã\
        o, Ano e Número da ND\n\n## Exemplo\n#### Chamada\n\n    https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v2/nota-dotacao/010001/00001/2018/800002\n\
        \    \n    No header:\n      x-credencial: NjAxNjU1NzA2NDQuMDEwMDAxLlNJQUZJMjAxOEhN\n\
        \      (valor referente às credenciais 60165570644.010001.SIAFI2018HM convertido\
        \ em Base64. Mais informações na descrição do parâmetro x-credencial, abaixo)\
        \ \n\n#### Retorno\n    {\n      \"dataEmissao\": \"10ago18\",\n      \"especieND\"\
        : \"1\",\n      \"numeroDocumento\": \"2018ND800002\",\n      \"ugEmitente\"\
        : \"010001\",\n      \"nomeUGEmitente\": \"CAMARA DOS DEPUTADOS 2018\",\n\
        \      \"gestaoEmitente\": \"00001\",\n      \"esferaOrcamentaria\": \"1\"\
        ,\n      \"unidadeOrcamentaria\": \"\",\n      \"indicadorResultado\": \"\"\
        ,\n      \"indicadorCredito\": \"\",\n      \"planoOrcamentario\": \"\",\n\
        \      \"codigoAutorEmenda\": \"\",\n      \"fonteRecurso\": \"01000\",\n\
        \      \"categoriaDespesa\": \"33\",\n      \"codigoInstrumentoLegal\": \"\
        1\",\n      \"numeroInstrumentoLegal\": \"0123\",\n      \"dataPublicacao\"\
        : \"01Ago18\",\n      \"taxaCambio\": \"\",\n      \"ptres\": \"005714\",\n\
        \      \"idoc\": \"9999\",\n      \"observacao\": \"teste Nota Dotação DETAORC\"\
        , \n      \"listaEventos\": [\n        {\n          \"reducaoAcrescimo\":\
        \ \"R\",\n          \"sequencialFonte\": \"000000\",\n          \"modalidadeAplicacao\"\
        : \"90\",\n          \"elementoDespesa\": \"00\",\n          \"subitemND\"\
        : \"\",\n          \"codigoUGResponsavel\": \"\",\n          \"planoInterno\"\
        : \"\", \n          \"valor\": \"100000\",  \n        }, {\n          \"reducaoAcrescimo\"\
        : \"A\",\n          \"sequencialFonte\": \"000000\",\n          \"modalidadeAplicacao\"\
        : \"90\",\n          \"elementoDespesa\": \"14\",\n          \"subitemND\"\
        : \"\",\n          \"codigoUGResponsavel\": \"\",\n          \"planoInterno\"\
        : \"\", \n          \"valor\": \"100000\",  \n        } \n      ]\n    }"
      parameters:
        - name: ug
          in: path
          description: Código da UG emitente
          required: true
          schema:
            type: string
        - name: gestao
          in: path
          description: Código da Gestão
          required: true
          schema:
            type: string
        - name: ano
          in: path
          description: Ano da Nota de Dotação
          required: true
          schema:
            type: string
        - name: numero
          in: path
          description: Número da Nota de Dotação
          required: true
          schema:
            type: string
        - name: x-credencial
          in: header
          description: Credenciais de acesso ao SIAFI, no formato [CPF].[UG].[SISTEMA],
            convertido em Base64.
          required: true
          schema:
            type: string
      responses:
        201:
          description: Nota de Dotação encontrada e retornada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotaDotacao'
        400:
          description: Algum campo possui informações inválidas
          content: {}
        403:
          description: Credencial informada não possui permissão para consulta a Nota
            de Dotação
          content: {}
        404:
          description: Nota de Dotação inexistente
          content: {}
        500:
          description: Erro interno do servidor
          content: {}
      operationId: https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v2/nota-dotacao/"ug"/"gestao"/"ano"/"numero"      
      externalDocs:
        description: "ND para Degustação"
        url: https://github.com/devserpro/apis/raw/master/portal-desenvolvedor/apis/documentos/SIAFI-Degustacao.pdf 
  /v2/nota-dotacao:
    post:
      tags:
      - Nota de Dotação
      summary: Gera uma Nota de Dotação
      description: "Gera uma Nota de Dotação a partir de um Json de Entrada\n\n##\
        \ Exemplo\n#### Chamada\n\n    https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v2/nota-dotacao\n\
        \    \n    No header:\n      x-credencial: NjAxNjU1NzA2NDQuMDEwMDAxLlNJQUZJMjAxOEhN\n\
        \      (valor referente às credenciais 60165570644.010001.SIAFI2018HM convertido\
        \ em Base64. Mais informações na descrição do parâmetro x-credencial, abaixo)\
        \ \n\n#### Conteúdo do corpo\n\n    {\n      \"dataEmissao\": \"10AGO18\"\
        ,\n      \"numeroDocumento\": \"\",\n      \"ugEmitente\": \"010001\",\n \
        \     \"gestaoEmitente\": \"00001\",\n      \"ugFavorecida\": \"\",\n    \
        \  \"gestaoFavorecido\": \"\",\n      \"taxaCambio\": \"\",\n      \"observacao\"\
        : \"teste Nota Dotação Gestor\", \n      \"listaEventos\": [\n        {\n\
        \          \"evento\": \"200031\",\n          \"esferaOrcamentaria\": \"1\"\
        ,\n          \"unidadeOrcamentaria\": \"\",\n          \"ptres\": \"000019\"\
        ,\n          \"fonteRecurso\": \"0100000000\",\n          \"naturezaDespesa\"\
        : \"339030\",\n          \"subitemND\": \"\",\n          \"ugr\": \"\", \n\
        \          \"planoInterno\": \"\", \n          \"valor\": \"100\"  \n    \
        \    } \n      ] \n    }\n #### Retorno\n\n    {\n      \"ug\": \"010001\"\
        ,\n      \"gestao\": \"00001\",\n      \"ano\": \"2018\",\n      \"tipoDoc\"\
        : \"ND\",\n      \"sequencialDoc\": \"800002\",\n      \"numRequisicao\":\
        \ \"2018TRND000001\"\n    }"
      parameters:
        - name: x-credencial
          in: header
          description: Credenciais de acesso ao SIAFI, no formato [CPF].[UG].[SISTEMA],
            convertido em Base64.
          required: true
          schema:
            type: string
      requestBody:
        description: Dados da Nota de Dotação a ser gerada
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GeraND'
        required: true
      responses:
        201:
          description: Nota de Dotação gerada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NDGerada'
        400:
          description: Algum campo possui informações inválidas
          content: {}
        403:
          description: Credencial informada não possui permissão para gerar a Nota
            de Dotação
          content: {}
        500:
          description: Erro interno do servidor
          content: {}
      operationId: https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v2/nota-dotacao
      externalDocs:
        description: "ND para Degustação"
        url: https://github.com/devserpro/apis/raw/master/portal-desenvolvedor/apis/documentos/SIAFI-Degustacao.pdf 
  /v2/nota-detaorc/{ug}/{gestao}/{ano}/{numero}:
    get:
      tags:
      - Nota de Dotação
      summary: Consulta uma Nota de Detalhamento Orçamentário
      description: "Consulta uma Nota de Detalhamento Orçamentário a partir dos parâ\
        metros UG, Gestão, Ano e Número da ND\n\n## Exemplo\n#### Chamada\n\n    https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v2/nota-dotacao/det-orc/010001/00001/2018/000002\n\
        \    \n    No header:\n      x-credencial: NjAxNjU1NzA2NDQuMDEwMDAxLlNJQUZJMjAxOEhN\n\
        \      (valor referente às credenciais 60165570644.010001.SIAFI2018HM convertido\
        \ em Base64. Mais informações na descrição do parâmetro x-credencial, abaixo)\
        \ \n\n#### Retorno\n    {\n      \"dataEmissao\": \"10ago18\",\n      \"especieND\"\
        : \"1\",\n      \"numeroDocumento\": \"2018ND000002\",\n      \"ugEmitente\"\
        : \"010001\",\n      \"nomeUGEmitente\": \"CAMARA DOS DEPUTADOS 2018\",\n\
        \      \"gestaoEmitente\": \"00001\",\n      \"esferaOrcamentaria\": \"1\"\
        ,\n      \"fonteRecurso\": \"0100\",\n      \"categoriaDespesa\": \"33\",\n\
        \      \"codigoInstrumentoLegal\": \"1\",\n      \"numeroInstrumentoLegal\"\
        : \"0123\",\n      \"dataPublicacao\": \"01ago18\",\n      \"taxaCambio\"\
        : \"\",\n      \"ptres\": \"005714\", \n      \"idoc\": \"9999\",\n      \"\
        observacao\": \"teste Nota Docação DETAORC\", \n      \"listaEventos\": [\n\
        \        {\n          \"reducaoAcrescimos\": \"R\",\n          \"sequencialFonte\"\
        : \"000000\",\n          \"modalidadeAplicacao\": \"90\",\n          \"elementoDespesa\"\
        : \"00\",\n          \"subitemND\": \"\",\n          \"codigoUGResponsavel\"\
        : \"\",\n          \"planoInterno\": \"\", \n          \"valor\": \"100000\"\
        ,  \n        },\n        {\n          \"reducaoAcrescimos\": \"A\",\n    \
        \      \"sequencialFonte\": \"000000\",\n          \"modalidadeAplicacao\"\
        : \"90\",\n          \"elementoDespesa\": \"14\",\n          \"subitemND\"\
        : \"\",\n          \"codigoUGResponsavel\": \"\",\n          \"planoInterno\"\
        : \"\", \n          \"valor\": \"100000\", \n        } \n      ]         \
        \    \n    }"
      parameters:
        - name: ug
          in: path
          description: Código da UG emitente
          required: true
          schema:
            type: string
        - name: gestao
          in: path
          description: Código da Gestão
          required: true
          schema:
            type: string
        - name: ano
          in: path
          description: Ano da Nota de Dotação
          required: true
          schema:
            type: string
        - name: numero
          in: path
          description: Número da Nota de Dotação
          required: true
          schema:
            type: string
        - name: x-credencial
          in: header
          description: Credenciais de acesso ao SIAFI, no formato [CPF].[UG].[SISTEMA],
            convertido em Base64.
          required: true
          schema:
            type: string
      responses:
        201:
          description: Nota de Detalhamento Orçamentário encontrado e retornado com
            sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsultaNDDetOrc'
        400:
          description: Algum campo possui informações inválidas
          content: {}
        403:
          description: Credencial informada não possui permissão para consultar essa
            Nota de Detalhamento Orçamentário
          content: {}
        500:
          description: Erro interno do servidor
          content: {}
      operationId: https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v2/nota-detaorc/"ug"/"gestao"/"ano"/"numero"      
      externalDocs:
        description: "Nota Detaorc para Degustação"
        url: https://github.com/devserpro/apis/raw/master/portal-desenvolvedor/apis/documentos/SIAFI-Degustacao.pdf 
  /v2/nota-detaorc:
    post:
      tags:
      - Nota de Dotação
      summary: Gera uma Nota de Detalhamento Orçamentário
      description: "Gera uma Nota de Detalhamento Orçamentário a partir de um Json\
        \ de Entrada\n\n## Exemplo\n#### Chamada\n\n    https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v2/nota-dotacao/det-orc\n\
        \    \n    No header:\n      x-credencial: NjAxNjU1NzA2NDQuMDEwMDAxLlNJQUZJMjAxOEhN\n\
        \      (valor referente às credenciais 60165570644.010001.SIAFI2018HM convertido\
        \ em Base64. Mais informações na descrição do parâmetro x-credencial, abaixo)\
        \ \n\n####  Conteúdo do corpo\n    {\n      \"dataEmissao\": \"10AGO18\",\n\
        \      \"especieND\": \"1\",\n      \"numeroDocumento\": \"2018ND000002\"\
        ,\n      \"ugEmitente\": \"010001\",\n      \"gestaoEmitente\": \"00001\"\
        ,\n      \"esferaOrcamentaria\": \"1\",\n      \"fonteRecurso\": \"0100\"\
        ,\n      \"categoriaDespesa\": \"33\",\n      \"codigoInstrumentoLegal\":\
        \ \"1\",\n      \"numeroInstrumentoLegal\": \"0123\",\n      \"dataPublicacao\"\
        : \"01ago18\",\n      \"taxaCambio\": \"\",\n      \"ptres\": \"005714\",\n\
        \      \"idoc\": \"9999\",\n      \"observacao\": \"Teste Nota Dotação DETAORC\"\
        , \n      \"listaEventos\": [\n        {\n          \"reducaoAcrescimos\"\
        : \"R\",\n          \"sequencialFonte\": \"000000\",\n          \"modalidadeAplicacao\"\
        : \"90\",\n          \"elementoDespesa\": \"00\",\n          \"subitemND\"\
        : \"\",\n          \"codigoUGResponsavel\": \"\",\n          \"planoInterno\"\
        : \"\", \n          \"valor\": \"100000\"  \n        },\n        {\n     \
        \     \"reducaoAcrescimos\": \"A\",\n          \"sequencialFonte\": \"000000\"\
        ,\n          \"modalidadeAplicacao\": \"90\",\n          \"elementoDespesa\"\
        : \"14\",\n          \"subitemND\": \"\",\n          \"codigoUGResponsavel\"\
        : \"\",\n          \"planoInterno\": \"\", \n          \"valor\": \"100000\"\
        \ \n        } \n      ]\n    }\n #### Retorno\n\n    {\n      \"ug\": \"010001\"\
        ,\n      \"gestao\": \"00001\",\n      \"ano\": \"2018\",\n      \"tipoDoc\"\
        : \"ND\",\n      \"sequencialDoc\": \"000002\",\n      \"numRequisicao\":\
        \ \"2018TRND000002\"\n    }"
      parameters:
        - name: x-credencial
          in: header
          description: Credenciais de acesso ao SIAFI, no formato [CPF].[UG].[SISTEMA],
            convertido em Base64.
          required: true
          schema:
            type: string
      requestBody:
        description: Dados de uma Nota de Detalhamento Orçamentário a ser gerada
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GeraNDDetOrc'
        required: true
      responses:
        201:
          description: Nota de Detalhamento Orçamentário gerada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NDDetaOrcGerada'
        400:
          description: Algum campo possui informações inválidas
          content: {}
        403:
          description: Credencial informada não possui permissão para gerar uma Nota
            de Detalhamento Orçamentário
          content: {}
        500:
          description: Erro interno do servidor
          content: {}
      operationId: https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v2/nota-detaorc
      externalDocs:
        description: "Nota Detaorc para Degustação"
        url: https://github.com/devserpro/apis/raw/master/portal-desenvolvedor/apis/documentos/SIAFI-Degustacao.pdf 
  /v2/nota-bloqueio/{ug}/{gestao}/{ano}/{numero}:
    get:
      tags:
      - Nota de Dotação
      summary: Consulta uma Nota de Bloqueio de Crédito
      description: "Consulta uma Nota de Bloqueio de Crédito a partir dos parâmetros\
        \ UG, Gestão, Ano e Número da ND\n\n## Exemplo\n#### Chamada\n\n    https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v2/nota-dotacao/bloqueio/010001/00001/2018/000005\n\
        \    \n    No header:\n      x-credencial: NjAxNjU1NzA2NDQuMDEwMDAxLlNJQUZJMjAxOEhN\n\
        \      (valor referente às credenciais 60165570644.010001.SIAFI2018HM convertido\
        \ em Base64. Mais informações na descrição do parâmetro x-credencial, abaixo)\
        \ \n\n#### Retorno\n    {\n      \"dataEmissao\": \"06nov18\",\n      \"numeroDocumento\"\
        : \"2018ND000005\",\n      \"ugEmitente\": \"010001\",\n      \"nomeUGEmitente\"\
        : \"CAMARA DOS DEPUTADOS 2018\",\n      \"gestaoEmitente\": \"00001\",\n \
        \     \"nomeGestaoEmitente\": \"TESOURO NACIONAL\",\n      \"taxaCambio\"\
        : \"\",\n      \"observacao\": \"TESTE API SIAFI\", \n      \"listaEventos\"\
        : [\n        {\n          \"evento\": \"200020\",\n          \"esferaOrcamentaia\"\
        : \"1\",\n          \"PTRES\": \"001000\",\n          \"IDOC\": \"9999\",\n\
        \          \"naturezaDespesa\": \"339000\",\n          \"fonte\": \"0100\"\
        , \n          \"valor\": \"20000\",  \n        }\n      ]             \n \
        \   }"
      parameters:
        - name: ug
          in: path
          description: Código da UG emitente
          required: true
          schema:
            type: string
        - name: gestao
          in: path
          description: Código da Gestão
          required: true
          schema:
            type: string
        - name: ano
          in: path
          description: Ano da Nota de Bloqueio de Crédito
          required: true
          schema:
            type: string
        - name: numero
          in: path
          description: Número da Nota de Bloqueio de Crédito
          required: true
          schema:
            type: string
        - name: x-credencial
          in: header
          description: Credenciais de acesso ao SIAFI, no formato [CPF].[UG].[SISTEMA],
            convertido em Base64.
          required: true
          schema:
            type: string
      responses:
        201:
          description: Nota de bloqueio de Crédito encontrada e retornada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notaBloqueio'
        400:
          description: Algum campo possui informações inválidas
          content: {}
        403:
          description: Credencial informada não possui permissão para consultar a
            Nota de Bloqueio de Crédito
          content: {}
        500:
          description: Erro interno do servidor
          content: {}
      operationId: https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v2/nota-bloqueio/"ug"/"gestao"/"ano"/"numero"
      externalDocs:
        description: "NB para Degustação"
        url: https://github.com/devserpro/apis/raw/master/portal-desenvolvedor/apis/documentos/SIAFI-Degustacao.pdf 
  /v2/nota-bloqueio:
    post:
      tags:
      - Nota de Dotação
      summary: Gera uma Nota de Bloqueio de Crédito
      description: "Gera uma Nota de Bloqueio de Crédito a partir de um Json de Entrada\n\
        \n## Exemplo\n#### Chamada\n\n    https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v2/nota-dotacao/bloqueio\n\
        \    \n    No header:\n      x-credencial: NjAxNjU1NzA2NDQuMDEwMDAxLlNJQUZJMjAxOEhN\n\
        \      (valor referente às credenciais 60165570644.010001.SIAFI2018HM convertido\
        \ em Base64. Mais informações na descrição do parâmetro x-credencial, abaixo)\
        \ \n\n#### Conteúdo do corpo\n\n    {\n      \"dataEmissao\": \"\",\n    \
        \  \"numeroDocumento\": \"\",\n      \"ugEmitente\": \"170999\",\n      \"\
        gestaoEmitente\": \"00001\",\n      \"taxaCambio\": \"\",\n      \"observacao\"\
        : \"TESTE\", \n      \"listaEventos\": [\n        {\n          \"evento\"\
        : \"\",\n          \"esferaOrcamentaria\": \"\",\n          \"unidadeOrcamentaria\"\
        : \"\",\n          \"ptres\": \"\",\n          \"idoc\": \"\",\n         \
        \ \"naturezaDespesa\": \"\",\n          \"grupoFonte\": \"\",\n          \"\
        resultado\": \"\",\n          \"tipoCredito\": \"\",\n          \"planoOrcamentario\"\
        : \"\",\n          \"autorEmenda\": \"\",\n          \"valor\": \"2000\"\n\
        \        } \n      ] \n    }\n #### Retorno\n\n    {\n      \"ug\": \"010001\"\
        ,\n      \"gestao\": \"00001\",\n      \"ano\": \"2018\",\n      \"tipoDoc\"\
        : \"ND\",\n      \"sequencialDoc\": \"000005\",\n      \"numRequisicao\":\
        \ \"2018TRND000005\"\n    }"
      parameters:
        - name: x-credencial
          in: header
          description: Credenciais de acesso ao SIAFI, no formato [CPF].[UG].[SISTEMA],
            convertido em Base64.
          required: true
          schema:
            type: string
      requestBody:
        description: Dados da Nota de Bloqueio de Crédito a ser gerada
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/notaBloqueio'
        required: true
      responses:
        201:
          description: Nota de Bloqueio de Crédito gerada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NDBloqueioGerada'
        400:
          description: Algum campo possui informações inválidas
          content: {}
        403:
          description: Credencial informada não possui permissão para gerar a Nota
            de Bloqueio de Crédito
          content: {}
        500:
          description: Erro interno do servidor
          content: {}
      operationId: https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v2/nota-bloqueio
      externalDocs:
        description: "NB para Degustação"
        url: https://github.com/devserpro/apis/raw/master/portal-desenvolvedor/apis/documentos/SIAFI-Degustacao.pdf 
  /v2/documentos/{ug}/{gestao}/{data}:
    get:
      tags:
      - Consulta Documentos
      summary: Consulta Documentos
      description: "Consulta documentos a partir de uma data específica\n\n## Exemplo\n\
        #### Chamada\n\n    https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v2/documentos/010001/00001/10FEV18\n\
        \    \n    No header:\n      x-credencial: NjAxNjU1NzA2NDQuMDEwMDAxLlNJQUZJMjAxOEhN\n\
        \      (valor referente às credenciais 60165570644.010001.SIAFI2018HM convertido\
        \ em Base64. Mais informações na descrição do parâmetro x-credencial, abaixo)\
        \ \n\n#### Retorno\n    {\n      \"data\": \"10FEV18\",\n      \"ugEmitente\"\
        : \"010001\",\n      \"gestaoEmitente\": \"00001\",\n      \"listaDocumentos\"\
        : [\n        {\n          \"2018ND000001\",\n          \"2017NL000083\",\n\
        \          \"2018NE000017\",\n          \"2017ND000025\",\n          \"2017NL000081\"\
        ,\n          \"2018NC000167\"  \n        }\n             \n      ]\n     \
        \        \n    }"
      parameters:
        - name: ug
          in: path
          description: Código da UG emitente
          required: true
          schema:
            type: string
        - name: gestao
          in: path
          description: Código da Gestão emitente
          required: true
          schema:
            type: string
        - name: data
          in: path
          description: Data referente ao pedido da consulta
          required: true
          schema:
            type: string
        - name: x-credencial
          in: header
          description: Credenciais de acesso ao SIAFI, no formato [CPF].[UG].[SISTEMA],
            convertido em Base64.
          required: true
          schema:
            type: string
      responses:
        201:
          description: Documentos encontrados e retornados com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Documentos'
        400:
          description: Algum campo possui informações inválidas
          content: {}
        403:
          description: Credencial informada não possui permissão para consultar a
            Nota de Bloqueio de Crédito
          content: {}
        500:
          description: Erro interno do servidor
          content: {}
      operationId: https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v2/documentos/"ug"/"gestao"/"data"
      externalDocs:
        description: "Documentos para Degustação"
        url: https://github.com/devserpro/apis/raw/master/portal-desenvolvedor/apis/documentos/SIAFI-Degustacao.pdf 
  /status:
    get:
      tags:
      - Status
      summary: Verifica status da API
      responses:
        200:
          description: Serviço disponível
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
            lastUpdateAt:
              example: 2019-02-18T11:27:06-03:00
        500:
          description: Serviço indisponível
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
            lastUpdateAt:
              example: 2019-02-18T11:27:06-03:00
components:
  schemas:
    RealizaNE:
      type: object
      properties:
        dataEmissao:
          type: string
        numeroDocumento:
          type: string
        ugEmitente:
          type: string
        gestaoEmitente:
          type: string
        numeroLista:
          type: string
        taxaCambio:
          type: string
        observacao:
          type: string
        valorTotalEmpenho:
          type: string
        numeroProcesso:
          type: string
        numeroOriginalConvenio:
          type: string
        passivoAnterior:
          type: string
        contaPassivo:
          type: string
        contaValor:
          type: object
          properties:
            conta:
              type: string
            valor:
              type: string
        contaPassivoFinanceiro:
          type: string
        favorecido:
          type: string
        gestaoFavorecido:
          type: string
        esferaOrcamentaria:
          type: string
        codigoUO:
          type: string
        codigoProgramaTrabalho:
          type: string
        fonteRecursos:
          type: string
        naturezaDespesa:
          type: string
        unidadeGestoraResponsavel:
          type: string
        planoInterno:
          type: string
        indicadorResultado:
          type: string
        indicadorTipoCredito:
          type: string
        planoOrcamentario:
          type: string
        codigoAutorEmenda:
          type: string
        tipoEmpenho:
          type: string
        modalidadeLicitacao:
          type: string
        amparoLegal:
          type: string
        inciso:
          type: string
        origemMaterial:
          type: string
        municipioBeneficiado:
          type: string
        ufBeneficiada:
          type: string
        dataVencimento:
          type: string
        dataRecebimento:
          type: string
        valorCompromisso:
          type: string
        listaItens:
          type: object
          properties:
            subItemNd:
              type: string
            valorTotal:
              type: string
            quantidade:
              type: string
            valorUnitario:
              type: string
            descricao:
              type: string
        numeroTransacaoCliente:
          type: string
        credencial:
          type: object
          properties:
            ug:
              type: string
            sistema:
              type: string
            cpf:
              type: string
    EventoNC:
      type: object
      properties:
        evento:
          type: string
        esferaOrcamentaria:
          type: string
        ptres:
          type: string
        fonteRecurso:
          type: string
        naturezaDespesa:
          type: string
        subitem:
          type: string
        ugResponsavel:
          type: string
        planoInterno:
          type: string
        valor:
          type: string
    EventoND:
      type: object
      properties:
        evento:
          type: string
        esferaOrcamentaria:
          type: string
        unidadeOrcamentaria:
          type: string
        ptres:
          type: string
        fonteRecurso:
          type: string
        naturezaDespesa:
          type: string
        subitemND:
          type: string
        ugr:
          type: string
        planoInterno:
          type: string
        valor:
          type: string
    GeraNL:
      type: object
      properties:
        dataEmissao:
          type: string
        numero:
          type: string
        ugEmitente:
          type: string
        gestaoEmitente:
          type: string
        ugFavorecida:
          type: string
        gestaoFavorecida:
          type: string
        taxaCambio:
          type: string
        numeroTransferencia:
          type: string
        observacao:
          type: string
        listaEventos:
          type: array
          items:
            $ref: '#/components/schemas/EventoNL'
    NLGerada:
      type: object
      properties:
        ug:
          type: string
        gestao:
          type: string
        ano:
          type: string
        tipoDoc:
          type: string
        sequencialDoc:
          type: string
    notaBloqueio:
      type: object
      properties:
        dataEmissao:
          type: string
        numeroDocumento:
          type: string
        ugEmitente:
          type: string
        gestaoEmitente:
          type: string
        taxaCambio:
          type: string
        observacao:
          type: string
        listaEventos:
          type: array
          items:
            $ref: '#/components/schemas/EventoNDBloqueio'
    NotaCredito:
      type: object
      properties:
        dataEmissao:
          type: string
        numero:
          type: string
        ugEmitente:
          type: string
        gestaoEmitente:
          type: string
        ugFavorecida:
          type: string
        gestaoFavorecida:
          type: string
        taxaCambio:
          type: string
        numeroTransferencia:
          type: string
        observacao:
          type: string
        listaEventos:
          type: array
          items:
            $ref: '#/components/schemas/EventoNC'
    GeraNC:
      type: object
      properties:
        dataEmissao:
          type: string
        numero:
          type: string
        ugEmitente:
          type: string
        gestaoEmitente:
          type: string
        ugFavorecida:
          type: string
        gestaoFavorecida:
          type: string
        taxaCambio:
          type: string
        numeroTransferencia:
          type: string
        observacao:
          type: string
        listaEventos:
          type: array
          items:
            $ref: '#/components/schemas/EventoNC'
    GeraND:
      type: object
      properties:
        dataEmissao:
          type: string
        numero:
          type: string
        ugEmitente:
          type: string
        gestaoEmitente:
          type: string
        ugFavorecida:
          type: string
        gestaoFavorecida:
          type: string
        taxaCambio:
          type: string
        observacao:
          type: string
        listaEventos:
          type: array
          items:
            $ref: '#/components/schemas/EventoND'
    EventosNDDesOrc:
      type: object
      properties:
        reducaoAcrescimos:
          type: string
        sequencialFonte:
          type: string
        modalidadeAplicacao:
          type: string
        elementoDespesa:
          type: string
        subitemND:
          type: string
        codigoUGResponsavel:
          type: string
        planoInterno:
          type: string
        valor:
          type: string
    NDGerada:
      type: object
      properties:
        ug:
          type: string
        gestao:
          type: string
        ano:
          type: string
        tipoDoc:
          type: string
        sequencialDoc:
          type: string
        numRequisicao:
          type: string
    NDDetaOrcGerada:
      type: object
      properties:
        ug:
          type: string
        gestao:
          type: string
        ano:
          type: string
        tipoDoc:
          type: string
        sequencialDoc:
          type: string
        numRequisicao:
          type: string
    EventoNDBloqueio:
      type: object
      properties:
        evento:
          type: string
        esferaOrcamentaria:
          type: string
        unidadeOrcamentaria:
          type: string
        ptres:
          type: string
        idoc:
          type: string
        naturezaDespesa:
          type: string
        grupoFonte:
          type: string
        resultado:
          type: string
        tipoCredito:
          type: string
        planoOrcamentario:
          type: string
        autorEmenda:
          type: string
        valor:
          type: string
    ConsultaNDDetOrc:
      type: object
      properties:
        dataEmissao:
          type: string
        especieND:
          type: string
        numeroDocumento:
          type: string
        ugEmitente:
          type: string
        nomeUGEmitente:
          type: string
        gestaoEmitente:
          type: string
        esferaOrcamentaria:
          type: string
        fonteRecurso:
          type: string
        categoriaDespesa:
          type: string
        codigoInstrumentoLegal:
          type: string
        numeroInstrumentoLegal:
          type: string
        dataPublicacao:
          type: string
        taxaCambio:
          type: string
        ptres:
          type: string
        idoc:
          type: string
        observacao:
          type: string
        listaEventos:
          type: array
          items:
            $ref: '#/components/schemas/EventosNDDesOrc'
    listaItens:
      type: object
      properties:
        subItemNd:
          type: string
        quantidade:
          type: string
        valorUnitario:
          type: string
        descricao:
          type: string
    NCGerada:
      type: object
      properties:
        ug:
          type: string
        gestao:
          type: string
        ano:
          type: string
        tipoDoc:
          type: string
        sequencialDoc:
          type: string
    NotaDotacao:
      type: object
      properties:
        dataEmissao:
          type: string
        numeroDocumento:
          type: string
        ugEmitente:
          type: string
        nomeUgEmitente:
          type: string
        gestaoEmitente:
          type: string
        favorecido:
          type: string
        nomeFavorecido:
          type: string
        taxaCambio:
          type: string
        observacao:
          type: string
        listaEventos:
          type: array
          items:
            $ref: '#/components/schemas/EventoND'
    EventoNL:
      type: object
      properties:
        evento:
          type: string
        inscricao1:
          type: string
        inscricao2:
          type: string
        classificacao1:
          type: string
        classificacao2:
          type: string
        classOrcamentaria1:
          type: string
        classOrcamentaria2:
          type: string
        valor:
          type: string
        numeroReferencia:
          type: string
    ListaDocumentos:
      type: object
      properties:
        Nota Empenho:
          type: string
        Nota Crédito:
          type: string
        Nota Lançamento:
          type: string
        Nota Dotação:
          type: string
    Status:
      type: object
      properties:
        lastUpdateAt:
          type: string
          format: date-time
    Documentos:
      type: object
      properties:
        data:
          type: string
        ugEmitente:
          type: string
        gestaoEmitente:
          type: string
        listaDocumentos:
          type: array
          items:
            $ref: '#/components/schemas/ListaDocumentos'
    DadosNE:
      type: object
      properties:
        dataEmissao:
          type: string
        saldoPagar:
          type: string
        numeroNota:
          type: string
        ugEmitente:
          type: string
        nomeUgEmitente:
          type: string
        gestaoEmitente:
          type: string
        nomeGestaoEmitente:
          type: string
        nomeFavorecido:
          type: string
        tipoFavorecido:
          type: string
        codigoFavorecido:
          type: string
        sicaf:
          type: string
        operacaoCambial:
          type: string
        observacao:
          type: string
        evento:
          type: string
        esfera:
          type: string
        ptres:
          type: string
        fonte:
          type: string
        codigoND:
          type: string
        ugResponsavel:
          type: string
        planoInterno:
          type: string
        valorEmpenho:
          type: string
        tipoEmpenho:
          type: string
        sistemaOrigem:
          type: string
        docReferenciaOriginal:
          type: string
        numDocReferencia:
          type: string
        passivoAnterior:
          type: string
        contaPassivo:
          type: string
        nomeModalidade:
          type: string
        nomeAmparo:
          type: string
        inciso:
          type: string
        numeroProcesso:
          type: string
        indicadorPagPrecatorio:
          type: string
        siglaUF:
          type: string
        codigoMunicipioBeneficiado:
          type: string
        origemMaterial:
          type: string
        referenciaDispensa:
          type: string
        numeroOriginal:
          type: string
        informacoesLancamentos:
          type: string
        contaCorrenteFinanceiro:
          type: string
        contasPermanentes:
          type: array
          items:
            $ref: '#/components/schemas/Conta'
        numeroLista:
          type: string
        subItens:
          type: array
          items:
            $ref: '#/components/schemas/subItem'
        subItensSaldo:
          type: array
          items:
            $ref: '#/components/schemas/subItemSaldo'
        nsaldo:
          type: string
    GeraNDDetOrc:
      type: object
      properties:
        dataEmissao:
          type: string
        especieND:
          type: string
        numeroDocumento:
          type: string
        ugEmitente:
          type: string
        nomeUGEmitente:
          type: string
        gestaoEmitente:
          type: string
        esferaOrcamentaria:
          type: string
        fonteRecurso:
          type: string
        categoriaDespesa:
          type: string
        codigoInstrumentoLegal:
          type: string
        numeroInstrumentoLegal:
          type: string
        dataPublicacao:
          type: string
        taxaCambio:
          type: string
        ptres:
          type: string
        idoc:
          type: string
        observacao:
          type: string
        listaEventos:
          type: array
          items:
            $ref: '#/components/schemas/EventosNDDesOrc'
    AtualizaNE:
      type: object
      properties:
        dataEmissao:
          type: string
        numeroDocumento:
          type: string
        ugEmitente:
          type: string
        gestaoEmitente:
          type: string
        numeroLista:
          type: string
        taxaCambio:
          type: string
        observacao:
          type: string
        valorTotalEmpenho:
          type: string
        numeroProcesso:
          type: string
        numeroOriginalConvenio:
          type: string
        passivoAnterior:
          type: string
        contaPassivo:
          type: string
        contaValor:
          type: object
          properties:
            conta:
              type: string
            valor:
              type: string
        contaPassivoFinanceiro:
          type: string
        especie:
          type: string
        ugReferencia:
          type: string
        gestaoReferencia:
          type: string
        numeroEmpenhoReferencia:
          type: string
        numeroListaReferencia:
          type: string
        listaItens:
          type: object
          properties:
            subItemNd:
              type: string
            valorTotal:
              type: string
            quantidade:
              type: string
            valorUnitario:
              type: string
            descricao:
              type: string
        numeroTransacaoCliente:
          type: string
        credencial:
          type: object
          properties:
            ug:
              type: string
            sistema:
              type: string
            cpf:
              type: string
    Credencial:
      type: object
      properties:
        cpf:
          type: string
        ug:
          type: string
        sistema:
          type: string
    AlteraNE:
      type: object
      properties:
        dataEmissao:
          type: string
        numeroDocumento:
          type: string
        ugEmitente:
          type: string
        gestaoEmitente:
          type: string
        numeroLista:
          type: string
        taxaCambio:
          type: string
        observacao:
          type: string
        valorTotalEmpenho:
          type: string
        numeroProcesso:
          type: string
        numeroOriginalConvenio:
          type: string
        passivoAnterior:
          type: string
        contaPassivo:
          type: string
        contaValor:
          $ref: '#/components/schemas/Conta'
        contaPassivoFinanceiro:
          type: string
        especie:
          type: string
        ugReferencia:
          type: string
        gestaoReferencia:
          type: string
        numeroEmpenhoReferencia:
          type: string
        listaItens:
          $ref: '#/components/schemas/listaItens'
        numeroTransacaoCliente:
          type: string
        credencial:
          $ref: '#/components/schemas/Credencial'
    subItemSaldo:
      type: object
      properties:
        numero:
          type: string
        valor:
          type: string
    subItem:
      type: object
      properties:
        numero:
          type: string
        valor:
          type: string
        seq:
          type: string
        qtd:
          type: string
        valorTotal:
          type: string
        descricao:
          type: string
    Conta:
      type: object
      properties:
        conta:
          type: string
        valor:
          type: string
    NotaLancamento:
      type: object
      properties:
        dataEmissao:
          type: string
        ugEmitente:
          type: string
        nomeUgEmitente:
          type: string
        gestaoEmitente:
          type: string
        nomeGestaoEmitente:
          type: string
        favorecido:
          type: string
        nomeFavorecido:
          type: string
        gestaoFavorecido:
          type: string
        nomeGestaoFavorecido:
          type: string
        numero:
          type: string
        dataValorizacao:
          type: string
        taxaCambio:
          type: string
        tituloCredito:
          type: string
        dataVencimento:
          type: string
        sistemaOrigem:
          type: string
        observacao:
          type: string
        listaEventos:
          type: array
          items:
            $ref: '#/components/schemas/EventoNL'
    ConsultaNE:
      type: object
      properties:
        ano:
          type: string
        ug:
          type: string
        gestao:
          type: string
        numero:
          type: string
    NDBloqueioGerada:
      type: object
      properties:
        ug:
          type: string
        gestao:
          type: string
        ano:
          type: string
        tipoDoc:
          type: string
        sequencialDoc:
          type: string
        numRequisicao:
          type: string
    ConsultaTransacao:
      type: object
      properties:
        numeroTransacaoCliente:
          type: string
        credencial:
          type: object
          properties:
            ug:
              type: string
            sistema:
              type: string
            cpf:
              type: string
    ReforcaNE:
      type: object
      properties:
        dataEmissao:
          type: string
        numeroDocumento:
          type: string
        ugEmitente:
          type: string
        gestaoEmitente:
          type: string
        numeroLista:
          type: string
        taxaCambio:
          type: string
        observacao:
          type: string
        valorTotalEmpenho:
          type: string
        numeroProcesso:
          type: string
        numeroOriginalConvenio:
          type: string
        passivoAnterior:
          type: string
        contaPassivo:
          type: string
        contaValor:
          type: object
          properties:
            conta:
              type: string
            valor:
              type: string
        contaPassivoFinanceiro:
          type: string
        especie:
          type: string
        ugReferencia:
          type: string
        gestaoReferencia:
          type: string
        numeroEmpenhoReferencia:
          type: string
        numeroListaReferencia:
          type: string
        listaItens:
          type: object
          properties:
            subItemNd:
              type: string
            valorTotal:
              type: string
            quantidade:
              type: string
            valorUnitario:
              type: string
            descricao:
              type: string
        numeroTransacaoCliente:
          type: string
        credencial:
          type: object
          properties:
            ug:
              type: string
            sistema:
              type: string
            cpf:
              type: string
    NE:
      type: object
      properties:
        codigo:
          type: integer
        mensagem:
          type: string
        erros:
          type: array
          items:
            type: string
        status:
          type: integer
    AnulaNE:
      type: object
      properties:
        dataEmissao:
          type: string
        numeroDocumento:
          type: string
        ugEmitente:
          type: string
        gestaoEmitente:
          type: string
        numeroLista:
          type: string
        taxaCambio:
          type: string
        observacao:
          type: string
        valorTotalEmpenho:
          type: string
        numeroProcesso:
          type: string
        numeroOriginalConvenio:
          type: string
        passivoAnterior:
          type: string
        contaPassivo:
          type: string
        contaValor:
          $ref: '#/components/schemas/Conta'
        contaPassivoFinanceiro:
          type: string
        especie:
          type: string
        ugReferencia:
          type: string
        gestaoReferencia:
          type: string
        numeroEmpenhoReferencia:
          type: string
        listaItens:
          $ref: '#/components/schemas/listaItens'
        numeroTransacaoCliente:
          type: string
        credencial:
          $ref: '#/components/schemas/Credencial'
  securitySchemes:
    APIKEY:
      type: apiKey
      name: x-jwt-assertion
      in: header
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: 'https://apigateway.serpro.gov.br/token'
    Authorization:
      type: http
      description: Autenticação para ambiente trial
      scheme: bearer
