openapi: 3.0.1
info:
  title: Integração SIAFI (api-siafi)
  version: 'v1 - v2'
  description: |-   

    Para informações de como se autenticar antes de consumir a API, por favor, consulte a documentação em [Autenticação](http://devserpro.github.io/apis/)    
    
    O serviço &nbsp; *Integração SIAFI* &nbsp; é disponibilizado através do &nbsp; *HTTP REST* &nbsp; oferencendo operações de lançamento ao SIAFI.
    ### Códigos de  Retorno não Tarifados 
    | Código de retorno | Resumido | Explicação |
    | ------|------|------|
    | 500 | Erro no Servidor | Ocorreu algum erro no servidor.| 
    ### Solicitando assinatura com Carimbo de Tempo
    Caso deseje que sua solicitação venha com uma assinatura de Carimbo de Tempo, basta incluir, no cabeçalho de sua requisição, a informação: &nbsp; *x-signature:1*. &nbsp; A assinatura será retornada no cabeçalho da resposta, com o nome: &nbsp; *stamp*        
    ### Verificando assinatura com Carimbo de Tempo - B
    Para verificar assinatura de carimbo de tempo, siga as instruções da documentação abaixo:     
    [Documentação - Verificação de Carimbo de Tempo](https://rawgit.com/devserpro/apis/master/_layouts/swagger-ui-master/dist/index.html?bearer=4e1a1858bdd584fdc077fb7d80f39283&url=https://rawgit.com/devserpro/apis/master/_layouts/swaggers/carimbo-tempo/swagger-timestampcheck-trial-bsa.json#!/default/post_check)
servers:
  - url: 'https://apigateway.serpro.gov.br/integra-siafi-trial/api'
    description: Trial
  - url: 'https://apigateway.serpro.gov.br/integra-siafi/api'
    description: Produção
security:
  - APIKEY: []
    OAuth2: []
    Authorization: []
externalDocs:
  description: "Detalhamento da API SIAFI"
  url: https://github.com/devserpro/apis/raw/master/portal-desenvolvedor/apis/documentos/Informacoes-SIAFI.pdf
paths:
  /v1/ne/alterar:
    post:
      tags:
      - Nota de Empenho v1
      summary: Altera Nota de Empenho
      description: |- 
        "\n## Exemplo\n#### Chamada\n      [POST] https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v1/ne/alterar\n\
        #### Conteúdo do corpo\n    {\n      \"dataEmissao\": \"31DEZ17\",\n     \
        \ \"numeroDocumento\": \"\",               \n      \"ugEmitente\": \"010001\"\
        ,\n      \"gestaoEmitente\": \"00001\",\n      \"numeroLista\": \"\",\n  \
        \    \"taxaCambio\": \"\",\n      \"observacao\": \"Cancelamento de NE\",\n\
        \      \"valorTotalEmpenho\": \"555555\",\n      \"numeroProcesso\": \"0100\"\
        ,\n      \"numeroOriginalConvenio\": \"0010\",\n      \"passivoAnterior\"\
        : \"N\",\n      \"contaPassivo\": \"\",\n      \"contaValor\": [\n      {\n\
        \        \"conta\": \"\",\n        \"valor\": \"\"\n      }\n    ],\n    \
        \  \"contaPassivoFinanceiro\": \"string\",\n      \"especie\": \"02\",\n \
        \     \"ugReferencia\": \"010001\",\n      \"gestaoReferencia\": \"00001\"\
        ,\n      \"numeroEmpenhoReferencia\": \"2017NE800051\",\n      \"numeroListaReferencia\"\
        : \"2017LI800097\",\n      \"listaItens\": [\n      {\n        \"subItemNd\"\
        : \"01\",\n        \"quantidade\": \"000000000000001\",\n        \"valorUnitario\"\
        : \"00000000000555555\",\n        \"valorTotal\": \"00000000000555555\",\n\
        \        \"descricao\": \"Teste alteração\"\n      }\n    ],\n      \"numeroTransacaoCliente\"\
        : \"2017TR000049\",\n      \"credencial\": {\n      \"cpf\": \"60165570644\"\
        ,\n      \"ug\": \"010001\",\n      \"sistema\": \"SIAFI2017HM\"\n       \
        \ }\n      }\n#### Retorno\n    { \n      \"codigo\": 0,\n      \"mensagem\"\
        : \"010001000012017NE800059 010001000012017LI800105\",\n      \"erros\": [],\n\
        \      \"status\": 200\n    }"
      requestBody:
        description: Dados da Nota de Empenho a ser alterada
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlteraNE'
            example: Json de entrada  
        required: true
      responses:
        200:
          description: Retorna os dados da Nota de Empenho Alterada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NE'
        400:
          description: Algum campo enviado é inválido
          content: {}
        403:
          description: Usuário não tem permissão para realizar esta operação
          content: {}
        500:
          description: Erro interno do servidor
          content: {}
      operationId: https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v1/ne/alterar      
      externalDocs:
        description: "NE para Degustação"
        url: https://github.com/devserpro/apis/raw/master/portal-desenvolvedor/apis/documentos/SIAFI-Degustacao.pdf       
  /v1/ne/anular:
    post:
      tags:
      - Nota de Empenho v1
      summary: Anula Nota de Empenho
      description: |-
        "\n## Exemplo\n#### Chamada\n      [POST] https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v1/ne/anular\n\
        #### Conteúdo do corpo\n    {\n        \"dataEmissao\": \"31DEZ17\",\n   \
        \     \"numeroDocumento\": \"\",               \n        \"ugEmitente\": \"\
        010001\",\n        \"gestaoEmitente\": \"00001\",\n        \"numeroLista\"\
        : \"\",\n        \"taxaCambio\": \"\",\n        \"observacao\": \"Anulaçã\
        o de NE\",\n        \"valorTotalEmpenho\": \"555555\",\n        \"numeroProcesso\"\
        : \"0100\",\n        \"numeroOriginalConvenio\": \"0010\",\n        \"passivoAnterior\"\
        : \"N\",\n        \"contaPassivo\": \"\",\n        \"contaValor\": [\n   \
        \     {\n          \"conta\": \"\",\n          \"valor\": \"\"\n        }\n\
        \      ],\n        \"contaPassivoFinanceiro\": \"string\",\n        \"especie\"\
        : \"03\",\n        \"ugReferencia\": \"010001\",\n        \"gestaoReferencia\"\
        : \"00001\",\n        \"numeroEmpenhoReferencia\": \"2017NE800049\",\n   \
        \     \"numeroListaReferencia\": \"2017LI800095\",\n        \"listaItens\"\
        : [\n       {\n          \"subItemNd\": \"01\",\n          \"quantidade\"\
        : \"000000000000001\",\n          \"valorUnitario\": \"00000000000555555\"\
        ,\n          \"valorTotal\": \"00000000000555555\",\n          \"descricao\"\
        : \"Teste Anulação\"\n        }\n      ],\n        \"numeroTransacaoCliente\"\
        : \"2017TR000043\",\n        \"credencial\": {\n          \"cpf\": \"60165570644\"\
        ,\n          \"ug\": \"010001\",\n          \"sistema\": \"SIAFI2017HM\"\n\
        \      }\n    }\n#### Retorno\n    { \n      \"codigo\": 0,\n      \"mensagem\"\
        : \"010001000012017NE800059 010001000012017LI800105\",\n      \"erros\": [],\n\
        \      \"status\": 200\n    }"
      requestBody:
        description: Dados da Nota de Empenho a ser anulada
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnulaNE'
            example: Json de entrada  
        required: true
      responses:
        200:
          description: Retorna os dados da Nota de Empenho Anulada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NE'
        400:
          description: Algum campo enviado é inválido
          content: {}
        403:
          description: Usuário não tem permissão para realizar esta operação
          content: {}
        500:
          description: Erro interno do servidor
          content: {}
      operationId: https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v1/ne/anular      
      externalDocs:
        description: "NE para Degustação"
        url: https://github.com/devserpro/apis/raw/master/portal-desenvolvedor/apis/documentos/SIAFI-Degustacao.pdf        
  /v1/ne/consultaTransacao:
    post:
      tags:
      - Nota de Empenho v1
      summary: Consulta Número da Transação
      description:  |- 
        "\n## Exemplo\n#### Chamada\n      [POST] https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v1/ne/consultaTransacao\n\
        #### Conteúdo do corpo\n    {\n      \"numeroTransacaoCliente\": \"2017TR000045\"\
        ,\n      \"credencial\": {\n        \"cpf\": \"60165570644\",\n        \"\
        ug\": \"010001\",\n        \"sistema\": \"SIAFI2017HM\"\n      }\n    }\n\
        #### Retorno\n    { \n      \"codigo\": 0,\n      \"mensagem\": \"010001000012017NE800058\
        \ 010001000012017LI800104\",\n      \"erros\": [],\n      \"status\": 200\n\
        \    }"
      requestBody:
        description: Dados da Transação a ser Consultada
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConsultaTransacao'
            example: Json de entrada  
        required: true
      responses:
        200:
          description: Retorna os dados referentes ao número da Transação informado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NE'
        400:
          description: Algum campo enviado é inválido
          content: {}
        403:
          description: Usuário não tem permissão para realizar esta operação
          content: {}
        500:
          description: Erro interno do servidor
          content: {}
      operationId: https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v1/ne/consultaTransacao      
      externalDocs:
        description: "NE para Degustação"
        url: https://github.com/devserpro/apis/raw/master/portal-desenvolvedor/apis/documentos/SIAFI-Degustacao.pdf        
  /v1/ne/consultar:
    post:
      tags:
      - Nota de Empenho v1
      summary: Consulta Nota de Empenho
      description:  |- 
        "\n## Exemplo\n#### Chamada\n    [POST] https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v1/ne/consultar\n\
        #### Conteúdo do corpo \n\n    {\n      \"ano\": \"2018\",\n      \"ug\":\
        \ \"010001\",\n      \"gestao\": \"00001\",\n      \"numero\": \"800017\"\n\
        \    }\n#### Retorno \n    {\n    codigo: 0\n    mensagem:\n      dataEmissao:\
        \ 14Jun18\n      saldoPagar: ''\n      numeroNota: 2018NE800017\n      ugEmitente:\
        \ '010001'\n      nomeUgEmitente: CAMARA DOS DEPUTADOS\n      gestaoEmitente:\
        \ '00001'\n      nomeGestaoEmitente: TESOURO NACIONAL\n      nomeFavorecido:\
        \ CAMARA DOS DEPUTADOS\n      tipoFavorecido: '4'\n      codigoFavorecido:\
        \ '01000100001'\n      sicaf: ''\n      operacaoCambial: '0000000000'\n  \
        \    observacao: TESTE NE-01\n      evento: '401091'\n      esfera: '1'\n\
        \      ptres: '000001'\n      fonte: '0100000000'\n      codigoND: '339030'\n\
        \      ugResponsavel: 010019\n      planoInterno: AAA\n      valorEmpenho:\
        \ '00000000000000001'\n      tipoEmpenho: ORDINARIO\n      sistemaOrigem:\
        \ APISIAFI\n      docReferenciaOriginal: ''\n      numDocReferencia: ''\n\
        \      passivoAnterior: NAO\n      contaPassivo: ''\n      nomeModalidade:\
        \ NAO SE APLICA\n      nomeAmparo: ''\n      inciso: ''\n      numeroProcesso:\
        \ 103.504/1999\n      indicadorPagPrecatorio: ''\n      siglaUF: DF\n    \
        \  codigoMunicipioBeneficiado: '9701'\n      origemMaterial: NACIONAL\n  \
        \    referenciaDispensa: ''\n      numeroOriginal: ''\n      informacoesLancamentos:\
        \ 'LANCADO POR : 60165570644 - ANDERSON          UG : 010001   14Jun18   14:33'\n\
        \      contaCorrenteFinanceiro: F0100000000\n      contasPermanentes: []\n\
        \      numeroLista: 2018LI800043\n      subItens:\n        - numero: '00'\n\
        \          valor: '01'\n          seq: '000'\n          qtd: ''\n        \
        \  valorTotal: '00000000000000001'\n          descricao: LISTA NE-01\n   \
        \     - numero: '1'\n          valor: ''\n          seq: '000'\n         \
        \ qtd: ''\n          valorTotal: ''\n          descricao: ''\n      subItensSaldo:\n\
        \        - numero: '01'\n          valor: '00000000000000001'\n      nsaldo:\
        \ ''\n    erros: []\n    status: 200\n    }      "
      requestBody:
        description: Dados da Nota de Empenho a ser consultada
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConsultaNE'
            example: Json de entrada  
        required: true
      responses:
        200:
          description: Retorna os dados da Nota de Empenho
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DadosNE'
        400:
          description: Algum campo enviado é inválido
          content: {}
        403:
          description: Usuário não tem permissão para realizar esta operação
          content: {}
        500:
          description: Erro interno do servidor
          content: {}
      operationId: https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v1/ne/consultar      
      externalDocs:
        description: "NE para Degustação"
        url: https://github.com/devserpro/apis/raw/master/portal-desenvolvedor/apis/documentos/SIAFI-Degustacao.pdf        
  /v1/ne/realizar:
    post:
      tags:
      - Nota de Empenho v1
      summary: Adiciona Nota de Empenho
      description:  |- 
        "\n## Exemplo\n#### Chamada\n      [POST] https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v1/ne/realizar\n\
        #### Conteúdo do corpo\n    {\n        \"dataEmissao\": \"31DEZ17\",\n   \
        \     \"numeroDocumento\": \"\",               \n        \"ugEmitente\": \"\
        010001\",\n        \"gestaoEmitente\": \"00001\",\n        \"numeroLista\"\
        : \"\",\n        \"taxaCambio\": \"\",\n        \"observacao\": \"Inclusao\
        \ de NE\",\n        \"valorTotalEmpenho\": \"555555\",\n        \"numeroProcesso\"\
        : \"0100\",\n        \"numeroOriginalConvenio\": \"0010\",\n        \"passivoAnterior\"\
        : \"N\",\n        \"contaPassivo\": \"\",\n        \"contaValor\": [\n   \
        \      {\n          \"conta\": \"\",\n          \"valor\": \"\"\n        \
        \  }\n        ],\n        \"contaPassivoFinanceiro\": \"string\",\n      \
        \  \"favorecido\": \"75793032720\",\n        \"gestaoFavorecido\": \"\",\n\
        \        \"esferaOrcamentaria\": \"3\",\n        \"codigoUO\": \"\",\n   \
        \     \"codigoProgramaTrabalho\": \"000001\",\n        \"fonteRecursos\":\
        \ \"0100000000\",\n        \"naturezaDespesa\": \"339030\",\n        \"unidadeGestoraResponsavel\"\
        : \"\",\n        \"planoInterno\": \"\",\n        \"indicadorResultado\":\
        \ \"\",\n        \"indicadorTipoCredito\": \"\",\n        \"planoOrcamentario\"\
        : \"\",\n        \"codigoAutorEmenda\": \"\",\n        \"tipoEmpenho\": \"\
        1\",                        \n        \"modalidadeLicitacao\": \"08\",\n \
        \       \"amparoLegal\": \"\",\n        \"inciso\": \"\",\n        \"origemMaterial\"\
        : \"1\",\n        \"municipioBeneficiado\": \"9701\",\n        \"ufBeneficiada\"\
        : \"DF\",\n        \"dataVencimento\": [\n          \"31DEZ17\"\n        ],\n\
        \        \"dataRecebimento\": [\n          \"31DEZ17\"\n        ],\n     \
        \   \"valorCompromisso\": [\n          \"555555\"\n        ],\n        \"\
        listaItens\": [\n          {\n            \"subItemNd\": \"01\",\n       \
        \     \"quantidade\": \"1\",\n            \"valorUnitario\": \"555555\",\n\
        \            \"valorTotal\": \"555555\",\n            \"descricao\": \"Testando\
        \ inclusao de NE\"\n          }\n        ],\n        \"numeroTransacaoCliente\"\
        : \"2017TR000033\",\n        \"credencial\": {\n            \"cpf\": \"60165570644\"\
        ,\n            \"ug\": \"010001\",\n            \"sistema\": \"SIAFI2017HM\"\
        \n        }\n    }\n#### Retorno\n    { \n      \"codigo\": 0,\n      \"mensagem\"\
        : \"010001000012017NE800054 010001000012017LI800101\",\n      \"erros\": [],\n\
        \      \"status\": 200\n      }\n    }"
      requestBody:
        description: Dados da Nota de Empenho a ser adicionada
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RealizaNE'
            example: Json de entrada  
        required: true
      responses:
        200:
          description: Retorna os dados da Nota de Empenho Adicionada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NE'
        400:
          description: Algum campo enviado é inválido
          content: {}
        403:
          description: Usuário não tem permissão para realizar esta operação
          content: {}
        500:
          description: Erro interno do servidor
          content: {}
      operationId: https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v1/ne/realizar      
      externalDocs:
        description: "NE para Degustação"
        url: https://github.com/devserpro/apis/raw/master/portal-desenvolvedor/apis/documentos/SIAFI-Degustacao.pdf        
  /v1/ne/reforcar:
    post:
      tags:
      - Nota de Empenho v1
      summary: Reforça Nota de Empenho
      description:  |- 
        "\n## Exemplo\n#### Chamada\n      [POST] https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v1/ne/reforcar\n\
        #### Conteúdo do corpo\n    {\n      \"dataEmissao\": \"31DEZ17\",\n     \
        \ \"numeroDocumento\": \"\",               \n      \"ugEmitente\": \"010001\"\
        ,\n      \"gestaoEmitente\": \"00001\",\n      \"numeroLista\": \"\",\n  \
        \    \"taxaCambio\": \"\",\n      \"observacao\": \"Reforço de NE\",\n   \
        \   \"valorTotalEmpenho\": \"555555\",\n      \"numeroProcesso\": \"0100\"\
        ,\n      \"numeroOriginalConvenio\": \"0010\",\n      \"passivoAnterior\"\
        : \"N\",\n      \"contaPassivo\": \"\",\n      \"contaValor\": [\n      {\n\
        \        \"conta\": \"\",\n        \"valor\": \"\"\n      }\n    ],\n    \
        \  \"contaPassivoFinanceiro\": \"string\",\n      \"especie\": \"02\",\n \
        \     \"ugReferencia\": \"010001\",\n      \"gestaoReferencia\": \"00001\"\
        ,\n      \"numeroEmpenhoReferencia\": \"2017NE800050\",\n      \"numeroListaReferencia\"\
        : \"2017LI800096\",\n      \"listaItens\": [\n      {\n        \"subItemNd\"\
        : \"01\",\n        \"quantidade\": \"000000000000001\",\n        \"valorUnitario\"\
        : \"00000000000555555\",\n        \"valorTotal\": \"00000000000555555\",\n\
        \        \"descricao\": \"Teste Anulação\"\n      }\n    ],\n      \"numeroTransacaoCliente\"\
        : \"2017TR000046\",\n      \"credencial\": {\n        \"cpf\": \"60165570644\"\
        ,\n        \"ug\": \"010001\",\n        \"sistema\": \"SIAFI2017HM\"\n   \
        \   }\n    }\n#### Retorno\n    { \n      \"codigo\": 0,\n      \"mensagem\"\
        : \"010001000012017NE800059 010001000012017LI800105\",\n      \"erros\": [],\n\
        \      \"status\": 200\n      }\n    }"
      requestBody:
        description: Dados da Nota de Empenho a ser reforçada
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReforcaNE'
            example: Json de entrada  
        required: true
      responses:
        200:
          description: Retorna os dados da Nota de Empenho Reforçada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NE'
              example: Json de saída 
        400:
          description: Algum campo enviado é inválido
          content: {}
        403:
          description: Usuário não tem permissão para realizar esta operação
          content: {}
        500:
          description: Erro interno do servidor
          content: {}
      operationId: https://gateway.apiserpro.serpro.gov.br/integra-siafi-trial/api/v1/ne/reforcar      
      externalDocs:
        description: "NE para Degustação"
        url: https://github.com/devserpro/apis/raw/master/portal-desenvolvedor/apis/documentos/SIAFI-Degustacao.pdf      
  /status:
    get:
      tags:
      - Status
      summary: Verifica status da API
      responses:
        200:
          description: Serviço disponível
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
            lastUpdateAt:
              example: 2019-02-18T11:27:06-03:00
        500:
          description: Serviço indisponível
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
            lastUpdateAt:
              example: 2019-02-18T11:27:06-03:00
components:
  schemas:
    RealizaNE:
      type: object
      properties:
        dataEmissao:
          type: string
        numeroDocumento:
          type: string
        ugEmitente:
          type: string
        gestaoEmitente:
          type: string
        numeroLista:
          type: string
        taxaCambio:
          type: string
        observacao:
          type: string
        valorTotalEmpenho:
          type: string
        numeroProcesso:
          type: string
        numeroOriginalConvenio:
          type: string
        passivoAnterior:
          type: string
        contaPassivo:
          type: string
        contaValor:
          type: object
          properties:
            conta:
              type: string
            valor:
              type: string
        contaPassivoFinanceiro:
          type: string
        favorecido:
          type: string
        gestaoFavorecido:
          type: string
        esferaOrcamentaria:
          type: string
        codigoUO:
          type: string
        codigoProgramaTrabalho:
          type: string
        fonteRecursos:
          type: string
        naturezaDespesa:
          type: string
        unidadeGestoraResponsavel:
          type: string
        planoInterno:
          type: string
        indicadorResultado:
          type: string
        indicadorTipoCredito:
          type: string
        planoOrcamentario:
          type: string
        codigoAutorEmenda:
          type: string
        tipoEmpenho:
          type: string
        modalidadeLicitacao:
          type: string
        amparoLegal:
          type: string
        inciso:
          type: string
        origemMaterial:
          type: string
        municipioBeneficiado:
          type: string
        ufBeneficiada:
          type: string
        dataVencimento:
          type: string
        dataRecebimento:
          type: string
        valorCompromisso:
          type: string
        listaItens:
          type: object
          properties:
            subItemNd:
              type: string
            valorTotal:
              type: string
            quantidade:
              type: string
            valorUnitario:
              type: string
            descricao:
              type: string
        numeroTransacaoCliente:
          type: string
        credencial:
          type: object
          properties:
            ug:
              type: string
            sistema:
              type: string
            cpf:
              type: string
    EventoNC:
      type: object
      properties:
        evento:
          type: string
        esferaOrcamentaria:
          type: string
        ptres:
          type: string
        fonteRecurso:
          type: string
        naturezaDespesa:
          type: string
        subitem:
          type: string
        ugResponsavel:
          type: string
        planoInterno:
          type: string
        valor:
          type: string
    EventoND:
      type: object
      properties:
        evento:
          type: string
        esferaOrcamentaria:
          type: string
        unidadeOrcamentaria:
          type: string
        ptres:
          type: string
        fonteRecurso:
          type: string
        naturezaDespesa:
          type: string
        subitemND:
          type: string
        ugr:
          type: string
        planoInterno:
          type: string
        valor:
          type: string
    GeraNL:
      type: object
      properties:
        dataEmissao:
          type: string
        numero:
          type: string
        ugEmitente:
          type: string
        gestaoEmitente:
          type: string
        ugFavorecida:
          type: string
        gestaoFavorecida:
          type: string
        taxaCambio:
          type: string
        numeroTransferencia:
          type: string
        observacao:
          type: string
        listaEventos:
          type: array
          items:
            $ref: '#/components/schemas/EventoNL'
    NLGerada:
      type: object
      properties:
        ug:
          type: string
        gestao:
          type: string
        ano:
          type: string
        tipoDoc:
          type: string
        sequencialDoc:
          type: string
    notaBloqueio:
      type: object
      properties:
        dataEmissao:
          type: string
        numeroDocumento:
          type: string
        ugEmitente:
          type: string
        gestaoEmitente:
          type: string
        taxaCambio:
          type: string
        observacao:
          type: string
        listaEventos:
          type: array
          items:
            $ref: '#/components/schemas/EventoNDBloqueio'
    NotaCredito:
      type: object
      properties:
        dataEmissao:
          type: string
        numero:
          type: string
        ugEmitente:
          type: string
        gestaoEmitente:
          type: string
        ugFavorecida:
          type: string
        gestaoFavorecida:
          type: string
        taxaCambio:
          type: string
        numeroTransferencia:
          type: string
        observacao:
          type: string
        listaEventos:
          type: array
          items:
            $ref: '#/components/schemas/EventoNC'
    GeraNC:
      type: object
      properties:
        dataEmissao:
          type: string
        numero:
          type: string
        ugEmitente:
          type: string
        gestaoEmitente:
          type: string
        ugFavorecida:
          type: string
        gestaoFavorecida:
          type: string
        taxaCambio:
          type: string
        numeroTransferencia:
          type: string
        observacao:
          type: string
        listaEventos:
          type: array
          items:
            $ref: '#/components/schemas/EventoNC'
    GeraND:
      type: object
      properties:
        dataEmissao:
          type: string
        numero:
          type: string
        ugEmitente:
          type: string
        gestaoEmitente:
          type: string
        ugFavorecida:
          type: string
        gestaoFavorecida:
          type: string
        taxaCambio:
          type: string
        observacao:
          type: string
        listaEventos:
          type: array
          items:
            $ref: '#/components/schemas/EventoND'
    EventosNDDesOrc:
      type: object
      properties:
        reducaoAcrescimos:
          type: string
        sequencialFonte:
          type: string
        modalidadeAplicacao:
          type: string
        elementoDespesa:
          type: string
        subitemND:
          type: string
        codigoUGResponsavel:
          type: string
        planoInterno:
          type: string
        valor:
          type: string
    NDGerada:
      type: object
      properties:
        ug:
          type: string
        gestao:
          type: string
        ano:
          type: string
        tipoDoc:
          type: string
        sequencialDoc:
          type: string
        numRequisicao:
          type: string
    NDDetaOrcGerada:
      type: object
      properties:
        ug:
          type: string
        gestao:
          type: string
        ano:
          type: string
        tipoDoc:
          type: string
        sequencialDoc:
          type: string
        numRequisicao:
          type: string
    EventoNDBloqueio:
      type: object
      properties:
        evento:
          type: string
        esferaOrcamentaria:
          type: string
        unidadeOrcamentaria:
          type: string
        ptres:
          type: string
        idoc:
          type: string
        naturezaDespesa:
          type: string
        grupoFonte:
          type: string
        resultado:
          type: string
        tipoCredito:
          type: string
        planoOrcamentario:
          type: string
        autorEmenda:
          type: string
        valor:
          type: string
    ConsultaNDDetOrc:
      type: object
      properties:
        dataEmissao:
          type: string
        especieND:
          type: string
        numeroDocumento:
          type: string
        ugEmitente:
          type: string
        nomeUGEmitente:
          type: string
        gestaoEmitente:
          type: string
        esferaOrcamentaria:
          type: string
        fonteRecurso:
          type: string
        categoriaDespesa:
          type: string
        codigoInstrumentoLegal:
          type: string
        numeroInstrumentoLegal:
          type: string
        dataPublicacao:
          type: string
        taxaCambio:
          type: string
        ptres:
          type: string
        idoc:
          type: string
        observacao:
          type: string
        listaEventos:
          type: array
          items:
            $ref: '#/components/schemas/EventosNDDesOrc'
    listaItens:
      type: object
      properties:
        subItemNd:
          type: string
        quantidade:
          type: string
        valorUnitario:
          type: string
        descricao:
          type: string
    NCGerada:
      type: object
      properties:
        ug:
          type: string
        gestao:
          type: string
        ano:
          type: string
        tipoDoc:
          type: string
        sequencialDoc:
          type: string
    NotaDotacao:
      type: object
      properties:
        dataEmissao:
          type: string
        numeroDocumento:
          type: string
        ugEmitente:
          type: string
        nomeUgEmitente:
          type: string
        gestaoEmitente:
          type: string
        favorecido:
          type: string
        nomeFavorecido:
          type: string
        taxaCambio:
          type: string
        observacao:
          type: string
        listaEventos:
          type: array
          items:
            $ref: '#/components/schemas/EventoND'
    EventoNL:
      type: object
      properties:
        evento:
          type: string
        inscricao1:
          type: string
        inscricao2:
          type: string
        classificacao1:
          type: string
        classificacao2:
          type: string
        classOrcamentaria1:
          type: string
        classOrcamentaria2:
          type: string
        valor:
          type: string
        numeroReferencia:
          type: string
    ListaDocumentos:
      type: object
      properties:
        Nota Empenho:
          type: string
        Nota Crédito:
          type: string
        Nota Lançamento:
          type: string
        Nota Dotação:
          type: string
    Status:
      type: object
      properties:
        lastUpdateAt:
          type: string
          format: date-time
    Documentos:
      type: object
      properties:
        data:
          type: string
        ugEmitente:
          type: string
        gestaoEmitente:
          type: string
        listaDocumentos:
          type: array
          items:
            $ref: '#/components/schemas/ListaDocumentos'
    DadosNE:
      type: object
      properties:
        dataEmissao:
          type: string
        saldoPagar:
          type: string
        numeroNota:
          type: string
        ugEmitente:
          type: string
        nomeUgEmitente:
          type: string
        gestaoEmitente:
          type: string
        nomeGestaoEmitente:
          type: string
        nomeFavorecido:
          type: string
        tipoFavorecido:
          type: string
        codigoFavorecido:
          type: string
        sicaf:
          type: string
        operacaoCambial:
          type: string
        observacao:
          type: string
        evento:
          type: string
        esfera:
          type: string
        ptres:
          type: string
        fonte:
          type: string
        codigoND:
          type: string
        ugResponsavel:
          type: string
        planoInterno:
          type: string
        valorEmpenho:
          type: string
        tipoEmpenho:
          type: string
        sistemaOrigem:
          type: string
        docReferenciaOriginal:
          type: string
        numDocReferencia:
          type: string
        passivoAnterior:
          type: string
        contaPassivo:
          type: string
        nomeModalidade:
          type: string
        nomeAmparo:
          type: string
        inciso:
          type: string
        numeroProcesso:
          type: string
        indicadorPagPrecatorio:
          type: string
        siglaUF:
          type: string
        codigoMunicipioBeneficiado:
          type: string
        origemMaterial:
          type: string
        referenciaDispensa:
          type: string
        numeroOriginal:
          type: string
        informacoesLancamentos:
          type: string
        contaCorrenteFinanceiro:
          type: string
        contasPermanentes:
          type: array
          items:
            $ref: '#/components/schemas/Conta'
        numeroLista:
          type: string
        subItens:
          type: array
          items:
            $ref: '#/components/schemas/subItem'
        subItensSaldo:
          type: array
          items:
            $ref: '#/components/schemas/subItemSaldo'
        nsaldo:
          type: string
    GeraNDDetOrc:
      type: object
      properties:
        dataEmissao:
          type: string
        especieND:
          type: string
        numeroDocumento:
          type: string
        ugEmitente:
          type: string
        nomeUGEmitente:
          type: string
        gestaoEmitente:
          type: string
        esferaOrcamentaria:
          type: string
        fonteRecurso:
          type: string
        categoriaDespesa:
          type: string
        codigoInstrumentoLegal:
          type: string
        numeroInstrumentoLegal:
          type: string
        dataPublicacao:
          type: string
        taxaCambio:
          type: string
        ptres:
          type: string
        idoc:
          type: string
        observacao:
          type: string
        listaEventos:
          type: array
          items:
            $ref: '#/components/schemas/EventosNDDesOrc'
    AtualizaNE:
      type: object
      properties:
        dataEmissao:
          type: string
        numeroDocumento:
          type: string
        ugEmitente:
          type: string
        gestaoEmitente:
          type: string
        numeroLista:
          type: string
        taxaCambio:
          type: string
        observacao:
          type: string
        valorTotalEmpenho:
          type: string
        numeroProcesso:
          type: string
        numeroOriginalConvenio:
          type: string
        passivoAnterior:
          type: string
        contaPassivo:
          type: string
        contaValor:
          type: object
          properties:
            conta:
              type: string
            valor:
              type: string
        contaPassivoFinanceiro:
          type: string
        especie:
          type: string
        ugReferencia:
          type: string
        gestaoReferencia:
          type: string
        numeroEmpenhoReferencia:
          type: string
        numeroListaReferencia:
          type: string
        listaItens:
          type: object
          properties:
            subItemNd:
              type: string
            valorTotal:
              type: string
            quantidade:
              type: string
            valorUnitario:
              type: string
            descricao:
              type: string
        numeroTransacaoCliente:
          type: string
        credencial:
          type: object
          properties:
            ug:
              type: string
            sistema:
              type: string
            cpf:
              type: string
    Credencial:
      type: object
      properties:
        cpf:
          type: string
        ug:
          type: string
        sistema:
          type: string
    AlteraNE:
      type: object
      properties:
        dataEmissao:
          type: string
        numeroDocumento:
          type: string
        ugEmitente:
          type: string
        gestaoEmitente:
          type: string
        numeroLista:
          type: string
        taxaCambio:
          type: string
        observacao:
          type: string
        valorTotalEmpenho:
          type: string
        numeroProcesso:
          type: string
        numeroOriginalConvenio:
          type: string
        passivoAnterior:
          type: string
        contaPassivo:
          type: string
        contaValor:
          $ref: '#/components/schemas/Conta'
        contaPassivoFinanceiro:
          type: string
        especie:
          type: string
        ugReferencia:
          type: string
        gestaoReferencia:
          type: string
        numeroEmpenhoReferencia:
          type: string
        listaItens:
          $ref: '#/components/schemas/listaItens'
        numeroTransacaoCliente:
          type: string
        credencial:
          $ref: '#/components/schemas/Credencial'
    subItemSaldo:
      type: object
      properties:
        numero:
          type: string
        valor:
          type: string
    subItem:
      type: object
      properties:
        numero:
          type: string
        valor:
          type: string
        seq:
          type: string
        qtd:
          type: string
        valorTotal:
          type: string
        descricao:
          type: string
    Conta:
      type: object
      properties:
        conta:
          type: string
        valor:
          type: string
    NotaLancamento:
      type: object
      properties:
        dataEmissao:
          type: string
        ugEmitente:
          type: string
        nomeUgEmitente:
          type: string
        gestaoEmitente:
          type: string
        nomeGestaoEmitente:
          type: string
        favorecido:
          type: string
        nomeFavorecido:
          type: string
        gestaoFavorecido:
          type: string
        nomeGestaoFavorecido:
          type: string
        numero:
          type: string
        dataValorizacao:
          type: string
        taxaCambio:
          type: string
        tituloCredito:
          type: string
        dataVencimento:
          type: string
        sistemaOrigem:
          type: string
        observacao:
          type: string
        listaEventos:
          type: array
          items:
            $ref: '#/components/schemas/EventoNL'
    ConsultaNE:
      type: object
      properties:
        ano:
          type: string
        ug:
          type: string
        gestao:
          type: string
        numero:
          type: string
    NDBloqueioGerada:
      type: object
      properties:
        ug:
          type: string
        gestao:
          type: string
        ano:
          type: string
        tipoDoc:
          type: string
        sequencialDoc:
          type: string
        numRequisicao:
          type: string
    ConsultaTransacao:
      type: object
      properties:
        numeroTransacaoCliente:
          type: string
        credencial:
          type: object
          properties:
            ug:
              type: string
            sistema:
              type: string
            cpf:
              type: string
    ReforcaNE:
      type: object
      properties:
        dataEmissao:
          type: string
        numeroDocumento:
          type: string
        ugEmitente:
          type: string
        gestaoEmitente:
          type: string
        numeroLista:
          type: string
        taxaCambio:
          type: string
        observacao:
          type: string
        valorTotalEmpenho:
          type: string
        numeroProcesso:
          type: string
        numeroOriginalConvenio:
          type: string
        passivoAnterior:
          type: string
        contaPassivo:
          type: string
        contaValor:
          type: object
          properties:
            conta:
              type: string
            valor:
              type: string
        contaPassivoFinanceiro:
          type: string
        especie:
          type: string
        ugReferencia:
          type: string
        gestaoReferencia:
          type: string
        numeroEmpenhoReferencia:
          type: string
        numeroListaReferencia:
          type: string
        listaItens:
          type: object
          properties:
            subItemNd:
              type: string
            valorTotal:
              type: string
            quantidade:
              type: string
            valorUnitario:
              type: string
            descricao:
              type: string
        numeroTransacaoCliente:
          type: string
        credencial:
          type: object
          properties:
            ug:
              type: string
            sistema:
              type: string
            cpf:
              type: string
    NE:
      type: object
      properties:
        codigo:
          type: integer
        mensagem:
          type: string
        erros:
          type: array
          items:
            type: string
        status:
          type: integer
    AnulaNE:
      type: object
      properties:
        dataEmissao:
          type: string
        numeroDocumento:
          type: string
        ugEmitente:
          type: string
        gestaoEmitente:
          type: string
        numeroLista:
          type: string
        taxaCambio:
          type: string
        observacao:
          type: string
        valorTotalEmpenho:
          type: string
        numeroProcesso:
          type: string
        numeroOriginalConvenio:
          type: string
        passivoAnterior:
          type: string
        contaPassivo:
          type: string
        contaValor:
          $ref: '#/components/schemas/Conta'
        contaPassivoFinanceiro:
          type: string
        especie:
          type: string
        ugReferencia:
          type: string
        gestaoReferencia:
          type: string
        numeroEmpenhoReferencia:
          type: string
        listaItens:
          $ref: '#/components/schemas/listaItens'
        numeroTransacaoCliente:
          type: string
        credencial:
          $ref: '#/components/schemas/Credencial'
  securitySchemes:
    APIKEY:
      type: apiKey
      name: x-jwt-assertion
      in: header
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: 'https://apigateway.serpro.gov.br/token'
    Authorization:
      type: http
      description: Autenticação para ambiente trial
      scheme: bearer
