openapi: 3.0.2
info:
  title: Integra Loja Franca
  description: "A API Loja Franca de fronteiras disponibiliza operações de consulta às informações cadastrais de Pessoas Juridicas no Brasil."
  version: "1"
servers:
  - url: https://apigateway.serpro.gov.br/api-loja-franca-trial/api
    description: Trial
  - url: https://apigateway.serpro.gov.br/api-loja-franca/api
    description: Produção
security:
  - APIKEY: []
    OAuth2: []
    Authorization: []
externalDocs:
  description: "Detalhamento da API Loja Franca de Fronteiras"
  url: https://github.com/devserpro/apis/raw/master/portal-desenvolvedor/apis/documentos/Informacoes-LojaFranca.pdf
paths:
  Descrição:
    head:
      tags:
      - 1 Introdução
      summary: API Integra Loja Franca de Fronteira
      description: "A API INTEGRA LOJA FRANCA"   
  /:
    post:
      tags:
      - 5 Métodos da API
      summary: Realiza as operações da API
      description: "Métodos da API" 
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/EntradaCota'
            example: Informe o Payload em base 64 de acordo com o método desejado.
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SaidaCota'
        422:
          description: |-
            <strong>Códigos dos erros de negócio:</strong>
            13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 52, 54, 55, 56, 57, 58, 99, -99
          content: {}
components:
  schemas:
    EntradaCota:
      type: object
      example: Informe aqui o payload da transação
    SaidaCota:
      type: object
      properties:
        nomeViajante:
          type: string
          description: Nome do Viajante
          example: FULANO DE TAL
        dataUltimaVenda:
          type: string
          description: Data da última venda para o viajante
          example: 2017-12-08T17:13:55
        valorSaldoCota:
          type: number
          description: Saldo da cota do viajante
          example: 300.0
        saldoCotaProduto:
          type: array
          items:
            type: object
            properties:
              codigoProduto:
                type: integer
                example: 1
              quantidade:
                type: integer
                example: 15
  securitySchemes:
      APIKEY:
        type: apiKey
        name: x-jwt-assertion
        in: header
      OAuth2:
        type: oauth2
        flows:
          clientCredentials:
            tokenUrl: 'https://apigateway.serpro.gov.br/token'
      Authorization:
        type: http
        description: Autenticação para ambiente trial
        scheme: bearer
