host: apigateway.serpro.gov.br
security:
  - Bearer: []
securityDefinitions:
  Bearer:
    type: apiKey
    name: Authorization
    in: header
swagger: '2.0'
info:
  version: 1.0.0
  title: Consulta Massiva CPF (consulta-cpf)
  description: >-

    Para informações de como se autenticar antes de consumir as API, por favor,
    consulte a documentação em:
    https://servicos.serpro.gov.br/api-serpro/biblioteca/arquivos/como-autenticar-documentacao-api.pdf


    O serviço `Consulta Massiva CPF` é disponibilizado através do `HTTP REST`
    oferencendo operação de consulta às informações cadastrais de Pessoas
    Físicas no Brasil.

    ## Códigos de Retorno não Bilhetados 

    | Código de retorno | Resumido | Explicação |

    | -------------
    |:--------------------|:-----------------------------------------------------------------------------|

    | &nbsp | &nbsp    | &nbsp  | 
     | 400           | Requisição inválida | O Número de Inscrição do CPF informado não é válido. |
    | &nbsp           | &nbsp    | &nbsp  | 

    | 500           | Erro no servidor    | Ocorreu algum erro interno.      |


    ## Tipos de Campos Retornados


    | Tipos de campos | Valor de retorno |

    | ---------------------- |
    :------------------------------------------------------------- |

    | NI        | Número de Inscrição no Cadastro de Pessoa Física, no formato
    99999999999 |

    | Nome     | Nome da Pessoa Física  |

    | Situação | Situação Cadastral da Pessoa Física, formada por dois campos:
    Código e Descrição.|

    | Situação/Código | Código da Situação Cadastral da Pessoa Física |

    | Situação/Descrição | Descrição da Situação Cadastral da Pessoa Física |

     --------------------------
     
     
     ## Tipos de Situação Cadastral Retornados


    | Código | Descrição |

    | ---------------------- |
    :------------------------------------------------------------- |

    | 0 | Regular |

    | 2 | Suspensa  |

    | 3 | Titular Falecido  |

    | 4 | Pendente de Regularização |

    | 5 | Cancelada por Multiplicidade |

    | 8 | Nula |

    | 9 | Cancelada de Ofício |

     --------------------------     
     
    <br><br>

    ## Solicitando assinatura com Carimbo de Tempo

      Caso deseje que sua solicitação venha com uma assinatura de Carimbo de Tempo, basta incluir, no cabeçalho de sua requisição, a informação `x-signature: 1`.
      
      A assinatura será retornada no cabeçalho da resposta, com o nome `stamp`.

    <br>

    ## Verificando assinatura com Carimbo de Tempo

      Para verificar assinatura de carimbo de tempo, siga as instruções da documentação abaixo:
      
    [Documentação - Verificação Carimbo de
    Tempo](https://rawgit.com/devserpro/apis/master/_layouts/swagger-ui-master/dist/index.html?bearer=4e1a1858bdd584fdc077fb7d80f39283&url=https://rawgit.com/devserpro/apis/master/_layouts/swaggers/carimbo-tempo/swagger-timestampcheck-trial-bsa.json#!/default/post_check)

     
    ## Produção

    ### Endereço Base de Produção
     
        https://apigateway.serpro.gov.br/consulta-cpf/v1/
        
    ## Degustação

        

    ### Endereço Base de Degustação

        https://apigateway.serpro.gov.br/consulta-cpf-trial/v1/
        
basePath: /consulta-cpf-trial/v1
paths:
  '/cpf/{ni}':
    get:
      tags:
        - Consulta CPF
      summary: Consulta o CPF
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      description: >-
        Retorna os dados do Cadastro de Pessoa Física (CPF)

        ### CPF's Disponíveis para Degustação

        | CPF | Situação Cadastral |

        | ---------------------- |
        :------------------------------------------------------------- |

        | 40442820135 | CPF Regular |

        | 63017285995 | CPF Regular |

        | 91708635203 | CPF Regular  |

        | 58136053391 | CPF Regular |    

        | 40532176871 | Suspensa |

        | 47123586964 | Suspensa |

        | 07691852312 | Pendente de Regularização |

        | 10975384600 | Pendente de Regularização |

        | 01648527949 | Cancelada por Multiplicidade |

        | 47893062592 | Cancelada por Multiplicidade |

        | 98302514705 | Nula |    

        | 18025346790 | Nula |

        | 64913872591 | Cancelada de Ofício |

        | 52389071686 | Cancelada de Ofício |

        | 05137518743 | Titular Falecido |

        | 08849979878 | Titular Falecido |

         --------------------------     

        ## Exemplo

          #### Chamada
          
            https://apigateway.serpro.gov.br/consulta-cpf-trial/v1/cpf/40442820135
            
          #### Retorno
          
            {
              "ni":"40442820135",
              "nome":"Nome do CPF 404.428.201-35",
              "situacao":
              {
                "codigo":"0",
                "descricao":"Regular"
              }
            }        
      produces:
        - application/json
      parameters:
        - description: Número de inscrição no CPF
          name: ni
          type: string
          required: true
          in: path
        - description: >-
            Solicitação de assinatura de carimbo de tempo. Informe 1 para
            assinar, ou deixe em branco para não assinar.
          name: x-signature
          in: header
          type: string
      responses:
        '200':
          description: Retorna os dados da Pessoa Física
          headers:
            stamp:
              type: string
              description: Carimbo de Tempo
          schema:
            $ref: '#/definitions/CPF'
        '206':
          description: >-
            Partial content, as informações foram retornadas, mas não
            completamente.
        '400':
          description: O número de CPF informado não é válido.
        '404':
          description: Não existe CPF com o número de inscrição informado.
        '500':
          description: Erro interno do servidor
  /status:
    get:
      tags:
        - Status
      summary: Verifica status da API
      responses:
        '200':
          description: Serviço disponível
        '500':
          description: Serviço indisponível
consumes:
  - application/json
schemes:
  - https
definitions:
  CPF:
    type: object
    properties:
      ni:
        type: string
        description: 'Ex: 99999999999'
      nome:
        type: string
        description: 'Ex: PESSOA FISICA DA SILVA'
      situacao:
        properties:
          codigo:
            type: string
            description: 'Ex: 0'
          descricao:
            type: string
            description: 'Ex: REGULAR'