openapi: 3.0.1
info:
  title: Integração SIAFI (api-siafi)
  version: '1.0.0'
  description: Teste 
servers:
  - url: 'https://apigateway.serpro.gov.br/api-siafi-trial/1.0.0'
    description: Trial
  - url: 'https://apigateway.serpro.gov.br/api-siafi/1.0.0'
    description: Produção
security:
  - APIKEY: []
    OAuth2: []
    Authorization: []
externalDocs:
  description: "Detalhamento da API SIAFI"
  url: https://github.com/devserpro/apis/raw/master/portal-desenvolvedor/apis/documentos/Informacoes-SIAFI.pdf
paths:
  '/ne/alterar':
    post:
      summary: Altera Nota de Empenho
      description: "Teste"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlteraNE'
            example: Json de entrada.
      responses:
        200:
          description: Retorna os dados da Nota de Empenho Alterada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NE'
        400:
          description: Algum campo enviado é inválido
        403:
          description: Usuário não tem permissão para realizar esta operação
        500:
          description: Erro interno do servidor 
      operationId: https://apigateway.serpro.gov.br/api-siafi-trial/1.0.0/ne/alterar
      externalDocs:
        description: "NE para Degustação"
        url: https://github.com/devserpro/apis/raw/master/portal-desenvolvedor/apis/documentos/SIAFI-Degustacao.pdf        
  '/status':
    get:
      tags:
        - Status
      summary: Verifica status da API
      responses:
        200:
          description: Serviço disponível
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
              example:
                lastUpdateAt: "2019-02-18T11:27:06-03:00"
        500:
          description: Serviço indisponível
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
              example:
                lastUpdateAt: "2019-02-18T11:27:06-03:00" 
components:
  schemas:
    Status:
      type: object
      properties:
        lastUpdateAt:
          type: string
          format: date-time
    AlteraNE:
      type: object
      properties:
        dataEmissao:
          type: string
        numeroDocumento:
          type: string
        ugEmitente:
          type: string
        gestaoEmitente:
          type: string
        numeroLista:
          type: string
        taxaCambio:
          type: string
        observacao:
          type: string
        valorTotalEmpenho:
          type: string
        numeroProcesso:
          type: string
        numeroOriginalConvenio:
          type: string
        passivoAnterior:
          type: string
        contaPassivo:
          type: string
        contaValor:
          $ref: '#/components/schemas/Conta'
        contaPassivoFinanceiro:
          type: string
        especie:
          type: string
        ugReferencia:
          type: string
        gestaoReferencia:
          type: string
        numeroEmpenhoReferencia:
          type: string
        listaItens:
          $ref: '#/components/schemas/listaItens'
        numeroTransacaoCliente:
          type: string
        credencial:
          $ref: '#/components/schemas/Credencial'  
    NE:
      type: object
      properties:
        codigo:
          type: integer
        mensagem:
          type: string
        erros:
          type: array
          items:
            type: string
        status:
          type: integer          
    listaItens:
      type: object
      properties:
        subItemNd:
          type: string
        quantidade:
          type: string
        valorUnitario:
          type: string
        descricao:
          type: string
    Conta:
      type: object
      properties:
        conta:
          type: string
        valor:
          type: string
    Credencial:
      type: object
      properties:
        cpf:
          type: string
        ug:
          type: string
        sistema:
          type: string          
  securitySchemes:
    APIKEY:
      type: apiKey
      name: x-jwt-assertion
      in: header
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: 'https://apigateway.serpro.gov.br/token'
    Authorization:
      type: http
      description: Autenticação para ambiente trial
      scheme: bearer
