openapi: 3.0.1
info:
  title: Consulta Dívida Ativa
  version: api
  description: |-
    A api &nbsp; *consulta-divida-ativa* viabiliza a consulta de débitos na dívida ativa da união via serviço *HTTP REST* &nbsp;.
    Para informações de como se autenticar antes de consumir as API, por favor, consulte a documentação no link: [Autenticação](https://servicos.serpro.gov.br/api-serpro/biblioteca/arquivos/como-autenticar-documentacao-api.pdf)
    ## Códigos de Retorno não Tarifados 
    |  Código de retorno |  Resumido |  Explicação |
    | ------------- |:--------------------|:----------------------------------------------------------------------------- |
     |400           | Requisição inválida    | O número de inscrição informado não é válido.       |
    | 404 y         | Not found    | O número de inscrição informado não foi encontrado.  |
    | 500           | Erro no Servidor | Ocorreu algum erro no servidor.      | 
servers:
  - url: https://apigateway.serpro.gov.br/consulta-divida-ativa-trial/api
    description: Trial
  - url: https://apigateway.serpro.gov.br/consulta-divida-ativa/api
    description: Produção
security:
  - APIKEY: []
    OAuth2: []
    Authorization: []
externalDocs:
  description: "Detalhamento da API Loja Franca de Fronteiras"
  url: https://github.com/devserpro/apis/raw/master/portal-desenvolvedor/apis/documentos/Informacoes-LojaFranca.pdf
paths:
  '/v1/inscricao/{numeroInscricao}':
    get:
      tags:
        - Dívida Ativa
      summary: Consulta dados de inscrição 
      description: Teste do Divida Ativa
      parameters:
        - name: numeroInscricao
          in: path
          description: Número de inscrição
          required: true
          schema:
            type: string
      responses:      
        "200":
          description: Retorna objeto json com o resultado da consulta
        "400":
          description: Número de Inscrição inválido.
        "404":
          description: Inscrição não encontrada.
        "500":
          description: Erro interno do servidor
      operationId: https://apigateway.serpro.gov.br/api-loja-franca-trial/api/{payload em base 64}
      externalDocs:
        description: "Payloads para degustação"
        url: https://github.com/devserpro/apis/raw/master/portal-desenvolvedor/apis/documentos/LojaFranca-Degustacao.pdf
  '/status':
    get:
      tags:
        - Status
      summary: Verifica status da API
      responses:
        "200":
          description: Serviço disponível
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
              example:
                lastUpdateAt: "2019-02-18T11:27:06-03:00"
        "500":
          description: Serviço indisponível
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
              example:
                lastUpdateAt: "2019-02-18T11:27:06-03:00" 
components:
  schemas:
    Status:
      type: object
      properties:
        lastUpdateAt:
          type: string
          format: date-time   

  securitySchemes:
    APIKEY:
      type: apiKey
      name: x-jwt-assertion
      in: header
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: 'https://apigateway.serpro.gov.br/token'
    Authorization:
      type: http
      description: Autenticação para ambiente trial
      scheme: bearer
