.md-header{
	background-color: #3f71b5;
}
.md-nav--primary {
    font-size: .75rem;
    line-height: 1.5;
    background-color: #eee;
    border-color: #eee;
    border-width: thin;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    padding-top: .6rem;
}