openapi: "3.0.0"
info:
  version: "v1"
  title: "Consulta NFe"
  description: "Chave do ambiente Trial: **Bearer 4e1a1858bdd584fdc077fb7d80f39283**"
servers:
  - url: "https://apigateway.serpro.gov.br//consulta-nfe-df-trial/api"
    description: "Trial"
  - url: "https://apigateway.serpro.gov.br//consulta-nfe-df/api"
    description: "Produção"
paths:
  /v1/nfe/{chave}:
    get:
      summary: Retorna os dados da Nota Fisca Eletrônica - NFe
      tags:
        - NFe
      description: "Chaves para degustação? &nbsp; &nbsp;[Acesse aqui](https://devserpro.github.io/apis/api-nfe/pt/quick_start/#como-utilizar-a-api-nfe-demonstracao) "
      parameters:
        - in: path
          name: chave
          description: Chave de acceso de NF-e (44 dígitos, sin espacios)
          required: true
          schema:
            type: string
        - in: "header"
          name: "x-signature"
          description: "Solicitação de assinatura de carimbo de tempo. Informe 1 para assinar, ou deixe em branco para não assinar."
          required: false
          schema:
            type: string
        - in: "header"
          name: "x-request-tag"
          description: "Campo opcional para identificar requisições. O conteúdo é um texto livre para que o cliente possa identificar a origem da requisição, não há validação do seu conteúdo pela API. Máximo 32 caracteres."
          required: false
          schema:
            type: string
            maxLength: 32
      responses:
        200:
          description: "Ok - Retorna os dados da NF-e correspondentes à chave informada"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NFe'        
          headers:
            stamp:
              schema:
                type: string
              description: 'Assinatura de carimbo de tempo, caso solicitada'
        400:
          description: 'O número da chave informadado não é válido'
          content:
            application/json:
              schema:
                type: object
                properties:
                  mensagem:
                    type: string
                    description: 'Mensagem de retorno de validação'
                    example: 'NFe <35161147508411011603551000077959551093054321> inválido!'
        404:
          description: 'Não existe NFe com o número da chave informado.'
        406:
          description: O formato do arquivo de saída deve ser Json/Xml.
        500:
          description: Erro interno do servidor
  /v1/nfe/push/clientes:
    post:
      summary: Cadastra informações do cliente
      tags:
        - Push NFe - Clientes
      description: ""
      parameters:
        - in: query
          name: body
          description: Dados do cliente a ser cadastrado
          required: true
          schema:
            type: string
        - in: "header"
          name: "x-signature"
          description: "Solicitação de assinatura de carimbo de tempo. Informe 1 para assinar, ou deixe em branco para não assinar."
          required: false
          schema:
            type: string
        - in: "header"
          name: "x-request-tag"
          description: "Campo opcional para identificar requisições. O conteúdo é um texto livre para que o cliente possa identificar a origem da requisição, não há validação do seu conteúdo pela API. Máximo 32 caracteres."
          required: false
          schema:
            type: string
            maxLength: 32
      responses:
        201:
          description: "Ok - Cliente cadastro com sucesso"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cadastrarCliente'          
          headers:
            stamp:
              schema:
                type: string
              description: 'Assinatura de carimbo de tempo, caso solicitada'
        400:
          description: 'Valor da urlNotificação inválido'
          content:
            application/json:
              schema:
                type: object
                properties:
                  mensagem:
                    type: string
                    description: 'Mensagem de retorno de validação'
                    example: 'NFe <35161147508411011603551000077959551093054321> inválido!'
        500:
          description: Erro interno do servidor  
    put:
      summary: Atualiza informações do cliente
      tags:
        - Push NFe - Clientes
      description: ""
      parameters:
        - in: query
          name: body
          description: Dados do cliente a ser alterado
          required: true
          schema:
            type: string
        - in: "header"
          name: "x-signature"
          description: "Solicitação de assinatura de carimbo de tempo. Informe 1 para assinar, ou deixe em branco para não assinar."
          required: false
          schema:
            type: string
        - in: "header"
          name: "x-request-tag"
          description: "Campo opcional para identificar requisições. O conteúdo é um texto livre para que o cliente possa identificar a origem da requisição, não há validação do seu conteúdo pela API. Máximo 32 caracteres."
          required: false
          schema:
            type: string
            maxLength: 32   
      responses:
        200:
          description: "Ok - Cliente atualizado com sucesso"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/atualizarCliente'          
          headers:
            stamp:
              schema:
                type: string
              description: 'Assinatura de carimbo de tempo, caso solicitada'
        '400':
          description: Valor de 'urlNotificacao' inválido.
        '500':
          description: Erro interno do servidor.
    get:      
      summary: Consulta informações do cliente
      tags:
        - Push NFe - Clientes
      description: ""
      parameters:
        - in: "header"
          name: "x-signature"
          description: "Solicitação de assinatura de carimbo de tempo. Informe 1 para assinar, ou deixe em branco para não assinar."
          required: false
          schema:
            type: string
        - in: "header"
          name: "x-request-tag"
          description: "Campo opcional para identificar requisições. O conteúdo é um texto livre para que o cliente possa identificar a origem da requisição, não há validação do seu conteúdo pela API. Máximo 32 caracteres."
          required: false
          schema:
            type: string
            maxLength: 32   
      responses:
        200:
          description: "Ok - Cliente atualizado com sucesso"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/consultarClientes'          
          headers:
            stamp:
              schema:
                type: string
              description: 'Assinatura de carimbo de tempo, caso solicitada'
        500:
          description: Erro interno do servidor     
  /v1/nfe/push/solicitacoes:
    post:      
      summary: Inclui solicitação de monitoração
      tags:
        - Push NFe - Solicitações
      description: ""
      parameters:
        - in: query
          name: body
          description: Dados da solicitação de monitoração a ser gerada
          required: true
          schema:
            type: string
        - in: "header"
          name: "x-signature"
          description: "Solicitação de assinatura de carimbo de tempo. Informe 1 para assinar, ou deixe em branco para não assinar."
          required: false
          schema:
            type: string
        - in: "header"
          name: "x-request-tag"
          description: "Campo opcional para identificar requisições. O conteúdo é um texto livre para que o cliente possa identificar a origem da requisição, não há validação do seu conteúdo pela API. Máximo 32 caracteres."
          required: false
          schema:
            type: string
            maxLength: 32 
      responses:
        201:
          description: "Ok - Confirmação de inclusão de solicitação"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/confirmacaoSolicitacao'   
          headers:
            stamp:
              schema:
                type: string
              description: 'Assinatura de carimbo de tempo, caso solicitada'
        500:
          description: Erro interno do servidor  
    get:      
      summary: Consulta todas as solicitações de monitoração de um cliente
      tags:
        - Push NFe - Solicitações
      description: ""
      parameters:
        - in: "header"
          name: "x-signature"
          description: "Solicitação de assinatura de carimbo de tempo. Informe 1 para assinar, ou deixe em branco para não assinar."
          required: false
          schema:
            type: string
        - in: "header"
          name: "x-request-tag"
          description: "Campo opcional para identificar requisições. O conteúdo é um texto livre para que o cliente possa identificar a origem da requisição, não há validação do seu conteúdo pela API. Máximo 32 caracteres."
          required: false
          schema:
            type: string
            maxLength: 32 
      responses:
        201:
          description: "Ok - Confirmação de inclusão de solicitação"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/consultarSolicitacoes'   
          headers:
            stamp:
              schema:
                type: string
              description: 'Assinatura de carimbo de tempo, caso solicitada'
        500:
          description: Erro interno do servidor 
  /v1/nfe/push/solicitacoes/{solicitacaoId}:
    get:
      summary: Consulta uma solicitação de monitoração
      tags:
        - Push NFe - Solicitações
      description: ""
      parameters:
        - in: path
          name: solicitacaoId
          description: Código da solicitação
          required: true
          schema:
            type: string
        - in: "header"
          name: "x-signature"
          description: "Solicitação de assinatura de carimbo de tempo. Informe 1 para assinar, ou deixe em branco para não assinar."
          required: false
          schema:
            type: string
        - in: "header"
          name: "x-request-tag"
          description: "Campo opcional para identificar requisições. O conteúdo é um texto livre para que o cliente possa identificar a origem da requisição, não há validação do seu conteúdo pela API. Máximo 32 caracteres."
          required: false
          schema:
            type: string
            maxLength: 32 
      responses:
        200:
          description: "Ok - Retorna os dados de uma determinada solicitação"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/consultarSolicitacao'   
          headers:
            stamp:
              schema:
                type: string
              description: 'Assinatura de carimbo de tempo, caso solicitada'
        404:
          description: A solicitação informada não foi encontrada.
        500:
          description: Erro interno do servidor
    delete:
      summary: Exclui uma solicitação de monitoração
      tags:
        - Push NFe - Solicitações
      parameters:
        - in: path
          name: solicitacaoId
          description: Código da solicitação
          required: true
          schema:
            type: string
        - in: "header"
          name: "x-signature"
          description: "Solicitação de assinatura de carimbo de tempo. Informe 1 para assinar, ou deixe em branco para não assinar."
          required: false
          schema:
            type: string
        - in: "header"
          name: "x-request-tag"
          description: "Campo opcional para identificar requisições. O conteúdo é um texto livre para que o cliente possa identificar a origem da requisição, não há validação do seu conteúdo pela API. Máximo 32 caracteres."
          required: false
          schema:
            type: string
            maxLength: 32 
      responses:
        200:
          description: "Ok - Solicitação excluída com sucesso"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/consultarSolicitacao'   
          headers:
            stamp:
              schema:
                type: string
              description: 'Assinatura de carimbo de tempo, caso solicitada'
        '404':
          description: A solicitação informada não foi encontrada.
        '500':
          description: Erro interno do servidor
  /status:
      get:
        summary: 'Retorna o status da API CPF'
        tags:
          - Status
        responses:
          200:
            description: "API Consulta CPF disponível"
          500:
            description: "API Consulta CPF indisponível"
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  schemas:
    cadastrarCliente:
      type: object
      properties:
        urlNotificacao:
          type: string
    confirmacaoCadastramentoCliente:
      type: object
      properties:
        id:
          type: string
        urlNotificacao:
          type: string
        dataCriacao:
          type: string
    atualizarCliente:
      type: object
      properties:
        urlNotificacao:
          type: string
    consultarClientes:
      type: object
      properties:
        id:
          type: string
        urlNotificacao:
          type: string
        dataCriacao:
          type: string
        dataAtualizacao:
          type: string
    incluirSolicitacao:
      type: object
      properties:
        chavesMonitoracao:
          type: array
          items:
            properties:
              chave:
                type: string
    confirmacaoSolicitacao:
      type: object
      properties:
        solicitacaoId:
          type: string
        chavesMonitoracao:
          type: array
          items:
            type: object
            properties:
              chave:
                type: string
    consultarSolicitacoes:
      type: array
      items:
        type: object
        properties:
          solicitacaoId:
            type: string
          clienteId:
            type: string
          urlNotificacao:
            type: string
          dataCriacao:
            type: string
          dataExperiracao:
            type: string
          chavesMonitoracao:
            type: array
            items:
              type: object
              properties:
                chave:
                  type: string
                entregue:
                  type: string
                dataEntrega:
                  type: string
    consultarSolicitacao:
      type: object
      properties:
        solicitacaoId:
          type: string
        clienteId:
          type: string
        urlNotificacao:
          type: string
        dataCriacao:
          type: string
        dataExperiracao:
          type: string
        chavesMonitoracao:
          type: array
          items:
            type: object
            properties:
              chave:
                type: string
              entregue:
                type: string
              dataEntrega:
                type: string
    NFe:
      type: object
      properties:
        nfeProc:
          type: object
          properties:
            protNFe:
              type: object
              properties:
                infProt:
                  type: object
                  properties:
                    nProt:
                      type: integer
                      example: 55455534534
                    digVal:
                      type: string
                      example: jfdgh76tr542786rteuhyfbwef8=
                    dhRecbto:
                      type: string
                      example: '2019-07-22T09:34:06-03:00'
                    Id:
                      type: string
                      example: Id445345345
                    chNFe:
                      type: string
                      example: '87878774456468954646464654654546545446579312'
                    xMotivo:
                      type: string
                      example: Autorizado o uso da NF-e
                    cStat:
                      type: number
                      example: 100
            NFe:
              type: object
              properties:
                infNFe:
                  type: object
                  properties:
                    infAdic:
                      type: object
                      properties:
                        infCpl:
                          type: string
                          example: Lorem ipsum dolor...
                        obsCont:
                          type: array
                          items:
                            type: object
                            properties:
                              xCampo:
                                type: string
                                example: LEI DA TRANSPARENCIA
                              xTexto:
                                type: string
                                example: 'O VALOR APROXIMADO DE TRIBUTOS INCIDENTES SOBRE O PRECO DESTE SERVICO E DE R$ 5.62 (16.06) FONTE: IBPT'
                    det:
                      type: array
                      items:
                        type: object
                        properties:
                          nItem:
                            type: integer
                            example: 1
                          prod:
                            type: object
                            properties:
                              cEAN:
                                type: string
                                example: SEM GTIN
                              cProd:
                                type: string
                                example: JC59-00035A-SI
                              qCom:
                                type: number
                                example: 1
                              cEANTrib:
                                type: string
                                example: SEM GTIN
                              vUnTrib:
                                type: number
                                example: 265.79
                              qTrib:
                                type: number
                                example: 1
                              vProd:
                                type: number
                                example: 265.79
                              xProd:
                                type: string
                                example: UNIDADE DE DISCO RIGIDO 320GB
                              vUnCom:
                                type: number
                                example: 265.79
                              indTot:
                                type: integer
                                example: 1
                              uTrib:
                                type: string
                                example: UN
                              NCM:
                                type: integer
                                example: 84717012
                              uCom:
                                type: string
                                example: UN
                              CFOP:
                                type: integer
                                example: 5949
                              CEST:
                                type: integer
                                example: 2103300
                              rastro:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    nLote:
                                      type: string
                                      example: Lote 1
                                    qLote:
                                      type: number
                                      example: 18
                                    dFab:
                                      type: string
                                      example: '2019-07-22'
                                    dVal:
                                      type: string
                                      example: '2020-06-22'
                                    cAgreg:
                                      type: string
                                      example: Agregador 1
                          imposto:
                            type: object
                            properties:
                              IPI:
                                type: object
                                properties:
                                  IPINT:
                                    type: object
                                    properties:
                                      CST:
                                        type: integer
                                        example: 53
                                  cEnq:
                                    type: integer
                                    example: 999
                              COFINS:
                                type: object
                                properties:
                                  COFINSNT:
                                    type: object
                                    properties:
                                      CST:
                                        type: string
                                        example: '07'
                              PIS:
                                type: object
                                properties:
                                  PISNT:
                                    type: object
                                    properties:
                                      CST:
                                        type: string
                                        example: '07'
                    total:
                      type: object
                      properties:
                        ICMSTot:
                          type: object
                          properties:
                            vCONFINS:
                              type: number
                              example: 0
                            vBCST:
                              type: number
                              example: 0
                            vICMSDeson:
                              type: number
                              example: 0
                            vProd:
                              type: number
                              example: 265.79
                            vSeq:
                              type: number
                              example: 0
                            vFCP:
                              type: number
                              example: 0
                            vFCPST:
                              type: number
                              example: 0
                            vNF:
                              type: number
                              example: 0
                            vPIS:
                              type: number
                              example: 0
                            vIPIDevol:
                              type: number
                              example: 0
                            vBC:
                              type: number
                              example: 0
                            vST:
                              type: number
                              example: 0
                            vICMS:
                              type: number
                              example: 0
                            vII:
                              type: number
                              example: 0
                            vFCPSTRet:
                              type: number
                              example: 0
                            vDESC:
                              type: number
                              example: 0
                            vOutro:
                              type: number
                              example: 0
                            vIPI:
                              type: number
                              example: 0
                            vFrete:
                              type: number
                              example: 0
                    pag:
                      type: object
                      properties:
                        detPag:
                          type: array
                          items:
                            type: object
                            properties:
                              vPag:
                                type: number
                                example: 265.79
                              tPag:
                                type: number
                                example: 99
                    Id:
                      type: string
                      example: NFe87878774456468954646464654654546545446579312
                    ide:
                      type: object
                      properties:
                        tpNF:
                          type: integer
                          example: 1
                        mod:
                          type: integer
                          example: 55
                        indPres:
                          type: integer
                          example: 0
                        tpImp:
                          type: integer
                          example: 1
                        nNF:
                          type: integer
                          example: 1353368
                        cMunFG:
                          type: integer
                          example: 3534401
                        procEmi:
                          type: integer
                          example: 0
                        finNFe:
                          type: integer
                          example: 1
                        dhEmi:
                          type: string
                          example: '2019-07-22T09:33:31-03:00'
                        tpAmb:
                          type: integer
                          example: 1
                        indFinal:
                          type: integer
                          example: 1
                        dhSaiEnt:
                          type: string
                          example: '2019-07-22T09:33:31-03:00'
                        idDest:
                          type: integer
                          example: 1
                        tpEmis:
                          type: integer
                          example: 1
                        cDV:
                          type: integer
                          example: 0
                        cUF:
                          type: integer
                          example: 35
                        serie:
                          type: integer
                          example: 3
                        natOp:
                          type: string
                          example: Outra saida merc./prestacao serv. nao espec.
                        cNF:
                          type: string
                          example: '00012763'
                        verProc:
                          type: string
                          example: 5.0.1500.2985
                    emit:
                      type: object
                      properties:
                        CNAE:
                          type: integer
                          example: 34324
                        xNome:
                          type: string
                          example: ACME SERVICOS LTDA
                        IM:
                          type: integer
                          example: 96852
                        CRT:
                          type: integer
                          example: 3
                        xFant:
                          type: string
                          example: ACME SERVICOS LTDA
                        CNPJ:
                          type: string
                          example: ACME SERVICOS LTDA
                        enderEmit:
                          type: object
                          properties:
                            fone:
                              type: integer
                              example: 4534534534
                            UF:
                              type: string
                              example: SP
                            xPais:
                              type: string
                              example: Brasil
                            cPais:
                              type: integer
                              example: 1058
                            xLgr:
                              type: string
                              example: SP
                            xMun:
                              type: string
                              example: Brasil
                            nro:
                              type: integer
                              example: 628
                            cMun:
                              type: integer
                              example: 454545
                            xBairro:
                              type: string
                              example: Bairro do Chaves
                            CEP:
                              type: string
                              example: '06200000'
                        IE:
                          type: integer
                          example: 8465465454
                    dest:
                      type: object
                      properties:
                        xNome:
                          type: string
                          example: ACME SERVICOS LTDA
                        CNPJ:
                          type: string
                          example: '4545345345345'
                        enderDest:
                          type: object
                          properties:
                            xCpl:
                              type: string
                              example: GALP 1 E 2
                            fone:
                              type: integer
                              example: 4534534534
                            UF:
                              type: string
                              example: SP
                            xPais:
                              type: string
                              example: Brasil
                            cPais:
                              type: integer
                              example: 1058
                            xLgr:
                              type: string
                              example: AV Paulista
                            xMun:
                              type: string
                              example: Oscasco
                            nro:
                              type: integer
                              example: 628
                            cMun:
                              type: integer
                              example: 454545
                            xBairro:
                              type: string
                              example: Bairro do Chaves
                            CEP:
                              type: string
                              example: '06200000'
                        IE:
                          type: integer
                          example: 8465465454
                        indIEDest:
                          type: integer
                          example: 9
                        email:
                          type: string
                          example: acme@acme.com
                    transp:
                      type: object
                      properties:
                        modFrete:
                          type: integer
                          example: 0
                        vol:
                          type: array
                          items:
                            properties:
                              pesoL:
                                type: number
                                example: 0.03
                              qVol:
                                type: integer
                                example: 1
                              pesoB:
                                type: number
                                example: 0.033
                        transporta:
                          type: object
                          properties:
                            xNone:
                              type: string
                              example: John Doe da Silva
                            UF:
                              type: string
                              example: SP
                            xEnder:
                              type: string
                              example: Rua 1
                            xMun:
                              type: string
                              example: Sao Paulo
                            CNPJ:
                              type: string
                              example: '4654654654654'
                            IE:
                              type: integer
                              example: 8789789789
            versao:
              type: number
              example: 4
        procEventosNFe:
          type: array
          items:
            properties:
              evento:
                type: object
                properties:
                  infEvento:
                    type: object
                    properties:
                      cOrgao:
                        type: number
                        example: 91
                      dhEvento:
                        type: string
                        example: '2019-12-19T19:50:06-03:00'
                      detEvento:
                        type: object
                        properties:
                          descEvento:
                            type: string
                            example: Registro Passagem Automatico MDF-e com CT-e
                      tpEvento:
                        type: string
                        example: 610554
              retEvento:
                type: object
                properties:
                  infEvento:
                    type: object
                    properties:
                      cOrgao:
                        type: number
                        example: 91
                      nProt:
                        type: number
                        example: 891193694384618
                      dhRegEvento:
                        type: string
                        example: '2019-12-19T19:50:06-03:00'
                      tpEvento:
                        type: string
                        example: 610554
security:
  - bearerAuth: []  
