openapi: "3.0.0"
info:
  version: "v1"
  title: "Consulta CNPJ"
  description: "Chave do ambiente Trial: **Bearer 4e1a1858bdd584fdc077fb7d80f39283**"
servers:
  - url: "https://apigateway.serpro.gov.br/consulta-cnpj-df-trial/v1"
    description: "Trial"
  - url: "https://apigateway.serpro.gov.br/consulta-cnpj-df/v1"
    description: "Produção"
paths:
  /cnpj/{ni}:
    get:
      summary: "Retorna os dados do cadastro de pessoa jurídica (CNPJ)"
      tags:
        - CNPJ
      description: "Chaves para degustação? &nbsp; [Acesse aqui](https://devserpro.github.io/apis/api-cnpj/documentos/cnpj_degustacao)"
      parameters:
        - in: path
          name: ni
          description: Número de inscrição no CNPJ
          required: true
          schema:
            type: string
        - in: "header"
          name: "x-signature"
          description: "Solicitação de assinatura de carimbo de tempo. Informe 1 para assinar, ou deixe em branco para não assinar."
          required: false
          schema:
            type: string
        - in: "header"
          name: "x-request-tag"
          description: "Campo opcional para identificar requisições. O conteúdo é um texto livre para que o cliente possa identificar a origem da requisição, não há validação do seu conteúdo pela API. Máximo 32 caracteres."
          required: false
          schema:
            type: string
            maxLength: 32          
      responses:
        200:
          description: 'OK - Retorna os dados da Pessoa Jurídica.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CNPJ'          
          headers:
            stamp:
              schema:
                type: string
              description: 'Assinatura de carimbo de tempo, caso solicitada.'
        206:
          description: 'Conteúdo parcial. Algum campo específico não pôde ser retornado.'
        400:
          description: 'O número de inscrição informado não é válido.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  mensagem:
                    type: string
                    description: 'Mensagem de retorno de validação.'
                    example: 'CNPJ <12345678901234> inválido!'
        404:
          description: 'Não existe CNPJ com o número de inscrição informado.'
        500:
          description: 'Erro interno do servidor.'  
  /status:
    get:
      tags:
      - Status
      summary: Verifica status da API
      responses:
        200:
          description: Serviço disponível
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
            lastUpdateAt:
              example: 2019-02-18T11:27:06-03:00
        500:
          description: Serviço indisponível
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
            lastUpdateAt:
              example: 2019-02-18T11:27:06-03:00
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  schemas:
    Status:
      type: object
      properties:
        lastUpdateAt:
          type: string
          format: date-time 
    CNPJ:
      properties:
        ni:
          type: string
        data_abertura:
          type: string
        nome_empresarial:
          type: string
        nome_fantasia:
          type: string
        cnae_principal:
          $ref: '#/components/schemas/CodigoDescricao'
        natureza_juridica:
          $ref: '#/components/schemas/CodigoDescricao'
        endereco:
          $ref: '#/components/schemas/Endereco'
        situacao_especial:
          type: string
        situacao_cadastral:
          $ref: '#/components/schemas/SituacaoCadastral'
        orgao:
          type: string
        tipo_estabelecimento:
          type: string
        correio_eletronico:
          type: string
        capital_social:
          type: string
        porte:
          type: string
        telefones:
          items:
            $ref: '#/components/schemas/Telefone'
          type: array
        nome_orgao:
          type: string
        ente_federativo:
          type: string
        data_situacao_especial:
          type: string
      type: object
    CodigoDescricao:
      properties:
        codigo:
          type: string
        descricao:
          type: string
      type: object
    Endereco:
      properties:
        bairro:
          type: string
        complemento:
          type: string
        cep:
          type: string
        municipio:
          type: string
        uf:
          type: string
        logradouro:
          type: string
        numero:
          type: string
      type: object
    SituacaoCadastral:
      properties:
        codigo:
          type: string
        motivo:
          type: string
        data:
          type: string
      type: object
    Telefone:
      properties:
        ddd:
          type: string
        numero:
          type: string
      type: object
security:
  - bearerAuth: []