openapi: "3.0.0"
info:
  version: "v1"
  title: "Consulta CPF"
  description: "Chave do ambiente Trial: **Bearer 4e1a1858bdd584fdc077fb7d80f39283**"
servers:
  - url: "https://apigateway.serpro.gov.br/consulta-cpf-df-trial/v1"
    description: "Trial"
  - url: https://apigateway.serpro.gov.br/consulta-cpf-df/v1"
    description: "Produção"
paths:
  /cpf/{ni}:
    get:
      summary: "Retorna os dados do Cadastro de Pessoa Física (CPF)"
      tags:
        - CPF
      description: "Chaves para degustação? &nbsp; [Acesse aqui](https://devserpro.github.io/apis/api-cpf/documentos/cpf_degustacao)"
      parameters:
      - in: "path"
        name: "ni"
        description: "Número de inscrição do Contibuinte"
        required: true
        schema:
          type: string
      - in: "header"
        name: "x-signature"
        description: "Solicitação de assinatura de carimbo de tempo. Informe 1 para assinar, ou deixe em branco para não assinar."
        required: false
        schema:
          type: string
      - in: "header"
        name: "x-request-tag"
        description: "Campo opcional para identificar requisições. O conteúdo é um texto livre para que o cliente possa identificar a origem da requisição, não há validação do seu conteúdo pela API. Máximo 32 caracteres."
        required: false
        schema:
          type: string
          maxLength: 32
      responses:
        200:
          description: 'OK - Retorna os dados da Pessoa Física.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CPF'          
          headers:
            stamp:
              schema:
                type: string
              description: 'Assinatura de carimbo de tempo, caso solicitada.'
        206:
          description: 'Conteúdo parcial. Algum campo específico não pôde ser retornado.'
        400:
          description: 'O número de inscrição informado não é válido.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  mensagem:
                    type: string
                    description: 'Mensagem de retorno de validação'
                    example: 'CPF <12345678901> inválido!'
        404:
          description: 'Não existe CPF com o número de inscrição informado.'
        500:
          description: 'Erro interno do servidor.'
  /status:
    get:
      tags:
      - Status
      summary: Verifica status da API
      responses:
        200:
          description: Serviço disponível
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
            lastUpdateAt:
              example: 2019-02-18T11:27:06-03:00
        500:
          description: Serviço indisponível
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Status'
            lastUpdateAt:
              example: 2019-02-18T11:27:06-03:00
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  schemas:
    Status:
      type: object
      properties:
        lastUpdateAt:
          type: string
          format: date-time 
    CPF:
      type: object
      properties:
        ni:
          type: string
          description: 'Número de Inscrição do contribuinte'
          example: '99999999999'
        nome:
          type: string
          description: 'Nome do contribuinte'
          example: 'PESSOA FISICA DA SILVA'
        situacao:
          properties:
            codigo:
              type: string
              description: 'Código da Situação Cadastral'
              example: '0'
            descricao:
              type: string
              description: 'Descrição da situação cadastral'
              example: 'REGULAR'
security:
  - bearerAuth: []