openapi: "3.0.0"
info:
  version: "v1"
  title: "Consulta Divida Ativa DF"
  description: "Chave do ambiente Trial: **Bearer 4e1a1858bdd584fdc077fb7d80f39283**"
servers:
  - url: "https://apigateway.serpro.gov.br/consulta-divida-ativa-df-trial/api"
    description: "Trial"
  - url: "https://apigateway.serpro.gov.br/consulta-divida-ativa-df/api"
    description: "Produção"
paths:
  /v1/inscricao/{numeroInscricao}:
    get:
      tags:
      - Dívida Ativa DF
      summary: "Consulta dados de inscrição"
      description: ""
      parameters:
      - in: path
        name: numeroInscricao
        description: Número de inscrição
        required: true
        schema:
          type: string
      - in: header
        name: X-Request-Tag
        description: Campo opcional para identificar requisições. O conteúdo é um
          texto livre para que o cliente possa identificar a origem da requisição,
          não há validação do seu conteúdo pela API. Máximo 32 caracteres
        schema:
          type: string
      responses:
        200:
          description: Retorna objeto json com o resultado da consulta
          content: {}
        400:
          description: Número de Inscrição inválido.
          content: {}
        404:
          description: Inscrição não encontrada.
          content: {}
        500:
          description: Erro interno do servidor
          content: {}
  /v1/devedor/{numeroInscricaoDevedor}:
    get:
      tags:
      - Dívida Ativa DF
      summary: "Consulta dados do devedor, seja pessoa física ou jurídica"
      description: ""
      parameters:
      - in: path
        name: numeroInscricaoDevedor
        description: Número de inscrição (CPF ou CNPJ) do devedor
        required: true
        schema:
          type: string
      - in: header
        name: X-Request-Tag
        description: Campo opcional para identificar requisições. O conteúdo é um
          texto livre para que o cliente possa identificar a origem da requisição,
          não há validação do seu conteúdo pela API. Máximo 32 caracteres
        schema:
          type: string
      responses:
        200:
          description: Retorna objeto json com o resultado da consulta
          content: {}
        400:
          description: 'O valor do parâmetro numeroInscricaoDevedor inválido."
            {numeroInscricaoDevedor}'
          content: {}
        404:
          description: Inscrição não encontrada.
          content: {}
        500:
          description: Erro interno do servidor
          content: {}
  /status:
      get:
        summary: 'Retorna o status da API CPF'
        tags:
          - Status
        responses:
          200:
            description: "API Consulta Dívida Ativa Disponível."
          500:
            description: "API Consulta Dívida Ativa Indisponível."
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer    
security:
  - bearerAuth: []     
