openapi: "3.0.0"
info:
  version: "v1"
  title: "Consulta DUE"
  description: "Chave do ambiente Trial: **Bearer 4e1a1858bdd584fdc077fb7d80f39283**"
servers:
  - url: "https://apigateway.serpro.gov.br/api-consulta-due-trial/api"
    description: "Trial"
  - url: "https://apigateway.serpro.gov.br/api-consulta-due/api"
    description: "Produção"
paths:
  /v2/due/{numero}/{chave}:
    get:
      tags:
      - Consulta DUE
      summary: Consulta a DUE
      description: "Chaves para degustação? &nbsp; [Acesse aqui](https://devserpro.github.io/apis/api-cnpj/pt/quick_start/#como-utilizar-a-api-due-demonstracao)"
      parameters:
      - name: numero
        in: path
        description: Número da DUE
        required: true
        schema:
          type: string
      - name: chave
        in: path
        description: Chave de Acesso
        required: true
        schema:
          type: string
      - name: X-Request-Tag
        in: header
        description: Campo opcional para identificar requisições. O conteúdo é um
          texto livre para que o cliente possa identificar a origem da requisição,
          não há validação do seu conteúdo pela API. Máximo 32 caracteres
        schema:
          type: string
      responses:
        200:
          description: 'OK'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsultaDUE-V2'        
          headers:
            stamp:
              schema:
                type: string
              description: 'Assinatura de carimbo de tempo, caso solicitada.'
  /status:
      get:
        summary: 'Retorna o status da API CPF'
        tags:
          - Status
        responses:
          200:
            description: "API Consulta CPF disponível."
          500:
            description: "API Consulta CPF indisponível."
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  schemas:
    ConsultaDUE-V2:
      type: object
      properties:
        numero:
          type: string
          example: 18BR0000133506
        ruc:
          type: string
          example: 8BR00000000100000000000000000013602
        chaveDeAcesso:
          type: string
          example: 18ERM135006
        situacao:
          type: string
          example: CARGA_APRESENTADA_PARA_DESPACHO
        canal:
          type: string
          example: null
        exigencia:
          type: boolean
          example: false
        retificada:
          type: boolean
          example: false
        tratamentoAdministrativo:
          type: string
          example: DISPENSADO
        tratamentoAdministrativoComImpedimentoDeEmbarque:
          type: boolean
          example: false
        tratamentoAdministrativoComRequerimentoDeInspecao:
          type: boolean
          example: false
        situacaoDaCarga:
          type: string
          example: null
        bloqueadaParaEmbarque:
          type: boolean
          example: false
        tipoDeDocumentoFiscal:
          type: string
          example: NOTA_FISCAL_ELETRONICA
        motivoDeDispensaDaNotaFiscal:
          type: string
          example: null
        declarante:
          type: object
          properties:
            nome:
              type: string
              example: OWMKX NX OIWUQD UW
            tipoDoDocumento:
              type: string
              example: CNPJ
            estrangeiro:
              type: boolean
              example: false
            nacionalidade:
              type: object
              properties:
                codigo:
                  type: integer
                  example: 105
                nome:
                  type: string
                  example: BRASIL
                nomeResumido:
                  type: string
                  example: BRA
            numeroDoDocumento:
              type: string
              example: "191.0"
        operadorEconomicoAutorizado:
          type: boolean
          example: false
        formaDeExportacao:
          type: string
          example: POR_CONTA_PROPRIA
        situacaoEspecial:
          type: string
          example: null
        exportacaoConsorciada:
          type: boolean
          example: false
        paisDoImportador:
          type: object
          properties:
            codigo:
              type: integer
              example: 676
            nome:
              type: string
              example: RUSSIA, FEDERACAO DA
            nomeResumido:
              type: string
              example: null
        pesoLiquidoTotal:
          type: number
          example: 49.0
        tratamentoPrioritario:
          type: boolean
          example: true
        valorTotalDasMercadorias:
          type: number
          example: 3000.0
        moeda:
          type: object
          properties:
            codigo:
              type: integer
              example: 220
            descricao:
              type: string
              example: DOLAR DOS EUA
        valorDasMercadoriasNoLocalDeEmbarque:
          type: number
          example: 2000.1
        contato:
          type: object
          properties:
            nome:
              type: string
              example: null
            telefone:
              type: string
              example: null
            email:
              type: string
              example: null
        localDeDespacho:
          type: object
          properties:
            unidadeRFB:
              type: object
              properties:
                codigo:
                  type: string
                  example: "717600"
                descricao:
                  type: string
                  example: PORTO DO RIO
            recintoAduaneiro:
              type: object
              properties:
                codigo:
                  type: string
                  example: "7929301"
                descricao:
                  type: string
                  example: PORTO DO RIO DE JANEIRO - CODERJ - RIO DE JANEIRO/RJ -
                    PORTO MARIT.ALFAND.-USO PUBLICO-CIA.DOCAS DO EST.DO RIO DE JANEIR
                latitude:
                  type: string
                  example: -20.812222
                longitude:
                  type: string
                  example: -40.248333
            cnpjDoEstabelecimento:
              type: string
              example: null
            endereco:
              type: string
              example: null
            latitude:
              type: string
              example: null
            longitude:
              type: string
              example: null
        localDeEmbarque:
          type: object
          properties:
            unidadeRFB:
              type: object
              properties:
                codigo:
                  type: string
                  example: "717600"
                descricao:
                  type: string
                  example: PORTO DO RIO
            recintoAduaneiro:
              type: object
              properties:
                codigo:
                  type: string
                  example: "7929301"
                descricao:
                  type: string
                  example: PORTO DO RIO DE JANEIRO - CODERJ - RIO DE JANEIRO/RJ -
                    PORTO MARIT.ALFAND.-USO PUBLICO-CIA.DOCAS DO EST.DO RIO DE JANEIR
                latitude:
                  type: string
                  example: -20.812222
                longitude:
                  type: string
                  example: -40.248333
            cnpjDoEstabelecimento:
              type: string
              example: null
            endereco:
              type: string
              example: null
            latitude:
              type: string
              example: null
            longitude:
              type: string
              example: null
        viaEspecialDeTransporte:
          type: string
          example: null
        usoObrigatorioDeTransito:
          type: boolean
          example: false
        informacoesComplementares:
          type: string
          example: Observações Gerais
        itens:
          type: array
          items:
            type: object
            properties:
              numero:
                type: integer
                example: 1
              exportador:
                type: object
                properties:
                  nome:
                    type: string
                    example: OWMKX NX OIWUQD UW
                  tipoDoDocumento:
                    type: string
                    example: CNPJ
                  estrangeiro:
                    type: boolean
                    example: false
                  nacionalidade:
                    type: object
                    properties:
                      codigo:
                        type: integer
                        example: 105
                      nome:
                        type: string
                        example: BRASIL
                      nomeResumido:
                        type: string
                        example: BRA
                  numeroDoDocumento:
                    type: string
                    example: "00000000002720"
              itemDaNotaFiscalDeExportacao:
                type: object
                properties:
                  numeroDoItem:
                    type: integer
                    example: 1
                  chaveDeAcesso:
                    type: string
                    example: "35180500000000002720550900006843201000000009"
                  serie:
                    type: integer
                    example: 90
                  numeroDoDocumento:
                    type: integer
                    example: 684320
                  finalidade:
                    type: string
                    example: normal
                  notaFiscalEletronica:
                    type: boolean
                    example: true
                  cfop:
                    type: integer
                    example: 7101
                  codigoDoProduto:
                    type: string
                    example: "000000000000021600001"
              ncm:
                type: object
                properties:
                  codigo:
                    type: string
                    example: "12011000"
                  descricao:
                    type: string
                    example: SOJA, MESMO TRITURADA.
                  UnidadeEstatistica:
                    type: string
                    example: UNIDADE
                  atributos:
                    type: array
                    items:
                      type: object
                      properties:
                        codigo:
                          type: string
                          example: "001"
                        conteudo:
                          type: string
                          example: estampado
                        descricao:
                          type: string
                          example: Tipo de tecido
              descricaoDaMercadoria:
                type: string
                example: PRODUTO GENERICO TESTE - GRADE COMPOSTA 34.
              motivoDoTratamentoPrioritario:
                type: string
                example: CARGA VIVA
              descricaoComplementar:
                type: string
                example: Descrição Complementar
              quantidadeNaUnidadeEstatistica:
                type: number
                example: 1.0
              pesoLiquidoTotal:
                type: number
                example: 49.0
              unidadeComercializada:
                type: string
                example: UN
              quantidadeNaUnidadeComercializada:
                type: number
                example: 1.0
              valorTotal:
                type: number
                example: 1000.0
              percentualDeComissaoDoAgente:
                type: number
              condicaoDeVenda:
                type: object
                properties:
                  codigo:
                    type: string
                    example: DDP
                  descricao:
                    type: string
                    example: DELIVERED DUTY PAID
              valorDaMercadoriaNaCondicaoDeVenda:
                type: number
                example: 3000.0
              valorDaMercadoriaNoLocalDeEmbarque:
                type: number
              valorDaMercadoriaNoLocalDeEmbarqueEmReais:
                type: number
                example: 7143.55716
              dataDeConversao:
                type: string
                example: 2018-05-01T05:57:00.000+0000
              importador:
                type: object
                properties:
                  nome:
                    type: string
                    example: NF-E EMITIDA EM AMBIENTE DE HOMOLOGACAO - SEM VALOR FISCAL
                  endereco:
                    type: string
                    example: RUA ELISA SILVERIO - 45 - CENTRO - EXTERIOR - 86800270
                      - RUSSIA
                  pais:
                    type: object
                    properties:
                      codigo:
                        type: integer
                        example: 676
                      nome:
                        type: string
                        example: RUSSIA, FEDERACAO DA
                      nomeResumido:
                        type: string
                        example: null
              depuracaoEstatistica:
                type: object
                properties:
                  justificativaDeValor:
                    type: string
                    example: null
                  justificativaDeQuantidade:
                    type: string
                    example: null
                  possuiDepuracao:
                    type: boolean
                    example: false
              enquadramentos:
                type: array
                items:
                  type: object
                  properties:
                    codigo:
                      type: string
                      example: "80000"
                    descricao:
                      type: string
                      example: EXPORTACAO NORMAL
              paisesDeDestino:
                type: array
                items:
                  type: object
                  properties:
                    pais:
                      type: object
                      properties:
                        codigo:
                          type: integer
                          example: 249
                        nome:
                          type: string
                          example: ESTADOS UNIDOS
                        nomeResumido:
                          type: string
                          example: null
                    quantidadeNaUnidadeEstatistica:
                      type: number
                      example: 1.0
              tratamentosAdministrativos:
                type: array
                items:
                  type: object
                  properties:
                    codigoLPCO:
                      type: string
                      example: null
                    orgao:
                      type: array
                      items:
                        type: string
                        example: null
                    situacao:
                      type: string
                      example: null
                    mensagem:
                      type: string
                      example: null
        eventosDoHistorico:
          type: array
          items:
            type: object
            properties:
              dataEHoraDoEvento:
                type: string
                example: 2018-05-02T07:07:47.002+0000
              evento:
                type: string
                example: Registro
              responsavel:
                type: string
                example: "07073311703"
              informacoesAdicionais:
                type: string
                example: null
security:
  - bearerAuth: []
