{
  "swagger": "2.0",
  "info": {
    "version": "v1",
    "title": "ProID"
  },
  "security": [
    {
      "Bearer": []
    }
  ],
  "securityDefinitions": {
    "Bearer": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "host": "sandbox.proid.serpro.gov.br",
  "basePath": "/api",
  "tags": [
    {
      "name": "1 Autenticação"
    },
    {
      "name": "2 Referência da API"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "Primeiro Passo": {
      "head": {
        "tags": [
          "1 Autenticação"
        ],
        "summary": "Primeiro Passo",
        "description": "Para consumir as APIs, você deverá utilizar os dois códigos (Consumer Key e Consumer Secret).\nExemplos de códigos: \n* Consumer Key: djaR21PGoYp1iyK2n2ACOH9REdUb \n* Consumer Secret: ObRsAJWOL4fv2Tp27D1vd8fB3Ote",
        "responses": {}
      }
    },
    "Segundo Passo": {
      "head": {
        "tags": [
          "1 Autenticação"
        ],
        "summary": "Segundo Passo",
        "description": "Para consultar as APIs, é necessário obter um token de acesso temporário (Bearer). Esse token possui um tempo de validade e sempre que expirado, este passo de requisição de um novo token de acesso deve ser repetido.\nPara solicitar o token temporário é necessário realizar uma requisição HTTP POST para o endpoint de autenticação, informando as credenciais de acesso no HTTP Header Authorization, no formato: base64(consumerkey:consumerSecret). \n  \n  \n\n* SANDBOX: https://valautentikus.estaleiro.serpro.gov.br/autentikus-authn/api/v1/token \n* PRODUÇÃO: https://autentikus.estaleiro.serpro.gov.br/autentikus-authn/api/v1/token\n\n **Exemplo usando cURL**\n\n curl -i -X POST \\   -H \"Content-Type:application/x-www-form-urlencoded\" \\   -H \"Authorization:Basic ZGphUjIxUEdvWXAxaXlLMm4yQUNPSDlSRWRVYjpkamFSMjFQR29ZcDFpeUsybjJBQ09IOVJFZFVi\" \\   -d \\'grant_type=client_credentials&scope=escopo_proid' \\ 'https://valautentikus.estaleiro.serpro.gov.br/autentikus-authn/api/v1/token'",
        "responses": {}
      }
    },
    "Terceiro Passo": {
      "head": {
        "tags": [
          "1 Autenticação"
        ],
        "summary": "Terceiro Passo",
        "description": "Como resultado do passo anterior, o endpoint informará o token de acesso a API, no campo access_token da mensagem json de retorno. De posse do token de acesso, faça a requisição a um dos serviços da API Pro ID, passando o Bearer no cabeçalho \"Authorization\".\n\n\n{ \"access_token\": \"TokenJWT\", \"token_type\":\"Bearer\",  \"expires_in\": 2825 }",
        "responses": {}
      }
    },
    "/v1/documentos": {
      "post": {
        "tags": [
          "2 Referência da API"
        ],
        "summary": "Criação/alteração de um documento ProID",
        "description": "Serviço para inserção/alteração dos dados de uma carteria funcional e        possíveis dados utilizados para fazer a vinculação desse documento.\nApós a criação do documento, ele fica disponível para os usuários do aplicativo ProID.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "text/plain"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Conteúdo para inserção/alteração dos dados. \nNo atributo **\"tipo\"** deve ser informado o UUID identificador do documento.\nO atributo **\"dados\"** é dinâmico, de acordo com o modelo de cada documento. Todo modelo de documento espera receber os campos \"numero_registro\" e \"nome\". Os campos devem ser os definidos no tipo de documento. Caso algum campo não contenha valor, deve ser passado uma string vazia.\nO atributo  **\"imagens\"** só deve ser enviado caso \"foto\" e/ou \"assinatura\" estiverem na definição do tipo de documento",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Documento"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Documento criado ou alterado"
          },
          "401": {
            "description": "Organização não autenticado ou token inválido"
          },
          "403": {
            "description": "Organização não tem permissão para acessar o documento"
          },
          "422": {
            "description": "Erro(s) de validação ou de negócio",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Violacao"
              }
            }
          },
          "502": {
            "description": "Erro durante alguma integração do servidor, a solicitação deve ser reenviada"
          }
        }
      }
    },
    "/v1/documentos/bloqueio": {
      "post": {
        "tags": [
          "2 Referência da API"
        ],
        "summary": "Bloqueio de um documento ProID",
        "description": "Serviço para bloquear o uso do documento. \nApós o bloqueio, o documento não poderá mais ser acessado no aplicativo ProID",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Identificação do documento a ser bloqueado e o motivo para bloqueio",
            "required": false,
            "schema": {
              "$ref": "#/definitions/SituacaoDocumento"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Documento bloqueado"
          },
          "401": {
            "description": "Organização não autenticado ou token inválido"
          },
          "403": {
            "description": "Organização não tem permissão para acessar o documento"
          },
          "422": {
            "description": "Erro de validação ou de negócio",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Violacao"
              }
            }
          }
        }
      }
    },
    "/v1/documentos/restricao": {
      "post": {
        "tags": [
          "2 Referência da API"
        ],
        "summary": "Restrição aplicada a um documento ProID",
        "description": "Serviço para restringir o uso do documento. \nApós aplicar restrição, aquele documento continuará sendo acessado no aplicativo ProID, mas haverá uma sinalização de restrição",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Identificação do documento a ser restringido e do motivo para restrição",
            "required": false,
            "schema": {
              "$ref": "#/definitions/SituacaoDocumento"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Documento restrigido"
          },
          "401": {
            "description": "Organização não autenticado ou token inválido"
          },
          "403": {
            "description": "Organização não tem permissão para acessar o documento"
          },
          "422": {
            "description": "Erro de validação ou de negócio",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Violacao"
              }
            }
          }
        }
      }
    },
    "/v1/documentos/ativacao": {
      "post": {
        "tags": [
          "2 Referência da API"
        ],
        "summary": "Ativação de um documento bloqueado ou restrito",
        "description": "Serviço para ativar um documento que está bloqueado ou restrito",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Identificação do documento a ser ativado",
            "required": false,
            "schema": {
              "$ref": "#/definitions/SituacaoDocumento"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Documento ativado"
          },
          "401": {
            "description": "Organização não autenticado ou token inválido"
          },
          "403": {
            "description": "Organização não tem permissão para acessar o documento"
          },
          "422": {
            "description": "Erro de validação ou de negócio",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Violacao"
              }
            }
          }
        }
      }
    },
    "/v1/documentos/exclusao": {
      "post": {
        "tags": [
          "2 Referência da API"
        ],
        "summary": "Exclusão de um documento ProID",
        "description": "Serviço para exclusão de um documento.\nAo deletar um documento, todas as vinculações com dispositivo móveis serão finalizada e não será mais cobrado nenhum valor sobre o documento. Ele passa a ser um documento não gerenciado pelo ProID",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Identificação do documento a ser excluído",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DeletarDocumento"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Documento excluído"
          },
          "401": {
            "description": "Organização não autenticado ou token inválido"
          },
          "403": {
            "description": "Organização não tem permissão para acessar o documento"
          },
          "422": {
            "description": "Erro de validação ou de negócio",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Violacao"
              }
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Documento": {
      "type": "object",
      "properties": {
        "tipo": {
          "$ref": "#/definitions/Modelo"
        },
        "dados": {
          "$ref": "#/definitions/DadosDocumento"
        },
        "imagens": {
          "$ref": "#/definitions/Imagens"
        }
      }
    },
    "Modelo": {
      "type": "object",
      "required": [
        "id"
      ],
      "properties": {
        "id": {
          "type": "string",
          "format": "uuid"
        }
      }
    },
    "DadosDocumento": {
      "type": "object",
      "properties": {
        "numero_registro": {
          "type": "string",
          "description": "[obrigatorio] Valor do número identificador do documento"
        },
        "nome": {
          "type": "string",
          "description": "[obrigatorio] Nome da pessoa física ou jurídica"
        },
        "cpf": {
          "type": "string",
          "description": "CPF, caso seja um documento de pessoa física"
        },
        "titulacao": {
          "type": "string",
          "description": "Campo reservado para cargo/função/profissão. Esse campo parece no documento virtual logo abaixo do nome."
        },
        "data_vencimento": {
          "type": "string",
          "description": "Caso o documento tenha um data de validade, deve ser informada nesse campo"
        },
        "chave_campo_dinamico": {
          "type": "string",
          "description": "Os demais campos definidos para o tipo de documento e seguem o formato \"chave\":\"valor\". Caso um campo não tenha valor, deve ser enviado como uma string vazia"
        }
      }
    },
    "Imagens": {
      "type": "object",
      "properties": {
        "foto": {
          "$ref": "#/definitions/DadosImagem"
        },
        "assinatura": {
          "$ref": "#/definitions/DadosImagem"
        }
      }
    },
    "DadosImagem": {
      "type": "object",
      "required": [
        "base64",
        "tipo"
      ],
      "properties": {
        "base64": {
          "type": "string"
        },
        "tipo": {
          "type": "string"
        }
      }
    },
    "SituacaoDocumento": {
      "type": "object",
      "properties": {
        "tipo": {
          "$ref": "#/definitions/Modelo"
        },
        "documento": {
          "$ref": "#/definitions/IdentificacaoDocumento"
        },
        "motivo": {
          "type": "string"
        }
      }
    },
    "DeletarDocumento": {
      "type": "object",
      "properties": {
        "tipo": {
          "$ref": "#/definitions/Modelo"
        },
        "documento": {
          "$ref": "#/definitions/IdentificacaoDocumento"
        }
      }
    },
    "IdentificacaoDocumento": {
      "type": "object",
      "required": [
        "numero_registro"
      ],
      "properties": {
        "numero_registro": {
          "type": "string"
        }
      }
    },
    "Violacao": {
      "type": "object",
      "required": [
        "message"
      ],
      "properties": {
        "property": {
          "type": "string"
        },
        "message": {
          "type": "string"
        }
      }
    }
  }
}
