{
  "host": "apigateway.serpro.gov.br",
  "security": [
    {
      "Bearer": []
    }
  ],
  "securityDefinitions": {
    "Bearer": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "swagger": "2.0",
  "info": {
    "version": "api",
    "title": "Integração SIAFI (api-siafi)",
    "description": "\n Para informações de como se autenticar antes de consumir as API, por favor, consulte a documentação em: http://devserpro.github.io/apis/ \n\n    \nO serviço `Integração SIAFI` é disponibilizado através do `HTTP REST` oferencendo operações de lançamento ao SIAFI.\n## Códigos de  Retorno não Tarifados \n| Código de retorno | Resumido | Explicação | \n| ------------- | :-------------------- | :------------------------------------------------------------------------------- |\n| 500 | Erro no Servidor | Ocorreu algum erro no servidor. | \n\n  ## Endereço de Degustação \n    https://apigateway.serpro.gov.br/api-integra-siafi-deg/api \n    "
  },
  "basePath": "/api-integra-siafi-deg/api",
  "paths": {
    "/v1/ne/consultar": {
      "post": {
        "tags": [
          "Nota de Empenho v1"
        ],
        "summary": "Consulta Nota de Empenho",
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited",
        "description": "\n## Exemplo\n#### Chamada\n    [POST] https://apigateway.serpro.gov.br/api-integra-siafi-deg/api/v1/ne/consultar\n#### Conteúdo do corpo \n\n    {\n      \"ano\": \"2018\",\n      \"ug\": \"010001\",\n      \"gestao\": \"00001\",\n      \"numero\": \"800017\"\n    }\n#### Retorno \n    {\n    codigo: 0\n    mensagem:\n      dataEmissao: 14Jun18\n      saldoPagar: ''\n      numeroNota: 2018NE800017\n      ugEmitente: '010001'\n      nomeUgEmitente: CAMARA DOS DEPUTADOS\n      gestaoEmitente: '00001'\n      nomeGestaoEmitente: TESOURO NACIONAL\n      nomeFavorecido: CAMARA DOS DEPUTADOS\n      tipoFavorecido: '4'\n      codigoFavorecido: '01000100001'\n      sicaf: ''\n      operacaoCambial: '0000000000'\n      observacao: TESTE NE-01\n      evento: '401091'\n      esfera: '1'\n      ptres: '000001'\n      fonte: '0100000000'\n      codigoND: '339030'\n      ugResponsavel: 010019\n      planoInterno: AAA\n      valorEmpenho: '00000000000000001'\n      tipoEmpenho: ORDINARIO\n      sistemaOrigem: APISIAFI\n      docReferenciaOriginal: ''\n      numDocReferencia: ''\n      passivoAnterior: NAO\n      contaPassivo: ''\n      nomeModalidade: NAO SE APLICA\n      nomeAmparo: ''\n      inciso: ''\n      numeroProcesso: 103.504/1999\n      indicadorPagPrecatorio: ''\n      siglaUF: DF\n      codigoMunicipioBeneficiado: '9701'\n      origemMaterial: NACIONAL\n      referenciaDispensa: ''\n      numeroOriginal: ''\n      informacoesLancamentos: 'LANCADO POR : 60165570644 - ANDERSON          UG : 010001   14Jun18   14:33'\n      contaCorrenteFinanceiro: F0100000000\n      contasPermanentes: []\n      numeroLista: 2018LI800043\n      subItens:\n        - numero: '00'\n          valor: '01'\n          seq: '000'\n          qtd: ''\n          valorTotal: '00000000000000001'\n          descricao: LISTA NE-01\n        - numero: '1'\n          valor: ''\n          seq: '000'\n          qtd: ''\n          valorTotal: ''\n          descricao: ''\n      subItensSaldo:\n        - numero: '01'\n          valor: '00000000000000001'\n      nsaldo: ''\n    erros: []\n    status: 200\n    }      ",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Dados da Nota de Empenho a ser consultada",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConsultaNE"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retorna os dados da Nota de Empenho",
            "schema": {
              "$ref": "#/definitions/DadosNE"
            }
          },
          "400": {
            "description": "Algum campo enviado é inválido"
          },
          "403": {
            "description": "Usuário não tem permissão para realizar esta operação"
          },
          "500": {
            "description": "Erro interno do servidor"
          }
        }
      }
    },
    "/v1/ne/realizar": {
      "post": {
        "tags": [
          "Nota de Empenho v1"
        ],
        "summary": "Realiza Nota de Empenho",
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited",
        "description": "\n## Exemplo\n#### Chamada\n      [POST] https://apigateway.serpro.gov.br/api-integra-siafi-deg/api/v1/ne/realizar\n#### Conteúdo do corpo\n    {\n        \"dataEmissao\": \"31DEZ17\",\n        \"numeroDocumento\": \"\",               \n        \"ugEmitente\": \"010001\",\n        \"gestaoEmitente\": \"00001\",\n        \"numeroLista\": \"\",\n        \"taxaCambio\": \"\",\n        \"observacao\": \"Inclusao de NE\",\n        \"valorTotalEmpenho\": \"555555\",\n        \"numeroProcesso\": \"0100\",\n        \"numeroOriginalConvenio\": \"0010\",\n        \"passivoAnterior\": \"N\",\n        \"contaPassivo\": \"\",\n        \"contaValor\": [\n         {\n          \"conta\": \"\",\n          \"valor\": \"\"\n          }\n        ],\n        \"contaPassivoFinanceiro\": \"string\",\n        \"favorecido\": \"75793032720\",\n        \"gestaoFavorecido\": \"\",\n        \"esferaOrcamentaria\": \"3\",\n        \"codigoUO\": \"\",\n        \"codigoProgramaTrabalho\": \"000001\",\n        \"fonteRecursos\": \"0100000000\",\n        \"naturezaDespesa\": \"339030\",\n        \"unidadeGestoraResponsavel\": \"\",\n        \"planoInterno\": \"\",\n        \"indicadorResultado\": \"\",\n        \"indicadorTipoCredito\": \"\",\n        \"planoOrcamentario\": \"\",\n        \"codigoAutorEmenda\": \"\",\n        \"tipoEmpenho\": \"1\",                        \n        \"modalidadeLicitacao\": \"08\",\n        \"amparoLegal\": \"\",\n        \"inciso\": \"\",\n        \"origemMaterial\": \"1\",\n        \"municipioBeneficiado\": \"9701\",\n        \"ufBeneficiada\": \"DF\",\n        \"dataVencimento\": [\n          \"31DEZ17\"\n        ],\n        \"dataRecebimento\": [\n          \"31DEZ17\"\n        ],\n        \"valorCompromisso\": [\n          \"555555\"\n        ],\n        \"listaItens\": [\n          {\n            \"subItemNd\": \"01\",\n            \"quantidade\": \"1\",\n            \"valorUnitario\": \"555555\",\n            \"valorTotal\": \"555555\",\n            \"descricao\": \"Testando inclusao de NE\"\n          }\n        ],\n        \"numeroTransacaoCliente\": \"2017TR000033\",\n        \"credencial\": {\n            \"cpf\": \"60165570644\",\n            \"ug\": \"010001\",\n            \"sistema\": \"SIAFI2017HM\"\n        }\n    }\n#### Retorno\n    { \n      \"codigo\": 0,\n      \"mensagem\": \"010001000012017NE800054 010001000012017LI800101\",\n      \"erros\": [],\n      \"status\": 200\n      }\n    }",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Dados da Nota de Empenho a ser adicionada",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RealizaNE"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retorna os dados da Nota de Empenho Adicionada",
            "schema": {
              "$ref": "#/definitions/NE"
            }
          },
          "400": {
            "description": "Algum campo enviado é inválido"
          },
          "403": {
            "description": "Usuário não tem permissão para realizar esta operação"
          },
          "500": {
            "description": "Erro interno do servidor"
          }
        }
      }
    },
    "/v1/ne/alterar": {
      "post": {
        "tags": [
          "Nota de Empenho v1"
        ],
        "summary": "Altera Nota de Empenho",
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited",
        "description": "\n## Exemplo\n#### Chamada\n      [POST] https://apigateway.serpro.gov.br/api-integra-siafi-deg/api/v1/ne/alterar\n#### Conteúdo do corpo\n    {\n      \"dataEmissao\": \"31DEZ17\",\n      \"numeroDocumento\": \"\",               \n      \"ugEmitente\": \"010001\",\n      \"gestaoEmitente\": \"00001\",\n      \"numeroLista\": \"\",\n      \"taxaCambio\": \"\",\n      \"observacao\": \"Cancelamento de NE\",\n      \"valorTotalEmpenho\": \"555555\",\n      \"numeroProcesso\": \"0100\",\n      \"numeroOriginalConvenio\": \"0010\",\n      \"passivoAnterior\": \"N\",\n      \"contaPassivo\": \"\",\n      \"contaValor\": [\n      {\n        \"conta\": \"\",\n        \"valor\": \"\"\n      }\n    ],\n      \"contaPassivoFinanceiro\": \"string\",\n      \"especie\": \"02\",\n      \"ugReferencia\": \"010001\",\n      \"gestaoReferencia\": \"00001\",\n      \"numeroEmpenhoReferencia\": \"2017NE800051\",\n      \"numeroListaReferencia\": \"2017LI800097\",\n      \"listaItens\": [\n      {\n        \"subItemNd\": \"01\",\n        \"quantidade\": \"000000000000001\",\n        \"valorUnitario\": \"00000000000555555\",\n        \"valorTotal\": \"00000000000555555\",\n        \"descricao\": \"Teste alteração\"\n      }\n    ],\n      \"numeroTransacaoCliente\": \"2017TR000049\",\n      \"credencial\": {\n      \"cpf\": \"60165570644\",\n      \"ug\": \"010001\",\n      \"sistema\": \"SIAFI2017HM\"\n        }\n      }\n#### Retorno\n    { \n      \"codigo\": 0,\n      \"mensagem\": \"010001000012017NE800060 010001000012017LI800106\",\n      \"erros\": [],\n      \"status\": 200\n    }",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Dados da Nota de Empenho a ser alterada",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AlteraNE"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retorna os dados da Nota de Empenho Alterada",
            "schema": {
              "$ref": "#/definitions/NE"
            }
          },
          "400": {
            "description": "Algum campo enviado é inválido"
          },
          "403": {
            "description": "Usuário não tem permissão para realizar esta operação"
          },
          "500": {
            "description": "Erro interno do servidor"
          }
        }
      }
    },
    "/v1/ne/anular": {
      "post": {
        "tags": [
          "Nota de Empenho v1"
        ],
        "summary": "Anula Nota de Empenho",
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited",
        "description": "\n## Exemplo\n#### Chamada\n      [POST] https://apigateway.serpro.gov.br/api-integra-siafi-deg/api/v1/ne/anular\n#### Conteúdo do corpo\n    {\n        \"dataEmissao\": \"31DEZ17\",\n        \"numeroDocumento\": \"\",               \n        \"ugEmitente\": \"010001\",\n        \"gestaoEmitente\": \"00001\",\n        \"numeroLista\": \"\",\n        \"taxaCambio\": \"\",\n        \"observacao\": \"Anulação de NE\",\n        \"valorTotalEmpenho\": \"555555\",\n        \"numeroProcesso\": \"0100\",\n        \"numeroOriginalConvenio\": \"0010\",\n        \"passivoAnterior\": \"N\",\n        \"contaPassivo\": \"\",\n        \"contaValor\": [\n        {\n          \"conta\": \"\",\n          \"valor\": \"\"\n        }\n      ],\n        \"contaPassivoFinanceiro\": \"string\",\n        \"especie\": \"03\",\n        \"ugReferencia\": \"010001\",\n        \"gestaoReferencia\": \"00001\",\n        \"numeroEmpenhoReferencia\": \"2017NE800049\",\n        \"numeroListaReferencia\": \"2017LI800095\",\n        \"listaItens\": [\n       {\n          \"subItemNd\": \"01\",\n          \"quantidade\": \"000000000000001\",\n          \"valorUnitario\": \"00000000000555555\",\n          \"valorTotal\": \"00000000000555555\",\n          \"descricao\": \"Teste Anulação\"\n        }\n      ],\n        \"numeroTransacaoCliente\": \"2017TR000043\",\n        \"credencial\": {\n          \"cpf\": \"60165570644\",\n          \"ug\": \"010001\",\n          \"sistema\": \"SIAFI2017HM\"\n      }\n    }\n#### Retorno\n    { \n      \"codigo\": 0,\n      \"mensagem\": \"010001000012017NE800058 010001000012017LI800104\",\n      \"erros\": [],\n      \"status\": 200\n    }",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Dados da Nota de Empenho a ser anulada",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AnulaNE"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retorna os dados da Nota de Empenho Anulada",
            "schema": {
              "$ref": "#/definitions/NE"
            }
          },
          "400": {
            "description": "Algum campo enviado é inválido"
          },
          "403": {
            "description": "Usuário não tem permissão para realizar esta operação"
          },
          "500": {
            "description": "Erro interno do servidor"
          }
        }
      }
    },
    "/v1/ne/reforcar": {
      "post": {
        "tags": [
          "Nota de Empenho v1"
        ],
        "summary": "Reforça Nota de Empenho",
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited",
        "description": "\n## Exemplo\n#### Chamada\n      [POST] https://apigateway.serpro.gov.br/api-integra-siafi-deg/api/v1/ne/reforcar\n#### Conteúdo do corpo\n    {\n      \"dataEmissao\": \"31DEZ17\",\n      \"numeroDocumento\": \"\",               \n      \"ugEmitente\": \"010001\",\n      \"gestaoEmitente\": \"00001\",\n      \"numeroLista\": \"\",\n      \"taxaCambio\": \"\",\n      \"observacao\": \"Reforço de NE\",\n      \"valorTotalEmpenho\": \"555555\",\n      \"numeroProcesso\": \"0100\",\n      \"numeroOriginalConvenio\": \"0010\",\n      \"passivoAnterior\": \"N\",\n      \"contaPassivo\": \"\",\n      \"contaValor\": [\n      {\n        \"conta\": \"\",\n        \"valor\": \"\"\n      }\n    ],\n      \"contaPassivoFinanceiro\": \"string\",\n      \"especie\": \"02\",\n      \"ugReferencia\": \"010001\",\n      \"gestaoReferencia\": \"00001\",\n      \"numeroEmpenhoReferencia\": \"2017NE800050\",\n      \"numeroListaReferencia\": \"2017LI800096\",\n      \"listaItens\": [\n      {\n        \"subItemNd\": \"01\",\n        \"quantidade\": \"000000000000001\",\n        \"valorUnitario\": \"00000000000555555\",\n        \"valorTotal\": \"00000000000555555\",\n        \"descricao\": \"Teste Anulação\"\n      }\n    ],\n      \"numeroTransacaoCliente\": \"2017TR000046\",\n      \"credencial\": {\n        \"cpf\": \"60165570644\",\n        \"ug\": \"010001\",\n        \"sistema\": \"SIAFI2017HM\"\n      }\n    }\n#### Retorno\n    { \n      \"codigo\": 0,\n      \"mensagem\": \"010001000012017NE800059 010001000012017LI800105\",\n      \"erros\": [],\n      \"status\": 200\n      }\n    }",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Dados da Nota de Empenho a ser reforçada",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ReforcaNE"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retorna os dados da Nota de Empenho Reforçada",
            "schema": {
              "$ref": "#/definitions/NE"
            }
          },
          "400": {
            "description": "Algum campo enviado é inválido"
          },
          "403": {
            "description": "Usuário não tem permissão para realizar esta operação"
          },
          "500": {
            "description": "Erro interno do servidor"
          }
        }
      }
    },
    "/v1/ne/consultaTransacao": {
      "post": {
        "tags": [
          "Nota de Empenho v1"
        ],
        "summary": "Consulta Número da Transação",
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited",
        "description": "\n## Exemplo\n#### Chamada\n      [POST] https://apigateway.serpro.gov.br/api-integra-siafi-deg/api/v1/ne/consultaTransacao\n#### Conteúdo do corpo\n    {\n      \"numeroTransacaoCliente\": \"2017TR000045\",\n      \"credencial\": {\n        \"cpf\": \"60165570644\",\n        \"ug\": \"010001\",\n        \"sistema\": \"SIAFI2017HM\"\n      }\n    }\n#### Retorno\n    { \n      \"codigo\": 0,\n      \"mensagem\": \"010001000012017NE800058 010001000012017LI800104\",\n      \"erros\": [],\n      \"status\": 200\n    }",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Dados da Transação a ser Consultada",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConsultaTransacao"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retorna os dados referentes ao número da Transação informado",
            "schema": {
              "$ref": "#/definitions/NE"
            }
          },
          "400": {
            "description": "Algum campo enviado é inválido"
          },
          "403": {
            "description": "Usuário não tem permissão para realizar esta operação"
          },
          "500": {
            "description": "Erro interno do servidor"
          }
        }
      }
    },
    "/v2/nota-empenho/{ug}/{gestao}/{ano}/{numero}": {
      "get": {
        "tags": [
          "Nota de Empenho v2"
        ],
        "summary": "Consulta Nota de Empenho",
        "description": "Consulta uma Nota de Empenho existente\n\n## Exemplo\n#### Chamada\n\n    https://apigateway.serpro.gov.br/api-integra-siafi-deg/api/v2/nota-empenho/010001/00001/2018/800017\n    \n    No header:\n      x-credencial: NjAxNjU1NzA2NDQuMDEwMDAxLlNJQUZJMjAxOEhN\n      (valor referente às credenciais 60165570644.010001.SIAFI2018HM convertido em Base64. Mais informações na descrição do parâmetro x-credencial, abaixo)\n      \n#### Retorno \n    {\n    codigo: 0\n    mensagem:\n      dataEmissao: 14Jun18\n      saldoPagar: ''\n      numeroNota: 2018NE800017\n      ugEmitente: '010001'\n      nomeUgEmitente: CAMARA DOS DEPUTADOS\n      gestaoEmitente: '00001'\n      nomeGestaoEmitente: TESOURO NACIONAL\n      nomeFavorecido: CAMARA DOS DEPUTADOS\n      tipoFavorecido: '4'\n      codigoFavorecido: '01000100001'\n      sicaf: ''\n      operacaoCambial: '0000000000'\n      observacao: TESTE NE-01\n      evento: '401091'\n      esfera: '1'\n      ptres: '000001'\n      fonte: '0100000000'\n      codigoND: '339030'\n      ugResponsavel: 010019\n      planoInterno: AAA\n      valorEmpenho: '00000000000000001'\n      tipoEmpenho: ORDINARIO\n      sistemaOrigem: APISIAFI\n      docReferenciaOriginal: ''\n      numDocReferencia: ''\n      passivoAnterior: NAO\n      contaPassivo: ''\n      nomeModalidade: NAO SE APLICA\n      nomeAmparo: ''\n      inciso: ''\n      numeroProcesso: 103.504/1999\n      indicadorPagPrecatorio: ''\n      siglaUF: DF\n      codigoMunicipioBeneficiado: '9701'\n      origemMaterial: NACIONAL\n      referenciaDispensa: ''\n      numeroOriginal: ''\n      informacoesLancamentos: 'LANCADO POR : 60165570644 - ANDERSON          UG : 010001   14Jun18   14:33'\n      contaCorrenteFinanceiro: F0100000000\n      contasPermanentes: []\n      numeroLista: 2018LI800043\n      subItens:\n        - numero: '00'\n          valor: '01'\n          seq: '000'\n          qtd: ''\n          valorTotal: '00000000000000001'\n          descricao: LISTA NE-01\n        - numero: '1'\n          valor: ''\n          seq: '000'\n          qtd: ''\n          valorTotal: ''\n          descricao: ''\n      subItensSaldo:\n        - numero: '01'\n          valor: '00000000000000001'\n      nsaldo: ''\n    erros: []\n    status: 200\n    }      ",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ug",
            "in": "path",
            "description": "Código da UG emitente",
            "required": true,
            "type": "string"
          },
          {
            "name": "gestao",
            "in": "path",
            "description": "Código da Gestão",
            "required": true,
            "type": "string"
          },
          {
            "name": "ano",
            "in": "path",
            "description": "Ano da Nota de Crédito",
            "required": true,
            "type": "string"
          },
          {
            "name": "numero",
            "in": "path",
            "description": "Número da Nota de Crédito",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-credencial",
            "in": "header",
            "description": "Credenciais de acesso ao SIAFI, no formato [CPF].[UG].[SISTEMA], convertido em Base64.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Retorna os dados da Nota de Empenho",
            "schema": {
              "$ref": "#/definitions/DadosNE"
            }
          },
          "400": {
            "description": "Algum campo enviado é inválido"
          },
          "403": {
            "description": "Credencial informada não possui permissão para consultar a Nota de Crédito"
          },
          "404": {
            "description": "Nota de Empenho inexistente"
          },
          "500": {
            "description": "Erro interno do servidor"
          }
        }
      }
    },
    "/v2/nota-empenho": {
      "post": {
        "tags": [
          "Nota de Empenho v2"
        ],
        "summary": "Realiza uma Nota de Empenho",
        "description": "Gera uma Nota de Empenho \n\n## Exemplo\n#### Chamada\n\n    https://apigateway.serpro.gov.br/api-integra-siafi-deg/api/v2/nota-empenho\n    \n    No header:\n      x-credencial: NjAxNjU1NzA2NDQuMDEwMDAxLlNJQUZJMjAxOEhN\n      (valor referente às credenciais 60165570644.010001.SIAFI2018HM convertido em Base64. Mais informações na descrição do parâmetro x-credencial, abaixo)\n      \n####  Conteúdo do corpo\n    {\n        \"dataEmissao\": \"14JUN18\",\n        \"numeroDocumento\": \"800017\",\n        \"ugEmitente\": \"010001\",\n        \"gestaoEmitente\": \"00001\",\n        \"numeroLista\": \"\",\n        \"taxaCambio\": \"\",\n        \"observacao\": \"Teste NE-01\",\n        \"valorTotalEmpenho\": \"001\",\n        \"numeroProcesso\": \"103.504/1999\",\n        \"numeroOriginalConvenio\": \" \",\n        \"passivoAnterior\": \"N\",\n        \"contaPassivo\": \"\",\n        \"contaValor\": [\n         {\n          \"conta\": \"\",\n          \"valor\": \"\"\n          }\n        ],\n        \"contaPassivoFinanceiro\": \" \",\n        \"favorecido\": \"010001\",\n        \"gestaoFavorecido\": \"00001\",\n        \"esferaOrcamentaria\": \"1\",\n        \"ptres\": \"000001\",\n        \"fonteRecursos\": \"0100000000\",\n        \"naturezaDespesa\": \"339030\",\n        \"unidadeGestoraResponsavel\": \"010019\",\n        \"planoInterno\": \"aaa\",\n        \"tipoEmpenho\": \"1\",                        \n        \"modalidadeLicitacao\": \"08\",\n        \"amparoLegal\": \"\",\n        \"inciso\": \"\",\n        \"origemMaterial\": \"1\",\n        \"municipioBeneficiado\": \"9701\",\n        \"ufBeneficiada\": \"DF\",\n        \"dataVencimento\": [\n          \"26JUN2018\"\n        ],\n        \"dataRecebimento\": [\n          \"26JUN2018\"\n        ],\n        \"valorCompromisso\": [\n          \"001\"\n        ],\n        \"listaItens\": [\n          {\n            \"subItemNd\": \"01\",\n            \"quantidade\": \"1\",\n            \"valorUnitario\": \"001\",\n            \"valorTotal\": \"001\",\n            \"descricao\": \"Lista NE-01\"\n          }\n        ]\n    }\n  \n#### Retorno\n    { \n      \"codigo\": 0,\n      \"mensagem\": \"010001000012018NE800017 010001000012018LI800105\",\n      \"erros\": [],\n      \"status\": 200\n      }\n    }",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Dados da Nota de Empenho a ser Gerada",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RealizaNE"
            }
          },
          {
            "in": "header",
            "name": "x-credencial",
            "description": "Credenciais de acesso ao SIAFI, no formato [CPF].[UG].[SISTEMA], convertido em Base64.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Retorna os dados da Nota de Empenho Gerada",
            "schema": {
              "$ref": "#/definitions/NE"
            }
          },
          "400": {
            "description": "Algum campo enviado é inválido"
          },
          "403": {
            "description": "Usuário não tem permissão para realizar esta operação"
          },
          "500": {
            "description": "Erro interno do servidor"
          }
        }
      },
      "put": {
        "tags": [
          "Nota de Empenho v2"
        ],
        "summary": "Atualiza uma Nota de Empenho.",
        "description": "O tipo de atualização depende do campo ' especie '\n<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Alteração: &nbsp;&nbsp;&nbsp;&nbsp;especie = 01\n<br>\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Reforço:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; especie = 02\n<br>\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Anulação: &nbsp;&nbsp;&nbsp;&nbsp;especie = 03\n\n## Exemplo\n#### Chamada\n\n    https://apigateway.serpro.gov.br/api-integra-siafi-deg/api/v2/nota-empenho\n    \n    No header:\n      x-credencial: NjAxNjU1NzA2NDQuMDEwMDAxLlNJQUZJMjAxOEhN\n      (valor referente às credenciais 60165570644.010001.SIAFI2018HM convertido em Base64. Mais informações na descrição do parâmetro x-credencial, abaixo)\n      \n####  Conteúdo do corpo\n    {\n        \"dataEmissao\": \"14JUN18\",\n        \"numeroDocumento\": \"800017\",               \n        \"ugEmitente\": \"010001\",\n        \"gestaoEmitente\": \"00001\",\n        \"numeroLista\": \"\",\n        \"taxaCambio\": \"\",\n        \"observacao\": \"Teste NE de reforço\",\n        \"valorTotalEmpenho\": \"002\",\n        \"numeroProcesso\": \"103.504/1999\",\n        \"numeroOriginalConvenio\": \" \",\n        \"passivoAnterior\": \"N\",\n        \"contaPassivo\": \"\",\n        \"contaValor\": [\n         {\n          \"conta\": \"\",\n          \"valor\": \"\"\n          }\n        ],\n        \"contaPassivoFinanceiro\": \" \",\n        \"especie\": \"02\",\n        \"ugReferencia\": \"010001\",\n        \"gestaoReferencia\": \"00001\",\n        \"numeroEmpenhoReferencia\": \"2018NE800032\",\n        \"numeroListaReferencia\": \"2018LI800091\",\n        \"listaItens\": [\n          {\n            \"subItemNd\": \"01\",\n            \"quantidade\": \"1\",\n            \"valorUnitario\": \"001\",\n            \"valorTotal\": \"001\",\n            \"descricao\": \"Lista NE-01\"\n          }\n        ]\n    }\n \n#### Retorno\n    { \n      \"codigo\": 0,\n      \"mensagem\": \"010001000012017NE800054 010001000012017LI800101\",\n      \"erros\": [],\n      \"status\": 200\n      }\n    }",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Dados da Nota de Empenho a ser atualizada",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AtualizaNE"
            }
          },
          {
            "in": "header",
            "name": "x-credencial",
            "description": "Credenciais de acesso ao SIAFI, no formato [CPF].[UG].[SISTEMA], convertido em Base64.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Retorna os dados da Nota de Empenho Atualizada",
            "schema": {
              "$ref": "#/definitions/NE"
            }
          },
          "400": {
            "description": "Algum campo enviado é inválido"
          },
          "403": {
            "description": "Usuário não tem permissão para realizar esta operação"
          },
          "500": {
            "description": "Erro interno do servidor"
          }
        }
      }
    },
    "/v2/nota-credito/{ug}/{gestao}/{ano}/{numero}": {
      "get": {
        "tags": [
          "Nota de Crédito"
        ],
        "summary": "Consulta Nota de Crédito",
        "description": "Consulta uma Nota de Crédito existente\n\n## Exemplo\n#### Chamada\n\n    https://apigateway.serpro.gov.br/api-integra-siafi-deg/api/v2/nota-credito/010001/00001/2018/800001\n    \n    No header:\n      x-credencial: MTExMTExMTExMTEuMDEwMDAxLlNJQUZJMjAxOA==\n      (valor referente às credenciais 11111111111.010001.SIAFI2018 convertido em Base64. Mais informações na descrição do parâmetro x-credencial, abaixo)\n      \n#### Retorno\n    {\n      \"dataEmissao\": \"23Fev18\",\n      \"numeroLancamento\": \"010001000012\",\n      \"ugEmitente\": \"\",\n      \"gestaoEmitente\": \"\",\n      \"ugFavorecida\": \"10001\",\n      \"gestaoFavorecida\": \"1\",\n      \"opCambial\": \"0\",\n      \"numeroTransferencia\": \"0\",\n      \"espacoBranco\": \"\",\n      \"observacao\": \"TESTE\",\n      \"mesLancamento\": null,\n      \"qtdLancamento\": null,\n      \"numOriginal\": null,\n      \"sistemaOrigem\": null,\n      \"listaEventos\": [\n        {\n          \"evento\": \"300062\",\n          \"esferaOrcamentaria\": \"1\",\n          \"unidadeOrcamentaria\": null,\n          \"programaTrabalho\": \"1\",\n          \"resultado\": \"\",\n          \"tipoCredito\": \"\",\n          \"planoOrcamentario\": \"\",\n          \"autorEmenda\": \"\",\n          \"fonteRecurso\": \"0100000000\",\n          \"naturezaDespesa\": \"339039\",\n          \"subitem\": \"\",\n          \"ugResponsavel\": \"10001\",\n          \"planoInterno\": \"\",\n          \"valorTransacao\": \"10000\"\n        }\n      ]\n    }",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ug",
            "in": "path",
            "description": "Código da UG emitente",
            "required": true,
            "type": "string"
          },
          {
            "name": "gestao",
            "in": "path",
            "description": "Código da Gestão",
            "required": true,
            "type": "string"
          },
          {
            "name": "ano",
            "in": "path",
            "description": "Ano da Nota de Crédito",
            "required": true,
            "type": "string"
          },
          {
            "name": "numero",
            "in": "path",
            "description": "Número da Nota de Crédito",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-credencial",
            "in": "header",
            "description": "Credenciais de acesso ao SIAFI, no formato [CPF].[UG].[SISTEMA], convertido em Base64.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Nota de Crédito encontrada e retornada",
            "schema": {
              "$ref": "#/definitions/NotaCredito"
            }
          },
          "400": {
            "description": "Algum campo possui informações inválidas"
          },
          "403": {
            "description": "Credencial informada não possui permissão para consultar a Nota de Crédito"
          },
          "404": {
            "description": "Nota de Crédito inexistente"
          },
          "500": {
            "description": "Erro interno do servidor"
          }
        }
      }
    },
    "/v2/nota-credito": {
      "post": {
        "tags": [
          "Nota de Crédito"
        ],
        "summary": "Gera Nota de Crédito",
        "description": "Gera uma Nota de Crédito com as informações passadas no JSON de entrada\n\n## Exemplo\n#### Chamada\n\n    https://apigateway.serpro.gov.br/api-integra-siafi-deg/api/v2/nota-credito\n    \n    No header:\n      x-credencial: MTExMTExMTExMTEuMDEwMDAxLlNJQUZJMjAxOA==\n      (valor referente às credenciais 11111111111.010001.SIAFI2018 convertido em Base64. Mais informações na descrição do parâmetro x-credencial, abaixo) \n\n#### Conteúdo do corpo\n\n    {\n      \"dataEmissao\": \"14MAI18\",\n      \"numero\": \"2018NC\",\n      \"ugEmitente\": \"010001\",\n      \"gestaoEmitente\": \"00001\",\n      \"ugFavorecida\": \"010001\",\n      \"gestaoFavorecida\": \"00001\",\n      \"taxaCambio\": \"\",\n      \"numeroTransferencia\": \"\",\n      \"observacao\": \"TESTE INCLUSAO NC\",\n      \"listaEventos\": [\n        {\n          \"evento\": \"300062\",\n          \"esferaOrcamentaria\": \"1\",\n          \"ptres\": \"1\",\n          \"fonteRecurso\": \"0100000000\",\n          \"naturezaDespesa\": \"339039\",\n          \"subitem\": \"\",\n          \"ugResponsavel\": \"010001\",\n          \"planoInterno\": \"\",   \n          \"valor\": \"00000000000100000\"\n        }\n      ]\n    }\n    \n#### Retorno\n\n    {\n      \"ug\": \"010001\",\n      \"gestao\": \"00001\",\n      \"ano\": \"2018\",\n      \"tipoDoc\": \"NC\",\n      \"sequencialDoc\": \"800017\"\n    }",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Dados da Nota de Crédito a ser gerada",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GeraNC"
            }
          },
          {
            "in": "header",
            "name": "x-credencial",
            "description": "Credenciais de acesso ao SIAFI, no formato [CPF].[UG].[SISTEMA], convertido em Base64.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "Nota de Crédito gerada com sucesso",
            "schema": {
              "$ref": "#/definitions/NCGerada"
            }
          },
          "400": {
            "description": "Algum campo possui informações inválidas"
          },
          "403": {
            "description": "Credencial informada não possui permissão para gerar a Nota de Cŕedito"
          },
          "500": {
            "description": "Erro interno do servidor"
          }
        }
      }
    },
    "/v2/nota-lancamento/{ug}/{gestao}/{ano}/{numero}": {
      "get": {
        "tags": [
          "Nota de Lançamento"
        ],
        "summary": "Consulta Nota de Lançamento",
        "description": "Consulta uma Nota de Lançamento a partir dos parâmetros UG, Gestão, Ano e Número da NL\n\n## Exemplo\n#### Chamada\n\n    https://apigateway.serpro.gov.br/api-integra-siafi-deg/api/v2/nota-lancamento/010001/00001/2018/800001\n    \n    No header:\n      x-credencial: NjAxNjU1NzA2NDQuMDEwMDAxLlNJQUZJMjAxOEhN\n      (valor referente às credenciais 60165570644.010001.SIAFI2018HM convertido em Base64. Mais informações na descrição do parâmetro x-credencial, abaixo) \n\n#### Retorno\n    {\n      \"dataEmissao\": \"14MAI18\",\n      \"ugEmitente\": \"010001\",\n      \"nomeUGEmitente\": \"010001\",\n      \"gestaoEmitente\": \"00001\",\n      \"nomeGestaoEmitente\": \"00001\",\n      \"favorecido\": \"010001\",\n      \"nomeFavorecido\": \"010001\",\n      \"gestaoFavorecido\": \"00001\",\n      \"nomeGestaoFavorecido\": \"00001\",\n      \"numero\": \"2018NL800001\",\n      \"dataValorizacao\": \"14mai18\",\n      \"taxaCambio\": \"\",\n      \"tituloCredito\": \"\",\n      \"dataVencimento\": \"29mar18\",\n      \"sistemaOrigem\": \" \", \n      \"observacao\": \"INCLUSAO NL\", \n      \"listaEventos\": [\n        {\n          \"evento\": \"300062\",\n          \"inscricao1\": \"22025711000153\",\n          \"inscricao2\": \"null\",\n          \"classificacao1\": \"111111111\",\n          \"classificacao2\": \"null\",\n          \"classOrcamentaria1\": \"111111111\",\n          \"classOrcamentaria2\": \"null\", \n          \"valor\": \"10001\",  \n          \"numeroReferencia\": \"\"  \n        } \n      ] \n    }",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ug",
            "in": "path",
            "description": "Código da UG emitente",
            "required": true,
            "type": "string"
          },
          {
            "name": "gestao",
            "in": "path",
            "description": "Código da Gestão",
            "required": true,
            "type": "string"
          },
          {
            "name": "ano",
            "in": "path",
            "description": "Ano da Nota de Lançamento",
            "required": true,
            "type": "string"
          },
          {
            "name": "numero",
            "in": "path",
            "description": "Número da Nota de Lançamento",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-credencial",
            "in": "header",
            "description": "Credenciais de acesso ao SIAFI, no formato [CPF].[UG].[SISTEMA], convertido em Base64.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "Nota de Lançamento encontrada e retornada",
            "schema": {
              "$ref": "#/definitions/NotaLancamento"
            }
          },
          "400": {
            "description": "Algum campo possui informações inválidas"
          },
          "403": {
            "description": "Credencial informada não possui permissão para consulta a Nota de Lançamento"
          },
          "404": {
            "description": "Nota de Lançamento inexistente"
          },
          "500": {
            "description": "Erro interno do servidor"
          }
        }
      }
    },
    "/v2/nota-lancamento": {
      "post": {
        "tags": [
          "Nota de Lançamento"
        ],
        "summary": "Gera Nota de Lançamento",
        "description": "Gera uma Nota de Lançamento a partir de um Json de Entrada\n\n## Exemplo\n#### Chamada\n\n    https://apigateway.serpro.gov.br/api-integra-siafi-deg/api/v2/nota-lancamento\n    \n    No header:\n      x-credencial: NjAxNjU1NzA2NDQuMDEwMDAxLlNJQUZJMjAxOEhN\n      (valor referente às credenciais 60165570644.010001.SIAFI2018HM convertido em Base64. Mais informações na descrição do parâmetro x-credencial, abaixo) \n\n#### Conteúdo do corpo\n\n    {\n      \"dataEmissao\": \"14MAI18\",\n      \"ugEmitente\": \"010001\",\n      \"gestaoEmitente\": \"00001\",\n      \"favorecido\": \"010001\",\n      \"gestaoFavorecido\": \"00001\",\n      \"numero\": \"2018NL800017\",\n      \"dataValorizacao\": \"14mai18\",\n      \"taxaCambio\": \"\",\n      \"tituloCredito\": \"\",\n      \"dataVencimento\": \"14MAI18\",\n      \"observacao\": \"INCLUSAO NL\", \n      \"listaEventos\": [\n        {\n          \"evento\": \"300062\",\n          \"inscricao1\": \"22025711000153\",\n          \"inscricao2\": \"null\",\n          \"classificacao1\": \"111111111\",\n          \"classificacao2\": \"null\",\n          \"classOrcamentaria1\": \"111111111\",\n          \"classOrcamentaria2\": \"null\", \n          \"valorEvento\": \"55555555\"  \n        } \n      ],\n      \"listaReferencias\": [ \n          \"00001\" \n      ] \n    }\n #### Retorno\n\n    {\n      \"ug\": \"010001\",\n      \"gestao\": \"00001\",\n      \"ano\": \"2018\",\n      \"tipoDoc\": \"NL\",\n      \"sequencialDoc\": \"800017\"\n    }",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Dados da Nota de Lançamento a ser gerada",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GeraNL"
            }
          },
          {
            "in": "header",
            "name": "x-credencial",
            "description": "Credenciais de acesso ao SIAFI, no formato [CPF].[UG].[SISTEMA], convertido em Base64.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "Nota de Lançamento gerada com sucesso",
            "schema": {
              "$ref": "#/definitions/NLGerada"
            }
          },
          "400": {
            "description": "Algum campo possui informações inválidas"
          },
          "403": {
            "description": "Credencial informada não possui permissão para gerar a Nota de Lançamento"
          },
          "500": {
            "description": "Erro interno do servidor"
          }
        }
      }
    },
    "/v2/nota-dotacao/{ug}/{gestao}/{ano}/{numero}": {
      "get": {
        "tags": [
          "Nota de Dotação"
        ],
        "summary": "Consulta Nota de Dotação",
        "description": "Consulta uma Nota de Dotação a partir dos parâmetros UG, Gestão, Ano e Número da ND\n\n## Exemplo\n#### Chamada\n\n    https://apigateway.serpro.gov.br/api-integra-siafi-deg/api/v2/nota-dotacao/010001/00001/2018/800002\n    \n    No header:\n      x-credencial: NjAxNjU1NzA2NDQuMDEwMDAxLlNJQUZJMjAxOEhN\n      (valor referente às credenciais 60165570644.010001.SIAFI2018HM convertido em Base64. Mais informações na descrição do parâmetro x-credencial, abaixo) \n\n#### Retorno\n    {\n      \"dataEmissao\": \"10ago18\",\n      \"numeroDocumento\": \"2018ND800002\",\n      \"ugEmitente\": \"010001\",\n      \"nomeUGEmitente\": \"CAMARA DOS DEPUTADOS 2018\",\n      \"gestaoEmitente\": \"00001\",\n      \"favorecido\": \"\",\n      \"nomeFavorecido\": \"\",\n      \"taxaCambio\": \"\",\n      \"observacao\": \"teste Nota Dotação Gestor\", \n      \"listaEventos\": [\n        {\n          \"evento\": \"200031\",\n          \"esferaOrcamentaria\": \"1\",\n          \"ptres\": \"000019\",\n          \"fonteRecurso\": \"0100000000\",\n          \"naturezaDespesa\": \"339030\",\n          \"UGResponsavel\": \"\",\n          \"planoInterno\": \"\", \n          \"valor\": \"100\",  \n        } \n      ]\n    }",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ug",
            "in": "path",
            "description": "Código da UG emitente",
            "required": true,
            "type": "string"
          },
          {
            "name": "gestao",
            "in": "path",
            "description": "Código da Gestão",
            "required": true,
            "type": "string"
          },
          {
            "name": "ano",
            "in": "path",
            "description": "Ano da Nota de Dotação",
            "required": true,
            "type": "string"
          },
          {
            "name": "numero",
            "in": "path",
            "description": "Número da Nota de Dotação",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-credencial",
            "in": "header",
            "description": "Credenciais de acesso ao SIAFI, no formato [CPF].[UG].[SISTEMA], convertido em Base64.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "Nota de Dotação encontrada e retornada",
            "schema": {
              "$ref": "#/definitions/NotaDotacao"
            }
          },
          "400": {
            "description": "Algum campo possui informações inválidas"
          },
          "403": {
            "description": "Credencial informada não possui permissão para consulta a Nota de Dotação"
          },
          "404": {
            "description": "Nota de Dotação inexistente"
          },
          "500": {
            "description": "Erro interno do servidor"
          }
        }
      }
    },
    "/v2/nota-dotacao": {
      "post": {
        "tags": [
          "Nota de Dotação"
        ],
        "summary": "Gera uma Nota de Dotação",
        "description": "Gera uma Nota de Dotação a partir de um Json de Entrada\n\n## Exemplo\n#### Chamada\n\n    https://apigateway.serpro.gov.br/api-integra-siafi-deg/api/v2/nota-dotacao\n    \n    No header:\n      x-credencial: NjAxNjU1NzA2NDQuMDEwMDAxLlNJQUZJMjAxOEhN\n      (valor referente às credenciais 60165570644.010001.SIAFI2018HM convertido em Base64. Mais informações na descrição do parâmetro x-credencial, abaixo) \n\n#### Conteúdo do corpo\n\n    {\n      \"dataEmissao\": \"10AGO18\",\n      \"numeroDocumento\": \"\",\n      \"ugEmitente\": \"010001\",\n      \"gestaoEmitente\": \"00001\",\n      \"ugFavorecida\": \"\",\n      \"gestaoFavorecido\": \"\",\n      \"taxaCambio\": \"\",\n      \"observacao\": \"teste Nota Dotação Gestor\", \n      \"listaEventos\": [\n        {\n          \"evento\": \"200031\",\n          \"esferaOrcamentaria\": \"1\",\n          \"unidadeOrcamentaria\": \"\",\n          \"ptres\": \"000019\",\n          \"fonteRecurso\": \"0100000000\",\n          \"naturezaDespesa\": \"339030\",\n          \"subitemND\": \"\",\n          \"ugr\": \"\", \n          \"planoInterno\": \"\", \n          \"valor\": \"100\"  \n        } \n      ] \n    }\n #### Retorno\n\n    {\n      \"ug\": \"010001\",\n      \"gestao\": \"00001\",\n      \"ano\": \"2018\",\n      \"tipoDoc\": \"ND\",\n      \"sequencialDoc\": \"800002\",\n      \"numRequisicao\": \"2018TRND000001\"\n    }",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Dados da Nota de Dotação a ser gerada",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GeraND"
            }
          },
          {
            "in": "header",
            "name": "x-credencial",
            "description": "Credenciais de acesso ao SIAFI, no formato [CPF].[UG].[SISTEMA], convertido em Base64.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "Nota de Dotação gerada com sucesso",
            "schema": {
              "$ref": "#/definitions/NDGerada"
            }
          },
          "400": {
            "description": "Algum campo possui informações inválidas"
          },
          "403": {
            "description": "Credencial informada não possui permissão para gerar a Nota de Dotação"
          },
          "500": {
            "description": "Erro interno do servidor"
          }
        }
      }
    },
    "/v2/nota-detaorc/{ug}/{gestao}/{ano}/{numero}": {
      "get": {
        "tags": [
          "Nota de Dotação"
        ],
        "summary": "Consulta uma Nota de Detalhamento Orçamentário",
        "description": "Consulta uma Nota de Detalhamento Orçamentário a partir dos parâmetros UG, Gestão, Ano e Número da ND\n\n## Exemplo\n#### Chamada\n\n    https://apigateway.serpro.gov.br/api-integra-siafi-deg/api/v2/nota-detaorc/010001/00001/2018/000002\n    \n    No header:\n      x-credencial: NjAxNjU1NzA2NDQuMDEwMDAxLlNJQUZJMjAxOEhN\n      (valor referente às credenciais 60165570644.010001.SIAFI2018HM convertido em Base64. Mais informações na descrição do parâmetro x-credencial, abaixo) \n\n#### Retorno\n    {\n      \"dataEmissao\": \"10ago18\",\n      \"especieND\": \"1\",\n      \"numeroDocumento\": \"2018ND000002\",\n      \"ugEmitente\": \"010001\",\n      \"nomeUGEmitente\": \"CAMARA DOS DEPUTADOS 2018\",\n      \"gestaoEmitente\": \"00001\",\n      \"esferaOrcamentaria\": \"1\",\n      \"fonteRecurso\": \"0100\",\n      \"categoriaDespesa\": \"33\",\n      \"codigoInstrumentoLegal\": \"\",\n      \"numeroInstrumentoLegal\": \"\",\n      \"dataPublicacao\": \"01ago18\",\n      \"taxaCambio\": \"2\",\n      \"ptres\": \"005714\", \n      \"idoc\": \"9999\",\n      \"observacao\": \"teste Nota Docação DETAORC\", \n      \"listaEventos\": [\n        {\n          \"reducaoAcrescimos\": \"R\",\n          \"sequencialFonte\": \"000000\",\n          \"modalidadeAplicacao\": \"90\",\n          \"elementoDespesa\": \"00\",\n          \"subitemND\": \"\",\n          \"codigoUGResponsavel\": \"\",\n          \"planoInterno\": \"\", \n          \"valor\": \"100000\",  \n        },\n        {\n          \"reducaoAcrescimos\": \"A\",\n          \"sequencialFonte\": \"000000\",\n          \"modalidadeAplicacao\": \"90\",\n          \"elementoDespesa\": \"14\",\n          \"subitemND\": \"\",\n          \"codigoUGResponsavel\": \"\",\n          \"planoInterno\": \"\", \n          \"valor\": \"100000\", \n        } \n      ]             \n    }",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ug",
            "in": "path",
            "description": "Código da UG emitente",
            "required": true,
            "type": "string"
          },
          {
            "name": "gestao",
            "in": "path",
            "description": "Código da Gestão",
            "required": true,
            "type": "string"
          },
          {
            "name": "ano",
            "in": "path",
            "description": "Ano da Nota de Dotação",
            "required": true,
            "type": "string"
          },
          {
            "name": "numero",
            "in": "path",
            "description": "Número da Nota de Dotação",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-credencial",
            "in": "header",
            "description": "Credenciais de acesso ao SIAFI, no formato [CPF].[UG].[SISTEMA], convertido em Base64.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "Nota de Detalhamento Orçamentário encontrado e retornado com sucesso",
            "schema": {
              "$ref": "#/definitions/ConsultaNDDetOrc"
            }
          },
          "400": {
            "description": "Algum campo possui informações inválidas"
          },
          "403": {
            "description": "Credencial informada não possui permissão para consultar essa Nota de Detalhamento Orçamentário"
          },
          "500": {
            "description": "Erro interno do servidor"
          }
        }
      }
    },
    "/v2/nota-detaorc": {
      "post": {
        "tags": [
          "Nota de Dotação"
        ],
        "summary": "Gera uma Nota de Detalhamento Orçamentário",
        "description": "Gera uma Nota de Detalhamento Orçamentário a partir de um Json de Entrada\n\n## Exemplo\n#### Chamada\n\n    https://apigateway.serpro.gov.br/api-integra-siafi-deg/api/v2/nota-detaorc\n    \n    No header:\n      x-credencial: NjAxNjU1NzA2NDQuMDEwMDAxLlNJQUZJMjAxOEhN\n      (valor referente às credenciais 60165570644.010001.SIAFI2018HM convertido em Base64. Mais informações na descrição do parâmetro x-credencial, abaixo) \n\n####  Conteúdo do corpo\n    {\n      \"dataEmissao\": \"10AGO18\",\n      \"especieND\": \"1\",\n      \"numeroDocumento\": \"2018ND000002\",\n      \"ugEmitente\": \"010001\",\n      \"gestaoEmitente\": \"00001\",\n      \"esferaOrcamentaria\": \"1\",\n      \"fonteRecurso\": \"0100\",\n      \"categoriaDespesa\": \"33\",\n      \"codigoInstrumentoLegal\": \"1\",\n      \"numeroInstrumentoLegal\": \"0123\",\n      \"dataPublicacao\": \"01ago18\",\n      \"taxaCambio\": \"\",\n      \"ptres\": \"005714\",\n      \"idoc\": \"9999\",\n      \"observacao\": \"Teste Nota Dotação DETAORC\", \n      \"listaEventos\": [\n        {\n          \"reducaoAcrescimos\": \"R\",\n          \"sequencialFonte\": \"000000\",\n          \"modalidadeAplicacao\": \"90\",\n          \"elementoDespesa\": \"00\",\n          \"subitemND\": \"\",\n          \"codigoUGResponsavel\": \"\",\n          \"planoInterno\": \"\", \n          \"valor\": \"100000\"  \n        },\n        {\n          \"reducaoAcrescimos\": \"A\",\n          \"sequencialFonte\": \"000000\",\n          \"modalidadeAplicacao\": \"90\",\n          \"elementoDespesa\": \"14\",\n          \"subitemND\": \"\",\n          \"codigoUGResponsavel\": \"\",\n          \"planoInterno\": \"\", \n          \"valor\": \"100000\" \n        } \n      ]\n    }\n #### Retorno\n\n    {\n      \"ug\": \"010001\",\n      \"gestao\": \"00001\",\n      \"ano\": \"2018\",\n      \"tipoDoc\": \"ND\",\n      \"sequencialDoc\": \"000002\",\n      \"numRequisicao\": \"2018TRND000002\"\n    }",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Dados de uma Nota de Detalhamento Orçamentário a ser gerada",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GeraNDDetOrc"
            }
          },
          {
            "in": "header",
            "name": "x-credencial",
            "description": "Credenciais de acesso ao SIAFI, no formato [CPF].[UG].[SISTEMA], convertido em Base64.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "Nota de Detalhamento Orçamentário gerada com sucesso",
            "schema": {
              "$ref": "#/definitions/NDDetaOrcGerada"
            }
          },
          "400": {
            "description": "Algum campo possui informações inválidas"
          },
          "403": {
            "description": "Credencial informada não possui permissão para gerar uma Nota de Detalhamento Orçamentário"
          },
          "500": {
            "description": "Erro interno do servidor"
          }
        }
      }
    },
    "/v2/nota-bloqueio/{ug}/{gestao}/{ano}/{numero}": {
      "get": {
        "tags": [
          "Nota de Dotação"
        ],
        "summary": "Consulta uma Nota de Bloqueio de Crédito",
        "description": "Consulta uma Nota de Bloqueio de Crédito a partir dos parâmetros UG, Gestão, Ano e Número da ND\n\n## Exemplo\n#### Chamada\n\n    https://apigateway.serpro.gov.br/api-integra-siafi-deg/api/v2/nota-bloqueio/010001/00001/2018/000005\n    \n    No header:\n      x-credencial: NjAxNjU1NzA2NDQuMDEwMDAxLlNJQUZJMjAxOEhN\n      (valor referente às credenciais 60165570644.010001.SIAFI2018HM convertido em Base64. Mais informações na descrição do parâmetro x-credencial, abaixo) \n\n#### Retorno\n    {\n      \"dataEmissao\": \"06nov18\",\n      \"numeroDocumento\": \"2018ND000005\",\n      \"ugEmitente\": \"010001\",\n      \"nomeUGEmitente\": \"CAMARA DOS DEPUTADOS 2018\",\n      \"gestaoEmitente\": \"00001\",\n      \"nomeGestaoEmitente\": \"TESOURO NACIONAL\",\n      \"taxaCambio\": \"\",\n      \"observacao\": \"TESTE API SIAFI\", \n      \"listaEventos\": [\n        {\n          \"evento\": \"200020\",\n          \"esferaOrcamentaia\": \"1\",\n          \"ptres\": \"001000\",\n          \"idoc\": \"9999\",\n          \"naturezaDespesa\": \"339000\",\n          \"fonte\": \"0100\", \n          \"valor\": \"20000\",  \n        }\n      ]             \n    }",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ug",
            "in": "path",
            "description": "Código da UG emitente",
            "required": true,
            "type": "string"
          },
          {
            "name": "gestao",
            "in": "path",
            "description": "Código da Gestão",
            "required": true,
            "type": "string"
          },
          {
            "name": "ano",
            "in": "path",
            "description": "Ano da Nota de Bloqueio de Crédito",
            "required": true,
            "type": "string"
          },
          {
            "name": "numero",
            "in": "path",
            "description": "Número da Nota de Bloqueio de Crédito",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-credencial",
            "in": "header",
            "description": "Credenciais de acesso ao SIAFI, no formato [CPF].[UG].[SISTEMA], convertido em Base64.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "Nota de bloqueio de Crédito encontrada e retornada com sucesso",
            "schema": {
              "$ref": "#/definitions/notaBloqueio"
            }
          },
          "400": {
            "description": "Algum campo possui informações inválidas"
          },
          "403": {
            "description": "Credencial informada não possui permissão para consultar a Nota de Bloqueio de Crédito"
          },
          "500": {
            "description": "Erro interno do servidor"
          }
        }
      }
    },
    "/v2/nota-bloqueio": {
      "post": {
        "tags": [
          "Nota de Dotação"
        ],
        "summary": "Gera uma Nota de Bloqueio de Crédito",
        "description": "Gera uma Nota de Bloqueio de Crédito a partir de um Json de Entrada\n\n## Exemplo\n#### Chamada\n\n    https://apigateway.serpro.gov.br/api-integra-siafi-deg/api/v2/nota-bloqueio\n    \n    No header:\n      x-credencial: NjAxNjU1NzA2NDQuMDEwMDAxLlNJQUZJMjAxOEhN\n      (valor referente às credenciais 60165570644.010001.SIAFI2018HM convertido em Base64. Mais informações na descrição do parâmetro x-credencial, abaixo) \n\n#### Conteúdo do corpo\n\n    {\n      \"dataEmissao\": \"\",\n      \"numeroDocumento\": \"\",\n      \"ugEmitente\": \"170999\",\n      \"gestaoEmitente\": \"00001\",\n      \"taxaCambio\": \"\",\n      \"observacao\": \"TESTE\", \n      \"listaEventos\": [\n        {\n          \"evento\": \"\",\n          \"esferaOrcamentaria\": \"\",\n          \"unidadeOrcamentaria\": \"\",\n          \"ptres\": \"\",\n          \"idoc\": \"\",\n          \"naturezaDespesa\": \"\",\n          \"grupoFonte\": \"\",\n          \"resultado\": \"\",\n          \"tipoCredito\": \"\",\n          \"planoOrcamentario\": \"\",\n          \"autorEmenda\": \"\",\n          \"valor\": \"2000\"\n        } \n      ] \n    }\n #### Retorno\n\n    {\n      \"ug\": \"010001\",\n      \"gestao\": \"00001\",\n      \"ano\": \"2018\",\n      \"tipoDoc\": \"ND\",\n      \"sequencialDoc\": \"000005\",\n      \"numRequisicao\": \"2018TRND000005\"\n    }",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Dados da Nota de Bloqueio de Crédito a ser gerada",
            "required": true,
            "schema": {
              "$ref": "#/definitions/notaBloqueio"
            }
          },
          {
            "in": "header",
            "name": "x-credencial",
            "description": "Credenciais de acesso ao SIAFI, no formato [CPF].[UG].[SISTEMA], convertido em Base64.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "Nota de Bloqueio de Crédito gerada com sucesso",
            "schema": {
              "$ref": "#/definitions/NDBloqueioGerada"
            }
          },
          "400": {
            "description": "Algum campo possui informações inválidas"
          },
          "403": {
            "description": "Credencial informada não possui permissão para gerar a Nota de Bloqueio de Crédito"
          },
          "500": {
            "description": "Erro interno do servidor"
          }
        }
      }
    },
    "/v2/documentos/{ug}/{gestao}/{data}?tipo={tipo}": {
      "get": {
        "tags": [
          "Consulta Documentos"
        ],
        "summary": "Consulta Documentos",
        "description": "Consulta documentos de uma UG Emitente/Favorecida a partir de uma data específica\n\n## Exemplo\n#### Chamada\n\n    https://apigateway.serpro.gov.br/integra-siafi-trial/api/v2/documentos/010001/00001/10FEV18?tipo={ugfavorecida/ugemitente}\n    \n    No header:\n      x-credencial: NjAxNjU1NzA2NDQuMDEwMDAxLlNJQUZJMjAxOEhN\n      (valor referente às credenciais 60165570644.010001.SIAFI2018HM convertido em Base64. Mais informações na descrição do parâmetro x-credencial, abaixo) \n\n#### Retorno\n    {\n      \"data\": \"10Fev18\",\n      \"listaDocumentos\": [\n        {\n          \"ugEmitente\": \"010001\",\n          \"gestaoEmitente\": \"00001\",\n          \"numeroDocumento\": \"2019ND000009\",\n          \"tipoNd\": \"\"  \n        },\n        {\n          \"ugEmitente\": \"010001\",\n          \"gestaoEmitente\": \"00001\",\n          \"numeroDocumento\": \"2019ND000010\",\n          \"tipoNd\": \"\"  \n        },\n        {\n          \"ugEmitente\": \"010001\",\n          \"gestaoEmitente\": \"00001\",\n          \"numeroDocumento\": \"2019ND000011\",\n          \"tipoNd\": \"\"  \n        },\n        {\n          \"ugEmitente\": \"010001\",\n          \"gestaoEmitente\": \"00001\",\n          \"numeroDocumento\": \"2019ND000012\",\n          \"tipoNd\": \"\"  \n        },\n        {\n          \"ugEmitente\": \"010001\",\n          \"gestaoEmitente\": \"00001\",\n          \"numeroDocumento\": \"2019ND000013\",\n          \"tipoNd\": \"\"  \n        },\n        {\n          \"ugEmitente\": \"010001\",\n          \"gestaoEmitente\": \"00001\",\n          \"numeroDocumento\": \"2019ND000014\",\n          \"tipoNd\": \"\"  \n        } \n      ]\n    }",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ug",
            "in": "path",
            "description": "Código da UG emitente",
            "required": true,
            "type": "string"
          },
          {
            "name": "gestao",
            "in": "path",
            "description": "Código da Gestão emitente",
            "required": true,
            "type": "string"
          },
          {
            "name": "data",
            "in": "path",
            "description": "Data referente ao pedido da consulta",
            "required": true,
            "type": "string"
          },
          {
            "name": "tipo",
            "in": "path",
            "description": "Tipo da UG = ugemitente ou ugfavorecida",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-credencial",
            "in": "header",
            "description": "Credenciais de acesso ao SIAFI, no formato [CPF].[UG].[SISTEMA], convertido em Base64.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Documentos encontrados e retornados com sucesso",
            "schema": {
              "$ref": "#/definitions/Documentos"
            }
          },
          "400": {
            "description": "Algum campo possui informações inválidas"
          },
          "403": {
            "description": "Credencial informada não possui permissão para consultar a Documentos"
          },
          "500": {
            "description": "Erro interno do servidor"
          }
        }
      }
    },
    "/status": {
      "get": {
        "tags": [
          "Status"
        ],
        "summary": "Verifica status da API",
        "responses": {
          "200": {
            "description": "Serviço disponível",
            "schema": {
              "$ref": "#/definitions/Status"
            },
            "examples": {
              "lastUpdateAt": "2019-02-18T11:27:06-03:00"
            }
          },
          "500": {
            "description": "Serviço indisponível",
            "schema": {
              "$ref": "#/definitions/Status"
            },
            "examples": {
              "lastUpdateAt": "2019-02-18T11:27:06-03:00"
            }
          }
        }
      }
    }
  },
  "schemes": [
    "https"
  ],
  "definitions": {
    "Status": {
      "type": "object",
      "properties": {
        "lastUpdateAt": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "Documentos": {
      "properties": {
        "data": {
          "type": "string"
        },
        "listaDocumentos": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ListaDocumentos"
          }
        }
      }
    },
    "ListaDocumentos": {
      "properties": {
        "ugEmitente": {
          "type": "string"
        },
        "gestaoEmitente": {
          "type": "string"
        },
        "numeroDocumento": {
          "type": "string"
        },
        "tipoNd": {
          "type": "string"
        }
      }
    },
    "NotaDotacao": {
      "properties": {
        "dataEmissao": {
          "type": "string"
        },
        "numeroDocumento": {
          "type": "string"
        },
        "ugEmitente": {
          "type": "string"
        },
        "nomeUgEmitente": {
          "type": "string"
        },
        "gestaoEmitente": {
          "type": "string"
        },
        "favorecido": {
          "type": "string"
        },
        "nomeFavorecido": {
          "type": "string"
        },
        "taxaCambio": {
          "type": "string"
        },
        "observacao": {
          "type": "string"
        },
        "listaEventos": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EventoND"
          }
        }
      }
    },
    "notaBloqueio": {
      "properties": {
        "dataEmissao": {
          "type": "string"
        },
        "numeroDocumento": {
          "type": "string"
        },
        "ugEmitente": {
          "type": "string"
        },
        "gestaoEmitente": {
          "type": "string"
        },
        "taxaCambio": {
          "type": "string"
        },
        "observacao": {
          "type": "string"
        },
        "listaEventos": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EventoNDBloqueio"
          }
        }
      }
    },
    "NDBloqueioGerada": {
      "properties": {
        "ug": {
          "type": "string"
        },
        "gestao": {
          "type": "string"
        },
        "ano": {
          "type": "string"
        },
        "tipoDoc": {
          "type": "string"
        },
        "sequencialDoc": {
          "type": "string"
        },
        "numRequisicao": {
          "type": "string"
        }
      }
    },
    "EventoNDBloqueio": {
      "properties": {
        "evento": {
          "type": "string"
        },
        "esferaOrcamentaria": {
          "type": "string"
        },
        "unidadeOrcamentaria": {
          "type": "string"
        },
        "ptres": {
          "type": "string"
        },
        "idoc": {
          "type": "string"
        },
        "naturezaDespesa": {
          "type": "string"
        },
        "grupoFonte": {
          "type": "string"
        },
        "resultado": {
          "type": "string"
        },
        "tipoCredito": {
          "type": "string"
        },
        "planoOrcamentario": {
          "type": "string"
        },
        "autorEmenda": {
          "type": "string"
        },
        "valor": {
          "type": "string"
        }
      }
    },
    "GeraND": {
      "properties": {
        "dataEmissao": {
          "type": "string"
        },
        "numero": {
          "type": "string"
        },
        "ugEmitente": {
          "type": "string"
        },
        "gestaoEmitente": {
          "type": "string"
        },
        "ugFavorecida": {
          "type": "string"
        },
        "gestaoFavorecida": {
          "type": "string"
        },
        "taxaCambio": {
          "type": "string"
        },
        "observacao": {
          "type": "string"
        },
        "listaEventos": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EventoND"
          }
        }
      }
    },
    "EventoND": {
      "properties": {
        "evento": {
          "type": "string"
        },
        "esferaOrcamentaria": {
          "type": "string"
        },
        "unidadeOrcamentaria": {
          "type": "string"
        },
        "ptres": {
          "type": "string"
        },
        "fonteRecurso": {
          "type": "string"
        },
        "naturezaDespesa": {
          "type": "string"
        },
        "subitemND": {
          "type": "string"
        },
        "ugr": {
          "type": "string"
        },
        "planoInterno": {
          "type": "string"
        },
        "valor": {
          "type": "string"
        }
      }
    },
    "NDGerada": {
      "properties": {
        "ug": {
          "type": "string"
        },
        "gestao": {
          "type": "string"
        },
        "ano": {
          "type": "string"
        },
        "tipoDoc": {
          "type": "string"
        },
        "sequencialDoc": {
          "type": "string"
        },
        "numRequisicao": {
          "type": "string"
        }
      }
    },
    "ConsultaNDDetOrc": {
      "properties": {
        "dataEmissao": {
          "type": "string"
        },
        "especieND": {
          "type": "string"
        },
        "numeroDocumento": {
          "type": "string"
        },
        "ugEmitente": {
          "type": "string"
        },
        "nomeUGEmitente": {
          "type": "string"
        },
        "gestaoEmitente": {
          "type": "string"
        },
        "esferaOrcamentaria": {
          "type": "string"
        },
        "fonteRecurso": {
          "type": "string"
        },
        "categoriaDespesa": {
          "type": "string"
        },
        "codigoInstrumentoLegal": {
          "type": "string"
        },
        "numeroInstrumentoLegal": {
          "type": "string"
        },
        "dataPublicacao": {
          "type": "string"
        },
        "taxaCambio": {
          "type": "string"
        },
        "ptres": {
          "type": "string"
        },
        "idoc": {
          "type": "string"
        },
        "observacao": {
          "type": "string"
        },
        "listaEventos": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EventosNDDesOrc"
          }
        }
      }
    },
    "GeraNDDetOrc": {
      "properties": {
        "dataEmissao": {
          "type": "string"
        },
        "especieND": {
          "type": "string"
        },
        "numeroDocumento": {
          "type": "string"
        },
        "ugEmitente": {
          "type": "string"
        },
        "nomeUGEmitente": {
          "type": "string"
        },
        "gestaoEmitente": {
          "type": "string"
        },
        "esferaOrcamentaria": {
          "type": "string"
        },
        "fonteRecurso": {
          "type": "string"
        },
        "categoriaDespesa": {
          "type": "string"
        },
        "codigoInstrumentoLegal": {
          "type": "string"
        },
        "numeroInstrumentoLegal": {
          "type": "string"
        },
        "dataPublicacao": {
          "type": "string"
        },
        "taxaCambio": {
          "type": "string"
        },
        "ptres": {
          "type": "string"
        },
        "idoc": {
          "type": "string"
        },
        "observacao": {
          "type": "string"
        },
        "listaEventos": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EventosNDDesOrc"
          }
        }
      }
    },
    "NDDetaOrcGerada": {
      "properties": {
        "ug": {
          "type": "string"
        },
        "gestao": {
          "type": "string"
        },
        "ano": {
          "type": "string"
        },
        "tipoDoc": {
          "type": "string"
        },
        "sequencialDoc": {
          "type": "string"
        },
        "numRequisicao": {
          "type": "string"
        }
      }
    },
    "EventosNDDesOrc": {
      "properties": {
        "reducaoAcrescimos": {
          "type": "string"
        },
        "sequencialFonte": {
          "type": "string"
        },
        "modalidadeAplicacao": {
          "type": "string"
        },
        "elementoDespesa": {
          "type": "string"
        },
        "subitemND": {
          "type": "string"
        },
        "codigoUGResponsavel": {
          "type": "string"
        },
        "planoInterno": {
          "type": "string"
        },
        "valor": {
          "type": "string"
        }
      }
    },
    "NotaLancamento": {
      "properties": {
        "dataEmissao": {
          "type": "string"
        },
        "ugEmitente": {
          "type": "string"
        },
        "nomeUgEmitente": {
          "type": "string"
        },
        "gestaoEmitente": {
          "type": "string"
        },
        "nomeGestaoEmitente": {
          "type": "string"
        },
        "favorecido": {
          "type": "string"
        },
        "nomeFavorecido": {
          "type": "string"
        },
        "gestaoFavorecido": {
          "type": "string"
        },
        "nomeGestaoFavorecido": {
          "type": "string"
        },
        "numero": {
          "type": "string"
        },
        "dataValorizacao": {
          "type": "string"
        },
        "taxaCambio": {
          "type": "string"
        },
        "tituloCredito": {
          "type": "string"
        },
        "dataVencimento": {
          "type": "string"
        },
        "sistemaOrigem": {
          "type": "string"
        },
        "observacao": {
          "type": "string"
        },
        "listaEventos": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EventoNL"
          }
        }
      }
    },
    "GeraNL": {
      "properties": {
        "dataEmissao": {
          "type": "string"
        },
        "numero": {
          "type": "string"
        },
        "ugEmitente": {
          "type": "string"
        },
        "gestaoEmitente": {
          "type": "string"
        },
        "ugFavorecida": {
          "type": "string"
        },
        "gestaoFavorecida": {
          "type": "string"
        },
        "taxaCambio": {
          "type": "string"
        },
        "numeroTransferencia": {
          "type": "string"
        },
        "observacao": {
          "type": "string"
        },
        "listaEventos": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EventoNL"
          }
        }
      }
    },
    "EventoNL": {
      "properties": {
        "evento": {
          "type": "string"
        },
        "inscricao1": {
          "type": "string"
        },
        "inscricao2": {
          "type": "string"
        },
        "classificacao1": {
          "type": "string"
        },
        "classificacao2": {
          "type": "string"
        },
        "classOrcamentaria1": {
          "type": "string"
        },
        "classOrcamentaria2": {
          "type": "string"
        },
        "valor": {
          "type": "string"
        },
        "numeroReferencia": {
          "type": "string"
        }
      }
    },
    "NLGerada": {
      "properties": {
        "ug": {
          "type": "string"
        },
        "gestao": {
          "type": "string"
        },
        "ano": {
          "type": "string"
        },
        "tipoDoc": {
          "type": "string"
        },
        "sequencialDoc": {
          "type": "string"
        }
      }
    },
    "NotaCredito": {
      "properties": {
        "dataEmissao": {
          "type": "string"
        },
        "numero": {
          "type": "string"
        },
        "ugEmitente": {
          "type": "string"
        },
        "gestaoEmitente": {
          "type": "string"
        },
        "ugFavorecida": {
          "type": "string"
        },
        "gestaoFavorecida": {
          "type": "string"
        },
        "taxaCambio": {
          "type": "string"
        },
        "numeroTransferencia": {
          "type": "string"
        },
        "observacao": {
          "type": "string"
        },
        "listaEventos": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EventoNC"
          }
        }
      }
    },
    "GeraNC": {
      "properties": {
        "dataEmissao": {
          "type": "string"
        },
        "numero": {
          "type": "string"
        },
        "ugEmitente": {
          "type": "string"
        },
        "gestaoEmitente": {
          "type": "string"
        },
        "ugFavorecida": {
          "type": "string"
        },
        "gestaoFavorecida": {
          "type": "string"
        },
        "taxaCambio": {
          "type": "string"
        },
        "numeroTransferencia": {
          "type": "string"
        },
        "observacao": {
          "type": "string"
        },
        "listaEventos": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EventoNC"
          }
        }
      }
    },
    "NCGerada": {
      "properties": {
        "ug": {
          "type": "string"
        },
        "gestao": {
          "type": "string"
        },
        "ano": {
          "type": "string"
        },
        "tipoDoc": {
          "type": "string"
        },
        "sequencialDoc": {
          "type": "string"
        }
      }
    },
    "EventoNC": {
      "properties": {
        "evento": {
          "type": "string"
        },
        "esferaOrcamentaria": {
          "type": "string"
        },
        "ptres": {
          "type": "string"
        },
        "fonteRecurso": {
          "type": "string"
        },
        "naturezaDespesa": {
          "type": "string"
        },
        "subitem": {
          "type": "string"
        },
        "ugResponsavel": {
          "type": "string"
        },
        "planoInterno": {
          "type": "string"
        },
        "valor": {
          "type": "string"
        }
      }
    },
    "Credencial": {
      "properties": {
        "cpf": {
          "type": "string"
        },
        "ug": {
          "type": "string"
        },
        "sistema": {
          "type": "string"
        }
      }
    },
    "AlteraNE": {
      "properties": {
        "dataEmissao": {
          "type": "string"
        },
        "numeroDocumento": {
          "type": "string"
        },
        "ugEmitente": {
          "type": "string"
        },
        "gestaoEmitente": {
          "type": "string"
        },
        "numeroLista": {
          "type": "string"
        },
        "taxaCambio": {
          "type": "string"
        },
        "observacao": {
          "type": "string"
        },
        "valorTotalEmpenho": {
          "type": "string"
        },
        "numeroProcesso": {
          "type": "string"
        },
        "numeroOriginalConvenio": {
          "type": "string"
        },
        "passivoAnterior": {
          "type": "string"
        },
        "contaPassivo": {
          "type": "string"
        },
        "contaValor": {
          "$ref": "#/definitions/Conta"
        },
        "contaPassivoFinanceiro": {
          "type": "string"
        },
        "especie": {
          "type": "string"
        },
        "ugReferencia": {
          "type": "string"
        },
        "gestaoReferencia": {
          "type": "string"
        },
        "numeroEmpenhoReferencia": {
          "type": "string"
        },
        "listaItens": {
          "$ref": "#/definitions/listaItens"
        },
        "numeroTransacaoCliente": {
          "type": "string"
        },
        "credencial": {
          "$ref": "#/definitions/Credencial"
        }
      }
    },
    "AnulaNE": {
      "properties": {
        "dataEmissao": {
          "type": "string"
        },
        "numeroDocumento": {
          "type": "string"
        },
        "ugEmitente": {
          "type": "string"
        },
        "gestaoEmitente": {
          "type": "string"
        },
        "numeroLista": {
          "type": "string"
        },
        "taxaCambio": {
          "type": "string"
        },
        "observacao": {
          "type": "string"
        },
        "valorTotalEmpenho": {
          "type": "string"
        },
        "numeroProcesso": {
          "type": "string"
        },
        "numeroOriginalConvenio": {
          "type": "string"
        },
        "passivoAnterior": {
          "type": "string"
        },
        "contaPassivo": {
          "type": "string"
        },
        "contaValor": {
          "$ref": "#/definitions/Conta"
        },
        "contaPassivoFinanceiro": {
          "type": "string"
        },
        "especie": {
          "type": "string"
        },
        "ugReferencia": {
          "type": "string"
        },
        "gestaoReferencia": {
          "type": "string"
        },
        "numeroEmpenhoReferencia": {
          "type": "string"
        },
        "listaItens": {
          "$ref": "#/definitions/listaItens"
        },
        "numeroTransacaoCliente": {
          "type": "string"
        },
        "credencial": {
          "$ref": "#/definitions/Credencial"
        }
      }
    },
    "ConsultaTransacao": {
      "properties": {
        "numeroTransacaoCliente": {
          "type": "string"
        },
        "credencial": {
          "type": "object",
          "properties": {
            "cpf": {
              "type": "string"
            },
            "ug": {
              "type": "string"
            },
            "sistema": {
              "type": "string"
            }
          }
        }
      }
    },
    "ConsultaNE": {
      "properties": {
        "ano": {
          "type": "string"
        },
        "ug": {
          "type": "string"
        },
        "gestao": {
          "type": "string"
        },
        "numero": {
          "type": "string"
        }
      }
    },
    "RealizaNE": {
      "properties": {
        "dataEmissao": {
          "type": "string"
        },
        "numeroDocumento": {
          "type": "string"
        },
        "ugEmitente": {
          "type": "string"
        },
        "gestaoEmitente": {
          "type": "string"
        },
        "numeroLista": {
          "type": "string"
        },
        "taxaCambio": {
          "type": "string"
        },
        "observacao": {
          "type": "string"
        },
        "valorTotalEmpenho": {
          "type": "string"
        },
        "numeroProcesso": {
          "type": "string"
        },
        "numeroOriginalConvenio": {
          "type": "string"
        },
        "passivoAnterior": {
          "type": "string"
        },
        "contaPassivo": {
          "type": "string"
        },
        "contaValor": {
          "type": "object",
          "properties": {
            "conta": {
              "type": "string"
            },
            "valor": {
              "type": "string"
            }
          }
        },
        "contaPassivoFinanceiro": {
          "type": "string"
        },
        "favorecido": {
          "type": "string"
        },
        "gestaoFavorecido": {
          "type": "string"
        },
        "esferaOrcamentaria": {
          "type": "string"
        },
        "codigoUO": {
          "type": "string"
        },
        "codigoProgramaTrabalho": {
          "type": "string"
        },
        "fonteRecursos": {
          "type": "string"
        },
        "naturezaDespesa": {
          "type": "string"
        },
        "unidadeGestoraResponsavel": {
          "type": "string"
        },
        "planoInterno": {
          "type": "string"
        },
        "indicadorResultado": {
          "type": "string"
        },
        "indicadorTipoCredito": {
          "type": "string"
        },
        "planoOrcamentario": {
          "type": "string"
        },
        "codigoAutorEmenda": {
          "type": "string"
        },
        "tipoEmpenho": {
          "type": "string"
        },
        "modalidadeLicitacao": {
          "type": "string"
        },
        "amparoLegal": {
          "type": "string"
        },
        "inciso": {
          "type": "string"
        },
        "origemMaterial": {
          "type": "string"
        },
        "municipioBeneficiado": {
          "type": "string"
        },
        "ufBeneficiada": {
          "type": "string"
        },
        "dataVencimento": {
          "type": "string"
        },
        "dataRecebimento": {
          "type": "string"
        },
        "valorCompromisso": {
          "type": "string"
        },
        "listaItens": {
          "type": "object",
          "properties": {
            "subItemNd": {
              "type": "string"
            },
            "quantidade": {
              "type": "string"
            },
            "valorUnitario": {
              "type": "string"
            },
            "valorTotal": {
              "type": "string"
            },
            "descricao": {
              "type": "string"
            }
          }
        },
        "numeroTransacaoCliente": {
          "type": "string"
        },
        "credencial": {
          "type": "object",
          "properties": {
            "cpf": {
              "type": "string"
            },
            "ug": {
              "type": "string"
            },
            "sistema": {
              "type": "string"
            }
          }
        }
      }
    },
    "AtualizaNE": {
      "properties": {
        "dataEmissao": {
          "type": "string"
        },
        "numeroDocumento": {
          "type": "string"
        },
        "ugEmitente": {
          "type": "string"
        },
        "gestaoEmitente": {
          "type": "string"
        },
        "numeroLista": {
          "type": "string"
        },
        "taxaCambio": {
          "type": "string"
        },
        "observacao": {
          "type": "string"
        },
        "valorTotalEmpenho": {
          "type": "string"
        },
        "numeroProcesso": {
          "type": "string"
        },
        "numeroOriginalConvenio": {
          "type": "string"
        },
        "passivoAnterior": {
          "type": "string"
        },
        "contaPassivo": {
          "type": "string"
        },
        "contaValor": {
          "type": "object",
          "properties": {
            "conta": {
              "type": "string"
            },
            "valor": {
              "type": "string"
            }
          }
        },
        "contaPassivoFinanceiro": {
          "type": "string"
        },
        "especie": {
          "type": "string"
        },
        "ugReferencia": {
          "type": "string"
        },
        "gestaoReferencia": {
          "type": "string"
        },
        "numeroEmpenhoReferencia": {
          "type": "string"
        },
        "numeroListaReferencia": {
          "type": "string"
        },
        "listaItens": {
          "type": "object",
          "properties": {
            "subItemNd": {
              "type": "string"
            },
            "quantidade": {
              "type": "string"
            },
            "valorUnitario": {
              "type": "string"
            },
            "valorTotal": {
              "type": "string"
            },
            "descricao": {
              "type": "string"
            }
          }
        },
        "numeroTransacaoCliente": {
          "type": "string"
        },
        "credencial": {
          "type": "object",
          "properties": {
            "cpf": {
              "type": "string"
            },
            "ug": {
              "type": "string"
            },
            "sistema": {
              "type": "string"
            }
          }
        }
      }
    },
    "ReforcaNE": {
      "properties": {
        "dataEmissao": {
          "type": "string"
        },
        "numeroDocumento": {
          "type": "string"
        },
        "ugEmitente": {
          "type": "string"
        },
        "gestaoEmitente": {
          "type": "string"
        },
        "numeroLista": {
          "type": "string"
        },
        "taxaCambio": {
          "type": "string"
        },
        "observacao": {
          "type": "string"
        },
        "valorTotalEmpenho": {
          "type": "string"
        },
        "numeroProcesso": {
          "type": "string"
        },
        "numeroOriginalConvenio": {
          "type": "string"
        },
        "passivoAnterior": {
          "type": "string"
        },
        "contaPassivo": {
          "type": "string"
        },
        "contaValor": {
          "type": "object",
          "properties": {
            "conta": {
              "type": "string"
            },
            "valor": {
              "type": "string"
            }
          }
        },
        "contaPassivoFinanceiro": {
          "type": "string"
        },
        "especie": {
          "type": "string"
        },
        "ugReferencia": {
          "type": "string"
        },
        "gestaoReferencia": {
          "type": "string"
        },
        "numeroEmpenhoReferencia": {
          "type": "string"
        },
        "numeroListaReferencia": {
          "type": "string"
        },
        "listaItens": {
          "type": "object",
          "properties": {
            "subItemNd": {
              "type": "string"
            },
            "quantidade": {
              "type": "string"
            },
            "valorUnitario": {
              "type": "string"
            },
            "valorTotal": {
              "type": "string"
            },
            "descricao": {
              "type": "string"
            }
          }
        },
        "numeroTransacaoCliente": {
          "type": "string"
        },
        "credencial": {
          "type": "object",
          "properties": {
            "cpf": {
              "type": "string"
            },
            "ug": {
              "type": "string"
            },
            "sistema": {
              "type": "string"
            }
          }
        }
      }
    },
    "NE": {
      "properties": {
        "codigo": {
          "type": "integer"
        },
        "mensagem": {
          "type": "string"
        },
        "erros": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "status": {
          "type": "integer"
        }
      }
    },
    "DadosNE": {
      "properties": {
        "dataEmissao": {
          "type": "string"
        },
        "saldoPagar": {
          "type": "string"
        },
        "numeroNota": {
          "type": "string"
        },
        "ugEmitente": {
          "type": "string"
        },
        "nomeUgEmitente": {
          "type": "string"
        },
        "gestaoEmitente": {
          "type": "string"
        },
        "nomeGestaoEmitente": {
          "type": "string"
        },
        "nomeFavorecido": {
          "type": "string"
        },
        "tipoFavorecido": {
          "type": "string"
        },
        "codigoFavorecido": {
          "type": "string"
        },
        "sicaf": {
          "type": "string"
        },
        "operacaoCambial": {
          "type": "string"
        },
        "observacao": {
          "type": "string"
        },
        "evento": {
          "type": "string"
        },
        "esfera": {
          "type": "string"
        },
        "ptres": {
          "type": "string"
        },
        "fonte": {
          "type": "string"
        },
        "codigoND": {
          "type": "string"
        },
        "ugResponsavel": {
          "type": "string"
        },
        "planoInterno": {
          "type": "string"
        },
        "valorEmpenho": {
          "type": "string"
        },
        "tipoEmpenho": {
          "type": "string"
        },
        "sistemaOrigem": {
          "type": "string"
        },
        "docReferenciaOriginal": {
          "type": "string"
        },
        "numDocReferencia": {
          "type": "string"
        },
        "passivoAnterior": {
          "type": "string"
        },
        "contaPassivo": {
          "type": "string"
        },
        "nomeModalidade": {
          "type": "string"
        },
        "nomeAmparo": {
          "type": "string"
        },
        "inciso": {
          "type": "string"
        },
        "numeroProcesso": {
          "type": "string"
        },
        "indicadorPagPrecatorio": {
          "type": "string"
        },
        "siglaUF": {
          "type": "string"
        },
        "codigoMunicipioBeneficiado": {
          "type": "string"
        },
        "origemMaterial": {
          "type": "string"
        },
        "referenciaDispensa": {
          "type": "string"
        },
        "numeroOriginal": {
          "type": "string"
        },
        "informacoesLancamentos": {
          "type": "string"
        },
        "contaCorrenteFinanceiro": {
          "type": "string"
        },
        "contasPermanentes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Conta"
          }
        },
        "numeroLista": {
          "type": "string"
        },
        "subItens": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/subItem"
          }
        },
        "subItensSaldo": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/subItemSaldo"
          }
        },
        "nsaldo": {
          "type": "string"
        }
      }
    },
    "listaItens": {
      "properties": {
        "subItemNd": {
          "type": "string"
        },
        "quantidade": {
          "type": "string"
        },
        "valorUnitario": {
          "type": "string"
        },
        "descricao": {
          "type": "string"
        }
      }
    },
    "subItemSaldo": {
      "properties": {
        "numero": {
          "type": "string"
        },
        "valor": {
          "type": "string"
        }
      }
    },
    "subItem": {
      "properties": {
        "numero": {
          "type": "string"
        },
        "valor": {
          "type": "string"
        },
        "seq": {
          "type": "string"
        },
        "qtd": {
          "type": "string"
        },
        "valorTotal": {
          "type": "string"
        },
        "descricao": {
          "type": "string"
        }
      }
    },
    "Conta": {
      "properties": {
        "conta": {
          "type": "string"
        },
        "valor": {
          "type": "string"
        }
      }
    }
  }
}
