{
  "host": "apigateway.serpro.gov.br",
  "security": [
    {
      "Bearer": []
    }
  ],
  "securityDefinitions": {
    "Bearer": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "swagger": "2.0",
  "schemes": [
    "https"
  ],
  "info": {
    "version": "1.0",
    "title": "Consulta NF-e",
    "description": "Para informações de como se autenticar antes de consumir as API, por favor, consulte a documentação em: http://devserpro.github.io/apiserpro/ \n\n    \nO serviço `Consulta Nota Fiscal Eletrônica (NF-e)` é disponibilizado através do `HTTP REST` oferencendo operação para consulta de informações referentes a uma determinada NF-e, através de sua chave de acesso.\n<br>\n ## Códigos de Retorno não Tarifados \n|  Código de retorno |  Resumido |  Explicação |\n| ------------- |:--------------------|:----------------------------------------------------------------------------- |\n| &nbsp;           | &nbsp;    | &nbsp;  | \n |400           | Requisição inválida    | O número da chave informado não é válido.       |\n| &nbsp;           | &nbsp;    | &nbsp;  |\n| 404           | Not found    | O número da chave informado não foi encontrado.  |\n| &nbsp;           | &nbsp;    | &nbsp;  |\n| 406           | Not Acceptable    | O formato do arquivo de saída deve ser Json/Xml. |\n| &nbsp;           | &nbsp;    | &nbsp;  |\n| 500           | Erro no Servidor | Ocorreu algum erro no servidor.      |\n<br>\n ## Leiautes e Formatos \n\n<br>As informações da NF-e disponibilizadas estão de acordo com o leiaute da NF-e, disponibilizado pelo Encontro Nacional de Coordenadores e Administradores Tributários Estaduais (ENCAT). \n<br><br>\n As Notas Técnicas com as informações de leiaute da NF-e estão disponíveis para *download* em http://www.nfe.fazenda.gov.br/portal/listaConteudo.aspx?tipoConteudo=tW+YMyk/50s= \n<br><br>\n A estrutura do JSON de retorno seguem as mesmas especificações dos esquemas XML dos Web Services, disponibilizados em http://www.nfe.fazenda.gov.br/portal/listaConteudo.aspx?tipoConteudo=/fwLvLUSmU8= \n<br><br>\n Os campos do `TIPO NUMÉRICO`, o JSON de retorno irá devolver o campo no `formato number` e caso o valor numérico do campo seja um valor muito grande, o retorno poderá aparecer no json no `formato de notação científica`. Cabe a aplicação que consome o serviço da API dar o tratamento adequado para campos numéricos. \n<br>\n## Solicitando assinatura com Carimbo de Tempo\n\n  Caso deseje que sua solicitação venha com uma assinatura de Carimbo de Tempo, basta incluir, no cabeçalho de sua requisição, a informação `x-signature: 1`.\n  \n  A assinatura será retornada no cabeçalho da resposta, com o nome `stamp`.\n<br>\n## Verificando assinatura com Carimbo de Tempo\n\n  Para verificar assinatura de carimbo de tempo, siga as instruções da documentação abaixo:\n  \n[Documentação - Verificação Carimbo de Tempo](https://devserpro.github.io/apiserpro/apis/swagger-ui-master/dist/index.html?bearer=4e1a1858bdd584fdc077fb7d80f39283&url=https://devserpro.github.io/apiserpro/apis/swaggers/carimbo-tempo/swagger-timestampcheck-trial-bsa.json#!/default/post_check)\n<br>\n## Campo cabeçalho da requisição (X-Request-Tag)\n\n  Este campo é opcional na utilização das chamadas às APIs / Datavalid e serve como identificador de requisições. Caso uma empresa necessite, por exemplo, agrupar a quantidade de requisições realizadas por cada departamento, poderá utilizar este campo de forma a identificar no faturamento a quantidade de requisições de cada item agrupador. \n<br><br>\n O campo é de texto livre (string até 32 caracteres) e não possui validação de seu conteúdo. Cabe, portanto, ao cliente manter o controle das informações que são enviadas para esse campo de forma que o relatório de faturamento faça o agrupamento adequado. \n<br><br>\n Este atributo pode ser usado pela entidade de classe e/ou grupo econômico na modalidade global com ônus entidade para fins de identificação do associado que realiza a requisição. No caso de entidades de classe ou grupos econômicos que realizem a contratação com ônus para o associado não é necessário realizar o agrupamento pois cada associado irá possuir sua própria chave de consumo.\n<br>\n## Produção \n ### Endereço base de Produção\n    https://apigateway.serpro.gov.br/nfe/1 \n<br>\n ## Degustação \n ### Endereço base de Degustação\n    https://apigateway.serpro.gov.br/nfe-trial/1 \n<br>\n## Exemplo de Chamada e Retorno\n### Chamada\n    https://apigateway.serpro.gov.br/nfe-trial/1/35161147508411011603551000077959551093041003 \n<br>\n ### Retorno \n\n   O retorno será do tipo `arquivo.json` ou `arquivo.xml`"
  },
  "basePath": "/nfe-trial/v1",
  "paths": {
    "/push/solicitacoes": {
      "post": {
        "tags": [
          "Push NF-e"
        ],
        "summary": "Incluir solicitação de monitoração",
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited",
        "description": " \n\n## Exemplo\n#### Chamada\n\n    https://valapinfe2.estaleiro.serpro.gov.br/push/solicitacoes\n    \n    No header:\n      x-credencial: NjAxNjU1NzA2NDQuMDEwMDAxLlNJQUZJMjAxOEhN\n      (valor referente às credenciais 60165570644.010001.SIAFI2018HM convertido em Base64. Mais informações na descrição do parâmetro x-credencial, abaixo)\n      O cliente pode incluir a partir de uma solicitação várias Notas Fiscais Eletrônicas para serem monitoradas. \n\n      \n#### Conteúdo de entrada\n    { \n      \"chavesMonitoracao\": [ \n            { \n                \"chave\": \"43190788910252000603550010000375791937008290\"  \n            }, \n            { \n                \"chave\": \"43190788910252000603550010000375791937008291\" \n            } \n       ] \n    } \n",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Dados da solicitação de monitoração a ser gerada",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/incluirSolicitacao"
            }
          },
          {
            "description": "Solicitação de assinatura de carimbo de tempo. Informe 1 para assinar, ou deixe em branco para não assinar.",
            "name": "X-signature",
            "in": "header",
            "type": "string"
          },
          {
            "description": "Campo opcional para identificar requisições. O conteúdo é um texto livre para que o cliente possa identificar a origem da requisição, não há validação do seu conteúdo pela API. Máximo 32 caracteres",
            "name": "X-Request-Tag",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "Retorna os dados de confirmação de inclusão de solicitação.",
            "schema": {
              "$ref": "#/definitions/confirmacaoSolicitacao"
            }
          },
          "500": {
            "description": "Erro interno do servidor"
          }
        }
      }
    },    
    "/monitor/status": {
      "get": {
        "tags": [
          "Status"
        ],
        "summary": "Verifica status da API",
        "responses": {
          "200": {
            "description": "Serviço disponível",
            "schema": {
              "$ref": "#/definitions/Status"
            },
            "examples": {
              "lastUpdateAt": "2019-02-18T11:27:06-03:00"
            }
          },
          "500": {
            "description": "Serviço indisponível",
            "schema": {
              "$ref": "#/definitions/Status"
            },
            "examples": {
              "lastUpdateAt": "2019-02-18T11:27:06-03:00"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "cadastrarCliente": {
      "type": "object",
      "properties": {
        "urlNotificacao": {"type": "string"}
      }
    },    
    "confirmacaoCadastramentoCliente": {
      "type": "object",
      "properties": {
        "id": {"type": "string"},
        "urlNotificacao": {"type": "string"},
        "dataCriacao": {"type": "string"}        
      }
    },
    "atualizarCliente": {
      "type": "object",
      "properties": {
        "urlNotificacao": {"type": "string"}
      }
    },
    "consultarClientes": {
      "type": "object",
      "properties": {
        "id": {"type": "string"},
        "urlNotificacao": {"type": "string"},          
        "dataCriacao": {"type": "string"},
        "dataAtualizacao": {"type": "string"}       
      }
    },
    "incluirSolicitacao": {
      "type": "object",
      "properties": {
        "chavesMonitoracao": {
          "type": "array",
          "items": {
            "properties": {
              "chave": {"type": "string"} 
            }
          }
        }
      }
    },
    "confirmacaoSolicitacao": {
      "type": "object",
      "properties": {
        "solicitacaoId": {
          "type": "string"
        },
        "chavesMonitoracao": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "chave": {
                "type": "string"  
              }
            }
          }
        }
      }
    },
    "consultarSolicitacoes": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "solicitacaoId": {"type": "string"},
          "clienteId": {"type": "string"},
          "urlNotificacao": {"type": "string"},          
          "dataCriacao": {"type": "string"},
          "dataExperiracao": {"type": "string"},          
          "chavesMonitoracao": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "chave": {"type": "string"},
                "entregue": {"type": "string"},
                "dataEntrega": {"type": "string"}                
              }
            }
          }
        }
      }
    },
    "consultarSolicitacao": {
      "type": "object",
      "properties": {
        "solicitacaoId": {"type": "string"},
        "clienteId": {"type": "string"},
        "urlNotificacao": {"type": "string"},          
        "dataCriacao": {"type": "string"},
        "dataExperiracao": {"type": "string"},          
        "chavesMonitoracao": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "chave": {"type": "string"},
              "entregue": {"type": "string"},
              "dataEntrega": {"type": "string"}                
            }
          }
        }
      }
    },
    "NFe": {
      "type": "object",
      "properties": {
        "protNFe": {
          "type": "object",
          "properties": {
            "infProt": {
              "type": "object",
              "properties": {
                "nProt": {
                  "type": "integer",
                  "example": 55455534534
                },
                "digVal": {
                  "type": "string",
                  "example": "jfdgh76tr542786rteuhyfbwef8="
                },
                "dhRecbto": {
                  "type": "string",
                  "example": "2019-07-22T09:34:06-03:00"
                },
                "Id": {
                  "type": "string",
                  "example": "Id445345345"
                },
                "chNFe": {
                  "type": "string",
                  "example": "87878774456468954646464654654546545446579312"
                },
                "xMotivo": {
                  "type": "string",
                  "example": "Autorizado o uso da NF-e"
                },
                "cStat": {
                  "type": "number",
                  "example": 100
                }
              }
            }
          }
        },
        "NFe": {
          "type": "object",
          "properties": {
            "InfNFe": {
              "type": "object",
              "properties": {
                "InfAdic": {
                  "type": "object",
                  "properties": {
                    "infCpl": {
                      "type": "string",
                      "example": "Lorem ipsum dolor..."
                    },
                    "obsCont": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "xCampo": {
                            "type": "string",
                            "example": "LEI DA TRANSPARENCIA"
                          },
                          "xTexto": {
                            "type": "string",
                            "example": "O VALOR APROXIMADO DE TRIBUTOS INCIDENTES SOBRE O PRECO DESTE SERVICO E DE R$ 5.62 (16.06) FONTE: IBPT"
                          }
                        }
                      }
                    }
                  }
                },
                "det": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "nItem": {
                        "type": "integer",
                        "example": 1
                      },
                      "prod": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "cEAN": {
                              "type": "string",
                              "example": "SEM GTIN"
                            },
                            "cProd": {
                              "type": "string",
                              "example": "JC59-00035A-SI"
                            },
                            "qCom": {
                              "type": "number",
                              "example": 1
                            },
                            "cEANTrib": {
                              "type": "string",
                              "example": "SEM GTIN"
                            },
                            "vUnTrib": {
                              "type": "number",
                              "example": 265.79
                            },
                            "qTrib": {
                              "type": "number",
                              "example": 1
                            },
                            "vProd": {
                              "type": "number",
                              "example": 265.79
                            },
                            "xProd": {
                              "type": "string",
                              "example": "UNIDADE DE DISCO RIGIDO 320GB"
                            },
                            "vUnCom": {
                              "type": "number",
                              "example": 265.79
                            },
                            "indTot": {
                              "type": "integer",
                              "example": 1
                            },
                            "uTrib": {
                              "type": "string",
                              "example": "UN"
                            },
                            "NCM": {
                              "type": "integer",
                              "example": 84717012
                            },
                            "uCom": {
                              "type": "string",
                              "example": "UN"
                            },
                            "CFOP": {
                              "type": "integer",
                              "example": 5949
                            },
                            "CEST": {
                              "type": "integer",
                              "example": 2103300
                            },
                            "rastro": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "nLote": {
                                    "type": "string",
                                    "example": "Lote 1"
                                  },
                                  "qLote": {
                                    "type": "number",
                                    "example": 18
                                  },
                                  "dFab": {
                                    "type": "string",
                                    "example": "2019-07-22"
                                  },
                                  "dVal": {
                                    "type": "string",
                                    "example": "2020-06-22"
                                  },
                                  "cAgreg": {
                                    "type": "string",
                                    "example": "Agregador 1"
                                  }
                                }
                              }
                            }
                          }
                        }
                      },
                      "imposto": {
                        "type": "object",
                        "properties": {
                          "ICMS": {
                            "type": "object",
                            "properties": {
                              "orig": {
                                "type": "integer",
                                "example": 1
                              },
                              "CST": {
                                "type": "integer",
                                "example": 41
                              }
                            }
                          },
                          "IPI": {
                            "type": "object",
                            "properties": {
                              "IPINT": {
                                "type": "object",
                                "properties": {
                                  "CST": {
                                    "type": "integer",
                                    "example": 53
                                  }
                                }
                              },
                              "cEnq": {
                                "type": "integer",
                                "example": 999
                              }
                            }
                          },
                          "COFINS": {
                            "type": "object",
                            "properties": {
                              "COFINSNT": {
                                "type": "object",
                                "properties": {
                                  "CST": {
                                    "type": "integer",
                                    "example": "07"
                                  }
                                }
                              }
                            }
                          },
                          "PIS": {
                            "type": "object",
                            "properties": {
                              "PISNT": {
                                "type": "object",
                                "properties": {
                                  "CST": {
                                    "type": "integer",
                                    "example": "07"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "total": {
                  "type": "object",
                  "properties": {
                    "ICMSTot": {
                      "type": "object",
                      "properties": {
                        "vCONFINS": {
                          "type": "number",
                          "example": 0
                        },
                        "vBCST": {
                          "type": "number",
                          "example": 0
                        },
                        "vICMSDeson": {
                          "type": "number",
                          "example": 0
                        },
                        "vProd": {
                          "type": "number",
                          "example": 265.79
                        },
                        "vSeq": {
                          "type": "number",
                          "example": 0
                        },
                        "vFCP": {
                          "type": "number",
                          "example": 0
                        },
                        "vFCPST": {
                          "type": "number",
                          "example": 0
                        },
                        "vNF": {
                          "type": "number",
                          "example": 0
                        },
                        "vPIS": {
                          "type": "number",
                          "example": 0
                        },
                        "vIPIDevol": {
                          "type": "number",
                          "example": 0
                        },
                        "vBC": {
                          "type": "number",
                          "example": 0
                        },
                        "vST": {
                          "type": "number",
                          "example": 0
                        },
                        "vICMS": {
                          "type": "number",
                          "example": 0
                        },
                        "vII": {
                          "type": "number",
                          "example": 0
                        },
                        "vFCPSTRet": {
                          "type": "number",
                          "example": 0
                        },
                        "vDESC": {
                          "type": "number",
                          "example": 0
                        },
                        "vOutro": {
                          "type": "number",
                          "example": 0
                        },
                        "vIPI": {
                          "type": "number",
                          "example": 0
                        },
                        "vFrete": {
                          "type": "number",
                          "example": 0
                        }
                      }
                    }
                  }
                },
                "pag": {
                  "type": "object",
                  "properties": {
                    "detPag": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "vPag": {
                            "type": "number",
                            "example": 265.79
                          },
                          "tpag": {
                            "type": "number",
                            "example": 99
                          }
                        }
                      }
                    }
                  }
                },
                "Id": {
                  "type": "string",
                  "example": "NFe87878774456468954646464654654546545446579312"
                },
                "ide": {
                  "type": "object",
                  "properties": {
                    "tpNF": {
                      "type": "integer",
                      "example": 1
                    },
                    "mod": {
                      "type": "integer",
                      "example": 55
                    },
                    "indPres": {
                      "type": "integer",
                      "example": 0
                    },
                    "tpImp": {
                      "type": "integer",
                      "example": 1
                    },
                    "nNF": {
                      "type": "integer",
                      "example": 1353368
                    },
                    "cMunFG": {
                      "type": "integer",
                      "example": 3534401
                    },
                    "procEmi": {
                      "type": "integer",
                      "example": 0
                    },
                    "finNFe": {
                      "type": "integer",
                      "example": 1
                    },
                    "dhEmi": {
                      "type": "string",
                      "example": "2019-07-22T09:33:31-03:00"
                    },
                    "tpAmb": {
                      "type": "integer",
                      "example": 1
                    },
                    "indFinal": {
                      "type": "integer",
                      "example": 1
                    },
                    "dhSaiEnt": {
                      "type": "string",
                      "example": "2019-07-22T09:33:31-03:00"
                    },
                    "idDest": {
                      "type": "integer",
                      "example": 1
                    },
                    "tpEmis": {
                      "type": "integer",
                      "example": 1
                    },
                    "cDV": {
                      "type": "integer",
                      "example": 0
                    },
                    "cUF": {
                      "type": "integer",
                      "example": 35
                    },
                    "serie": {
                      "type": "integer",
                      "example": 3
                    },
                    "natOp": {
                      "type": "string",
                      "example": "Outra saida merc./prestacao serv. nao espec."
                    },
                    "cNF": {
                      "type": "string",
                      "example": "00012763"
                    },
                    "verProc": {
                      "type": "string",
                      "example": "5.0.1500.2985"
                    }
                  }
                },
                "emit": {
                  "type": "object",
                  "properties": {
                    "CNAE": {
                      "type": "integer",
                      "example": 34324
                    },
                    "xNome": {
                      "type": "string",
                      "example": "ACME SERVICOS LTDA"
                    },
                    "IM": {
                      "type": "integer",
                      "example": 96852
                    },
                    "CRT": {
                      "type": "integer",
                      "example": 3
                    },
                    "xFant": {
                      "type": "string",
                      "example": "ACME SERVICOS LTDA"
                    },
                    "CNPJ": {
                      "type": "string",
                      "example": "ACME SERVICOS LTDA"
                    },
                    "enderEmit": {
                      "type": "object",
                      "properties": {
                        "fone": {
                          "type": "integer",
                          "example": 4534534534
                        },
                        "UF": {
                          "type": "string",
                          "example": "SP"
                        },
                        "xPais": {
                          "type": "string",
                          "example": "Brasil"
                        },
                        "cPais": {
                          "type": "integer",
                          "example": 1058
                        },
                        "xLgr": {
                          "type": "string",
                          "example": "SP"
                        },
                        "xMun": {
                          "type": "string",
                          "example": "Brasil"
                        },
                        "nro": {
                          "type": "integer",
                          "example": 628
                        },
                        "cMun": {
                          "type": "integer",
                          "example": 454545
                        },
                        "xBairro": {
                          "type": "string",
                          "example": "Bairro do Chaves"
                        },
                        "CEP": {
                          "type": "string",
                          "example": "06200000"
                        }
                      }
                    },
                    "IE": {
                      "type": "integer",
                      "example": 8465465454
                    }
                  }
                },
                "dest": {
                  "type": "object",
                  "properties": {
                    "xNome": {
                      "type": "string",
                      "example": "ACME SERVICOS LTDA"
                    },
                    "CNPJ": {
                      "type": "string",
                      "example": "4545345345345"
                    },
                    "enderDest": {
                      "type": "object",
                      "properties": {
                        "xCpl": {
                          "type": "string",
                          "example": "GALP 1 E 2"
                        },
                        "fone": {
                          "type": "integer",
                          "example": 4534534534
                        },
                        "UF": {
                          "type": "string",
                          "example": "SP"
                        },
                        "xPais": {
                          "type": "string",
                          "example": "Brasil"
                        },
                        "cPais": {
                          "type": "integer",
                          "example": 1058
                        },
                        "xLgr": {
                          "type": "string",
                          "example": "AV Paulista"
                        },
                        "xMun": {
                          "type": "string",
                          "example": "Oscasco"
                        },
                        "nro": {
                          "type": "integer",
                          "example": 628
                        },
                        "cMun": {
                          "type": "integer",
                          "example": 454545
                        },
                        "xBairro": {
                          "type": "string",
                          "example": "Bairro do Chaves"
                        },
                        "CEP": {
                          "type": "string",
                          "example": "06200000"
                        }
                      }
                    },
                    "IE": {
                      "type": "integer",
                      "example": 8465465454
                    },
                    "indIEDest": {
                      "type": "integer",
                      "example": 9
                    },
                    "email": {
                      "type": "string",
                      "example": "acme@acme.com"
                    }
                  }
                },
                "transp": {
                  "type": "object",
                  "properties": {
                    "modFrete": {
                      "type": "integer",
                      "example": 0
                    },
                    "vol": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "pesoL": {
                            "type": "number",
                            "example": 0.03
                          },
                          "qVol": {
                            "type": "integer",
                            "example": 1
                          },
                          "pesoBt": {
                            "type": "number",
                            "example": 0.033
                          }
                        }
                      }
                    },
                    "transporta": {
                      "type": "object",
                      "properties": {
                        "xNone": {
                          "type": "string",
                          "example": "John Doe da Silva"
                        },
                        "UF": {
                          "type": "string",
                          "example": "SP"
                        },
                        "xEnder": {
                          "type": "string",
                          "example": "Rua 1"
                        },
                        "xMun": {
                          "type": "string",
                          "example": "Sao Paulo"
                        },
                        "CNPJ": {
                          "type": "string",
                          "example": "4654654654654"
                        },
                        "IE": {
                          "type": "integer",
                          "example": 8789789789
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "Versao": {
          "type": "string"
        }
      }
    },
    "Status": {
      "type": "object",
      "properties": {
        "lastUpdateAt": {
          "type": "string",
          "format": "date-time"
        }
      }
    }
  }
}
