host: apigateway.serpro.gov.br
security:
  - Bearer: []
securityDefinitions:
  Bearer:
    type: apiKey
    name: Authorization
    in: header
swagger: '2.0'
schemes:
  - https
consumes:
  - application/json
  - application/xml
produces:
  - application/json
  - application/xml
info:
  version: '1.0'
  title: Consulta NF-e
  description: |-
    Para informações de como se autenticar antes de consumir as API, por favor, consulte a documentação em: http://devserpro.github.io/apis/ 

        
    O serviço `Consulta Nota Fiscal Eletrônica (NF-e)` é disponibilizado através do `HTTP REST` oferencendo operação para consulta de informações referentes a uma determinada NF-e, através de sua chave de acesso.
    <br>
     ## Códigos de Retorno não Tarifados 
    |  Código de retorno |  Resumido |  Explicação |
    | ------------- |:--------------------|:----------------------------------------------------------------------------- |
    | &nbsp;           | &nbsp;    | &nbsp;  | 
     |400           | Requisição inválida    | O número da chave informado não é válido.       |
    | &nbsp;           | &nbsp;    | &nbsp;  |
    | 404           | Not found    | O número da chave informado não foi encontrado.  |
    | &nbsp;           | &nbsp;    | &nbsp;  
    | 406           | Not Acceptable     | O tipo do accept informado não é válido.  |
    | &nbsp;           | &nbsp;    | &nbsp;  |
    | 500           | Erro no Servidor | Ocorreu algum erro no servidor.      |
    <br>
     ## Leiautes e Formatos 

    <br>As informações da NF-e disponibilizadas estão de acordo com o leiaute da NF-e, disponibilizado pelo Encontro Nacional de Coordenadores e Administradores Tributários Estaduais (ENCAT). 
    <br><br>
     As Notas Técnicas com as informações de leiaute da NF-e estão disponíveis para *download* em http://www.nfe.fazenda.gov.br/portal/listaConteudo.aspx?tipoConteudo=tW+YMyk/50s= 
    <br><br>
     A estrutura do JSON de retorno seguem as mesmas especificações dos esquemas XML dos Web Services, disponibilizados em http://www.nfe.fazenda.gov.br/portal/listaConteudo.aspx?tipoConteudo=/fwLvLUSmU8= 
    <br><br>
     Os campos do `TIPO NUMÉRICO`, o JSON de retorno irá devolver o campo no `formato number` e caso o valor numérico do campo seja um valor muito grande, o retorno poderá aparecer no json no `formato de notação científica`. Cabe a aplicação que consome o serviço da API dar o tratamento adequado para campos numéricos. 
    <br>
    ## Solicitando assinatura com Carimbo de Tempo

      Caso deseje que sua solicitação venha com uma assinatura de Carimbo de Tempo, basta incluir, no cabeçalho de sua requisição, a informação `x-signature: 1`.
      
      A assinatura será retornada no cabeçalho da resposta, com o nome `stamp`.
    <br>
    ## Verificando assinatura com Carimbo de Tempo

      Para verificar assinatura de carimbo de tempo, siga as instruções da documentação abaixo:
      
    [Documentação - Verificação Carimbo de Tempo](https://rawgit.com/devserpro/apis/master/_layouts/swagger-ui-master/dist/index.html?bearer=4e1a1858bdd584fdc077fb7d80f39283&url=https://rawgit.com/devserpro/apis/master/_layouts/swaggers/carimbo-tempo/swagger-timestampcheck-trial-bsa.json#!/default/post_check)
    <br>
    ## Campo cabeçalho da requisição (X-Request-Tag)

      Este campo é opcional na utilização das chamadas às APIs / Datavalid e serve como identificador de requisições. Caso uma empresa necessite, por exemplo, agrupar a quantidade de requisições realizadas por cada departamento, poderá utilizar este campo de forma a identificar no faturamento a quantidade de requisições de cada item agrupador. 
    <br><br>
     O campo é de texto livre (string até 32 caracteres) e não possui validação de seu conteúdo. Cabe, portanto, ao cliente manter o controle das informações que são enviadas para esse campo de forma que o relatório de faturamento faça o agrupamento adequado. 
    <br><br>
     Este atributo pode ser usado pela entidade de classe e/ou grupo econômico na modalidade global com ônus entidade para fins de identificação do associado que realiza a requisição. No caso de entidades de classe ou grupos econômicos que realizem a contratação com ônus para o associado não é necessário realizar o agrupamento pois cada associado irá possuir sua própria chave de consumo.
    <br>
    ## Produção 
     ### Endereço base de Produção
        https://apigateway.serpro.gov.br/nfe/1 
    <br>
     ## Degustação 
     ### Endereço base de Degustação
        https://apigateway.serpro.gov.br/nfe-trial/1 
    <br>
    ## Exemplo de Chamada e Retorno
    ### Chamada
        https://apigateway.serpro.gov.br/nfe-trial/1/35161147508411011603551000077959551093041003 
    <br>
     ### Retorno 

       O retorno poderá ser do tipo `arquivo.json` ou `arquivo.xml`
basePath: /nfe-trial/1
paths:
  '/{chave}':
    get:
      tags:
        - Consulta NF-e
      summary: Consulta Nota Fiscal Eletrônica
      x-auth-type: Bearer
      x-throttling-tier: Unlimited
      description: |-
        Retorna as informações da NF-e com a chave de acesso informada. 
        ### Notas Fiscais Eletrônicas disponíveis para Degustação
        | Chave | Observação |
        | ---------------------- | ----------|
        | 35170608530528000184550000000154301000771561 | |
        | 35161147508411011603551000077959551093041003 | |
        | 53131205035672000156550010000004991543410167 | |
        | 42140612687276000179550010001505671172228752 | |
        | 35140903608306000202555000001100251571436929 | |
        | 53150337992500000167550010000029521000029516 | |
        | 31150917591579000107550010000014321081035918 | |
        | 35151200991908000104550020000063951000184833 | |
        | 31160906347409006953550110008369841081956475 | |
        | 31170309339936000973550250002397736362483965 | |
        | 35160900623904000335550010028792431858713854 | |
        | 35170300776574000156550020009091941178378523 | |
        | 53160911510448000171550010000106771000187760 | |
        | 52160819015622000111550010000007051300828370 | |
        | 53160621182711000102550010000012921000042921 | |
        | 52160609303953000101550010000008711000045330 | |
        | 53151205642646000196550010000287891000219878 | |
        | 53160713453539000148550010000009101000070190 | |
        | 52151013766790000162550010000028401250000010 | |
        | 53160705642646000196550010000298141000284189 | |
        | 52160400945852000151550010000041771020601080 | |
        | 24190201243220000109550010000007251000007252 | |
        | 24190420412822000197550010000004701000001816 | |
        | 25190400785860000188550010000000061000000868 | |
        | 29190332994770000193550020000000107000000124 | |
        | 33190403282458000179550010001434641841176079 | |
        | 87878774456468954646464654654546545446579312 | XXX - Essa NFe possui todos os array |
        |
      consumes:
        - application/json
        - application/xml
      produces:
        - application/json
        - application/xml
      parameters:
        - name: chave
          in: path
          type: string
          required: true
          description: 'Chave de acesso da NF-e (44 dígitos, sem espaços)'
        - name: X-signature
          in: header
          type: string
          description: 'Solicitação de assinatura de carimbo de tempo. Informe 1 para assinar, ou deixe em branco para não assinar.'
        - name: X-Request-Tag
          in: header
          type: string
          description: 'Campo opcional para identificar requisições. O conteúdo é um texto livre para que o cliente possa identificar a origem da requisição, não há validação do seu conteúdo pela API. Máximo 32 caracteres'
        - name: accept
          in: header
          type: string
          description: 'Este campo é validado. Informe o tipo como: application/json ou application/xml'
      responses:
        '200':
          description: Retorna os dados da NFe
        '400':
          description: A chave de acesso informada não é válida.
        '404':
          description: Não existe NF-e com chave de acesso informada.
        '406':
          description: O tipo do parâmetro accept informado é inválido.
        '500':
          description: Erro interno do servidor
  /monitor/status:
    get:
      tags:
        - Status
      summary: Verifica status da API
      responses:
        '200':
          description: Serviço disponível
          schema:
            $ref: '#/definitions/Status'
          examples:
            lastUpdateAt: '2019-02-18T11:27:06-03:00'
        '500':
          description: Serviço indisponível
          schema:
            $ref: '#/definitions/Status'
          examples:
            lastUpdateAt: '2019-02-18T11:27:06-03:00'
definitions:
  Status:
    type: object
    properties:
      lastUpdateAt:
        type: string
        format: date-time

